{
  "log": {
    "_recordingName": "EnvCustomDomainsApi/verifyCNAME()/1: Verify CNAME for custom domain frodo.doesnotexist.com - error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "effca57c63deeb75d930673d2a5c36bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"frodo.doesnotexist.com\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "verify"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/custom-domains?_action=verify"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "{\"code\":400,\"message\":\"CNAME validation failed\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "7623a6b9-a3b9-4d9b-a0af-91548e77ac59/0"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 102,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
