{
  "log": {
    "_recordingName": "AmConfigOps/Classic Tests/exportAmConfigEntities()/6: Export importable AM Config Entities",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb697468085abfef6b608e5d514d9750",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7f3e68ad-03ac-425c-86ef-949b6b41dc0c"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/realms/?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 540,
            "text": "{\"result\":[{\"_id\":\"Lw\",\"_rev\":\"492331277\",\"parentPath\":null,\"active\":true,\"name\":\"/\",\"aliases\":[\"localhost\",\"openam-frodo-dev.classic.com\",\"openam\",\"testurl.com\"]},{\"_id\":\"L2ZpcnN0\",\"_rev\":\"1051737267\",\"parentPath\":\"/\",\"active\":true,\"name\":\"first\",\"aliases\":[\"one\",\"dnsfirst\"]},{\"_id\":\"L2ZpcnN0L3NlY29uZA\",\"_rev\":\"-1167290418\",\"parentPath\":\"/first\",\"active\":false,\"name\":\"second\",\"aliases\":[\"secondDNS\",\"second\"]}],\"resultCount\":3,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.0,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4,
      },
      {
        "_id": "2b170236615f1a0725d65e635326a219",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7f3e68ad-03ac-425c-86ef-949b6b41dc0c"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/authentication/chains"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 158,
            "text": "{\"_id\":\"\",\"_rev\":\"1147129562\",\"dynamic\":{\"authChainConfiguration\":\"[Empty]\"},\"_type\":{\"_id\":\"EMPTY\",\"name\":\"Authentication Configuration\",\"collection\":false}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1147129562\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1,
      },
      {
        "_id": "1f8e327660d8b21ea224a12080b31c72",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7f3e68ad-03ac-425c-86ef-949b6b41dc0c"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/realm-config/authentication/chains?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 686,
            "text": "{\"result\":[{\"_id\":\"amsterService\",\"_rev\":\"644917310\",\"loginPostProcessClass\":[],\"authChainConfiguration\":[{\"module\":\"Amster\",\"criteria\":\"REQUIRED\",\"options\":{}}],\"loginSuccessUrl\":[],\"loginFailureUrl\":[],\"_type\":{\"_id\":\"EMPTY\",\"name\":\"Authentication Configuration\",\"collection\":true}},{\"_id\":\"ldapService\",\"_rev\":\"357765346\",\"loginPostProcessClass\":[],\"authChainConfiguration\":[{\"module\":\"DataStore\",\"criteria\":\"REQUIRED\",\"options\":{}}],\"loginSuccessUrl\":[],\"loginFailureUrl\":[],\"_type\":{\"_id\":\"EMPTY\",\"name\":\"Authentication Configuration\",\"collection\":true}}],\"resultCount\":2,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"total[...]
