{
  "log": {
    "_recordingName": "IdmConfigOps/updateConfigEntity()/1: Update a config entity 'emailTemplate/FrodoTestConfigEntity3'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0aee13d256fa9ea76edb236ed308e3de",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-73a8c84e-76bd-4828-aec9-c17ccb68d067"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Three\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestConfigEntity3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 400,
            "text": "{\"_id\":\"emailTemplate/FrodoTestConfigEntity3\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Three\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/emailTemplate/FrodoTestConfigEntity3"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-73a8c84e-76bd-4828-aec9-c17ccb68d067"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
