{
  "log": {
    "_recordingName": "IdmConfigOps/updateConfigEntity()/1: Update a config entity 'emailTemplate/FrodoTestConfigEntity3'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0aee13d256fa9ea76edb236ed308e3de",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dd8f0cf2-4058-458b-b867-086647240388"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..0beHBgmnzRtkVTVTfJelUA.qCWpYvFWTwYAQAfk5_rB0-37AWo7wEOb0Sl1FB2M2bccwIm3Qr2BNHdfg7m9LtVCybvcOZlATOAKzTrGIzrIcdmTqCGK1rYRoed0r-C2ZHO3ZKivcvRxlxfW-g6WWsItN5CfOt9m1IPA9wllGz120QGcPQqby5TxkY4YM5nNhABn0tiZq5LrGO4BDnoSJi6TJCWe2mVjheg-2rp41KNw53n4HXd_1mWDRfy5oYhnCqUv2CSgMu7F5Fh_PjLwCcdVVvyZP3Ry0B7HgKXiStjeI3L4XxKKfcpQusD3xrdejRwe-GdPMPNCxHVN1gi0bWM5gNs1_psRYXnV_IuNkPjQPVYaU5FV-CkTha0LBy0yTNqWUE805Dd5ucEFyT0c1e76k9LGX2IDsTHP6RRCKbgGSinYCaJ1gI3qouBDGDSCrXtIQRB_6fYLotPkDvGs_VFIt0s9NGcr8Qfwi18-RWfovWpOPzNf_4o0kOb42vJed2tqZxl8zXduJ-bz5xtgUC0d4faK2XehD_2APKukfsTxB4AimGLH0IWMv_fskiws-D74-LaqyuVoxqDA4DRzSbpKbZTFC4g5gzN8KyVsNIUyPTI7OT38UmLJ-R9Tuc8kUNGBqmQulEGC2VXMDectOhpW2Em_nL78SFuO0nRqiKtvCaaLlO9RCTnPaXgqsAInlcPghhRpRnJpwYIh6IURd2d8u5GrfNkdO1Ocr4stXyvbUjJlngFtK9EXc2X_-5YLFd_XvRUCTGLRiidjZqAnxz7LHw3wrCRGlwmDOEBaZ99jtevVMK8R-yClzOtJFKYpLZ-3oowhDDBu0Rng4Vo1VCPKJsBg8X5LR-XR1k_fUNdEpPEpYidlDwlqkNsO9lmlzurQ-989AtyM3o5iYIHaYfrW8eYB5wE-GacOEj528ppHCxyIscX9XwA4ZlDEuElxhc29AhqvwJj-vRglGLY0Gx3UoC_R04bDMUHhwvnvCAACjw8xGta0JoCj4_ygMrf-lwSPMjuNYUh__mPRvUd-tWkA67evekz7d8hu2E9aqn93MZPvrFiqvGnCe0RF3Jv1xN8.ZDv3AdyNe0xcrdK5VKzruA"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Three\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestConfigEntity3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 400,
            "text": "{\"_id\":\"emailTemplate/FrodoTestConfigEntity3\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Three\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/emailTemplate/FrodoTestConfigEntity3"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dd8f0cf2-4058-458b-b867-086647240388"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 57,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
