{
  "log": {
    "_recordingName": "TreeApi/getTrees()/1: Get all trees",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cc968d4ca98755f27cb44bad450498ad",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-103faeed-5c60-461f-a4be-658019990a4e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 193813,
            "text": "{\"result\":[{\"_id\":\"FrodoTestTree1\",\"_rev\":\"919151505\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Authentication\\\",\\\"Frodo\\\"]\"},\"entryNodeId\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"nodes\":{},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":80},\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":70,\"y\":230},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":210,\"y\":80}},\"description\":\"Frodo Test Tree One\",\"enabled\":true},{\"_id\":\"FrodoTestTree3\",\"_rev\":\"883874727\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Authentication\\\",\\\"Frodo\\\"]\"},\"entryNodeId\":\"b320a71e-ddac-4180-a106-e6690ac775ca\",\"nodes\":{},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":80},\"1edf4a79-6103-48ee-af91-75af47f85870\":{\"x\":70,\"y\":230},\"4bb0250d-40fe-4ab8-9ea4-77e901615736\":{\"x\":210,\"y\":80}},\"description\":\"Frodo Test Tree Three\",\"enabled\":true},{\"_id\":\"FrodoTestTree2\",\"_rev\":\"1948362972\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Authentication\\\",\\\"Frodo\\\"]\"},\"entryNodeId\":\"f19e5458-6c2e-43e6-9273-84d66f4a8f46\",\"nodes\":{},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":80},\"c904b319-0bb0-454e-b408-08ade91469cf\":{\"x\":70,\"y\":230},\"97704adc-c3a0-469a-9f6a-c07325890232\":{\"x\":210,\"y\":80}},\"description\":\"Frodo Test Tree Two\",\"enabled\":true},{\"_id\":\"ForgottenUsername\",\"_rev\":\"906006051\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Self-Service\\\"]\"},\"entryNodeId\":\"154bbf72-7928-4541-9e81-e6a42b7cd5ce\",\"nodes\":{\"154bbf72-7928-4541-9e81-e6a42b7cd5ce\":{\"connections\":{\"outcome\":\"c06aa309-4a0b-49e2-a3a9-bc13de0f87d1\"},\"displayName\":\"Page Node\",\"nodeType\":\"PageNode\",\"x\":139,\"y\":146},\"40e67f58-e027-4588-80dc-72c728ca1646\":{\"connections\":{\"outcome\":\"d50c645e-e980-407e-b79e-870cb099f123\"},\"displayName\":\"Email Suspend Node\",\"nodeType\":\"EmailSuspendNode\",\"x\":563,\"y\":193},\"c06aa309-4a0b-49e2-a3a9-bc13de0f87d1\":{\"connections\":{\"false\":\"40e67f58-e027-4588-80dc-72c728ca1646\",\"true\":\"40e67f58-e027-4588-80dc-72c728ca1646\"},\"displayName\":\"Identify Existing User\",\"nodeType\":\"IdentifyExistingUserNode\",\"x\":324,\"y\":152},\"d50c645e-e980-407e-b79e-870cb099f123\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"displayName\":\"Inner Tree Evaluator\",\"nodeType\":\"InnerTreeEvaluatorNode\",\"x\":767,\"y\":188}},\"description\":\"Forgotten Username Tree\",\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":970,\"y\":149},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":982,\"y\":252},\"startNode\":{\"x\":50,\"y\":25}},\"enabled\":true},{\"_id\":\"Passthru\",\"_rev\":\"-356915991\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Authentication\\\"]\"},\"entryNodeId\":\"51934f80-9805-4ba0-b27c-7f87f91237aa\",\"nodes\":{\"0ed4c8b6-049d-4998-ad51-961c4afa5c0b\":{\"connections\":{\"true\":\"51934f80-9805-4ba0-b27c-7f87f91237aa\"},\"displayName\":\"Display States\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":893,\"y\":408.015625},\"1c3ba876-7ce0-4adc-b995-6ed6fb4bccfc\":{\"connections\":{\"AUTHENTICATED\":\"28ef10b9-2238-4e04-bec7-1fd2990b15a4\",\"FAILED\":\"ee5da993-7b31-4601-9fe7-ccca59efecd0\",\"MISSING\":\"51934f80-9805-4ba0-b27c-7f87f91237aa\"},\"displayName\":\"Passthrough Authentication\",\"nodeType\":\"PassthroughAuthenticationNode\",\"x\":393,\"y\":129.015625},\"28ef10b9-2238-4e04-bec7-1fd2990b15a4\":{\"connections\":{\"false\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"true\":\"7f336d46-8874-40ff-aacf-fe8ead74c8ce\"},\"displayName\":\"Success\",\"nodeType\":\"PageNode\",\"x\":662,\"y\":36.015625},\"51934f80-9805-4ba0-b27c-7f87f91237aa\":{\"connections\":{\"outcome\":\"1c3ba876-7ce0-4adc-b995-6ed6fb4bccfc\"},\"displayName\":\"Login\",\"nodeType\":\"PageNode\",\"x\":164,\"y\":207.015625},\"7f336d46-8874-40ff-aacf-fe8ead74c8ce\":{\"connections\":{\"true\":\"51934f80-9805-4ba0-b27c-7f87f91237aa\"},\"displayName\":\"Display States\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":893,\"y\":85.015625},\"ee5da993-7b31-4601-9fe7-ccca59efecd0\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"0ed4c8b6-049d-4998-ad51-961c4afa5c0b\"},\"displayName\":\"Failure\",\"nodeType\":\"PageNode\",\"x\":664,\"y\":231.015625}},\"description\":\"Passthru authentication\",\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":1104,\"y\":136},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":1111,\"y\":333},\"startNode\":{\"x\":50,\"y\":250}},\"enabled\":true},{\"_id\":\"UpdatePassword\",\"_rev\":\"1868328802\",\"[...]
