{
  "log": {
    "_recordingName": "AgentOps/deleteWebAgent()/2: Delete agent of wrong type 'FrodoOpsTestGatewayAgent9' (IdentityGatewayAgent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a2b8aa700d192224fae28688914f6d0e",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-082ac66e-fb96-4582-8c1e-41360e0564e0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id eq 'FrodoOpsTestGatewayAgent9'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/WebAgent?_queryFilter=_id%20eq%20%27FrodoOpsTestGatewayAgent9%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 138,
            "text": "{\"result\":[],\"resultCount\":0,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":0,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-082ac66e-fb96-4582-8c1e-41360e0564e0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 48,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
