{
  "log": {
    "_recordingName": "OAuth2ClientOps/exportOAuth2Client()/1: Export oauth2 client FrodoTestOAuth2Client1",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "30cba0962ade9f9549fb1e6b623000eb",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3b376289-ad56-496b-97ce-0c12c3a83a8f"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..6ExQCJqo8WPcZvPK0x_7ZQ.klI1eXmRDua3UbOUGiyV0BExd86f9llwcE[...]
