{
  "log": {
    "_recordingName": "SecretsOps/pruneVersionsOfSecret()/2: Prune all versions except loaded of secret",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b6f728c34bf6921811ab5183dc53fd1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-13"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "{\"_id\":\"esv-frodo-test-secret-13\",\"activeVersion\":\"7\",\"description\":\"description13\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-08-13T16:37:25.166889Z\",\"lastChangedBy\":\"Frodo-SA-1783448612033\",\"loaded\":true,\"loadedVersion\":\"7\",\"useInPlaceholders\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 154,
      },
      {
        "_id": "a84a726b5b4040f7aab91054c8cfec5d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-13/versions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 658,
            "text": "[{\"createDate\":\"2026-08-13T16:37:23.967028Z\",\"loaded\":false,\"status\":\"ENABLED\",\"version\":\"7\"},{\"createDate\":\"2026-08-13T16:37:21.706779Z\",\"loaded\":false,\"status\":\"DESTROYED\",\"version\":\"6\"},{\"createDate\":\"2026-08-13T16:37:19.016359Z\",\"loaded\":false,\"status\":\"DESTROYED\",\"version\":\"5\"},{\"createDate\":\"2026-08-13T16:37:16.554518Z\",\"loaded\":false,\"status\":\"DISABLED\",\"version\":\"4\"},{\"createDate\":\"2026-08-13T16:37:14.10671Z\",\"loaded\":false,\"status\":\"DISABL[...]
