{
  "log": {
    "_recordingName": "SiteOps/exportSites()/1: Export Sites",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b07b722406a6f6bb8728cd0350a0aa27",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-13f26bd5-e630-4513-bed2-c951e6417089"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/sites?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 249,
            "text": "{\"result\":[{\"_id\":\"testsite\",\"_rev\":\"868179817\",\"id\":\"02\",\"url\":\"http://testurl.com:8080\",\"secondaryURLs\":[],\"servers\":[]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.0,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
