{
  "log": {
    "_recordingName": "SecretStoreOps/Classic Tests/exportSecretStores()/0: Export realm SecretStores",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6baad0bba4f335062a535223ebb6dd9f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7ddf942c-ab50-4c1f-8be5-654d2e6ff40a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/realm-config/secrets/stores?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 214,
            "text": "{\"result\":[{\"suffix\":\".txt\",\"versionSuffix\":\".v\",\"directory\":\"/home/trivir/secrets\",\"format\":\"BASE64\",\"_id\":\"Volumes\",\"_type\":{\"_id\":\"FileSystemSecretStore\",\"name\":\"File System Secret Volumes\",\"collection\":true}}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 9,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
