{
  "log": {
    "_recordingName": "AuthenticateApi/step()/2: Two step login journey 'PasswordGrant'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "09a1c7af2686654eda123eb866e7fdb0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f210367f-c755-4ea1-9840-b144afadf619"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "authIndexType",
              "value": "service"
            },
            {
              "name": "authIndexValue",
              "value": "PasswordGrant"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/authenticate?authIndexType=service&authIndexValue=PasswordGrant"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 727,
            "text": "{\"authId\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdXRoSW5kZXhWYWx1ZSI6IlBhc3N3b3JkR3JhbnQiLCJvdGsiOiI1YWJ1cHNzMG91ZmJlaTBtNHFkaGxiM2kwYSIsImF1dGhJbmRleFR5cGUiOiJzZXJ2aWNlIiwicmVhbG0iOiIvYWxwaGEiLCJzZXNzaW9uSWQiOiJlbDlxemtyREtjSU9oemZwczhEUUw2NDRfNW8uKkFBSlRTUUFDTURJQUFsTkxBQnhPYzNoRVNrVnpURWRhVTFac1pTOVhjM0ExYWtGWlZqQm5UR005QUFSMGVYQmxBQWhEVkZOZlFWVlVTQUFDVXpFQUFqQXgqIiwiZXhwIjoxNjcxODM4OTY0LCJpYXQiOjE2NzE4MzgwNjR9.03F0nxUPAEjfXkUlmdhqQs_gpWcAlc14QapSKwzI3-0\",\"callbacks\":[{\"type\":\"NameCallback\",\"output\":[{\"name\":\"prompt\",\"value\":\"User Name\"}],\"input\":[{\"name\":\"IDToken1\",\"value\":\"\"}],\"_id\":0},{\"type\":\"PasswordCallback\",\"output\":[{\"name\":\"prompt\",\"value\":\"Password\"}],\"input\":[{\"name\":\"IDToken2\",\"value\":\"\"}],\"_id\":1}]}"
          },
            {
              "domain": "openam-volker-dev.forgeblocks.com",
              "httpOnly": true,
              "name": "amlbcookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "01"
            },
            {
              "domain": ".scheuber.io",
              "httpOnly": true,
              "name": "amlbcookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "01"
            },
            {
              "domain": ".mytestrun.com",
              "httpOnly": true,
              "name": "amlbcookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "01"
            }
          ],
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f210367f-c755-4ea1-9840-b144afadf619"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 53,
      },
      {
        "_id": "09a1c7af2686654eda123eb866e7fdb0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f210367f-c755-4ea1-9840-b144afadf619"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            }
  [...]
