{
  "log": {
    "_recordingName": "JourneyOps/importJourney()/4: Import journey 'FrodoTestJourney13' w/o dependencies with 2.0 node versions",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b3f3ff417237ec0ab4be77f6ba3807d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=3.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"64dceffc-2db4-468b-96d1-491824e037a2\",\"_outcomes\":[{\"displayName\":\"Outcome\",\"id\":\"outcome\"}],\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"collection\":true,\"name\":\"Platform Username\",\"version\":\"2.0\"},\"autocompleteValues\":[],\"prepopulate\":false,\"usernameAttribute\":\"userName\",\"validateInput\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedUsernameNode/2.0/64dceffc-2db4-468b-96d1-491824e037a2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 320,
            "text": "{\"_id\":\"64dceffc-2db4-468b-96d1-491824e037a2\",\"_rev\":\"-1164436844\",\"usernameAttribute\":\"userName\",\"prepopulate\":false,\"validateInput\":false,\"autocompleteValues\":[],\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true,\"version\":\"2.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=3.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164,
      },
      {
        "_id": "fc48b51ccad0d231096d96d935216cf8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=3.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"e4c5071f-acc8-47c9-b097-5c4144170742\",\"_outcomes\":[{\"displayName\":\"Outcome\",\"id\":\"outcome\"}],\"_type\":{\"_id\":\"ValidatedPasswordNode\",\"collection\":true,\"name\":\"Platform Password\",\"version\":\"1.0\"},\"passwordAttribute\":\"password\",\"validateInput\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedPasswordNode/1.0/e4c5071f-acc8-47c9-b097-5c4144170742"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 275,
            "text": "{\"_id\":\"e4c5071f-acc8-47c9-b097-5c4144170742\"[...]
