{
  "log": {
    "_recordingName": "JourneyOps/updateCoordinates()/2: Update coordinates with server coordinates when server tree exists",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "816719c228076f06fa8d3e6f6bcc684b",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0a529e1e-9749-4122-bed0-720efd56dbcf"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestJourney10"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 392,
            "text": "{\"_id\":\"FrodoTestJourney10\",\"_rev\":\"-1380643388\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{},\"entryNodeId\":\"node1\",\"innerTreeOnly\":false,\"nodes\":{\"node1\":{\"x\":1,\"y\":2,\"connections\":{},\"displayName\":\"name1\",\"nodeType\":\"type1\"},\"node2\":{\"x\":3,\"y\":4,\"connections\":{},\"displayName\":\"name2\",\"nodeType\":\"type2\"}},\"staticNodes\":{\"node3\":{\"x\":5,\"y\":6},\"node4\":{\"x\":7,\"y\":8}},\"enabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1380643388\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0a529e1e-9749-4122-bed0-720efd56dbcf"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
