{
  "log": {
    "_recordingName": "JourneyOps/updateCoordinates()/2: Update coordinates with server coordinates when server tree exists",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "816719c228076f06fa8d3e6f6bcc684b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestJourney10"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 551,
            "text": "{\"_id\":\"FrodoTestJourney10\",\"_rev\":\"-1571351278\",\"identityResource\":\"managed/alpha_user\",\"entryNodeId\":\"5883ff1e-80dd-49f5-a609-120303e1b0cd\",\"innerTreeOnly\":false,\"noSession\":false,\"mustRun\":false,\"enabled\":true,\"uiConfig\":{},\"nodes\":{\"5883ff1e-80dd-49f5-a609-120303e1b0cd\":{\"x\":1,\"y\":2,\"connections\":{},\"displayName\":\"name1\",\"nodeType\":\"ValidatedUsernameNode\"},\"59129227-f192-4ff4-a7b4-bc7690b82d4f\":{\"x\":3,\"y\":4,\"connections\":{},\"displayName\":\"name2\",\"nodeType\":\"ValidatedUsernameNode\"}},\"staticNodes\":{\"node3\":{\"x\":5,\"y\":6},\"node4\":{\"x\":7,\"y\":8}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1571351278\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 55,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
