{
  "log": {
    "_recordingName": "JourneyOps/updateCoordinates()/2: Update coordinates with server coordinates when server tree exists",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "816719c228076f06fa8d3e6f6bcc684b",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-05711d9b-8357-4f23-8add-0b1ee16fe49d"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..aDSHRUyzNDuRTzrDWtFajg.MzrrHPEmcGlqZKi8vJuSU3kYGga1NvVGHI[...]
