{
  "log": {
    "_recordingName": "PolicySetOps/updatePolicySet()/1: Update existing policy set [FrodoTestPolicySet5]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2d80f1d5ea22a1d5250963bb403c88b6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-47bd3c40-4157-4b0b-ad3b-48fca56147c7"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..gsVlGhBsyMleNyUQGMDGAw.5rYAm03uSu5FXPsANe7eO[...]
