{
  "log": {
    "_recordingName": "NodeApi/putCustomNode()/1: Update existing custom node [aaaa3fb2f5dc42dd9772bedc93898bd8-1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "01301945c173e73f762aebd7509b339b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21a47d0e-f8d4-4542-978c-06e67383be15"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            },
            {
              "name": "if-match",
              "value": "*"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"aaaa3fb2f5dc42dd9772bedc93898bd8-1\",\"serviceName\":\"aaaa3fb2f5dc42dd9772bedc93898bd8\",\"displayName\":\"Display State - TEST\",\"description\":\"Debug node that displays the shared and transient state of the journey for debugging purposes.\",\"outcomes\":[\"outcome\"],\"outputs\":[],\"inputs\":[],\"script\":\"var SCRIPT_OUTCOMES = {\\n  OUTCOME: \\\"outcome\\\"\\n};\\n\\nfunction main() {\\n    if (!callbacks.isEmpty()) {\\n        action.goTo(SCRIPT_OUTCOMES.OUTCOME);\\n        return;\\n    }\\n    var keySet = nodeState.keys(); // Java Set<String>\\n    var keys = Array.from(keySet); // Make it into JavaScript array\\n    debugState = {};\\n    for (var i in keys) {\\n        var k = new String(keys[i]);\\n        var item = nodeState.get(k);\\n        if (typeof item === \\\"object\\\") {\\n            debugState[k] = nodeState.getObject(k);\\n        } else {\\n            debugState[k] = nodeState.get(k);\\n        }\\n    }\\n    if (properties.displayFormat === \\\"JSON\\\") {\\n        callbacksBuilder.textOutputCallback(0, `<pre style=\\\"text-align: left;\\\">${JSON.stringify(debugState, null, 2)}</pre>`);\\n        return;\\n    }\\n    callbacksBuilder.textOutputCallback(0, `<table><tr><td style=\\\"border: 1px solid black;\\\">Key</td><td style=\\\"border: 1px solid black;\\\">Value</td></tr>${Array.from(Object.keys(debugState).map(k => `<tr><td style=\\\"border: 1px solid black;\\\"><pre style=\\\"text-align: left;\\\">${k}</pre></td><td style=\\\"border: 1px solid black;\\\"><pre style=\\\"text-align: left;\\\">${debugState[k]}</pre></td></tr>`))}</table>`);\\n}\\n\\nmain();\\n\",\"errorOutcome\":false,\"tags\":[\"debug\",\"testing\"],\"properties\":{\"displayFormat\":{\"title\":\"Display Format\",\"description\":\"The format in which to display the states.\",\"type\":\"STRING\",\"required\":true,\"defaultValue\":\"TABLE\",\"options\":{\"TABLE\":\"HTML Table\",\"JSON\":\"Raw JSON\"},\"multivalued\":false}}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type/aaaa3fb2f5dc42dd9772bedc93898bd8-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1852,
            "text": "{\"_id\":\"aaaa3fb2f5dc42dd9772bedc93898bd8-1\",\"_rev\":\"1871053300\",\"serviceName\":\"aaaa3fb2f5dc42dd9772bedc93898bd8\",\"displayName\":\"Display State - TEST\",\"description\":\"Debug node that displays the shared and transient state of the journey for debugging purposes.\",\"outcomes\":[\"outcome\"],\"outputs\":[],\"inputs\":[],\"script\":\"var SCRIPT_OUTCOMES = {\\n  OUTCOME: \\\"outcome\\\"\\n};\\n\\nfunction main() {\\n    if (!callbacks.isEmpty()) {\\n        action.goTo(SCRIPT_OUTCOMES.OUTCOME);\\n        return;\\n    }\\n    var keySet =[...]
