{
  "log": {
    "_recordingName": "CirclesOfTrustOps/updateCircleOfTrust()/1: Update circle of trust '2f04818d-561e-4f8a-82e8-af2426112138'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2577933495f943b8ab41dcbcfc477845",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1e60c1eb-7aa7-492d-88d9-925aab33fd54"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"2f04818d-561e-4f8a-82e8-af2426112138\",\"_type\":{\"_id\":\"circlesoftrust\",\"collection\":true,\"name\":\"Circle of Trust\"},\"status\":\"active\",\"trustedProviders\":[\"benefits-IDP|saml2\",\"iSPAzure|saml2\"]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/federation/circlesoftrust/2f04818d-561e-4f8a-82e8-af2426112138"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 219,
            "text": "{\"_id\":\"2f04818d-561e-4f8a-82e8-af2426112138\",\"_rev\":\"-222749816\",\"trustedProviders\":[\"benefits-IDP|saml2\",\"iSPAzure|saml2\"],\"status\":\"active\",\"_type\":{\"_id\":\"circlesoftrust\",\"name\":\"Circle of Trust\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-222749816\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1e60c1eb-7aa7-492d-88d9-925aab33fd54"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
