{
  "log": {
    "_recordingName": "VariablesOps/createVariable()/2: Create variable13 (not encoded)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ed6fc46e86293d65cb7dd1a193dbdffb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-13"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 53,
            "text": "{\"code\":404,\"message\":\"The variable does not exist\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 154,
      },
      {
        "_id": "052752d5272a650f9047c13a03099c69",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"dmFsdWUxMw==\",\"description\":\"description13\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-13"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 228,
            "text": "{\"_id\":\"esv-frodo-test-variable-13\",\"description\":\"description13\",\"expressionType\":\"string\",\"lastChangeDate\":\"2024-07-05T15:22:26.648538111Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"valueBase64\":\"dmFsdWUxMw==\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 746,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
