{
  "log": {
    "_recordingName": "VariablesApi/putVariable()/2: Create new string variable (explicit type): esv-frodo-test-variable5 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "16088eb860f24d8185ca5acec80c6a56",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"RnJvZG8gVGVzdCBWYXJpYWJsZSBGaXZlIFZhbHVl\",\"description\":\"Frodo Test Variable Five (string) Description\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 294,
            "text": "{\"_id\":\"esv-frodo-test-variable5\",\"description\":\"Frodo Test Variable Five (string) Description\",\"expressionType\":\"string\",\"lastChangeDate\":\"2023-09-30T19:40:54.014Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"RnJvZG8gVGVzdCBWYXJpYWJsZSBGaXZlIFZhbHVl\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 949,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
