{
  "log": {
    "_recordingName": "IgaSodPolicyOps/deletePolicy()/2: Delete non-existing policy by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c2d320376ea5c09554331a4e2450dfa3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 76,
            "text": "{\"message\":\"No policy with id 11111111-1111-1111-1111-111111111111 exists.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4c-kagjcX0Uvfpzi8yx6fuM0u635gI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "cd841ae7-235f-4fce-8464-1beb40756164"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 145,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
