{
  "log": {
    "_recordingName": "AgentOps/readJavaAgent()/1: Read J2EEAgent 'FrodoOpsTestJavaAgent1'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8224f3a87d3b9e9c8271aa8960d2b1c1",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bcf5bff9-c936-4fe9-927a-10e5a5afe096"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0.._aoAWFLj2_tH071eSf2ziQ.nJA-sERK8NzhrZbwZbOGoS5ckASUkXdOIo[...]
