{
  "log": {
    "_recordingName": "IgaRequestFormOps/deleteOrphanedRequestFormAssignments()/2: Delete orphaned form assignments by form id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a1ec4f2653489475e9860556324166a0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "formId eq \"d2dde1a9-0300-40d0-9bbf-84b52920d6c7\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=formId%20eq%20%22d2dde1a9-0300-40d0-9bbf-84b52920d6c7%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 276,
            "text": "{\"totalCount\":1,\"resultCount\":1,\"result\":[{\"formId\":\"d2dde1a9-0300-40d0-9bbf-84b52920d6c7\",\"objectId\":\"application/f02cfe35-9eae-4a16-8f64-95bebb43eaae/Group/create\",\"metadata\":{\"modifiedDate\":\"2026-02-20T23:01:38.531489453Z\",\"createdDate\":\"2026-02-20T23:01:38.531486592Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"114-5rqP7xIh4VwGwy3wnNpk+sq9joY\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "e28e9b2e-e9fb-4933-a5b3-52869055e390"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 118,
      },
      {
        "_id": "077ab169758a1ba989381a203f1d9cd3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8ecd232b-4a6e-407f-bfc8-0e4a0762a9ed"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_fields",
              "value": "_id"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/alpha_application?_queryFilter=true&_pageSize=1000&_fields=_id"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1723,
            "text": "{\"result\":[{\"_id\":\"63ba1563-d014-4b2b-bee9-b2a853aa859b\",\"_rev\":\"4bb54733-6808-4e81-a6f7-d51d8cc91c85-6210\"},{\"_id\":\"73482dbd-6c91-4294-8b52-2c5acea126ee\",\"_rev\":\"f2b8ccb8-16a2-4037-a9c2-e75192121de7-44449\"},{\"_id\":\"b79eaa8c-0492-4b6c-8407-063f34799a12\",\"_rev\":\"f2b8ccb8-16a2-4037-a9c2-e75192121de7-45066\"},{\"_id\":\"0e9db89a-e7f8-49ec-8f2f-0f9e03e05c1e\",\"_rev\":\"f2b8ccb8-16a2-4037-a9c2-e75192121de7-188961\"},{\"_id\":\"4aa9c758-85e4-425b-9713-af5046473de3\",\"_rev\":\"de702b3a-dc3f-4f82-8692-19f6c7825605-410052\"},{\"_id\":\"e2dd0edc-a1d[...]
