{
  "log": {
    "_recordingName": "PolicySetOps/deletePolicySet()/2: Delete non-existing policy set [DoesNotExist]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b47faa62b58beb9c8da0692491d34102",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-48105302-e556-4060-a1aa-21d47cffdaf4"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..b3c4JJ83hD0kcFBc7UnQOg.tU1dOUljfPgvyvr-Q1IJWaO86yOKC1t-i_[...]
