{
  "log": {
    "_recordingName": "PolicySetOps/deletePolicySet()/2: Delete non-existing policy set [DoesNotExist]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b47faa62b58beb9c8da0692491d34102",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-75c6a15e-7d8b-4ffe-870e-9bc3aba3bead"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..Wkz-n_YLmJn8NQvkpr6RLg.jJ_rBKS3CrrwuY8ulR8qy62LsvCsBCJo8x[...]
