{
  "log": {
    "_recordingName": "IdmConfigOps/readConfigEntity()/1: Read config entity 'emailTemplate/FrodoTestConfigEntity1'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "270f7a019e0bb8e6926332d6322bb85e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-701d3914-f0b6-44ea-b3f6-126e356bba10"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestConfigEntity1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 510,
            "text": "{\"_id\":\"emailTemplate/FrodoTestConfigEntity1\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template One\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>Click to reset your password</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Password reset link</a></h4>\",\"fr\":\"<h3>Cliquez pour réinitialiser votre mot de passe</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Mot de passe lien de réinitialisation</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Reset your password\",\"fr\":\"Réinitialisez votre mot de passe\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-701d3914-f0b6-44ea-b3f6-126e356bba10"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 42,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
