{
  "log": {
    "_recordingName": "Saml2Ops/exportSaml2Provider()/1: Export hosted provider 'iSPAzure'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5c8b2a4aa19e2ffdec233464da9a7ab9",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1e6211a5-b57e-4c56-9504-4e900b0eaaff"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..ZLQmMfEjXz81Oo3E96b2eQ.TWCuruggpiaAvHoIXY0hCOAxZbWNgudaFg[...]
