{
  "log": {
    "_recordingName": "IdmSystemOps/deleteSystemObject()/1: Delete system object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d435274b92cd668e3885b2d0e7c6565a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "uid eq 'frodo2'"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_totalPagedResultsPolicy",
              "value": "EXACT"
            },
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__?_queryFilter=uid%20eq%20%27frodo2%27&_pageSize=1000&_totalPagedResultsPolicy=EXACT&_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 736,
            "text": "{\"result\":[{\"_id\":\"58af6d4c-f4ac-4427-bc89-6e4562de6d94\",\"postalAddress\":[],\"cn\":[\"Frodo Test User 2\"],\"street\":[],\"sn\":[\"Test\"],\"userPassword\":[\"e1NTSEE1MTJ9UFpJZUtoQUljejIwei9odXl2Uys0UkVVV01hV28ydmVacENIR3B2RjM5WmNkdlNWZHZwd2xlalNLUnk2aWxtbW5icVVqbGxnMFU2V2luRlVuMDFMVXlxVStKUEVtNTA2\"],\"l\":[],\"description\":[\"Frodo Test User 2\"],\"objectClass\":[\"top\",\"inetOrgPerson\",\"organizationalPerson\",\"person\"],\"initials\":[],\"mobile\":[],\"postalCode\":[],\"__NAME__\":\"uid=frodo2,ou=People,dc=example,dc=com\",\"homePhone\":[],\"st\":[],\"telephoneNumber\":[],\"mail\":[\"frodo2@example.com\"],\"givenName\":[\"Frodo\"],\"uid\":[\"frodo2\"]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 94,
      },
      {
        "_id": "ad35b8f246e18cd7f5aa51101b278aec",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],[...]
