{
  "log": {
    "_recordingName": "IgaRequestFormOps/importRequestForms()/4: Import all",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a5711690bf4bc8c05c4f9e0910f992f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestTypes/5f80166a-d551-47f2-8110-8bc0e093d2cc"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 908,
            "text": "[\"G/gIAMT/pmZVy7wahbSB0s6XMxJfNmcEa0CbOf5+5b6l8v7MVlrZUlr0q40KWlqt6wQ8PBA4OltTnNoh9TK1Ai++mCVS031C7sFv3siJIBApxL+eVg7/y/2Nhw39rcChFQS6cVVWi4XMVNdVWbsc62xVVWW26oeSynWj6mEAx875p9G4HcQpcfz1tIWoOcLwSJMMECcMbpqchfh5wt+JooQ4IR42BIFwCJEmcGSKlOXDZxociRPdmnTiKv+/PupBRu0sxAk6fKDnWXtSEKM0gTh0uLeRvJUGIvqZeNvDECdYS9UvdD3HocMXHXRvSAyX0o+DaDhUSgHLxmgnPu1N8aQMzrLR+Y1DghujSInD49CG0dwrnBk6XD5K+yBxQE0Bduu1DSt7Lcrur1qgtkWY89n9VTOAFdfmXr3zNOp9EQCmcHrYRp8kXJWdgoDraC+7vwJ6GDpceTlGgIHEEchkpATetr07JHHXXbgYjVWyf8b7gadnmkNE4oi0R403ND31RZqZIGDcjj/XYqP94UpGapqQJMgNopCMlF2ZkpG8r3IZ/RzIsxuzzErDJnOWPcMDpjswmQSz60rSL9QTI9DJPpdDh9ezidoVcrS3XqqW5E/dqi8AEX3oWY6h63+N0OjFu9dvmIUiTrXL2P0VeyL2sBoJeMwvUU6S7OVjlD4yXqhcUZKIMPjgpY1747QK12qvrXqjnKBsozeuJ+JyKaVZBqYsQm+pKM+rJwqjPE10DIMp8Vy9c4akRbziyXLiBK8CPQhhng25/j8NRjm85wmz3OL9Tvcwr6Cv4UR7cSn9ThwZUfXjRfkq8kUarZz7sJ2N4ZgoSiXjtQFe6igk/xHqsl5kZZvVy0/VWrQLUbV5u1z8AEe2FNnK7zX5YrVuVuWqW/5ASg==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8f9-Kil5h8pvfcTE3Z1tLhKB3xj0fKI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "eff8a3d1-7910-408f-81a6-5d285f48e688"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      },
      {
        "_id": "e0d88c844776a2130536023ef33551ee",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operation\":\"replace\",\"field\":\"/customValidation\",\"value\":null},{\"operation\":\"remove\",\"field\":\"/schemas/custom\"},{\"operation\":\"replace\",\"field\":\"/custom\",\"value\":false}]"
          },
          "queryString": [
            {
              "name": "_useLowLevelApi",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestTypes/5f80166a-d551-47f2-8110-8bc0e093d2cc?_useLowLevelApi=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 201,
            "text": "{\"displayName\":\"test_request_type_1\",\"id\":\"5f80166a-d551-47f2-8110-8bc0e093d2cc\",\"workflow\":{},\"_rev\":3,\"schemas\":{\"common\":[\"/requestSchema/iga/commonRequest\"]},\"custom\":false,\"customValidation\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c9-1Ojg39hdwqnbhKbr78OCP8swx6k\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ae800474-0463-4b73-933f-bc83dbd4cb9c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 675,
      },
      {
        "_id": "a48a931cbecdb7c593f3f1e3b77d1008",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"9bf59529-5a61-4a37-9053-fda20df22e26\",\"name\":\"test_request_form_2\",\"type\":\"request\",\"description\":\"This is a test request form\",\"categories\":{\"applicationType\":null,\"objectType\":null,\"operation\":\"create\"},\"form\":{\"fields\":[{\"id\":\"6d75f47e-3c06-4d62-bc3e-4952499937b7\",\"fields\":[{\"id\":\"9c4ef3b4-2edd-4027-ae1a-1959a0b2d9b5\",\"model\":\"text\",\"type\":\"string\",\"label\":\"This is my test form\",\"description\":\"This is text\",\"validation\":{\"required\":true,\"regex\":{\"pattern\":\"[a-zA-Z]+\",\"message\":\"Needs to include text\"}},\"layout\":{\"columns\":12,\"offset\":0},\"defaultValue\":\"Awesome\",\"readOnly\":true,\"customSlot\":false,\"onChangeEvent\":{\"type\":\"script\",\"script\":\"// My\\n// onChange\\n// script\"}}]},{\"id\":\"159d9344-4e0a-484b-b4fc-92bcfd306631\",\"fields\":[{\"id\":\"a8ccff5e-f49c-42df-9d62-8a167b5366cd\",\"model\":\"utilities\",\"type\":\"section\",\"validation\":{},\"layout\":{\"columns\":12,\"offset\":0},\"customSlot\":false,\"header\":\"Utilities Header\",\"footer\":\"Utilities Footer\",\"fields\":[{\"id\":\"f9d9bebf-f607-4d8d-aa42-b1aaa9f7fbdc\",\"fields\":[{\"id\":\"1db49b25-5280-4da9-9e0a-ed61d3df7332\",\"type\":\"formText\",\"validation\":{},\"layout\":{\"columns\":8,\"offset\":2},\"formText\":\"Form Text\",\"customSlot\":\"formText\"}]}]}]},{\"id\":\"14c257ee-030f-454e-8c73-71eccf2e2a39\",\"fields\":[{\"id\":\"bded6069-4b45-434d-be07-93a6882a5847\",\"model\":\"customFields\",\"type\":\"section\",\"validation\":{},\"layout\":{\"columns\":12,\"offset\":0},\"customSlot\":false,\"header\":\"Custom Fields Header\",\"footer\":\"Custom Fields Footer\",\"fields\":[{\"id\":\"eafc0754-2941-4af4-96e7-872b3bd7e88c\",\"fields\":[{\"id\":\"fffd5f49-241e-4985-a15c-448fe1a97bdf\",\"model\":\"textArea\",\"type\":\"textarea\",\"label\":\"Text Area\",\"description\":\"This is a text area\",\"validation\":{\"required\":false,\"regex\":{}},\"layout\":{\"columns\":6,\"offset\":3},\"defaultValue\":\"My default\",\"readOnly\":false,\"customSlot\":false,\"onChangeEvent\":{}}]},{\"id\":\"f54c92a0-fe7b-49f9-98a1-7605be563b1f\",\"fields\":[{\"id\":\"fe61e2fa-5c7b-4266-b080-ce8e0cee1fe9\",\"model\":\"checkbox\",\"type\":\"checkbox\",\"label\":\"Checkbox\",\"description\":\"\",\"validation\":{},\"layout\":{\"columns\":12,\"offset\":0},\"defaultValue\":false,\"readOnly\":false,\"customSlot\":false,\"onChangeEvent\":{\"type\":\"script\",\"script\":\"// My\\n// onChange\\n// script\"}}]},{\"id\":\"2d44b1dd-35b4-44aa-b581-e1fa635a38e1\",\"fields\":[{\"id\":\"420780c7-3e10-4d65-a349-a6eeaebb36ad\",\"model\":\"selectEnumerated\",\"type\":\"select\",\"label\":\"SelectEnumerated\",\"validation\":{\"required\":true},\"layout\":{\"columns\":12,\"offset\":0},\"options\":[{\"value\":\"val2\",\"label\":\"Val2\",\"selectedByDefault\":true},{\"value\":\"v1\",\"label\":\"V1\"},{\"value\":\"v3\",\"label\":\"V3\"}],\"readOnly\":false,\"customSlot\":false,\"onChangeEvent\":{\"type\":\"script\",\"script\":\"\"}}]},{\"id\":\"857fd82b-b0b4-48a4-b60f-be795be33827\",\"fields\":[{\"id\":\"a8b64346-e39f-4244-b0dd-b2ae3bcd3a5e\",\"model\":\"selectObject\",\"type\":\"select\",\"label\":\"Select Object\",\"validation\":{\"required\":false},\"layout\":{\"columns\":12,\"offset\":0},\"options\":{\"object\":\"user\",\"queryFilter\":\"userName eq \\\"test\\\"\"},\"readOnly\":true,\"customSlot\":false,\"onChangeEvent\":{\"type\":\"script\",\"script\":\"\"}}]},{\"id\":\"e8b2c74f-78d0-4c6c-8836-1fb64bb7ad32\",\"fields\":[{\"id\":\"bb21a952-f986-4d36-87ee-fb0608bd9218\",\"model\":\"multiSelectEnumerated\",\"type\":\"multiselect\",\"label\":\"Multi Select Enumerated\",\"description\":\"My description\",\"validation\":{\"required\":true},\"layout\":{\"columns\":12,\"offset\":0},\"options\":[],\"readOnly\":false,\"customSlot\":false,\"onChangeEvent\":{}}]},{\"id\":\"863f42bd-7892-4649-a8b9-f2e112872656\",\"fields\":[{\"id\":\"edaceb2f-c112-4c7b-8f2f-d636393de062\",\"model\":\"multiSelectObject\",\"type\":\"multiselect\",\"label\":\"Multi Select Object\",\"validation\":{\"required\":false},\"layout\":{\"columns\":12,\"offset\":0},\"options\":{\"object\":\"entitlement\",\"queryFilter\":\"id eq \\\"id\\\"\"},\"readOnly\":true,\"customSlot\":false,\"onChangeEvent\":{}}]}]}]},{\"id\":\"119bb47f-440a-453d-a9bb-92295ab71e64\",\"fields\":[{\"id\":\"21371507-f385-4e16-9689-634302577a78\",\"model\":\"date\",\"type\":\"date\",\"label\":\"Date\",\"description\":\"Today's date\",\"validation\":{\"required\":false},\"layout\":{\"columns\":12,\"offset\":0},\"readOnly\":false,\"customSlot\":false,\"onChangeEvent\":{\"type\":\"script\",\"script\":\"console.log(\\\"hello\\\")\"}}]}],\"events\":{\"onLoad\":{\"type\":\"script\",\"script\":\"// This\\n// is\\n// my\\n// onLoad\\n// script\"}}}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestForms/9bf59529-5a61-4a37-9053-fda20df22e26"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1927,
            "text": "[\"G8AQAGQzNXt9NbjShCwL2PRLffUKkuDGNyqJJOfW5/H/r[...]
