{
  "log": {
    "_recordingName": "TreeApi/deleteTree()/2: Delete non-existing tree",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "43a56ef33ed51909850e024d2c1480e7",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ca1f41e7-c750-4c47-8da3-b3887acc30d0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/DoesNotExist"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 55,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Not Found\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ca1f41e7-c750-4c47-8da3-b3887acc30d0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 39,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
