{
  "log": {
    "_recordingName": "Saml2Ops/deleteSaml2Provider()/2: Delete remote provider 'https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "65720c6d2aff0fdf1b4330ba0afee2b3",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8725f72b-53b7-4ad9-834d-e3c0f46e07e5"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "entityId eq 'https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/'"
            },
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2?_queryFilter=entityId%20eq%20%27https%3A%2F%2Fsts.windows.net%2F711ffa9c-5972-4713-ace3-688c9732614a%2F%27&_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 373,
            "text": "{\"result\":[{\"_id\":\"aHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzExZmZhOWMtNTk3Mi00NzEzLWFjZTMtNjg4Yzk3MzI2MTRhLw\",\"_rev\":\"761336767\",\"entityId\":\"https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/\",\"location\":\"remote\",\"roles\":[\"identityProvider\"]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8725f72b-53b7-4ad9-834d-e3c0f46e07e5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 42,
      },
      {
        "_id": "ec4cfba3df9e71ff0c7af0851148945e",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8725f72b-53b7-4ad9-834d-e3c0f46e07e5"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2/remote/aHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzExZmZhOWMtNTk3Mi00NzEzLWFjZTMtNjg4Yzk3MzI2MTRhLw"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 884,
            "text": "{\"_id\":\"aHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzExZmZhOWMtNTk3Mi00NzEzLWFjZTMtNjg4Yzk3MzI2MTRhLw\",\"_rev\":\"740333789\",\"entityId\":\"https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/\",\"identityProvider\":{\"assertionContent\":{\"signingAndEncryption\":{\"requestResponseSigning\":{},\"encryption\":{}},\"nameIdFormat\":{},\"basicAuthentication\":{}},\"services\":{\"serviceAttributes\":{\"singleLogoutService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://login.microsoftonline.com/711ffa9c-5972-4713-ace3-688c9732614a/saml2\"}],\"singleSignOnService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://login.microsoftonline.com/711ffa9c-5972-4713-ace3-688c9732614a/saml2\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://login.microsoftonline.com/711ffa9c-5972-4713-ace3-688c9732614a/saml2\"}]}}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"740333789\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8725f72b-53b7-4ad9-834d-e3c0f46e07e5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
