{
  "log": {
    "_recordingName": "Saml2Ops/deleteSaml2Provider()/2: Delete remote provider 'https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "65720c6d2aff0fdf1b4330ba0afee2b3",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de28b11f-a3a8-49a6-9626-1a95bcf94a4e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..fctPZPPFi7HV-hB35vyd6w.D0f4p2Va0jm6iNbXHHXdyIOG5XINiPBFl2[...]
