{
  "log": {
    "_recordingName": "IdmSystemOps/readSystemSchema()/1: Read system schema",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a9991b7b2bf1e99aa50693c0cc6cf2ab",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/config/provisioner.openicf/OUD"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 5360,
            "text": "{\"_id\":\"provisioner.openicf/OUD\",\"configurationProperties\":{\"accountObjectClasses\":[\"top\",\"person\",\"organizationalPerson\",\"inetOrgPerson\"],\"accountSearchFilter\":null,\"accountSynchronizationFilter\":null,\"accountUserNameAttributes\":[\"uid\",\"cn\"],\"allowTreeDelete\":false,\"alternateKeyStore\":null,\"alternateKeyStorePassword\":null,\"alternateKeyStoreType\":null,\"attributesToSynchronize\":[],\"authType\":\"simple\",\"baseContexts\":[\"dc=example,dc=com\"],\"baseContextsToSynchronize\":[\"dc=example,dc=com\"],\"blockSize\":\"100\",\"changeLogBlockSize\":\"100\",\"changeNumberAttribute\":\"changeNumber\",\"checkAliveMinInterval\":60,\"connectionTimeout\":30000,\"convertADIntervalToISO8601\":[\"pwdLastSet\",\"accountExpires\",\"lockoutTime\",\"lastLogon\"],\"convertGTToISO8601\":[\"whenCreated\",\"whenChanged\"],\"credentials\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"Ay/Q4EkWp77K1yux/ei+QQ==\",\"iv\":\"6NEuygiwh86GqUE3HNebHQ==\",\"keySize\":16,\"mac\":\"bthZW2AV3fvzJ4H2wjF4fA==\",\"purpose\":\"idm.config.encryption\",\"salt\":\"z/iFWACyCEykN6yH6e0OHw==\",\"stableId\":\"openidm-sym-default\"}}},\"failover\":[],\"filterWithOrInsteadOfAnd\":false,\"getGroupMemberId\":false,\"groupMemberAttribute\":\"uniqueMember\",\"groupObjectClasses\":[\"top\",\"groupOfUniqueNames\"],\"groupSearchFilter\":null,\"groupSynchronizationFilter\":null,\"gssapiLoginContext\":null,\"host\":\"lab.mytestrun.com\",\"hostNameVerification\":false,\"hostNameVerifierPattern\":null,\"lastCheckAlive\":1608696130506,\"maintainLdapGroupMembership\":false,\"maintainPosixGroupMembership\":false,\"modifiersNamesToFilterOut\":[],\"objectClassesToSynchronize\":[\"inetOrgPerson\"],\"passwordAttribute\":\"userPassword\",\"passwordHashAlgorithm\":null,\"port\":\"1389\",\"principal\":\"cn=Directory Manager\",\"privateKeyAlias\":null,\"readSchema\":false,\"referralsHandling\":\"follow\",\"removeLogEntryObjectClassFromFilter\":true,\"resetSyncToken\":\"never\",\"respectResourcePasswordPolicyChangeAfterReset\":false,\"sendCAUDTxId\":false,\"ssl\":false,\"startTLS\":false,\"uidAttribute\":\"entryUUID\",\"useBlocks\":true,\"useDNSSRVRecord\":false,\"useOldADGUIDFormat\":false,\"usePagedResultControl\":true,\"useTimestampsForSync\":false,\"vlvSortAttribute\":\"uid\"},\"connectorRef\":{\"bundleName\":\"org.forgerock.openicf.connectors.ldap-connector\",\"bundleVersion\":\"[1.5.0.0,1.6.0.0)\",\"connectorHostRef\":\"rcsdocker\",\"connectorName\":\"org.identityconnectors.ldap.LdapConnector\",\"displayName\":\"LDAP Connector\",\"systemType\":\"provisioner.openicf\"},\"enabled\":true,\"objectTypes\":{\"__ACCOUNT__\":{\"$schema\":\"http://json-schema.org/draft-03/schema\",\"id\":\"__ACCOUNT__\",\"nativeType\":\"__ACCOUNT__\",\"properties\":{\"__NAME__\":{\"nativeName\":\"__NAME__\",\"nativeType\":\"string\",\"type\":\"string\"},\"cn\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"cn\",\"nativeType\":\"string\",\"required\":true,\"type\":\"array\"},\"description\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"description\",\"nativeType\":\"string\",\"type\":\"array\"},\"employeeNumber\":{\"nativeName\":\"employeeNumber\",\"nativeType\":\"string\",\"type\":\"string\"},\"givenName\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"givenName\",\"nativeType\":\"string\",\"type\":\"array\"},\"homePhone\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"homePhone\",\"nativeType\":\"string\",\"type\":\"array\"},\"initials\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"initials\",\"nativeType\":\"string\",\"type\":\"array\"},\"l\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"l\",\"nativeType\":\"string\",\"type\":\"array\"},\"mail\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"mail\",\"nativeType\":\"string\",\"type\":\"array\"},\"mobile\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"mobile\",\"nativeType\":\"string\",\"type\":\"array\"},\"objectClass\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"objectClass\",\"nativeType\":\"string\",\"type\":\"array\"},\"postalAddress\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"postalAddress\",\"nativeType\":\"string\",\"type\":\"array\"},\"postalCode\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"postalCode\",\"nativeType\":\"string\",\"type\":\"array\"},\"sn\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"sn\",\"nativeType\":\"string\",\"required\":true,\"type\":\"array\"},\"st\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"st\",\"nativeType\":\"string\",\"type\":\"array\"},\"street\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"street\",\"nativeType\":\"string\",\"type\":\"array\"},\"telephoneNumber\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"telephoneNumber\",\"nativeType\":\"string\",\"type\":\"array\"},\"uid\":{\"items\":{\"nativeType\":\"string\",\"type\":\"string\"},\"nativeName\":\"uid\",\"nativeType\":\"string\",\"type\":\"array\"},\"userPassword\":{\"items\":{\"nativeType\":\"JAVA_TYPE_BYTE_ARRAY\",\"type\":\"string\"},\"nativeName\":\"userPassword\",\"nativeType\":\"JAVA_TYPE_BYTE_ARRAY\",\"type\":\"array\"}},\"type\":\"object\"}},\"operationTimeout\":{\"AUTHENTICATE\":-1,\"CREATE\":-1,\"DELETE\":-1,\"GET\":-1,\"RESOLVEUSERNAME\":-1,\"SCHEMA\":-1,\"SCRIPT_ON_CONNECTOR\":-1,\"SCRIPT_ON_RESOURCE\":-1,\"SEARCH\":-1,\"SYNC\":-1,\"TEST\":-1,\"UPDATE\":-1,\"VALIDATE\":-1},\"poolConfigOption\":{\"maxIdle\":10,\"maxObjects\":10,\"maxWait\":150000,\"minEvictableIdleTimeMillis\":120000,\"minIdle\":1},\"resultsHandlerConfig\":{\"enableAttributesToGetSearchResultsHandler\":true,\"enableCaseInsensitiveFilter\":false,\"enableFilteredResultsHandler\":false,\"enableNormalizingResultsHandler\":false}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
