{
  "log": {
    "_recordingName": "EnvCertificatesOps/deleteCertificate()/2: Delete existing active and live certificate - error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fa044e629edc89bd7c75cf13ae537101",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-094b98be-e88d-4a47-b950-c8dccc420013"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 376,
            "text": "{\"active\":true,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-094b98be-e88d-4a47-b950-c8dccc420013\",\"issuer\":\"CN=frodo-dev6.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev6.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a8ef2470-173c-4c04-86b6-d3ddfe6c2d55/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      },
      {
        "_id": "644e485662968175e166e15d4ef2b663",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-094b98be-e88d-4a47-b950-c8dccc420013"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 146,
            "text": "{\"code\":400,\"message\":\"Cannot delete an active certificate, de-activate the certificate first and allow it to be removed from the loadbalancer.\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "0619317c-4300-4c17-8873-9d682384185b/0"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 101,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
