{
  "log": {
    "_recordingName": "PolicyOps/updatePolicy()/2: Update existing policy [FrodoTestPolicy4]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "79f61d141acdf3b2eb8f3cbd8a2e9b47",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-70036fde-aba1-4a32-858a-a6d81ac8756b"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..kh9wrG-X9_i6KaB4MPSC1g.OUSQxNIJoDjtq64gmGlhfC35Er5Rylt4cm[...]
