{
  "log": {
    "_recordingName": "PolicySetOps/getPolicySet()/1: Get existing policy set [FrodoTestPolicySet1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "619ea415055dc01a1ebc60ea8bbef1c6",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0cded1b1-ba2b-4eed-bb78-6fd509c770aa"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..t2dFq82o1q1ZugXkx8pfRQ.mbxJ4V-bPGmHoAnYxXhRil2WQDju2fAniv[...]
