{
  "log": {
    "_recordingName": "IgaSodPolicyOps/importPolicy()/2: Import by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9a7ddf701e6c007f695d74023671e6f5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"frodo-test-delete-by-id\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"a2222222-2222-2222-2222-222222222222\",\"scheduleId\":\"policySchedulea2222222222222222222222222222222\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 433,
            "text": "{\"name\":\"frodo-test-delete-by-id\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"ba8e8727-fb36-445d-9867-34379513c3e7\",\"scheduleId\":\"policySchedulea2222222222222222222222222222222\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1b1-hJ+s7bbQ7ZJN7eu5Y3Zr4rc3XE4\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "350be028-b2db-48da-a857-dba7cd7af6d9"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1868,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
