{
  "log": {
    "_recordingName": "PolicySetOps/readPolicySet()/2: Get non-existing policy set [DoesNotExist]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4ccd13327f04ac3c8076df1a1612ef22",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3c0eef32-677c-4cd9-80df-3253e0b2c493"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/applications/DoesNotExist"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 96,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Unable to retrieve application under realm /alpha.\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3c0eef32-677c-4cd9-80df-3253e0b2c493"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 63,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
