{
  "log": {
    "_recordingName": "ResourceTypeOps/importResourceTypeByName()/3: Do not import resource type by name [FrodoTestResourceType7 - 3d66c934-9bab-4363-973b-f5502245decc] with no changes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "28a194e6100b73bc173fe314ed6f8072",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/3d66c934-9bab-4363-973b-f5502245decc"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 438,
            "text": "{\"uuid\":\"3d66c934-9bab-4363-973b-f5502245decc\",\"name\":\"FrodoTestResourceType7\",\"description\":\"Frodo Test Resource Type Seven\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064,ou=user,ou=am-config\",\"creationDate\":1788909638970,\"lastModifiedBy\":\"id=9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064,ou=user,ou=am-config\",\"lastModifiedDate\":1788909638970}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74,
      },
      {
        "_id": "3bf2600645df04ae28dd7e2e1d857a71",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uuid\":\"3d66c934-9bab-4363-973b-f5502245decc\",\"name\":\"FrodoTestResourceType7\",\"description\":\"test new description\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/3d66c934-9bab-4363-973b-f5502245decc"
        },
        "response": {
          "content[...]
