{
  "log": {
    "_recordingName": "TelemetryOps/Telemetry lifecycle/Import, export, update, read, and delete Splunk exporter by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d3a6aff5a22f5b6f16abe0646513cdc5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"frodo-test-splunk-1\",\"endpoint\":\"https://example.com:8088\",\"sources\":[\"am-access\"],\"token\":\"test-token-1\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry/splunk/frodo-test-splunk-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 102,
            "text": "{\"endpoint\":\"https://example.com:8088\",\"id\":\"frodo-test-splunk-1\",\"sources\":[\"am-access\"],\"token\":\"\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 740,
      },
      {
        "_id": "57bf757514e1f173e18a166243bfc9a2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 125,
            "text": "{\"otlp\":[],\"splunk\":[{\"endpoint\":\"https://example.com:8088\",\"id\":\"frodo-test-splunk-1\",\"sources\":[\"am-access\"],\"token\":\"\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
[...]
