{
  "log": {
    "_recordingName": "EnvCertificatesOps/deactivateCertificate()/2: Deactivate existing certificate and wait until offline - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "966b9d343aa2942072053bea96fe7d6d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-c0bc87aa-54eb-42be-bbf6-75d3b64a4755"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 379,
            "text": "{\"active\":false,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-c0bc87aa-54eb-42be-bbf6-75d3b64a4755\",\"issuer\":\"CN=frodo-dev9a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev9a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "d837caa1-213a-4d82-ba4e-5c8ccb83dde8/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 109,
      },
      {
        "_id": "e7bd0b69a91046d574f02dabaa79318d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "G[...]
