{
  "log": {
    "_recordingName": "AgentApi/getAgents()/1: Get all agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "abb8dc5f0f4da1e05f6b5cd3a70c769d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-371c8ffa-0d4b-4133-864f-c42850d165bd"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 54312,
            "text": "{\"result\":[{\"miscWebAgentConfig\":{\"anonymousUserId\":\"anonymous\",\"profileAttributesCookieMaxAge\":300,\"urlJsonResponse\":[\"\"],\"caseInsensitiveUrlComparison\":true,\"compositeAdviceRedirect\":false,\"compositeAdviceEncode\":false,\"addCacheControlHeader\":true,\"anonymousUserEnabled\":false,\"invalidUrlRegex\":null,\"ignorePathInfo\":false,\"invertUrlJsonResponse\":false,\"statusCodeJsonResponse\":202,\"headerJsonResponse\":{},\"encodeSpecialCharsInCookies\":false,\"gotoParameterName\":\"goto\",\"encodeUrlSpecialCharacters\":false,\"mineEncodeHeader\":0,\"profileAttributesCookiePrefix\":\"HTTP_\"},\"advancedWebAgentConfig\":{\"overrideRequestHost\":true,\"pdpSkipPostUrl\":[\"\"],\"pdpStickySessionValue\":null,\"postDataPreservation\":false,\"hostnameToIpAddress\":[],\"showPasswordInHeader\":false,\"overrideRequestProtocol\":true,\"clientIpHeader\":null,\"replayPasswordKey\":null,\"customProperties\":[],\"postDataCachePeriod\":10,\"retainSessionCache\":false,\"pdpJavascriptRepost\":false,\"pdpStickySessionMode\":\"OFF\",\"overrideRequestPort\":true,\"apacheAuthDirectives\":null,\"clientHostnameHeader\":null,\"fragmentRedirectEnabled\":false,\"pdpStickySessionCookieName\":null,\"logonAndImpersonation\":false},\"ssoWebAgentConfig\":{\"cookieResetList\":[\"\"],\"cdssoRedirectUri\":\"agent/cdsso-oauth2\",\"persistentJwtCookie\":false,\"secureCookies\":false,\"acceptSsoToken\":false,\"cookieResetOnRedirect\":false,\"sameSite\":null,\"cdssoCookieDomain\":[\"\"],\"cookieResetEnabled\":false,\"cookieName\":\"iPlanetDirectoryPro\",\"multivaluePreAuthnCookie\":false,\"httpOnly\":true},\"amServicesWebAgent\":{\"policyClockSkew\":0,\"enableLogoutRegex\":false,\"policyEvaluationRealm\":\"/alpha\",\"fetchPoliciesFromRootResource\":false,\"logoutUrlRegex\":null,\"conditionalLoginUrl\":[\"mytestrun.com|https://idc.scheuber.io:443/am/oauth2/authorize?realm=/alpha\"],\"customLoginMode\":0,\"invalidateLogoutSession\":true,\"logoutResetCookies\":[\"\"],\"logoutRedirectUrl\":null,\"regexConditionalLoginUrl\":[\"\"],\"policyCachePollingInterval\":3,\"regexConditionalLoginPattern\":[\"\"],\"logoutRedirectDisabled\":false,\"retrieveClientHostname\":false,\"applicationLogoutUrls\":[\"\"],\"userIdParameterType\":\"session\",\"publicAmUrl\":null,\"userIdParameter\":\"UserToken\",\"amLoginUrl\":[\"https://idc.scheuber.io/login?realm=/alpha\"],\"policyEvaluationApplication\":\"apps\",\"amLogoutUrl\":[\"https://idc.scheuber.io:443/am/UI/Logout\"],\"ssoCachePollingInterval\":3},\"applicationWebAgentConfig\":{\"profileAttributeFetchMode\":\"NONE\",\"clientIpValidation\":false,\"notEnforcedIpsRegex\":false,\"continuousSecurityCookies\":{},\"fetchAttributesForNotEnforcedUrls\":false,\"ignorePathInfoForNotEnforcedUrls\":true,\"responseAttributeFetchMode\":\"NONE\",\"attributeMultiValueSeparator\":\"|\",\"profileAttributeMap\":{},\"sessionAttributeFetchMode\":\"NONE\",\"continuousSecurityHeaders\":{},\"notEnforcedIpsList\":[\"\"],\"responseAttributeMap\":{},\"notEnforcedUrls\":[\"\",\"https://apps.mytestrun.com/app1/*\"],\"sessionAttributeMap\":{},\"notEnforcedUrlsRegex\":false,\"invertNotEnforcedUrls\":false,\"notEnforcedIps\":[\"\"]},\"globalWebAgentConfig\":{\"agentDebugLevel\":\"Info\",\"fqdnDefault\":\"apps.mytestrun.com\",\"webSocketConnectionIntervalInMinutes\":30,\"status\":\"Active\",\"configurationPollingInterval\":60,\"auditLogLocation\":\"ALL\",\"fqdnCheck\":false,\"amLbCookieEnable\":false,\"fqdnMapping\":{},\"accessDeniedUrl\":null,\"resetIdleTime\":false,\"ssoOnlyMode\":false,\"auditAccessType\":\"LOG_BOTH\",\"agentgroup\":null,\"notificationsEnabled\":true,\"agentUriPrefix\":\"https://apps.mytestrun.com:443/amagent\",\"disableJwtAudit\":false,\"jwtName\":\"am-auth-jwt\",\"repositoryLocation\":\"centralized\",\"cdssoRootUrl\":[\"agentRootURL=https://apps.mytestrun.com:443/\"],\"agentConfigChangeNotificationsEnabled\":true,\"jwtAuditWhitelist\":null},\"_id\":\"FrodoTestWebAgent1\",\"_type\":{\"_id\":\"WebAgent\",\"name\":\"Web Agents\",\"collection\":true}},{\"miscWebAgentConfig\":{\"anonymousUserId\":\"anonymous\",\"profileAttributesCookieMaxAge\":300,\"urlJsonResponse\":[\"\"],\"caseInsensitiveUrlComparison\":true,\"compositeAdviceRedirect\":false,\"compositeAdviceEncode\":false,\"addCacheControlHeader\":false,\"anonymousUserEnabled\":false,\"invalidUrlRegex\":null,\"ignorePathInfo\":false,\"invertUrlJsonResponse\":false,\"statusCodeJsonResponse\":202,\"headerJsonResponse\":{},\"encodeSpecialCharsInCookies\":false,\"gotoParameterName\":\"g[...]
