{
  "log": {
    "_recordingName": "NodeApi/putNode()/2: Update existing node [b726262c-641e-4fa5-b276-98e129b44cd9 - PatchObjectNode]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e6cf499c0a4cedf40859b63ecb0f3b82",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a4836d5-7283-4c03-9157-d00933eee209"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"b726262c-641e-4fa5-b276-98e129b44cd9\",\"identityResource\":\"managed/user\",\"patchAsObject\":false,\"ignoredFields\":[],\"identityAttribute\":\"userName\",\"_type\":{\"_id\":\"PatchObjectNode\",\"name\":\"Patch Object\",\"collection\":true},\"_outcomes\":[{\"id\":\"PATCHED\",\"displayName\":\"Patched\"},{\"id\":\"FAILURE\",\"displayName\":\"Failed\"}]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/PatchObjectNode/b726262c-641e-4fa5-b276-98e129b44cd9"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 358,
            "text": "{\"_id\":\"b726262c-641e-4fa5-b276-98e129b44cd9\",\"_rev\":\"-1625726187\",\"identityResource\":\"managed/user\",\"patchAsObject\":false,\"ignoredFields\":[],\"identityAttribute\":\"userName\",\"_type\":{\"_id\":\"PatchObjectNode\",\"name\":\"Patch Object\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"PATCHED\",\"displayName\":\"Patched\"},{\"id\":\"FAILURE\",\"displayName\":\"Failed\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1625726187\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a4836d5-7283-4c03-9157-d00933eee209"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
