{
  "log": {
    "_recordingName": "VariablesApi/putVariable()/3: Create new array variable: esv-frodo-test-variable6 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9190ac0f1d81096f3d7b046befd334c8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"WyJvbmUiLCJ0d28iLCJ0aHJlZSIsImZvdXIiLCJmaXZlIiw2LDcsOCw5LDEwXQ==\",\"description\":\"Frodo Test Variable Six (array) Description\",\"expressionType\":\"array\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable6"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 315,
            "text": "{\"_id\":\"esv-frodo-test-variable6\",\"description\":\"Frodo Test Variable Six (array) Description\",\"expressionType\":\"array\",\"lastChangeDate\":\"2023-09-30T19:40:54.932Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"WyJvbmUiLCJ0d28iLCJ0aHJlZSIsImZvdXIiLCJmaXZlIiw2LDcsOCw5LDEwXQ==\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 913,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
