{
  "log": {
    "_recordingName": "AgentOps/importAgents()/1: Import all agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ac5eb927f1f6e1af146277bbfc6c9351",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-195702d5-6ea7-4c3b-85cb-8823d7dbfd85"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"userpassword\":null,\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/FrodoOpsTestGatewayAgent3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 307,
            "text": "{\"_id\":\"FrodoOpsTestGatewayAgent3\",\"_rev\":\"899690511\",\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"899690511\""
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/FrodoOpsTestGatewayAgent3"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-195702d5-6ea7-4c3b-85cb-8823d7dbfd85"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 73,
      },
      {
        "_id": "8202ba714a8d2611d9043706aa68fcc1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-195702d5-6ea7-4c3b-85cb-8823d7dbfd85"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ssoJ2EEAgentConfig\":{\"encodeCookies\":{\"inherited\":false,\"value\":false},\"cookieResetDomains\":{\"inherited\":false,\"value\":{}},\"authExchangeUri\":{\"inherited\":false},\"authExchangeCookieName\":{\"inherited\":false},\"setCookieInternalMap\":{\"inherited\":false,\"value\":{}},\"excludedUserAgentsList\":{\"inherited\":false,\"value\":[]},\"cdssoRedirectUri\":{\"inherited\":false,\"value\":\"/agentapp/post-authn-redirect\"},\"cookieResetPaths\":{\"inherited\":false,\"value\":{}},\"cdssoSecureCookies\":{\"inherited\":false,\"value\":false},\"acceptSsoTokenEnabled\":{\"inherited\":false,\"value\":false},\"acceptSsoTokenDomainList\":{\"inherited\":false,\"value\":[\"\"]},\"cdssoDomainList\":{\"inherited\":false,\"value\":[\"\"]},\"setCookieAttributeMap\":{\"inherited\":false,\"value\":{}},\"cookieResetEnabled\":{\"inherited\":false,\"value\":false},\"cookieResetNames\":{\"inherited\":false,\"value\":[\"\"]},\"acceptIPDPCookie\":{\"inherited\":false,\"value\":false},\"httpOnly\":{\"inherited\":false,\"value\":true}},\"amServicesJ2EEAgent\":{\"urlPolicyEnvPostParameters\":{\"inherited\":false,\"value\":[\"\"]},\"policyEvaluationRealm\":{\"inherited\":false,\"value\":\"/alpha\"},\"authServiceHost\":{\"inherited\":false,\"value\":\"openam-volker-dev.forgeblocks.com\"},\"policyNotifications\":{\"inherited\":false,\"value\":true},\"conditionalLoginUrl\":{\"inherited\":false,\"value\":[\"|?realm=/alpha\"]},\"customLoginEnabled\":{\"inherited\":false,\"value\":false},\"legacyLoginUrlList\":{\"inherited\":false,\"value\":[\"\"]},\"agentAdviceEncode\":{\"inherited\":false,\"value\":false},\"authServicePort\":{\"inherited\":false,\"value\":443},\"urlPolicyEnvGetParameters\":{\"inherited\":false,\"value\":[\"\"]},\"restrictToRealm\":{\"inherited\":false,\"value\":{}},\"urlPolicyEnvJsessionParameters\":{\"inherited\":false,\"value\":[\"\"]},\"amLoginUrl\":{\"inherited\":false,\"value\":[]},\"conditionalLogoutUrl\":{\"inherited\":false,\"value\":[\"\"]},\"authServiceProtocol\":{\"inherited\":false,\"value\":\"https\"},\"policyEvaluationApplication\":{\"inherited\":false,\"value\":\"apps\"},\"authSuccessRedirectUrl\":{\"inherited\":false,\"value\":false},\"overridePolicyEvaluationRealmEnabled\":{\"inherited\":false,\"value\":false}},\"applicationJ2EEAgentConfig\":{\"profileAttributeFetchMode\":{\"inherited\":false,\"value\":\"NONE\"},\"notEnforcedUris\":{\"inherited\":false,\"value\":[\"\"]},\"notEnforcedIpsCacheEnabled\":{\"inherited\":false,\"value\":true},\"logoutIntrospection\":{\"inherited\":false,\"value\":false},\"invertNotEnforcedUris\":{\"inherited\":false,\"value\":false},\"cookieAttributeUrlEncoded\":{\"inherited\":false,\"value\":true},\"cookieAttributeMultiValueSeparator\":{\"inherited\":false,\"value\":\"|\"},\"notEnforcedRuleCompoundSeparator\":{\"inherited\":false,\"value\":\"|\"},\"logoutRequestParameters\":{\"inherited\":false,\"value\":{}},\"resourceAccessDeniedUri\":{\"inherited\":false,\"value\":{}},\"continuousSecurityCookies\":{\"inherited\":false,\"value\":{}},\"responseAttributeFetchMode\":{\"inherited\":false,\"value\":\"NONE\"},\"notEnforcedUrisCacheEnabled\":{\"inherited\":false,\"value\":true},\"headerAttributeDateFormat\":{\"inherited\":false,\"value\":\"EEE, d MMM yyyy hh:mm:ss z\"},\"profileAttributeMap\":{\"inherited\":false,\"value\":{}},\"sessionAttributeFetchMode\":{\"inherited\":false,\"value\":\"NONE\"},\"continuousSecurityHeaders\":{\"inherited\":false,\"value\":{}},\"responseAttributeMap\":{\"inherited\":false,\"value\":{}},\"notEnforcedUrisCacheSize\":{\"inherited\":false,\"value\":1000},\"invertNotEnforcedIps\":{\"inherited\":false,\"value\":false},\"sessionAttributeMap\":{\"inherited\":false,\"value\":{}},\"clientIpValidationRange\":{\"inherited\":false,\"value\":{}},\"notEnforcedIpsCacheSize\":{\"inherited\":false,\"value\":1000},\"clientIpValidationMode\":{\"inherited\":false,\"value\":{\"\":\"OFF\"}},\"notEnforcedFavicon\":{\"inherited\":false,\"value\":true},\"logoutEntryUri\":{\"inherited\":false,\"value\":{}},\"notEnforcedIps\":{\"inherited\":false,\"value\":[\"\"]},\"applicationLogoutUris\":{\"inherited\":false,\"value\":{}}},\"globalJ2EEAgentConfig\":{\"userpassword\":null,\"repositoryLocation\":\"centralized\",\"userTokenName\":{\"inherited\":false,\"value\":\"UserToken\"},\"fqdnDefault\":{\"inherited\":false,\"value\":\"apps2.mytestrun.com\"},\"recheckAmUnavailabilityInSeconds\":{\"inherited\":false,\"value\":5},\"httpSessionBinding\":{\"inherited\":false,\"value\":true},\"webSocketConnectionIntervalInMinutes\":{\"inherited\":false,\"value\":30},\"localAuditLogRotation\":{\"inherited\":false,\"value\":false},\"filterMode\":{\"inherited\":false,\"value\":{\"\":\"URL_POLICY\"}},\"debugLogfileRotationSize\":{\"inherited\":false,\"value\":52428800},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"debugLevel\":{\"inherited\":false,\"value\":\"message\"},\"lbCookieName\":{\"inherited\":false,\"value\":\"amlbcookie\"},\"auditLogLocation\":{\"inherited\":false,\"value\":\"ALL\"},\"lbCookieEnabled\":{\"inherited\":false,\"value\":false},\"userPrincipalFlag\":{\"inherited\":false,\"value\":false},\"fqdnCheck\":{\"inherited\":false,\"value\":false},\"preAuthCookieMaxAge\":{\"inherited\":false,\"value\":300},\"localAuditRotationSize\":{\"inherited\":false,\"value\":52428800},\"fqdnMapping\":{\"inherited\":false,\"value\":{}},\"debugLogfileRotationMinutes\":{\"inherited\":false,\"value\":-1},\"loginAttemptLimit\":{\"inherited\":false,\"value\":0},\"auditAccessType\":{\"inherited\":false,\"value\":\"LOG_NONE\"},\"redirectAttemptLimitCookieName\":{\"inherited\":false,\"value\":\"amFilterRDParam\"},\"debugLogfileRetentionCount\":{\"inherited\":false,\"value\":-1},\"configurationReloadInterval\":{\"inherited\":false,\"value\":10},\"debugLogfileSuffix\":{\"inherited\":false,\"value\":\"-yyyy.MM.dd-HH.mm.ss\"},\"userAttributeName\":{\"inherited\":false,\"value\":\"uid\"},\"localAuditLogfileRetentionCount\":{\"inherited\":false,\"value\":-1},\"customResponseHeader\":{\"inherited\":false,\"value\":{}},\"redirectAttemptLimit\":{\"inherited\":false,\"value\":0},\"userMappingMode\":{\"inherited\":false,\"value\":\"USER_ID\"},\"jwtName\":{\"inherited\":false,\"value\":\"am-auth-jwt\"},\"loginAttemptLimitCookieName\":{\"inherited\":false,\"value\":\"amFilterParam\"},\"cdssoRootUrl\":{\"inherited\":false,\"value\":[\"agentRootURL=http://localhost:8080/\",\"agentRootURL=https://apps2.mytestrun.com:443/\"]},\"agentConfigChangeNotificationsEnabled\":{\"inherited\":false,\"value\":false},\"debugLogfilePrefix\":{\"inherited\":false},\"preAuthCookieName\":{\"inherited\":false,\"value\":\"amFilterCDSSORequest\"}},\"advancedJ2EEAgentConfig\":{\"postDataStickySessionKeyValue\":{\"inherited\":false},\"xssDetectionRedirectUri\":{\"inherited\":false,\"value\":{}},\"postDataCacheTtlMin\":{\"inherited\":false,\"value\":5},\"jwtCacheSize\":{\"inherited\":false,\"value\":5000},\"postDataPreservation\":{\"inherited\":false,\"value\":false},\"policyCacheSize\":{\"inherited\":false,\"value\":5000},\"postDataPreserveCacheEntryMaxEntries\":{\"inherited\":false,\"value\":1000},\"postDataPreserveCacheEntryMaxTotalSizeMb\":{\"inherited\":false,\"value\":-1},\"ssoExchangeCacheSize\":{\"inherited\":false,\"value\":100},\"sessionCacheTTL\":{\"inherited\":false,\"value\":15},\"idleTimeRefreshWindow\":{\"inherited\":false,\"value\":1},\"ssoExchangeCacheTTL\":{\"inherited\":false,\"value\":5},\"possibleXssCodeElements\":{\"inherited\":false,\"value\":[\"\"]},\"alternativeAgentPort\":{\"inherited\":false},\"policyClientPollingInterval\":{\"inherited\":false,\"value\":3},\"missingPostDataPreservationEntryUri\":{\"inherited\":false,\"value\":[\"\"]},\"alternativeAgentProtocol\":{\"inherited\":false},\"clientIpHeader\":{\"inherited\":false},\"jwtCacheTTL\":{\"inherited\":false,\"value\":30},\"customProperties\":{\"inherited\":false,\"value\":[]},\"policyCachePerUser\":{\"inherited\":false,\"value\":50},\"expiredSessionCacheTTL\":{\"inherited\":false,\"value\":20},\"fragmentRelayUri\":{\"inherited\":false},\"postDataStickySessionMode\":{\"inherited\":false,\"value\":\"URL\"},\"alternativeAgentHostname\":{\"inherited\":false},\"expiredSessionCacheSize\":{\"inherited\":false,\"value\":500},\"clientHostnameHeader\":{\"inherited\":false},\"monitoringToCSV\":{\"inherited\":false,\"value\":false}},\"miscJ2EEAgentConfig\":{\"legacyUserAgentList\":{\"inherited\":false,\"value\":[\"Mozilla/4.7*\"]},\"loginReasonMap\":{\"inherited\":false,\"value\":{}},\"authFailReasonParameterRemapper\":{\"inherited\":false,\"value\":{}},\"agent302RedirectStatusCode\":{\"inherited\":false,\"value\":200},\"loginReasonParameterName\":{\"inherited\":false},\"gotoUrl\":{\"inherited\":false},\"localeLanguage\":{\"inherited\":false,\"value\":\"en\"},\"authFailReasonParameterName\":{\"inherited\":false},\"unwantedHttpUrlParams\":{\"inherited\":false,\"value\":[\"\"]},\"agent302RedirectContentType\":{\"inherited\":false,\"value\":\"application/json\"},\"agent302RedirectEnabled\":{\"inherited\":false,\"value\":true},\"legacyUserAgentSupport\":{\"inherited\":false,\"value\":false},\"wantedHttpUrlParams\":{\"inherited\":false,\"value\":[\"\"]},\"ignorePathInfo\":{\"inherited\":false,\"value\":false},\"agent302RedirectInvertEnabled\":{\"inherited\":false,\"value\":false},\"wantedHttpUrlRegexParams\":{\"inherited\":false,\"value\":[\"\"]},\"localeCountry\":{\"inherited\":false,\"value\":\"US\"},\"agent302RedirectHttpData\":{\"inherited\":false,\"value\":\"{redirect:{requestUri:%REQUEST_URI%,requestUrl:%REQUEST_URL%,targetUrl:%TARGET%}}\"},\"agent302RedirectNerList\":{\"inherited\":false,\"value\":[\"\"]},\"legacyRedirectUri\":{\"inherited\":false,\"value\":\"/app1/sunwLegacySupportURI\"},\"portCheckFile\":{\"inherited\":false,\"value\":\"PortCheckContent.txt\"},\"authFailReasonUrl\":{\"inherited\":false},\"gotoParameterName\":{\"inherited\":false,\"value\":\"goto\"},\"portCheckSetting\":{\"inherited\":false,\"value\":{\"443\":\"https\"}},\"unwantedHttpUrlRegexParams\":{\"inherited\":false,\"value\":[\"\"]},\"portCheckEnabled\":{\"inherited\":false,\"value\":false}},\"_type\":{\"_id\":\"J2EEAgent\",\"name\":\"J2EE Agents\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/J2EEAgent/FrodoOpsTestJavaAgent3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 9183,
            "text": "{\"_id\":\"FrodoOpsTestJavaAgen[...]
