{
  "log": {
    "_recordingName": "NodeOps/createNode()/1: Create new node with id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0c23ba5766dbcd6dd561c65f46a01508",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8bc9a033-edfe-4476-8732-bbff992f5a99"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/SetStateNode/5227de7a-02db-4f25-858e-c8d4f0e0b600"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 55,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Not Found\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8bc9a033-edfe-4476-8732-bbff992f5a99"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 68,
      },
      {
        "_id": "ed254f287d8b017d49e56318547b172a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8bc9a033-edfe-4476-8732-bbff992f5a99"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
  [...]
