{
  "log": {
    "_recordingName": "StartupOps/Phase 1/applyUpdates()/1: Apply updates without waiting",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "701e5d48c4fb8ab58936f4e55b27b465",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/startup"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 26,
            "text": "{\"restartStatus\":\"ready\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "3e64b533-af88-40d3-bd63-d9fd0a2b791a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 270,
      },
      {
        "_id": "780c072ae487ecf3639e0672ad0ded04",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": []
          },
          "queryString": [
            {
              "name": "_action",
              "value": "restart"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/startup?_action=restart"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 31,
            "text": "{\"restartStatus\":\"restarting\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "955f7ace-b21a-466a-ab0c-bc418a1137cf"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 273,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
