{
  "log": {
    "_recordingName": "NodeApi/getCustomNode()/2: Get non-existing custom node [11111111111111111111111111111111-1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f3d0ad4d6248ae44e695553bb05bac8d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type/11111111111111111111111111111111-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 122,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Node Type with resource ID 11111111111111111111111111111111-1 does not exist\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 80,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
