{
  "log": {
    "_recordingName": "EnvCertificatesOps/deleteCertificate()/1: Delete existing inactive certificate - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "be7c1731112e4764c913fdbc5e1d1088",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-d4a09ab8-c0ed-4310-9618-6cf3122386a2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 378,
            "text": "{\"active\":false,\"expireTime\":\"2025-08-06T02:48:26Z\",\"id\":\"ccrt-d4a09ab8-c0ed-4310-9618-6cf3122386a2\",\"issuer\":\"CN=frodo-dev3.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev3.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:26Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "df0cb62e-3707-48c3-a4b5-02c1aacd17bb/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 163,
      },
      {
        "_id": "86d66518a3291954d696a4d3915c1a45",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-d4a09ab8-c0ed-4310-9618-6cf3122386a2"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "bb32d812-844f-467c-a17d-8d0321de986c/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1555,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
