{
  "log": {
    "_recordingName": "OAuth2ClientOps/exportOAuth2Clients()/1: Export all oauth2 clients",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "021b4afb5ca0748125293d177c012d67",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6478be25-26c0-4edb-9956-e763a7f77c5c"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..nnrCH7QSgUq3nfj0yk1yzg.Nmn6h-AljKZwgQrIwDQnJONPp4pbMc-cz-[...]
