{
  "log": {
    "_recordingName": "IgaEventOps/deleteEvent()/2: Delete non-existing event by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "30a18428cb9c0ea142fb1a4572e31667",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/event/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find event with id: 11111111-1111-1111-1111-111111111111\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-+c41sID9PH/zY1agUz4oXSsl/vE\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "3fd50be3-5e0d-4763-a00f-5246b5a51b73"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 2140,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
