{
  "log": {
    "_recordingName": "JourneyOps/importJourney()/1: Import journey 'FrodoTestJourney4' w/o dependencies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bcb5ab6b1ab20ea24623fb37acc8a589",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0a529e1e-9749-4122-bed0-720efd56dbcf"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"c5c121b8-e5e9-4125-ac38-27066bda75e6\",\"usernameAttribute\":\"userName\",\"validateInput\":false,\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedUsernameNode/c5c121b8-e5e9-4125-ac38-27066bda75e6"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 260,
            "text": "{\"_id\":\"c5c121b8-e5e9-4125-ac38-27066bda75e6\",\"_rev\":\"-1492163973\",\"usernameAttribute\":\"userName\",\"validateInput\":false,\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1492163973\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0a529e1e-9749-4122-bed0-720efd56dbcf"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 73,
      },
      {
        "_id": "1f657a4787f8aab80b4db63513c634c9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0a529e1e-9749-4122-bed0-720efd56dbcf"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"659704c7-d4e6-47a8-a90f-3da1ef8bbd09\",\"passwordAttribute\":\"password\",\"validateInput\":false,\"_type\":{\"_id\":\"ValidatedPasswordNode\",\"name\":\"Platform Password\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedPasswordNode/659704c7-d4e6-47a8-a90f-3da1ef8bbd09"
        },
        "response": {
          "content[...]
