{
  "log": {
    "_recordingName": "PolicySetApi/deletePolicySet()/2: Delete non-existing policy set [DoesNotExist]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b47faa62b58beb9c8da0692491d34102",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6faa00e1-a106-4a98-82c9-10b685573a57"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..LDl-0pUnq7yLTGqKi29-5g.3Vmzq8nOFmV77zR9kaLG-3pmA9HRujVigh[...]
