{
  "log": {
    "_recordingName": "NodeApi/version-aware node api/reads versioned node type [ValidatedUsernameNode v2.0]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b12a73e6583c42dd093685ba2c701260",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=3.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getType"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedUsernameNode/2.0?_action=getType"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 343,
            "text": "{\"_id\":\"2.0\",\"name\":\"Platform Username\",\"collection\":true,\"tags\":[\"identity management\",\"basic authentication\",\"basic authn\"],\"metadata\":{\"tags\":[\"identity management\",\"basic authentication\",\"basic authn\"]},\"help\":\"Prompts the user to enter their username and stores the input in a configurable state attribute for platform nodes to consume.\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=3.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 73,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
