{
  "log": {
    "_recordingName": "EnvContentSecurityPolicyOps/updateEnforcedContentSecurityPolicy()/1: Set enforced content security policy - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a21a43ef129ba8be577e6537966ebd09",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":true,\"directives\":{\"frame-ancestors\":[\"'self'\"],\"referrer\":[\"'no-referrer'\",\"'none-when-downgrade'\",\"'origin'\",\"'origin-when-cross-origin'\",\"'unsafe-url'\"],\"sandbox\":[\"'allow-forms'\",\"'allow-same-origin'\",\"'allow-scripts'\",\"'allow-top-navigation'\",\"'allow-popups'\",\"'allow-pointer-lock'\"],\"script-src\":[\"'self'\",\"'unsafe-eval'\",\"'unsafe-inline'\"]}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/content-security-policy/enforced"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 359,
            "text": "{\"active\":true,\"directives\":{\"frame-ancestors\":[\"'self'\"],\"referrer\":[\"'no-referrer'\",\"'none-when-downgrade'\",\"'origin'\",\"'origin-when-cross-origin'\",\"'unsafe-url'\"],\"sandbox\":[\"'allow-forms'\",\"'allow-same-origin'\",\"'allow-scripts'\",\"'allow-top-navigation'\",\"'allow-popups'\",\"'allow-pointer-lock'\"],\"script-src\":[\"'self'\",\"'unsafe-eval'\",\"'unsafe-inline'\"]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "af90262e-1d8b-4054-9835-c46d3619b0e1/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 246,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
