{
  "log": {
    "_recordingName": "IgaCertificationTemplateOps/deleteCertificationTemplate()/2: Delete non-existing certification template by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "46af7757934ad714ebfcedc3a8b97baf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/certification/template/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 80,
            "text": "{\"message\":\"Cannot find template with id 11111111-1111-1111-1111-111111111111.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"50-szuAf1mYmIAH8KtZnpaQsGpMum8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "e74c48a8-465c-4491-8b8c-39529c960c88"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 98,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
