{
  "log": {
    "_recordingName": "EnvCustomDomainsOps/verifyCNAME()/1: Verify CNAME for custom domain frodo.mytest.run - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8e796b7cda247209678b40a6c39b3ea9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"frodo.mytest.run\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "verify"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/custom-domains?_action=verify"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "cc20f19c-8d5c-4adc-9ba7-81a93d97b530/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 42,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
