{
  "log": {
    "_recordingName": "IgaWorkflowOps/readWorkflowGroup()/2: Read non-existing workflow",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4c6e32af74625e17188c263842c5a01b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/workflow/testWorkflow2/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 59,
            "text": "{\"message\":\"Workflow with id: testWorkflow2 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3b-/AQRjnt+Ul+F43TtuSSqKzN6YOg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "03dee5cf-d56e-49b1-8e87-faefd9b39c35"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 497,
      },
      {
        "_id": "d9cf5c7821a6fcb855805fdba4cb7aab",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/workflow/testWorkflow2/published"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 59,
            "text": "{\"message\":\"Workflow with id: testWorkflow2 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3b-/AQRjnt+Ul+F43TtuSSqKzN6YOg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "7f3e87ff-072a-4fb9-8729-1831bcf61a35"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 438,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
