{
  "log": {
    "_recordingName": "IdmSystemOps/updateSystemObject()/1: Update system object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e7c1837fd9358b48e5f4a7063746fd0b",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "uid eq 'frodo3'"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_totalPagedResultsPolicy",
              "value": "EXACT"
            },
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__?_queryFilter=uid%20eq%20%27frodo3%27&_pageSize=1000&_totalPagedResultsPolicy=EXACT&_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 736,
            "text": "{\"result\":[{\"_id\":\"295b4b87-3719-4d51-8d13-52a9b712c938\",\"postalAddress\":[],\"cn\":[\"Frodo Test User 3\"],\"street\":[],\"sn\":[\"Test\"],\"userPassword\":[\"e1NTSEE1MTJ9VkhVTmpLK21hTkhmbUxsQzZGa2poaGdoQ3QzVDYxQUxpVWlzYjNhV2lnOWtTbnBya3ZBVzlxdmZGcmkxQkVTRXk4ZnMwakVza01wTmV5OGw0OEUrb2lJbU50QXJvdHdm\"],\"l\":[],\"description\":[\"Frodo Test User 3\"],\"objectClass\":[\"top\",\"inetOrgPerson\",\"organizationalPerson\",\"person\"],\"initials\":[],\"mobile\":[],\"postalCode\":[],\"__NAME__\":\"uid=frodo3,ou=People,dc=example,dc=com\",\"homePhone\":[],\"st\":[],\"telephoneNumber\":[],\"mail\":[\"frodo3@example.com\"],\"givenName\":[\"Frodo\"],\"uid\":[\"frodo3\"]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 92,
      },
      {
        "_id": "6106b3c3d77e4332e8d45b67f2fdd51c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            },
            {
              "name": "if-match",
              "value": "*"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"ec9c08e6-0d60-4c4f-9ab0-dd280a490db1\",\"cn\":[\"Frodo Test User 3\"],\"sn\":[\"Test\"],\"userPassword\":[\"UGFzc3dvcmQ=\"],\"description\":[\"Frodo Test User 3\"],\"__NAME__\":\"uid=frodo3,ou=People,dc=example,dc=com\",\"mail\":[\"frodo3@example.com\"],\"givenName\":[\"Frodo\"],\"uid\":[\"frodo3\"]}"
          },
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__/295b4b87-3719-4d51-8d13-52a[...]
