{
  "log": {
    "_recordingName": "PoliciesApi/deletePolicy()/1: Delete existing policy [FrodoTestPolicy4]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f1d2366f6b2814bc5c003264ae035361",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dbbc7796-99dc-46ed-834a-930e94b6543f"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/policies/FrodoTestPolicy4"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 37,
            "text": "{\"_id\":\"FrodoTestPolicy4\",\"_rev\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "etag",
              "value": "\"0\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dbbc7796-99dc-46ed-834a-930e94b6543f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 72,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
