{
  "log": {
    "_recordingName": "TelemetryOps/Telemetry lifecycle/Import, export, update, read, and delete all exporters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e15c5fedc63da40f84955def70557d15",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"frodo-test-otlp-3\",\"endpoint\":\"https://example.com/v1/logs\",\"sources\":[\"am-everything\"],\"type\":\"HTTP\",\"encoding\":\"JSON\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry/otlp/frodo-test-otlp-3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 128,
            "text": "{\"encoding\":\"JSON\",\"endpoint\":\"https://example.com/v1/logs\",\"id\":\"frodo-test-otlp-3\",\"sources\":[\"am-everything\"],\"type\":\"HTTP\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 793,
      },
      {
        "_id": "57bf757514e1f173e18a166243bfc9a2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 151,
            "text": "{\"otlp\":[{\"encoding\":\"JSON\",\"endpoint\":\"https://example.com/v1/logs\",\"id\":\"frodo-test-otlp-3\",\"sources\":[\"am-everything\"],\"type\":\"HTTP\"}],\"splunk\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 300,
      },
      {
 [...]
