{
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "plugins": ["prettier", "jest", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "env": {
    "jest": true,
    "jest/globals": true
  },
  "ignorePatterns": ["types", "cjs", "esm"]
}
