{
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier", "jest", "@typescript-eslint", "deprecation"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "prettier/prettier": ["error"],
    "deprecation/deprecation": "warn"
  },
  "env": {
    "jest": true,
    "jest/globals": true,
    "node": true
  },
  "ignorePatterns": [
    "types",
    "cjs",
    "esm",
    "src/**/*.test.ts",
    "src/**/*.test_.ts"
  ]
}
