{
  "log": {
    "_recordingName": "VariablesApi/getVariable()/1: Get existing variable: esv-frodo-test-variable1",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "91727670044db99db632fb6f8611dc7f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 284,
            "text": "{\"_id\":\"esv-frodo-test-variable1\",\"description\":\"Frodo Test Variable One Description\",\"expressionType\":\"string\",\"lastChangeDate\":\"2023-09-30T19:40:45.237Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"RnJvZG8gVGVzdCBWYXJpYWJsZSBPbmUgVmFsdWU=\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 452,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
