{
  "log": {
    "_recordingName": "JourneyOps/enableJourney()/1: Enable disabled journey 'FrodoTestJourney6'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e8a0eef4e7b1e5d6b53c75636e448bfa",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0cebd67-079c-4000-b07b-a3dbf73ea559"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestJourney6"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 823,
            "text": "{\"_id\":\"FrodoTestJourney6\",\"_rev\":\"-532542814\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"entryNodeId\":\"a2fda63a-859d-44c0-ba5e-ac0bd5d82040\",\"nodes\":{\"20dde5d1-fe72-473a-b811-c16fe753fef5\":{\"x\":455,\"y\":137.5,\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"nodeType\":\"DataStoreDecisionNode\",\"displayName\":\"Validate Credentials\"},\"a2fda63a-859d-44c0-ba5e-ac0bd5d82040\":{\"x\":210,\"y\":109,\"connections\":{\"outcome\":\"20dde5d1-fe72-473a-b811-c16fe753fef5\"},\"nodeType\":\"PageNode\",\"displayName\":\"Login Page\"}},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":155},\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":692,\"y\":230},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":692,\"y\":80}},\"description\":\"Frodo test journey\",\"enabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-532542814\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0cebd67-079c-4000-b07b-a3dbf73ea559"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 37,
      },
      {
        "_id": "84efab5064709778a8b8dfd9cd09facb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0cebd67-079c-4000-b07b-a3dbf73ea559"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"FrodoTestJourney6\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"entryNodeId\":\"a2fda63a-859d-44c0-ba5e-ac0bd5d82040\",\"nodes\":{\"20dde5d1-fe72-473a-b811-c16fe753fef5\":{\"x\":455,\"y\":137.5,\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"nodeType\":\"DataStoreDecisionNode\",\"displayName\":\"Validate Credentials\"}[...]
