{
  "log": {
    "_recordingName": "IgaWorkflowOps/deletePublishedWorkflow()/2: Delete non-existing published workflow by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c1bc531b0013bd0195110f7288d9b047",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/auto/orchestration/definition/testWorkflow4/published"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 38,
            "text": "Exception: argument \"content\" is null "
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "8145e523-084d-41a8-8287-e8255217ae14"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 202,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
