{
  "log": {
    "_recordingName": "IgaWorkflowOps/deletePublishedWorkflow()/2: Delete non-existing published workflow by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "da565ed44f5752b84d65ec6813e7d1c0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/workflow/testWorkflow4/published"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 49,
            "text": "{\"message\":\"Workflow must be in draft to update\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 151,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
