{
  "log": {
    "_recordingName": "JourneyOps/enableJourney()/2: Enable already enabled journey 'FrodoTestJourney7'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e99921c7d897bda0edd0be3fe7d433ed",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestJourney7"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 879,
            "text": "{\"_id\":\"FrodoTestJourney7\",\"_rev\":\"-185208157\",\"identityResource\":\"managed/alpha_user\",\"entryNodeId\":\"d6171ae2-903d-41cc-b851-af6414e56d56\",\"innerTreeOnly\":false,\"description\":\"Frodo test journey\",\"noSession\":false,\"mustRun\":false,\"enabled\":true,\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"nodes\":{\"d6171ae2-903d-41cc-b851-af6414e56d56\":{\"x\":210,\"y\":109,\"connections\":{\"outcome\":\"a9adc345-4fef-4d86-831a-9d8bc952f844\"},\"nodeType\":\"PageNode\",\"displayName\":\"Login Page\"},\"a9adc345-4fef-4d86-831a-9d8bc952f844\":{\"x\":455,\"y\":137.5,\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"nodeType\":\"DataStoreDecisionNode\",\"displayName\":\"Validate Credentials\"}},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":155},\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":692,\"y\":230},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":692,\"y\":80}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-185208157\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74,
      },
      {
        "_id": "264c118232872821168748aad7fe1b36",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"FrodoTestJourney7\",\"identityResource\":\"managed/alpha_user\",\"entryNodeId\":\"d6171ae2-903d-41cc-b851-af6414e56d56\",\"innerTreeOnly\":false,\"description\":\"Frodo test journey\",\"noSession\":false,\"mustRun\":false,\"enabled\":true,\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"nodes\":{\"d6171ae2-903d-41cc-b851-af6414e56d56\":{\"x\":210,\"y\":109,\"connections\":{\"outcome\":\"a9adc345-4fef-4d86-831a-9d8bc952f844\"},\"nodeType\"[...]
