{
  "log": {
    "_recordingName": "JourneyOps/enableJourney()/2: Enable already enabled journey 'FrodoTestJourney7'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e99921c7d897bda0edd0be3fe7d433ed",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c0382a63-61a6-4c0c-9b43-5874ab775e6e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..vSwwgYFU7WQvtKk79PBMHQ.rPcDGBjoYcC3z2NRAFgufjZUm6GxbNjxm5[...]
