{
  "log": {
    "_recordingName": "SecretStoreOps/Cloud Tests/updateSecretStore()/1: Update ESV secret store",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "38a4f12ab8d8f567f084e4dbf8055523",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-57dd44ac-93cd-4e12-b54f-067403dd39eb"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 247,
            "text": "{\"_id\":\"ESV\",\"_rev\":\"325689269\",\"project\":\"&{google.project.id}\",\"expiryDurationSeconds\":600,\"serviceAccount\":\"default\",\"secretFormat\":\"PEM\",\"_type\":{\"_id\":\"GoogleSecretManagerSecretStoreProvider\",\"name\":\"Google Secret Manager\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"325689269\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-57dd44ac-93cd-4e12-b54f-067403dd39eb"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 54,
      },
      {
        "_id": "fd8bff16994e23ef672e1c02e1cd32ea",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-57dd44ac-93cd-4e12-b54f-067403dd39eb"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV/mappings?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 353,
            "text": "{\"result\":[{\"_id\":\"am.services.oauth2.oidc.signing.EDDSA\",\"_rev\":\"77842068\",\"secretId\":\"am.services.oauth2.oidc.signing.EDDSA\",\"aliases\":[\"esv-test-signing-cert\"],\"_type\":{\"_id\":\"mappings\",\"name\":\"Mappings\",\"collection\":true}}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-57dd44ac-93cd-4e12-b54f-067403dd39eb"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 64,
      },
      {
        "_id": "608745e795d593e2edca552fa7bacad1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-57dd44ac-93cd-4e12-b54f-067403dd39eb"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"ESV\",\"_rev\":\"325689269\",\"project\":\"&{google.project.id}\",\"expiryDurationSeconds\":599,\"serviceAccount\":\"default\",\"secretFormat\":\"PEM\",\"_type\":{\"_id\":\"GoogleSecretManagerSecretStoreProvider\",\"name\":\"Google Secret Manager\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 114,
            "text": "{\"code\":403,\"reason\":\"Forbidden\",\"message\":\"This operation is not available in PingOne Advanced Identity Cloud.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 38,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
