{
  "log": {
    "_recordingName": "IgaGlossaryOps/deleteGlossarySchema()/1: Delete existing glossary schema by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "be10e3af77743e0d1727a9e51f2de690",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/2133dfb9-7af2-4543-bcc5-74a884053b18"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 462,
            "text": "{\"name\":\"testOrg\",\"description\":\"Test Organization Description\",\"displayName\":\"Test Organization Display Name\",\"type\":\"managedObject\",\"objectType\":\"/openidm/managed/assignment\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":false,\"allowedValues\":[],\"managedObjectType\":\"/openidm/managed/organization\",\"id\":\"2133dfb9-7af2-4543-bcc5-74a884053b18\",\"metadata\":{\"modifiedDate\":\"2026-01-21T21:25:56.185812715Z\",\"createdDate\":\"2026-01-21T21:25:56.185811775Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1ce-EpCbZiM7+EoZvFw1NkNrUZyEn2c\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 876,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
