{
  "log": {
    "_recordingName": "SecretStoreOps/Classic Tests/readSecretStoreSchema()/1: Read global secret store schema",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d0c4e1f4307580d7b8bbf65df7abcd07",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7ddf942c-ab50-4c1f-8be5-654d2e6ff40a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "schema"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/secrets/stores/EnvironmentAndSystemPropertySecretStore?_action=schema"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2480,
            "text": "{\"type\":\"object\",\"properties\":{\"format\":{\"title\":\"Value format\",\"description\":\"Indicates what format is used to store the secrets in the files. The available options are: <ul> <li>Plain text: the secrets are stored as UTF-8 encoded text.</li> <li>Base64 encoded: the secrets are stored as Base64 encoded binary values.</li> <li>Encrypted text: the plain text secrets are encrypted using AM's encryption key.</li> <li>Encrypted Base64 encoded: the Base64 encoded binary values are encrypted using AM's encryption key.</li>  <li>Encrypted with Google KMS: the secrets are encrypted using Google's Key Management Service.</li> <li>PEM encoded certificate or key: the secrets are certificates, keys, or passwords, in Privacy Enhanced Mail (PEM) format, such as those produced by OpenSSL and other common tools.</li> <li>Encrypted PEM: PEM-encoded objects that are encrypted with AM's server key.</li><li>Google KMS-encrypted PEM: PEM-encoded objects that are encrypted with Google KMS.</li></ul><p>The following formats are also supported but are discouraged (use the PEM variants instead): <ul><li>Encrypted HMAC key: the Base64 encoded binary representation of the HMAC key is encrypted using AM's encryption key. Use this format when working with non generic secrets.</li> <li>Base64 encoded HMAC key: the secrets are binary HMAC keys encoded with Base64.</li> <li>Google KMS-encrypted HMAC key: the secrets are binary HMAC keys that have been encrypted with Google's Key Management Service (KMS).</li> </ul>\",\"propertyOrder\":100,\"required\":true,\"enum\":[\"PLAIN\",\"BASE64\",\"ENCRYPTED_PLAIN\",\"ENCRYPTED_BASE64\",\"ENCRYPTED_HMAC_KEY\",\"BASE64_HMAC_KEY\",\"GOOGLE_KMS_ENCRYPTED\",\"GOOGLE_KMS_ENCRYPTED_HMAC_KEY\",\"PEM\",\"ENCRYPTED_PEM\",\"GOOGLE_KMS_ENCRYPTED_PEM\",\"JWK\"],\"options\":{\"enum_titles\":[\"Plain text\",\"Base64 encoded\",\"Encrypted text\",\"Encrypted Base64 encoded\",\"Encrypted HMAC key (deprecated)\",\"Base64 encoded HMAC key (deprecated)\",\"Encrypted with Google KMS\",\"Google KMS-encrypted HMAC key (deprecated)\",\"PEM encoded certificate, key, or password\",\"Encrypted PEM\",\"Google KMS-encrypted PEM\",\"JWK\"]},\"enumNames\":[\"Plain text\",\"Base64 encoded\",\"Encrypted text\",\"Encrypted Base64 encoded\",\"Encrypted HMAC key (deprecated)\",\"Base64 encoded HMAC key (deprecated)\",\"Encrypted with Google KMS\",\"Google KMS-encrypted HMAC key (deprecated)\",\"PEM encoded certificate, key, or password\",\"Encrypted PEM\",\"Google KMS-encrypted PEM\",\"JWK\"],\"type\":\"string\",\"exampleValue\":\"\",\"default\":\"BASE64\"}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
