{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/deleteJavaAgent()/2: Delete agent of wrong type 'FrodoOpsTestWebAgent9' (WebAgent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "52ba5892b048608be10934608be943bb",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-70f3234e-ec3d-4a59-a4d3-2c737bee3fb2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id eq 'FrodoOpsTestWebAgent9'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/J2EEAgent?_queryFilter=_id%20eq%20%27FrodoOpsTestWebAgent9%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 138,
            "text": "{\"result\":[],\"resultCount\":0,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":0,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-70f3234e-ec3d-4a59-a4d3-2c737bee3fb2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 110,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
