{
  "log": {
    "_recordingName": "AgentOps/deleteJavaAgent()/2: Delete agent of wrong type 'FrodoOpsTestWebAgent9' (WebAgent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "52ba5892b048608be10934608be943bb",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-44c08789-43c3-4039-b0a3-a648aebf421e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..ZU-Sd1GmuV6cFjuh4c4F-g.4z-Q4N-1AKapYG43fGU2iufrOcbVPxMivq[...]
