{
  "log": {
    "_recordingName": "EnvCertificatesOps/activateCertificate()/2: Activate existing certificate and wait until live - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "36f430367ced605e5c1a6c258561e6b5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-10b36a92-5257-4d5c-bed6-12fc78aa25a3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 379,
            "text": "{\"active\":true,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-10b36a92-5257-4d5c-bed6-12fc78aa25a3\",\"issuer\":\"CN=frodo-dev8a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev8a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "f4507505-c210-4839-bc06-9c370ffb53ae/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 104,
      },
      {
        "_id": "0ec9ae486ed06198637714b5e6dfc0ba",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "G[...]
