{
  "log": {
    "_recordingName": "IdmSystemOps/updateSystemObjectProperties()/1: Update system object properties",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f92d94e3246b4002543d7009621dc297",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "uid eq 'frodo5'"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_totalPagedResultsPolicy",
              "value": "EXACT"
            },
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__?_queryFilter=uid%20eq%20%27frodo5%27&_pageSize=1000&_totalPagedResultsPolicy=EXACT&_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 736,
            "text": "{\"result\":[{\"_id\":\"f1404c9b-3119-42cc-90da-f0d1d8fcf469\",\"postalAddress\":[],\"cn\":[\"Frodo Test User 5\"],\"street\":[],\"sn\":[\"Test\"],\"userPassword\":[\"e1NTSEE1MTJ9YnExMkJTYXJhVWVNUW10RGVEVHlsS1lBNUhqVFdSTjMwVXJ6ZWZUUEhib2Rmc0N6T3FCd1psQldVY3I0TmYrN3dKS3pLbm8vNng5SmZ4TkpXME50aDI4ckdMeWFGdlFT\"],\"l\":[],\"description\":[\"Frodo Test User 5\"],\"objectClass\":[\"top\",\"inetOrgPerson\",\"organizationalPerson\",\"person\"],\"initials\":[],\"mobile\":[],\"postalCode\":[],\"__NAME__\":\"uid=frodo5,ou=People,dc=example,dc=com\",\"homePhone\":[],\"st\":[],\"telephoneNumber\":[],\"mail\":[\"frodo5@example.com\"],\"givenName\":[\"Frodo\"],\"uid\":[\"frodo5\"]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100,
      },
      {
        "_id": "c1420cb69c07ae5175b9cd917f41fbb6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"field\":\"/sn\",\"operation\":\"replace\",\"value\":\"Test - replaced\"},{\"field\":\"/givenName\",\"operation\":\"remove\",\"value\":\"Frodo\"},{\"field\":\"/givenName\",\"operation\":\"add\",\"value\":\"Frodo - modified\"}]"
          },
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__/f1404c9b-3119-42cc-90da-f0d1d8fcf469"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size"[...]
