{
  "log": {
    "_recordingName": "Saml2Ops/readSaml2ProviderStub()/1: Read stub of hosted provider 'iSPAzure'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5c8b2a4aa19e2ffdec233464da9a7ab9",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ec883bf7-d00c-4025-b294-fe7de8ff8b69"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "entityId eq 'iSPAzure'"
            },
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2?_queryFilter=entityId%20eq%20%27iSPAzure%27&_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 249,
            "text": "{\"result\":[{\"_id\":\"aVNQQXp1cmU\",\"_rev\":\"2065843986\",\"entityId\":\"iSPAzure\",\"location\":\"hosted\",\"roles\":[\"serviceProvider\"]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ec883bf7-d00c-4025-b294-fe7de8ff8b69"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 60,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
