{
  "log": {
    "_recordingName": "PolicyOps/deletePolicy()/2: Delete non-existing policy [DoesNotExist]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "29634c999837b8398785f692853a4c99",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d9dbdac9-31b7-4287-b203-37d4fe80a24e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..bhJ_6dMdfPc5LBNM_pe4RA.7NYj-G1KpPDoCf47NlctOzAp5A0gT8EOtTVkwiD8-e8Mb_k[...]
