{
  "log": {
    "_recordingName": "PolicyOps/deletePolicy()/2: Delete non-existing policy [DoesNotExist]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "29634c999837b8398785f692853a4c99",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c6b8881f-ce27-412d-9491-4f4a8fb135a7"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/policies/DoesNotExist"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Policy DoesNotExist does not exist.\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c6b8881f-ce27-412d-9491-4f4a8fb135a7"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 65,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
