{
  "log": {
    "_recordingName": "VariablesOps/exportVariable()/1: Export variable1",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "08d2dea99990c33037034cf27a34b5ad",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 219,
            "text": "{\"_id\":\"esv-frodo-test-variable-1\",\"description\":\"description1\",\"expressionType\":\"string\",\"lastChangeDate\":\"2024-07-05T15:22:07.553597Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"valueBase64\":\"dmFsdWUx\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 210,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
