{
  "log": {
    "_recordingName": "VariablesOps/updateVariableDescription()/1: Update variable18 description",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a4837d897f2156939d4a8f0c22287b01",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"description18\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "setDescription"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-18?_action=setDescription"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 432,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
