{
  "log": {
    "_recordingName": "AgentOps/deleteIdentityGatewayAgents()/1: Delete all gateway agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fcc396b658a463f5eb6568d38e2d731f",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6d8b13c9-8a68-4259-abc8-603220b7bdde"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..ZQ6rTHYfQSty4CL5gyoBeg.eLCvjA8aMoRWuj6B8g7O4tK8qNfK1hjP1A[...]
