{
  "log": {
    "_recordingName": "PoliciesApi/getPolicies()/1: Get all policies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "082cd7a23ef51a8fbb1328a7d8d423b0",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dbbc7796-99dc-46ed-834a-930e94b6543f"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/policies?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3314,
            "text": "{\"result\":[{\"_id\":\"Test Policy\",\"_rev\":\"1695912902746\",\"name\":\"Test Policy\",\"active\":false,\"description\":\"Test Policy Description\",\"resources\":[\"lorem://ipsum:dolor/sit\"],\"applicationName\":\"test-policy-set\",\"actionValues\":{\"POST\":false,\"GET\":true},\"subject\":{\"type\":\"NONE\"},\"condition\":{\"type\":\"SimpleTime\",\"startTime\":\"12:00\",\"endTime\":\"11:59\",\"startDay\":\"mon\",\"endDay\":\"fri\",\"startDate\":\"2023:08:01\",\"endDate\":\"2023:08:02\",\"enforcementTimeZone\":\"GMT\"},\"resourceTypeUuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\",\"resourceAttributes\":[{\"type\":\"Static\",\"propertyName\":\"Test_Name\",\"propertyValues\":[\"Test_Value\"]}],\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":\"2023-09-28T14:55:02.746Z\",\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":\"2023-09-28T14:55:02.746Z\"},{\"_id\":\"FeatureStorePolicy\",\"_rev\":\"1695913101552\",\"name\":\"FeatureStorePolicy\",\"active\":true,\"description\":\"FeatureStorePolicy\",\"resources\":[\"https://www.example.com:443/*\"],\"applicationName\":\"FeatureStorePolicySet\",\"actionValues\":{},\"subject\":{\"type\":\"NONE\"},\"resourceTypeUuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\",\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":\"2023-09[...]
