{
  "log": {
    "_recordingName": "AgentApi/Cloud Tests/findAgentById()/4: Find agent 'FrodoTestAIAgent1'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c7a04b37b7a1148350c8b7ef0e1cb42f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a5d82190-5c93-41b3-abc6-5980c7debe69"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id eq 'FrodoTestAIAgent1'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents?_queryFilter=_id%20eq%20%27FrodoTestAIAgent1%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4412,
            "text": "{\"result\":[{\"_id\":\"FrodoTestAIAgent1\",\"_rev\":\"-2052559648\",\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"validateScopePluginType\":\"PROVIDER\",\"tokenEncryptionEnabled\":false,\"enableApplicationContext\":false,\"acceptAudienceParametersInTokenExchangeRequests\":false,\"evaluateScopePluginType\":\"PROVIDER\",\"oidcMayActScript\":\"[Empty]\",\"oidcClaimsScript\":\"[Empty]\",\"scopesPolicySet\":\"oauth2Scopes\",\"accessTokenModificationPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"useForceAuthnForMaxAge\":false,\"oidcClaimsPluginType\":\"PROVIDER\",\"providerOverridesEnabled\":false,\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"statelessTokensEnabled\":false,\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"oidcClaimsClass\":null,\"remoteConsentServiceId\":null,\"enableRemoteConsent\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"customLoginUrlTemplate\":null,\"accessTokenModifierClass\":null,\"usePolicyEngineForScope\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"overrideableOIDCClaims\":[],\"accessTokenMayActScript\":\"[Empty]\",\"evaluateScopeScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"accessTokenModificationScript\":\"[Empty]\",\"issueRefreshTokenOnRefreshedToken\":true,\"validateScopeScript\":\"[Empty]\"},\"advancedOAuth2ClientConfig\":{\"logoUri\":[],\"subjectType\":\"public\",\"clientUri\":[],\"tokenExchangeAuthLevel\":0,\"responseTypes\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"],\"mixUpMitigation\":false,\"customProperties\":[],\"javascriptOrigins\":[],\"policyUri\":[],\"softwareVersion\":null,\"tosURI\":[],\"sectorIdentifierUri\":null,\"tokenEndpointAuthMethod\":\"client_secret_basic\",\"refreshTokenGracePeriod\":0,\"isConsentImplied\":false,\"softwareIdentity\":null,\"grantTypes\":[\"authorization_code\"],\"allowedResourceServerAudienceValues\":[],\"require_pushed_authorization_requests\":false,\"descriptions\":[],\"requestUris\":[],\"name\":[],\"contacts\":[],\"updateAccessToken\":null,\"acceptedJwtIssuers\":[],\"introspectionPolicySets\":[],\"treeName\":\"[Empty]\"},\"signEncOAuth2ClientConfig\":{\"tokenEndpointAuthSigningAlgorithm\":\"RS256\",\"idTokenEncryptionEnabled\":false,\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"requestParameterSignedAlg\":null,\"authorizationResponseSigningAlgorithm\":\"RS256\",\"clientJwtPublicKey\":null,\"idTokenPublicEncryptionKey\":null,\"mTLSSubjectDN\":null,\"jwkStoreCacheMissCacheTime\":60000,\"jwkSet\":null,\"idTokenEncryptionMethod\":\"A128CBC-HS256\",\"jwksUri\":null,\"tokenIntrospectionEncryptedResponseAlg\":\"RSA-OAEP-256\",\"authorizationResponseEncryptionMethod\":null,\"userinfoResponseFormat\":\"JSON\",\"mTLSCertificateBoundAccessTokens\":false,\"publicKeyLocation\":\"jwks_uri\",\"tokenIntrospectionResponseFormat\":\"JSON\",\"requestParameterEncryptedEncryptionAlgorithm\":\"A128CBC-HS256\",\"userinfoSignedResponseAlg\":null,\"idTokenEncryptionAlgorithm\":\"RSA-OAEP-256\",\"requestParameterEncryptedAlg\":null,\"authorizationResponseEncryptionAlgorithm\":null,\"mTLSTrustedCert\":null,\"jwksCacheTimeout\":3600000,\"userinfoEncryptedResponseAlg\":null,\"idTokenSignedResponseAlg\":\"RS256\",\"tokenIntrospectionSignedResponseAlg\":\"RS256\",\"userinfoEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\"},\"coreOAuth2ClientConfig\":{\"secretLabelIdentifier\":null,\"status\":\"Active\",\"clientName\":[],\"clientType\":\"Confidential\",\"loopbackInterfaceRedirection\":false,\"defaultScopes\":[],\"agentgroup\":null,\"refreshTokenLifetime\":0,\"scopes\":[],\"accessTokenLifetime\":0,\"redirectionUris\":[],\"authorizationCodeLifetime\":0},\"coreOpenIDClientConfig\":{\"claims\":[],\"backchannel_logout_uri\":null,\"defaultAcrValues\":[],\"jwtTokenLifetime\":0,\"defaultMaxAgeEnabled\":false,\"clientSessionUri\":null,\"defaultMaxAge\":600,\"postLogoutRedirectUri\":[],\"backchannel_logout_session_required\":false},\"aiAgentIdentityAttributes\":{\"_id\":\"3402cc1f-60a6-4ac2-9857-aaaaaaaaaaaa\",\"_rev\":\"f90619f5-dd2d-48dd-9107-83847f2351e6-7315\",\"oauth2ClientId\":\"FrodoTestAIAgent1\",\"name\":\"Frodo Test AI Agent 1\",\"description\":\"Test AI agent 1 for Frodo API unit tests.\",\"customAttributes\":null},\"aiAgentIdentityUid\":\"3402cc1f-60a6-4ac2-9857-aaaaaaaaaaaa\",\"coreUmaClientConfig\":{\"claimsRedirectionUris\":[]}}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a5d82190-5c93-41b3-abc6-5980c7debe69"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 211,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
