{
  "log": {
    "_recordingName": "journey/list/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3a2b15ab-3a75-42e6-8047-5e23b3332c30"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "4ad7d57003aee4f",
              "value": "lubuZgEp0Rnj1oKTKIiarivPke0.*AAJTSQACMDIAAlNLABxLSk9jaFV4c1h3TlZDK2k1aldiNWpMaklvQTg9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://openam-volker-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&scope=fr:idm:* fr:idc:esv:*&response_type=code&client_id=idmAdminClient&csrf=lubuZgEp0Rnj1oKTKIiarivPke0.*AAJTSQACMDIAAlNLABxLSk9jaFV4c1h3TlZDK2k1aldiNWpMaklvQTg9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=NSGlQCVYloARBTKjAyi4o0S_P-jNsIZbDOKEcDl5huE&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "domain": "openam-volker-dev.forgeblocks.com",
              "expires": "1970-01-01T00:00:00.000Z",
              "httpOnly": true,
              "name": "OAUTH_REQUEST_ATTRIBUTES",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "DELETED"
            },
            {
              "domain": ".scheuber.io",
              "expires": "1970-01-01T00:00:00.000Z",
              "httpOnly": true,
              "name": "OAUTH_REQUEST_ATTRIBUTES",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "DELETED"
            },
            {
              "domain": ".mytestrun.com",
              "expires": "1970-01-01T00:00:00.000Z",
              "httpOnly": true,
              "name": "OAUTH_REQUEST_ATTRIBUTES",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "DELETED"
            }
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://openam-volker-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=9kxgekZumcE8fK9UI8EATWWCBD8&iss=https%3A%2F%2Fopenam-volker-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3a2b15ab-3a75-42e6-8047-5e23b3332c30"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 615,
      },
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3a2b15ab-3a75-42e6-8047-5e23b3332c30"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"[...]
