{
  "log": {
    "_recordingName": "PolicyOps/importPolicy()/4: Do not import policy [FrodoTestPolicy5] with no changes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c2790968ef7c034ccd318f357d6f68e9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/policies/FrodoTestPolicy5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1073,
            "text": "{\"_id\":\"FrodoTestPolicy5\",\"_rev\":\"1788886511270\",\"name\":\"FrodoTestPolicy5\",\"active\":true,\"description\":\"Frodo Test Policy\",\"resources\":[\"*://*:*/forgerock/app2/*\",\"*://*:*/app2/*\"],\"actionValues\":{\"GET\":true},\"applicationName\":\"FrodoTestPolicySet1\",\"subject\":{\"type\":\"AuthenticatedUsers\"},\"condition\":{\"type\":\"AND\",\"conditions\":[{\"type\":\"Script\",\"scriptId\":\"62f18ede-e5e7-4a7b-8b73-1b02fcbd241a\"},{\"type\":\"AuthenticateToService\",\"authenticateToService\":\"TxAuthz\"},{\"type\":\"OR\",\"conditions\":[{\"type\":\"Session\",\"maxSessionTime\":5,\"terminateSession\":false},{\"type\":\"OAuth2Scope\",\"requiredScopes\":[\"openid\"]},{\"type\":\"Script\",\"scriptId\":\"729ee140-a4e9-43af-b358-d60eeda13cc3\"},{\"type\":\"NOT\",\"condition\":{\"type\":\"Script\",\"scriptId\":\"729ee140-a4e9-43af-b358-d60eeda13cc3\"}}]}]},\"resourceTypeUuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\",\"lastModifiedBy\":\"id=9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064,ou=user,ou=am-config\",\"lastModifiedDate\":\"2026-09-08T16:55:11.270Z\",\"createdBy\":\"id=9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064,ou=user,ou=am-config\",\"creationDate\":\"2026-09-08T16:55:11.270Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 109,
      },
      {
        "_id": "00144025bcb54ffae54f06747b1490fc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"FrodoTestPolicy5\",\"name\":\"FrodoTestPolicy5\",\"active\":true,\"description\":\"test new description\",\"resources\":[\"*://*:*/forgerock/app2/*\",\"*://*:*/app2/*\"],\"applicationName\":\"FrodoTestPolicySet1\",\"actionValues\":{\"GET\":true},\"subject\":{\"type\":\"AuthenticatedUsers\"},\"resourceTypeUuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\",\"condition\":{\"type\":\"AND\",\"conditions\":[{\"type\":\"Script\",\"scriptId\":\"62f18ede-e5e7-4a7b-8b73-1[...]
