{
  "log": {
    "_recordingName": "ScriptTypeOps/readScriptBindings()/1: Read script bindings for SCRIPTED_DECISION_NODE",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "55b73fb9c4a07033564e9babb4c75c89",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/contexts/SCRIPTED_DECISION_NODE"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 45053,
            "text": "{\"_id\":\"SCRIPTED_DECISION_NODE\",\"bindings\":[{\"name\":\"samlApplication\",\"javaScriptType\":\"object\",\"javaClass\":\"org.forgerock.openam.saml2.SAMLScriptedBindingObjectImpl\",\"elements\":[{\"elementType\":\"method\",\"name\":\"getApplicationId\",\"parameters\":[],\"returnType\":\"string\"},{\"elementType\":\"method\",\"name\":\"getAuthnRequest\",\"parameters\":[],\"returnType\":\"object\"},{\"elementType\":\"method\",\"name\":\"getIdpAttributes\",\"parameters\":[],\"returnType\":\"object\"},{\"elementType\":\"method\",\"name\":\"getSpAttributes\",\"parameters\":[],\"returnType\":\"object\"},{\"elementType\":\"method\",\"name\":\"getFlowInitiator\",\"parameters\":[],\"returnType\":\"string\"},{\"elementType\":\"method\",\"name\":\"getAssertion\",\"parameters\":[],\"retu[...]
