{
  "log": {
    "_recordingName": "EnvSSOCookieConfigOps/resetSSOCookieConfig()/1: Reset custom SSO cookie config - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "08704f8d0b911035a2143cf33609cd4a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": []
          },
          "queryString": [
            {
              "name": "_action",
              "value": "reset"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/sso-cookie?_action=reset"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 27,
            "text": "{\"name\":\"6ac6499e9da2071\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "3ddb9997-b78d-4e82-b708-b3f2af04e7ab/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 119,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
