{
  "log": {
    "_recordingName": "EnvCertificatesOps/deactivateCertificate()/3: Deactivate non-existing certificate - error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0abdd3cbe72b2b12c3513284af4c29fe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/certificate-does-not-exist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "5353686f-a14c-4c66-a57a-9c991c52214e/0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 61,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
