{
  "log": {
    "_recordingName": "EnvContentSecurityPolicyOps/disableReportOnlyContentSecurityPolicy()/1: Disable report-only content security policy - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "99e10b0a9f0ebf2d09f3a777a7c2d470",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/content-security-policy/report-only"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 359,
            "text": "{\"active\":true,\"directives\":{\"frame-ancestors\":[\"'self'\"],\"referrer\":[\"'no-referrer'\",\"'none-when-downgrade'\",\"'origin'\",\"'origin-when-cross-origin'\",\"'unsafe-url'\"],\"sandbox\":[\"'allow-forms'\",\"'allow-same-origin'\",\"'allow-scripts'\",\"'allow-top-navigation'\",\"'allow-popups'\",\"'allow-pointer-lock'\"],\"script-src\":[\"'self'\",\"'unsafe-eval'\",\"'unsafe-inline'\"]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "23fe7104-d611-4965-bd18-4418681d1ec5/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 81,
      },
      {
        "_id": "7e7c3f31eda751f687c3f6fa134f3bb7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":false,\"directives\":{\"frame-ancestors\":[\"'self'\"],\"referrer\":[\"'no-referrer'\",\"'none-when-downgrade'\",\"'origin'\",\"'origin-when-cross-origin'\",\"'unsafe-url'\"],\"sandbox\":[\"'allow-forms'\",\"'allow-same-origin'\",\"'allow-scripts'\",\"'allow-top-navigation'\",\"'allow-popups'\",\"'allow-pointer-lock'\"],\"script-src\":[\"'self'\",\"'unsafe-eval'\",\"'unsafe-inline'\"]}}"
          },
          "queryString": [],
          "url": "https://ope[...]
