{
  "log": {
    "_recordingName": "NodeApi/createNode()/1: Create new node [5227de7a-02db-4f25-858e-c8d4f0e0b600 - SetStateNode]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e88a143b767283bbb5c95c9cd1aa0f1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a4836d5-7283-4c03-9157-d00933eee209"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"5227de7a-02db-4f25-858e-c8d4f0e0b600\",\"attributes\":{\"errorMessage\":\"An error has occurred!\"},\"_type\":{\"_id\":\"SetStateNode\",\"name\":\"Set State\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"outcome\"}]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/SetStateNode/5227de7a-02db-4f25-858e-c8d4f0e0b600"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 260,
            "text": "{\"_id\":\"5227de7a-02db-4f25-858e-c8d4f0e0b600\",\"_rev\":\"1797046015\",\"attributes\":{\"errorMessage\":\"An error has occurred!\"},\"_type\":{\"_id\":\"SetStateNode\",\"name\":\"Set State\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1797046015\""
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/SetStateNode/5227de7a-02db-4f25-858e-c8d4f0e0b600"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a4836d5-7283-4c03-9157-d00933eee209"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 182,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
