{
  "log": {
    "_recordingName": "IgaCertificationTemplateOps/deleteCertificationTemplate()/1: Delete existing certification template by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "247c79a93bfa430f65a71063338ade2c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/certification/template/a0a41b41-9a72-4da8-a1f4-9c2dca60d9b8"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 140,
            "text": "{\"indexName\":\"trivir-fairfax_repo_governance_certtemplate_latest\",\"indices\":{\"latest\":\"trivir-fairfax_repo_governance_certtemplate_latest\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8c-g+RD5xWswWNjcY5upjwg3gqCLx4\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "80a03cf9-c559-4a97-9379-bd687557ce50"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 992,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
