{
  "log": {
    "_recordingName": "ResourceTypeOps/createResourceType()/1: Create non-existing resource type [3ea23a32-ffdf-4a7f-a1f2-5d53fbba9ba6 - FrodoTestResourceType3]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b6d7ceb5ae384271a16f3f921bce214e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6492064b-3527-4296-94f5-5efa18ec87cb"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..Uqx-UxwQLKywBtUoUMfTyw.VQUxG6mNLuX9OHIMERgvl[...]
