{
  "log": {
    "_recordingName": "IdmSystemOps/queryAllSystemObjectIds()/2: Query all system object ids (custom page size",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b688e53af51db06547cc0afe829ea78b",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryId",
              "value": "query-all-ids"
            },
            {
              "name": "_pageSize",
              "value": "1"
            },
            {
              "name": "_totalPagedResultsPolicy",
              "value": "EXACT"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__?_queryId=query-all-ids&_pageSize=1&_totalPagedResultsPolicy=EXACT"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 220,
            "text": "{\"result\":[{\"_id\":\"c7e5b163-8d81-4d45-9e11-171d617c9cb4\"}],\"resultCount\":1,\"pagedResultsCookie\":\"fHwAb3U9cGVvcGxlAHVpZD1mcm9kbzI%3D%3A0\",\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 93,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
