{
  "log": {
    "_recordingName": "PoliciesApi/getPolicy()/1: Get existing policy [FrodoTestPolicy1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "08af297ecfad20e657e8c4ac0f287315",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dbbc7796-99dc-46ed-834a-930e94b6543f"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/policies/FrodoTestPolicy1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 588,
            "text": "{\"_id\":\"FrodoTestPolicy1\",\"_rev\":\"1696104760019\",\"name\":\"FrodoTestPolicy1\",\"active\":true,\"description\":\"Frodo Test Policy\",\"resources\":[\"*://*:*/forgerock/app2/*\",\"*://*:*/app2/*\"],\"applicationName\":\"FrodoTestPolicySet1\",\"actionValues\":{\"GET\":true},\"subject\":{\"type\":\"AuthenticatedUsers\"},\"resourceTypeUuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\",\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":\"2023-09-30T20:12:40.19Z\",\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":\"2023-09-30T20:12:40.19Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "etag",
              "value": "\"1696104760019\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dbbc7796-99dc-46ed-834a-930e94b6543f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
