{
  "log": {
    "_recordingName": "TreeApi/getTree()/1: Get existing tree FrodoTestTree1",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "61e6ab07f1a229cdb15be90cd3090ce3",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7faf970f-890e-4f88-8c05-bffc43e17a7a"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestTree1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 435,
            "text": "{\"_id\":\"FrodoTestTree1\",\"_rev\":\"285942726\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Authentication\\\",\\\"Frodo\\\"]\"},\"entryNodeId\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"innerTreeOnly\":false,\"nodes\":{},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":80},\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":70,\"y\":230},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":210,\"y\":80}},\"description\":\"Frodo Test Tree One\",\"enabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"285942726\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7faf970f-890e-4f88-8c05-bffc43e17a7a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 55,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
