{
  "log": {
    "_recordingName": "IgaWorkflowOps/exportWorkflows()/1: Export existing workflows with coordinates, string arrays, dependencies, and readonly config",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3ae183f581308cceaee9b7766a3d2cd0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryString",
              "value": ""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "1"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/workflow?_queryString=&_pageSize=10000&_pagedResultsOffset=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 651578,
            "text": "{\"result\":[{\"id\":\"basicEntitlementGrantCopy\",\"name\":\"BasicEntitlementGrant-copy\",\"displayName\":\"BasicEntitlementGrant-copy\",\"description\":\"BasicEntitlementGrant-copy\",\"type\":\"provisioning\",\"childType\":false,\"_rev\":7,\"steps\":[{\"name\":\"approvalTask-74cf85c35437\",\"displayName\":\"Approval Task\",\"type\":\"approvalTask\",\"approvalTask\":{\"nextStep\":[{\"condition\":null,\"outcome\":\"APPROVE\",\"step\":\"scriptTask-e21178ab80f7\"},{\"condition\":null,\"outcome\":\"REJECT\",\"step\":\"scriptTask-aec6c36b3a45\"}],\"approvalMode\":\"any\",\"actors\":[{\"id\":{\"value\":\"\\\"managed/user/\\\" + ((requestIndex.entitlementOwner && requestIndex.entitlementOwner.length > 0) ? requestIndex.entitlementOwner[0].id : requestIndex.applicationOwner[0].id)\",\"isExpression\":true},\"permissions\":{\"approve\":true,\"reject\":true,\"reassign\":true,\"modify\":true,\"comment\":true}}],\"events\":{\"assignment\":{\"notification\":\"requestAssigned\"},\"reassign\":{\"notification\":\"requestReassigned\"},\"reminder\":{\"notification\":\"requestReminder\",\"frequency\":3,\"date\":{\"isExpression\":true,\"value\":\"(new Date(new Date().getTime()+(3*1*24*60*60*1000))).toISOString()\"}},\"expiration\":{\"action\":\"reject\",\"notification\":\"requestExpired\",\"actors\":[],\"date\":{\"isExpression\":true,\"value\":\"(new Date(new Date().getTime()+(7*24*60*60*1000))).toISOString()\"}}}},\"approvalMode\":\"any\"},{\"name\":\"scriptTask-3eab1948f1ec\",\"displayName\":\"Entitlement Grant Validation\",\"type\":\"scriptTask\",\"scriptTask\":{\"nextStep\":[{\"condition\":\"true\",\"outcome\":\"done\",\"step\":\"exclusiveGateway-48e748c42994\"}],\"language\":\"javascript\",\"script\":\"logger.info(\\\"Running entitlement grant request validation\\\");\\n\\nvar content = execution.getVariables();\\nvar requestId = content.get('id');\\nvar failureReason = null;\\nvar applicationId = null;\\nvar assignmentId = null;\\nvar app = null;\\nvar assignment = null;\\nvar existingAccount = false;\\n\\ntry {\\n  var requestObj = openidm.action('iga/governance/requests/' + requestId, 'GET', {}, {});\\n    failureReason = \\\"Request Object\\\" + requestObj + \\\":\\\";\\n  applicationId [...]
