{
  "log": {
    "_recordingName": "TreeApi/putTree()/1: Put valid tree FrodoTestTree4",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "95909fd99a42af04aac18c2f3cd17c78",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7faf970f-890e-4f88-8c05-bffc43e17a7a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Authentication\\\",\\\"Frodo\\\"]\"},\"entryNodeId\":\"f3bea587-d5ad-476b-80bb-b288ab45bc52\",\"nodes\":{},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":80},\"e6b2ead4-7cb2-4f6f-b9ef-f2086a3814dd\":{\"x\":70,\"y\":230},\"be2da6e2-ca86-4c4a-9252-5df7ea0551be\":{\"x\":210,\"y\":80}},\"description\":\"Frodo Test Tree Four\",\"enabled\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestTree4"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 438,
            "text": "{\"_id\":\"FrodoTestTree4\",\"_rev\":\"-1787486550\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Authentication\\\",\\\"Frodo\\\"]\"},\"entryNodeId\":\"f3bea587-d5ad-476b-80bb-b288ab45bc52\",\"innerTreeOnly\":false,\"nodes\":{},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":80},\"e6b2ead4-7cb2-4f6f-b9ef-f2086a3814dd\":{\"x\":70,\"y\":230},\"be2da6e2-ca86-4c4a-9252-5df7ea0551be\":{\"x\":210,\"y\":80}},\"description\":\"Frodo Test Tree Four\",\"enabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1787486550\""
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestTree4"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7faf970f-890e-4f88-8c05-bffc43e17a7a"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 64,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
