{
  "log": {
    "_recordingName": "NodeApi/getNode()/1: Get existing node [67693475-3a58-4e38-bcc6-037b3fe46a58 - ValidatedUsernameNode]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7a249b03c479f8c8057e50c533791298",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7fb35a85-023e-46b5-9721-3d7d185056e9"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedUsernameNode/67693475-3a58-4e38-bcc6-037b3fe46a58"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 259,
            "text": "{\"_id\":\"67693475-3a58-4e38-bcc6-037b3fe46a58\",\"_rev\":\"1711196460\",\"usernameAttribute\":\"userName\",\"validateInput\":false,\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1711196460\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7fb35a85-023e-46b5-9721-3d7d185056e9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
