{
  "log": {
    "_recordingName": "TelemetryOps/Telemetry lifecycle/Import, export, update, read, and delete otlp exporter by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d5fb03421adf0db3f05d5ad7344f6e88",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"frodo-test-otlp-2\",\"endpoint\":\"https://example.com/v1/logs\",\"sources\":[\"idm-everything\"],\"type\":\"HTTP\",\"encoding\":\"PROTO\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry/otlp/frodo-test-otlp-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 130,
            "text": "{\"encoding\":\"PROTO\",\"endpoint\":\"https://example.com/v1/logs\",\"id\":\"frodo-test-otlp-2\",\"sources\":[\"idm-everything\"],\"type\":\"HTTP\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 747,
      },
      {
        "_id": "57bf757514e1f173e18a166243bfc9a2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 153,
            "text": "{\"otlp\":[{\"encoding\":\"PROTO\",\"endpoint\":\"https://example.com/v1/logs\",\"id\":\"frodo-test-otlp-2\",\"sources\":[\"idm-everything\"],\"type\":\"HTTP\"}],\"splunk\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 307,
      },
      {
 [...]
