{
  "log": {
    "_recordingName": "EnvCertificatesOps/deleteCertificates()/2: Delete all (active and live) certificates - error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "81c5f06a12b432acb919a43c7ab0c1d7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1140,
            "text": "[{\"active\":true,\"expireTime\":\"2025-08-06T03:03:04Z\",\"id\":\"ccrt-932f4d98-ad86-4dd5-a922-44c06cd687a5\",\"issuer\":\"CN=frodo-dev13.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev13.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T03:03:04Z\"},{\"active\":true,\"expireTime\":\"2025-08-06T03:03:04Z\",\"id\":\"ccrt-b011175b-6d5d-4c5f-8b8b-d2022d6e68b7\",\"issuer\":\"CN=frodo-dev13b.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev13b.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T03:03:04Z\"},{\"active\":true,\"expireTime\":\"2025-08-06T03:03:04Z\",\"id\":\"ccrt-d5061f23-e7c5-4861-9330-1657e7d34920\",\"issuer\":\"CN=frodo-dev13a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev13a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T03:03:04Z\"}]"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "35c289f0-bcdc-481d-8a06-17473374cf91/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      },
      {
        "_id": "7f72566035630b1f5150f6c1e1de788c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GE[...]
