{
  "log": {
    "_recordingName": "IgaWorkflowOps/publishWorkflow()/2: Publish non-existing draft workflow",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "822c4ef3a637e444969013d08d2c996a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/workflow/testWorkflow3/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 59,
            "text": "{\"message\":\"Workflow with id: testWorkflow3 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3b-Ko8a6ce7abKPbFiz/gVOnDOSJvw\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "52635084-c82c-43f4-a50d-d3a790fa6d95"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 370,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
