{
  "log": {
    "_recordingName": "ScriptOps/deleteScript()/1: delete script by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0d12c9b8f93a5a6c1387aed86b41fb71",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-447d3073-7deb-4a25-ad58-3dc0d7dffb62"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/scripts/c9cb4b1e-1cd3-4e5b-8f56-140f83ba9f6d"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 46,
            "text": "{\"_id\":\"c9cb4b1e-1cd3-4e5b-8f56-140f83ba9f6d\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-447d3073-7deb-4a25-ad58-3dc0d7dffb62"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 692,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
