{
  "log": {
    "_recordingName": "IgaGlossaryOps/importGlossarySchemas()/2: Import by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fa7b33d84f29822602e7d8ced2f7cdf9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"testString\",\"description\":\"Test String Description\",\"displayName\":\"Test String Display Name\",\"type\":\"string\",\"objectType\":\"/openidm/managed/application\",\"isMultiValue\":true,\"enumeratedValues\":[{\"text\":\"text1\",\"value\":\"Text One\"},{\"text\":\"text2\",\"value\":\"Text Two\"},{\"text\":\"text3\",\"value\":\"Text Three\"}],\"searchable\":true,\"allowedValues\":[\"Text One\",\"Text Two\",\"Text Three\"],\"id\":\"d27a22e1-8118-441f-b480-48c6b2e204d1\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/d27a22e1-8118-441f-b480-48c6b2e204d1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 428,
            "text": "{\"name\":\"testString\",\"description\":\"Test String Description\",\"displayName\":\"Test String Display Name\",\"type\":\"string\",\"objectType\":\"/openidm/managed/application\",\"isMultiValue\":true,\"enumeratedValues\":[{\"text\":\"text1\",\"value\":\"Text One\"},{\"text\":\"text2\",\"value\":\"Text Two\"},{\"text\":\"text3\",\"value\":\"Text Three\"}],\"searchable\":true,\"allowedValues\":[\"Text One\",\"Text Two\",\"Text Three\"],\"id\":\"d27a22e1-8118-441f-b480-48c6b2e204d1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1ac-PAuWGT/96p8eJXVxVg6Ir9Ic49o\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "dbf722ec-7303-4c9a-b660-9191346b2490"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 867,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
