{
  "log": {
    "_recordingName": "VariablesOps/importVariable()/3: Import first variable6",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ac492505ec55247efb2de879e1e3d25c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"dmFsdWU2\",\"description\":\"description6\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-6"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 222,
            "text": "{\"_id\":\"esv-frodo-test-variable-6\",\"description\":\"description6\",\"expressionType\":\"string\",\"lastChangeDate\":\"2024-07-05T15:22:20.545619489Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"valueBase64\":\"dmFsdWU2\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 806,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
