{
  "log": {
    "_recordingName": "github",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d27795557f744bbef1aae5b9b53d94c9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/repos/rockcarver/frodo-cli/releases"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 366106,
            "text": "[{\"url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/89176317\",\"assets_url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/89176317/assets\",\"upload_url\":\"https://uploads.github.com/repos/rockcarver/frodo-cli/releases/89176317/assets{?name,label}\",\"html_url\":\"https://github.com/rockcarver/frodo-cli/releases/tag/v0.20.1-1\",\"id\":89176317,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"site_admin\":false},\"node_id\":\"RE_kwDOH1LPHs4FULj9\",\"tag_name\":\"v0.20.1-1\",\"target_commitish\":\"main\",\"name\":\"0.20.1-1\",\"draft\":false,\"prerelease\":true,\"created_at\":\"2023-01-16T21:55:48Z\",\"published_at\":\"2023-01-16T21:56:24Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/assets/91932093\",\"id\":91932093,\"node_id\":\"RA_kwDOH1LPHs4FesW9\",\"name\":\"CHANGELOG.md\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"site_admin\":false},\"content_type\":\"text/markdown\",\"state\":\"uploaded\",\"size\":45407,\"download_count\":0,\"created_at\":\"2023-01-16T21:56:25Z\",\"updated_at\":\"2023-01-16T21:56:25Z\",\"browser_download_url\":\"https://github.com/rockcarver/frodo-cli/releases/download/v0.20.1-1/CHANGELOG.md\"},{\"url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/assets/91932176\",\"id\":91932176,\"node_id\":\"RA_kwDOH1LPHs4FesYQ\",\"name\":\"frodo-linux-0.20.1-1.zip\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.[...]
