{
  "log": {
    "_recordingName": "NodeApi/deleteCustomNode()/1: Delete existing custom node [a15e2efb3deb4d4ea338c74a6440b69f-1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b4eb15d9815c3a216d47fbd8587b6983",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21a47d0e-f8d4-4542-978c-06e67383be15"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type/a15e2efb3deb4d4ea338c74a6440b69f-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 44,
            "text": "{\"_id\":\"a15e2efb3deb4d4ea338c74a6440b69f-1\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21a47d0e-f8d4-4542-978c-06e67383be15"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 350,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
