{
  "log": {
    "_recordingName": "ConfigOps/Classic Tests/exportFullConfiguration()/4: Export everything without string arrays, decoding variables, excluding journey coordinates and default scripts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f7edea2a16a82469cfa9512da84a820a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b3641561-db62-417c-a046-de5d0d8ab7e2"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/services?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 28868,
            "text": "{\"result\":[{\"defaults\":{\"sunIdRepoAttributeCombiner\":\"com.iplanet.am.sdk.AttributeCombiner\",\"sunIdRepoAttributeValidator\":[\"class=com.sun.identity.idm.server.IdRepoAttributeValidatorImpl\",\"minimumPasswordLength=8\",\"usernameInvalidChars=*|(|)|&|!\"]},\"_id\":\"id-repositories\",\"_type\":{\"_id\":\"id-repositories\",\"name\":\"sunIdentityRepositoryService\",\"collection\":false}},{\"charsetMappings\":[\"locale=zh|charset=UTF-8;GB2312\",\"locale=ar|charset=UTF-8;ISO-8859-6\",\"locale=es|charset=UTF-8;ISO-8859-15\",\"locale=de|charset=UTF-8;ISO-8859-15\",\"locale=zh_TW|charset=UTF-8;BIG5\",\"locale=fr|charset=UTF-8;ISO-8859-15\",\"locale=ko|charset=UTF-8;EUC-KR\",\"locale=en|charset=UTF-8;ISO-8859-1\",\"locale=th|charset=UTF-8;TIS-620\",\"locale=ja|charset=UTF-8;Shift_JIS;EUC-JP\"],\"sun-identity-g11n-settings-charset-alias-mapping\":[\"mimeName=EUC-KR|javaName=EUC_KR\",\"mimeName=EUC-JP|javaName=EUC_JP\",\"mimeName=Shift_JIS|javaName=SJIS\"],\"defaults\":{\"commonNameFormats\":[\"zh={sn}{givenname}\"]},\"_id\":\"globalization\",\"_type\":{\"_id\":\"globalization\",\"name\":\"Globalization Settings\",\"collection\":false}},{\"general\":{\"filesPerKeystore\":5,\"fields\":[\"IPAddr\",\"LoggedBy\",\"LoginID\",\"NameID\",\"ModuleName\",\"ContextID\",\"Domain\",\"LogLevel\",\"HostName\",\"MessageID\"],\"bufferSize\":25,\"buffering\":\"ON\",\"bufferTime\":60,\"jdkLoggingLevel\":\"INFO\",\"signaturePeriod\":900,\"verifyPeriod\":3600,\"status\":\"INACTIVE\",\"security\":\"OFF\",\"type\":\"File\",\"certificateStore\":\"%BASE_DIR%/var/audit/Logger.jks\",\"signingAlgorithm\":\"SHA1withRSA\"},\"file\":{\"rotationEnabled\":true,\"maxFileSize\":100000000,\"rotationInterval\":-1,\"numberHistoryFiles\":1,\"suffix\":\"-MM.dd.yy-kk.mm\",\"location\":\"%BASE_DIR%/var/audit/\"},\"database\":{\"maxRecords\":500,\"databaseFailureMemoryBufferSize\":2,\"driver\":\"oracle.jdbc.driver.OracleDriver\",\"user\":\"dbuser\"},\"syslog\":{\"protocol\":\"UDP\",\"port\":514,\"timeout\":30,\"host\":\"localhost\",\"facility\":\"local5\"},\"resolveHostName\":false,\"_id\":\"logging\",\"_type\":{\"_id\":\"logging\",\"name\":\"Logging\",\"collection\":false}},{\"federationConfig\":{\"samlPostServletUrl\":\"%protocol://%host:%port%uri/SAMLPOSTProfileServlet\",\"samlSoapReceiverUrl\":\"%protocol://%host:%port%uri/SAMLSOAPReceiver\",\"samlAwareServletUrl\":\"%protocol://%host:%port%uri/SAMLAwareServlet\",\"samlAssertionManagerUrl\":\"%protocol://%host:%port%uri/AssertionManagerServlet/AssertionManagerIF\",\"jaxrpcUrl\":\"%protocol://%host:%port%uri/jaxrpc/\"},\"generalConfig\":{\"authUrl\":\"%protocol://%host:%port%uri/authservice\",\"profileUrl\":\"%protocol://%host:%port%uri/profileservice\",\"sessionUrl\":\"%protocol://%host:%port%uri/sessionservice\",\"loggingUrl\":\"%protocol://%host:%port%uri/loggingservice\",\"policyUrl\":\"%protocol://%host:%port%uri/policyservice\"},\"endpointConfig\":{\"stsUrl\":\"%protocol://%host:%port%uri/sts\",\"jaxwsUrl\":\"%protocol://%host:%port%uri/identityservices/\",\"stsMexUrl\":\"%protocol://%host:%port%uri/sts/mex\"},\"_id\":\"naming\",\"_type\":{\"_id\":\"naming\",\"name\":\"Naming\",\"collection\":false}},{\"cookieDomains\":[],\"locale\":\"en_US\",\"_id\":\"platform\",\"_type\":{\"_id\":\"platform\",\"name\":\"Platform\",\"collection\":false}},{\"resourceComparators\":[\"serviceType=iPlanetAMWebAgentService|class=com.sun.identity.policy.plugins.HttpURLResourceName|wildcard=*|oneLevelWildcard=-*-|delimiter=/|caseSensitive=false\"],\"continueEvaluationOnDeny\":false,\"realmAliasReferrals\":false,\"defaults\":{\"userAliasEnabled\":false,\"connectionPoolMinimumSize\":1,\"maximumSearchResults\":100,\"policyHeartbeatTimeUnit\":\"SECONDS\",\"searchTimeout\":5,\"usersSearchAttribute\":\"uid\",\"policyHeartbeatInterval\":10,\"usersSearchScope\":\"SCOPE_SUB\",\"subjectsResultTTL\":10,\"checkIfResourceTypeExists\":true,\"connectionPoolMaximumSize\":10,\"sslEnabled\":true,\"ldapServer\":[\"localhost:50636\"],\"mtlsEnabled\":false,\"bindDn\":\"cn=Directory Manager\",\"realmSearchFilter\":\"(objectclass=sunismanagedorganization)\",\"usersSearchFilter\":\"(objectclass=inetorgperson)\",\"usersBaseDn\":\"dc=openam,dc=forgerock,dc=org\"},\"_id\":\"policyconfiguration\",\"_type\":{\"_id\":\"policyconfiguration\",\"name\":\"Policy Configuration\",\"collection\":false}},{\"quotas\":{\"denyLoginWhenRepoDown\":\"NO\",\"iplanet-am-session-enable-session-constraint\":\"OFF\",\"behaviourWhenQuotaExhausted\":\"org.forgerock.openam.session.service.DestroyNextExpiringAction\",\"quotaConstraintMaxWaitTime\":6000},\"stateless\":{\"openam-session-stateless-blacklist-cache-size\":10000,\"statelessLogoutByUser\":false,\"statelessEncryptionType\":\"DIRECT\",\"openam-session-stateless-logout-poll-interval\":60,\"statelessEncryptionAesKey\":null,\"statelessSigningType\":\"HS256\",\"openam-session-stateless-blacklist-poll-interval\":60,\"statelessCompressionType\":\"NONE\",\"statelessSigningHmacSecret\":null,\"openam-session-stateless-blacklist-purge-delay\":1,\"openam-session-stateless-enable-session-blacklisting\":false},\"general\":{\"latestAccessTimeUpdateFrequency\":60,\"timeoutHandlers\":[],\"dnRestrictionOnly\":false,\"crossUpgradeReferenceFlag\":false},\"notifications\":{\"notificationPropertyList\":[],\"propertyChangeNotifications\":\"OFF\"},\"search\":{\"sessionListRetrievalTimeout\":5,\"maxSessionListSize\":120},\"dynamic\":{\"maxIdleTime\":30,\"maxSessionTime\":120,\"quotaLimit\":5,\"maxCachingTime\":3},\"_id\":\"session\",\"_type\":{\"_id\":\"session\",\"name\":\"Session\",\"collection\":false}},{\"dynamic\":{\"defaultUserStatus\":\"Active\"},\"_id\":\"user\",\"_type\":{\"_id\":\"user\",\"name\":\"User\",\"collection\":false}},{\"requestHandlers\":[],\"_id\":\"federation/saml2soapbinding\",\"_type\":{\"_id\":\"federation/saml2soapbinding\",\"name\":\"SAML v2.0 SOAP Binding\",\"collection\":false}},{\"singleLogoutHandlerList\":[\"key=WSFED|class=com.sun.identity.multiprotocol.WSFederationSingleLogoutHandler\",\"key=SAML2|class=com.sun.identity.multiprotocol.SAML2SingleLogoutHandler\"],\"_id\":\"federation/multi\",\"_type\":{\"_id\":\"federation/multi\",\"name\":\"Multi-Federation Protocol\",\"collection\":false}},{\"implementationClasses\":{\"loggerClass\":\"com.sun.identity.plugin.log.impl.LogProvider\",\"signatureProviderClass\":\"com.sun.identity.saml.xmlsig.AMSignatureProvider\",\"passwordDecoderClass\":\"com.sun.identity.saml.xmlsig.FMPasswordDecoder\",\"configurationClass\":\"com.sun.identity.plugin.configuration.impl.ConfigurationInstanceImpl\",\"rootUrlProviderClass\":\"org.forgerock.openam.federation.plugin.rooturl.impl.FmRootUrlProvider\",\"datastoreClass\":\"com.sun.identity.plugin.datastore.impl.IdRepoDataStoreProvider\",\"keyProviderClass\":\"com.sun.identity.saml.xmlsig.JKSKeyProvider\",\"sessionProviderClass\":\"com.sun.identity.plugin.session.impl.FMSessionProvider\"},\"generalConfig\":{\"maxContentLength\":20480,\"certificateChecking\":\"on\",\"samlErrorPageUrl\":\"/saml2/jsp/saml2error.jsp\",\"samlErrorPageHttpBinding\":\"HTTP-POST\"},\"algorithms\":{\"aesKeyWrapAlgorithm\":\"http://www.w3.org/2001/04/xmlenc#kw-aes256\",\"QuerySignatureAlgorithmEC\":\"http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha512\",\"transformationAlgorithm\":\"http://www.w3.org/2001/10/xml-exc-c14n#\",\"maskGenerationFunction\":\"http://www.w3.org/2009/xmlenc11#mgf1sha256\",\"DigestAlgorithm\":\"http://www.w3.org/2001/04/xmlenc#sha256\",\"QuerySignatureAlgorithmDSA\":\"http://www.w3.org/2009/xmldsig11#dsa-sha256\",\"QuerySignatureAlgorithmRSA\":\"http://www.w3.org/2001/04/xmldsig-more#rsa-sha256\",\"signatureAlgorithm\":\"http://www.w3.org/2001/04/xmldsig-more#rsa-sha256\",\"rsaKeyTransportAlgorithm\":\"http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p\",\"canonicalizationAlgorithm\":\"http://www.w3.org/2001/10/xml-exc-c14n#\"},\"montoring\":{\"monitoringSaml2Class\":\"com.sun.identity.plugin.monitoring.impl.FedMonSAML2SvcProvider\",\"monitoringAgentClass\":\"com.sun.identity.plugin.monitoring.impl.AgentProvider\"},\"_id\":\"federation/common\",\"_type\":{\"_id\":\"federation/common\",\"name\":\"Common Federation Configuration\",\"collection\":false}},{\"defaults\":{\"forgotPasswordEnabled\":false,\"selfRegistrationConfirmationUrl\":\"http://localhost:8080/am/XUI/confirm.html\",\"userRegisteredDestination\":\"default\",\"protectedUserAttributes\":[],\"selfRegistrationTokenLifetime\":900,\"confirmationIdHmacKey\":\"YcGfeuzSM14OG5djEcxEnvPydX28nsuxAZyDX1VA8iY=\",\"selfServiceEnabled\":false,\"selfRegistrationEnabled\":false,\"forgotPasswordTokenLifetime\":900,\"forgotPasswordConfirmationUrl\":\"http://localhost:8080/am/XUI/confirm.html\"},\"_id\":\"security\",\"_type\":{\"_id\":\"security\",\"name\":\"Legacy User Self Service\",\"collection\":false}},{\"defaults\":{\"source\":\"REQUEST_VALUES\",\"contextPath\":\"/am\"},\"_id\":\"baseurl\",\"_type\":{\"_id\":\"baseurl\",\"name\":\"Base URL Source\",\"collection\":false}},{\"auditEnabled\":true,\"whitelistFieldFilters\":[],\"blacklistFieldFilters\":[],\"defaults\":{\"auditEnabled\":true,\"whitelistFieldFilters\":[],\"blacklistFieldFilters\":[]},\"_id\":\"audit\",\"_type\":{\"_id\":\"audit\",\"name\":\"Audit Logging\",\"collection\":false}},{\"defaults\":{\"authenticatorWebAuthnDeviceSettingsEncryptionScheme\":\"NONE\",\"webauthnAttrName\":\"webauthnDeviceProfiles\",\"authenticatorWebAuthnDeviceSettingsEncryptionKeystore\":\"/home/prestonhales/am/security/keystores/keystore.jceks\",\"authenticatorWebAuthnDeviceSettingsEncryptionKeystorePassword\":null,\"authenticatorWebAuthnDeviceSettingsEncryptionKeystoreType\":\"JCEKS\"},\"_id\":\"authenticatorWebAuthnService\",\"_type\":{\"_id\":\"authenticatorWebAuthnService\",\"name\":\"WebAuthn Profile Encryption Service\",\"collection\":false}},{\"defaults\":{\"deviceIdSettingsEncryptionKeystoreType\":\"JKS\",\"deviceIdSettingsEncryptionKeystore\":\"/home/prestonhales/am/security/keystores/keystore.jks\",\"deviceIdAttrName\":\"devicePrintProfiles\",\"deviceIdSettingsEncryptionScheme\":\"NONE\",\"deviceIdSettingsEncryptionKeystorePassword\":null},\"_id\":\"deviceIdService\",\"_type\":{\"_id\":\"deviceIdService\",\"name\":\"Device ID Service\",\"collection\":false}},{\"defaults\":{\"applicationDataStoreId\":\"fd270e31-1788-4193-8734-eb2d500c47f3\",\"policyDataStoreId\":\"fd270e31-1788-4193-8734-eb2d500c47f3\"},\"_id\":\"DataStoreService\",\"_type\":{\"_id\":\"DataStoreService\",\"name\":\"External Data Stores\",\"collection\":false}},{\"defaults\":{\"deviceProfilesSettingsEncryptionScheme\":\"NONE\",\"deviceProfilesSettingsEncryptionKeystoreType\":\"JKS\",\"deviceProfilesAttrName\":\"deviceProfiles\",\"deviceProfilesSettingsEncryptionKeystorePassword\":null,\"deviceProfilesSettingsEncryptionKeystore\":\"/home/prestonhales/am/security/keystores/keystore.jks\"},\"_id\":\"deviceProfilesService\",\"_type\":{\"_id\":\"deviceProfilesService\",\"name\":\"Device Profiles Service\",\"collection\":false}},{\"defaults\":{\"delegateFactory\":\"org.forgerock.openam.services.push.sns.SnsHttpDelegateFactory\",\"region\":\"us-east-1\",\"mdCacheSize\":10000,\"mdConcurrency\":16,\"mdDuration\":120},\"_id\":\"pushNotification\",\"_type\":{\"_id\":\"pushNotification\",\"name\":\"Push Notification Service\",\"collection\":false}},{\"defaults\":{\"advancedConfig\":{\"userRegistrationConfirmationUrl\":\"http://localhost:8080/am/XUI/?realm=${realm}#register/\",\"forgottenPasswordConfirmationUrl\":\"http://localhost:8080/am/XUI/?realm=${realm}#passwordReset/\",\"forgottenPasswordServiceConfigClass\":\"org.forgerock.openam.selfservice.config.flows.ForgottenPasswordConfigProvider\",\"userRegistrationServiceConfigClass\":\"org.forgerock.openam.selfservice.config.flows.UserRegistrationConfigProvider\",\"forgottenUsernameServiceConfigClass\":\"org.forgerock.openam.selfservice.config.flows.ForgottenUsernameConfigProvider\"},\"forgottenUsername\":{\"forgottenUsernameCaptchaEnabled\":false,\"forgottenUsernameEnabled\":false,\"forgottenUsernameTokenTTL\":300,\"forgottenUsernameKbaEnabled\":false,\"forgottenUsernameEmailUsernameEnabled\":true,\"forgottenUsernameEmailBody\":[\"en|<h2>Your username is <span style=\\\"color:blue\\\">%username%</span>.</h2>\"],\"forgottenUsernameEmailSubject\":[\"en|Forgotten username email\"],\"forgottenUsernameShowUsernameEnabled\":false},\"userRegistration\":{\"userRegistrationTokenTTL\":300,\"userRegistrationValidUserAttributes\":[\"userPassword\",\"mail\",\"givenName\",\"kbaInfo\",\"inetUserStatus\",\"sn\",\"username\"],\"userRegistrationEnabled\":false,\"userRegistrationEmailVerificationEnabled\":true,\"userRegistrationEmailBody\":[\"en|<h2>Click on this <a href=\\\"%link%\\\">link</a> to register.</h2>\"],\"userRegistrationEmailVerificationFirstEnabled\":false,\"userRegistrationEmailSubject\":[\"en|Registration email\"],\"userRegisteredDestination\":\"default\",\"userRegistrationCaptchaEnabled\":false,\"userRegistrationKbaEnabled\":false},\"forgottenPassword\":{\"forgottenPasswordEmailSubject\":[\"en|Forgotten password email\"],\"forgottenPasswordTokenTTL\":300,\"forgottenPasswordEnabled\":false,\"forgottenPasswordEmailBody\":[\"en|<h2>Click on this <a href=\\\"%link%\\\">link</a> to reset your password.</h2>\"],\"forgottenPasswordTokenPaddingLength\":450,\"forgottenPasswordEmailVerificationEnabled\":true,\"numberOfAllowedAttempts\":1,\"forgottenPasswordKbaEnabled\":false,\"forgottenPasswordCaptchaEnabled\":false,\"numberOfAttemptsEnforced\":false},\"generalConfig\":{\"minimumAnswersToDefine\":1,\"minimumAnswersToVerify\":1,\"kbaQuestions\":[\"4|en|What is your mother's maiden name?\",\"3|en|What was the name of your childhood pet?\",\"2|en|What was the model of your first car?\",\"1|en|What is the name of your favourite restaurant?\"],\"validQueryAttributes\":[\"uid\",\"mail\",\"givenName\",\"sn\"],\"captchaVerificationUrl\":\"https://www.google.com/recaptcha/api/siteverify\"},\"profileManagement\":{\"profileAttributeWhitelist\":[\"uid\",\"telephoneNumber\",\"mail\",\"kbaInfo\",\"givenName\",\"sn\",\"cn\"],\"profileProtectedUserAttributes\":[\"telephoneNumber\",\"mail\"]}},\"_id\":\"selfService\",\"_type\":{\"_id\":\"selfService\",\"name\":\"User Self-Service\",\"collection\":false}},{\"defaults\":{\"displayNames\":{},\"enabledKeys\":[],\"authenticationChains\":{},\"icons\":{}},\"_id\":\"socialauthentication\",\"_type\":{\"_id\":\"socialauthentication\",\"name\":\"Social Authentication Implementations\",\"collection\":false}},{\"blacklistPurgeDelay\":1,\"blacklistCacheSize\":10000,\"allowUnauthorisedAccessToUserCodeForm\":false,\"storageScheme\":\"CTS_ONE_TO_ONE_MODEL\",\"jwtTokenUnreasonableLifetime\":86400,\"jwtTokenRequiredClaims\":[],\"jwtTokenLifetimeValidationEnabled\":true,\"statelessGrantTokenUpgradeCompatibilityMode\":false,\"blacklistPollInterval\":60,\"defaults\":{\"advancedOIDCConfig\":{\"supportedRequestParameterEncryptionEnc\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"authorisedOpenIdConnectSSOClients\":[],\"supportedUserInfoEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"RSA-OAEP\",\"ECDH-ES+A128KW\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"supportedAuthorizationResponseEncryptionEnc\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"supportedTokenIntrospectionResponseEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"RSA-OAEP\",\"ECDH-ES+A128KW\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"useForceAuthnForPromptLogin\":false,\"useForceAuthnForMaxAge\":false,\"alwaysAddClaimsToToken\":false,\"supportedTokenIntrospectionResponseSigningAlgorithms\":[\"PS384\",\"RS384\",\"EdDSA\",\"ES384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedTokenEndpointAuthenticationSigningAlgorithms\":[\"PS384\",\"ES384\",\"RS384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedRequestParameterSigningAlgorithms\":[\"PS384\",\"ES384\",\"RS384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"includeAllKtyAlgCombinationsInJwksUri\":false,\"amrMappings\":{},\"loaMapping\":{},\"authorisedIdmDelegationClients\":[],\"idTokenInfoClientAuthenticationEnabled\":true,\"storeOpsTokens\":true,\"supportedUserInfoSigningAlgorithms\":[\"ES384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\"],\"supportedAuthorizationResponseSigningAlgorithms\":[\"PS384\",\"RS384\",\"EdDSA\",\"ES384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedUserInfoEncryptionEnc\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"claimsParameterSupported\":false,\"supportedTokenIntrospectionResponseEncryptionEnc\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"supportedAuthorizationResponseEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"RSA-OAEP\",\"ECDH-ES+A128KW\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"supportedRequestParameterEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"ECDH-ES+A128KW\",\"RSA-OAEP\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"defaultACR\":[]},\"advancedOAuth2Config\":{\"tokenCompressionEnabled\":false,\"tokenEncryptionEnabled\":false,\"requirePushedAuthorizationRequests\":false,\"tlsCertificateBoundAccessTokensEnabled\":true,\"includeSubnameInTokenClaims\":true,\"defaultScopes\":[],\"moduleMessageEnabledInPasswordGrant\":false,\"allowClientCredentialsInTokenRequestQueryParameters\":false,\"supportedSubjectTypes\":[\"public\",\"pairwise\"],\"refreshTokenGracePeriod\":0,\"tlsClientCertificateHeaderFormat\":\"URLENCODED_PEM\",\"hashSalt\":\"changeme\",\"macaroonTokenFormat\":\"V2\",\"maxAgeOfRequestObjectNbfClaim\":0,\"tlsCertificateRevocationCheckingEnabled\":false,\"nbfClaimRequiredInRequestObject\":false,\"requestObjectProcessing\":\"OIDC\",\"maxDifferenceBetweenRequestObjectNbfAndExp\":0,\"responseTypeClasses\":[\"code|org.forgerock.oauth2.core.AuthorizationCodeResponseTypeHandler\",\"id_token|org.forgerock.openidconnect.IdTokenResponseTypeHandler\",\"token|org.forgerock.oauth2.core.TokenResponseTypeHandler\"],\"expClaimRequiredInRequestObject\":false,\"tokenValidatorClasses\":[\"urn:ietf:params:oauth:token-type:id_token|org.forgerock.oauth2.core.tokenexchange.idtoken.OidcIdTokenValidator\",\"urn:ietf:params:oauth:token-type:access_token|org.forgerock.oauth2.core.tokenexchange.accesstoken.OAuth2AccessTokenValidator\"],\"tokenSigningAlgorithm\":\"HS256\",\"codeVerifierEnforced\":\"false\",\"displayNameAttribute\":\"cn\",\"tokenExchangeClasses\":[\"urn:ietf:params:oauth:token-type:access_token=>urn:ietf:params:oauth:token-type:access_token|org.forgerock.oauth2.core.tokenexchange.accesstoken.AccessTokenToAccessTokenExchanger\",\"urn:ietf:params:oauth:token-type:id_token=>urn:ietf:params:oauth:token-type:id_token|org.forgerock.oauth2.core.tokenexchange.idtoken.IdTokenToIdTokenExchanger\",\"urn:ietf:params:oauth:token-type:access_token=>urn:ietf:params:oauth:token-type:id_token|org.forgerock.oauth2.core.tokenexchange.accesstoken.AccessTokenToIdTokenExchanger\",\"urn:ietf:params:oauth:token-type:id_token=>urn:ietf:params:oauth:token-type:access_token|org.forgerock.oauth2.core.tokenexchange.idtoken.IdTokenToAccessTokenExchanger\"],\"parRequestUriLifetime\":90,\"allowedAudienceValues\":[],\"persistentClaims\":[],\"supportedScopes\":[],\"authenticationAttributes\":[\"uid\"],\"grantTypes\":[\"implicit\",\"urn:ietf:params:oauth:grant-type:saml2-bearer\",\"refresh_token\",\"password\",\"client_credentials\",\"urn:ietf:params:oauth:grant-type:device_code\",\"authorization_code\",\"urn:openid:params:grant-type:ciba\",\"urn:ietf:params:oauth:grant-type:uma-ticket\",\"urn:ietf:params:oauth:grant-type:token-exchange\",\"urn:ietf:params:oauth:grant-type:jwt-bearer\"]},\"clientDynamicRegistrationConfig\":{\"dynamicClientRegistrationScope\":\"dynamic_client_registration\",\"allowDynamicRegistration\":false,\"requiredSoftwareStatementAttestedAttributes\":[\"redirect_uris\"],\"dynamicClientRegistrationSoftwareStatementRequired\":false,\"generateRegistrationAccessTokens\":true},\"coreOIDCConfig\":{\"overrideableOIDCClaims\":[],\"oidcDiscoveryEndpointEnabled\":false,\"supportedIDTokenEncryptionMethods\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"supportedClaims\":[],\"supportedIDTokenSigningAlgorithms\":[\"PS384\",\"ES384\",\"RS384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedIDTokenEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"RSA-OAEP\",\"ECDH-ES+A128KW\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"jwtTokenLifetime\":3600},\"coreOAuth2Config\":{\"refreshTokenLifetime\":604800,\"scopesPolicySet\":\"oauth2Scopes\",\"accessTokenMayActScript\":\"[Empty]\",\"accessTokenLifetime\":3600,\"macaroonTokensEnabled\":false,\"codeLifetime\":120,\"statelessTokensEnabled\":false,\"usePolicyEngineForScope\":false,\"issueRefreshToken\":true,\"oidcMayActScript\":\"[Empty]\",\"issueRefreshTokenOnRefreshedToken\":true},\"consent\":{\"supportedRcsRequestSigningAlgorithms\":[\"PS384\",\"ES384\",\"RS384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedRcsResponseEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"ECDH-ES+A128KW\",\"RSA-OAEP\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"supportedRcsRequestEncryptionMethods\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"],\"enableRemoteConsent\":false,\"supportedRcsRequestEncryptionAlgorithms\":[\"ECDH-ES+A256KW\",\"ECDH-ES+A192KW\",\"RSA-OAEP\",\"ECDH-ES+A128KW\",\"RSA-OAEP-256\",\"A128KW\",\"A256KW\",\"ECDH-ES\",\"dir\",\"A192KW\"],\"clientsCanSkipConsent\":false,\"supportedRcsResponseSigningAlgorithms\":[\"PS384\",\"ES384\",\"RS384\",\"HS256\",\"HS512\",\"ES256\",\"RS256\",\"HS384\",\"ES512\",\"PS256\",\"PS512\",\"RS512\"],\"supportedRcsResponseEncryptionMethods\":[\"A256GCM\",\"A192GCM\",\"A128GCM\",\"A128CBC-HS256\",\"A192CBC-HS384\",\"A256CBC-HS512\"]},\"deviceCodeConfig\":{\"deviceUserCodeLength\":8,\"deviceCodeLifetime\":300,\"deviceUserCodeCharacterSet\":\"234567ACDEFGHJKLMNPQRSTWXYZabcdefhijkmnopqrstwxyz\",\"devicePollInterval\":5},\"pluginsConfig\":{\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"validateScopeScript\":\"25e6c06d-cf70-473b-bd28-26931edc476b\",\"accessTokenEnricherClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultAccessTokenEnricher\",\"oidcClaimsPluginType\":\"SCRIPTED\",\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"authorizeEndpointDataProviderPluginType\":\"JAVA\",\"userCodeGeneratorClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultUserCodeGenerator\",\"evaluateScopeScript\":\"da56fe60-8b38-4c46-a405-d6b306d4b336\",\"evaluateScopePluginType\":\"JAVA\",\"authorizeEndpointDataProviderScript\":\"3f93ef6e-e54a-4393-aba1-f322656db28a\",\"accessTokenModificationScript\":\"d22f9a0c-426a-4466-b95e-d0f125b0d5fa\",\"validateScopePluginType\":\"JAVA\",\"accessTokenModificationPluginType\":\"SCRIPTED\",\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"oidcClaimsScript\":\"36863ffb-40ec-48b9-94b1-9a99f71cc3b5\"},\"cibaConfig\":{\"cibaMinimumPollingInterval\":2,\"supportedCibaSigningAlgorithms\":[\"ES256\",\"PS256\"],\"cibaAuthReqIdLifetime\":600}},\"_id\":\"oauth-oidc\",\"_type\":{\"_id\":\"oauth-oidc\",\"name\":\"OAuth2 Provider\",\"collection\":false}},{\"defaults\":{\"deviceBindingSettingsEncryptionKeystorePassword\":null,\"deviceBindingAttrName\":\"boundDevices\",\"deviceBindingSettingsEncryptionScheme\":\"NONE\",\"deviceBindingSettingsEncryptionKeystoreType\":\"JKS\",\"deviceBindingSettingsEncryptionKeystore\":\"/home/prestonhales/am/security/keystores/keystore.jks\"},\"_id\":\"deviceBindingService\",\"_type\":{\"_id\":\"deviceBindingService\",\"name\":\"Device Binding Service\",\"collection\":false}},{\"cacheDuration\":24,\"defaults\":{\"crlUrl\":\"https://android.googleapis.com/attestation/status\"},\"_id\":\"androidKeyAttestation\",\"_type\":{\"_id\":\"androidKeyAttestation\",\"name\":\"Android Key Attestation\",\"collection\":false}},{\"defaultContext\":\"POLICY_CONDITION\",\"_id\":\"scripting\",\"_type\":{\"_id\":\"scripting\",\"name\":\"Scripting\",\"collection\":false}},{\"validGotoDestinations\":[],\"defaults\":{\"validGotoDestinations\":[]},\"_id\":\"validation\",\"_type\":{\"_id\":\"validation\",\"name\":\"Validation Service\",\"collection\":false}},{\"rmiPort\":9999,\"enabled\":false,\"rmiEnabled\":false,\"httpPort\":8082,\"sessionHistoryWindowSize\":10000,\"policyHistoryWindowSize\":10000,\"snmpPort\":8085,\"httpEnabled\":false,\"snmpEnabled\":false,\"authfilePath\":\"%BASE_DIR%/security/openam_mon_auth\",\"_id\":\"monitoring\",\"_type\":{\"_id\":\"monitoring\",\"name\":\"Monitoring\",\"collection\":false}},{\"provisioningClientScopes\":[\"fr:idm:*\"],\"idmProvisioningClient\":\"idm-provisioning\",\"useInternalOAuth2Provider\":false,\"jwtSigningCompatibilityMode\":false,\"enabled\":false,\"configurationCacheDuration\":0,\"_id\":\"idm-integration\",\"_type\":{\"_id\":\"idm-integration\",\"name\":\"IDM Provisioning\",\"collection\":false}},{\"defaults\":{\"oathAttrName\":\"oathDeviceProfiles\",\"authenticatorOATHDeviceSettingsEncryptionKeystore\":\"/home/prestonhales/am/security/keystores/keystore.jks\",\"authenticatorOATHDeviceSettingsEncryptionKeystorePassword\":null,\"authenticatorOATHDeviceSettingsEncryptionScheme\":\"NONE\",\"authenticatorOATHDeviceSettingsEncryptionKeystoreType\":\"JKS\",\"authenticatorOATHSkippableName\":\"oath2faEnabled\",\"authenticatorOATHDeviceSettingsEncryptionKeystoreKeyPairAlias\":\"pushDeviceProfiles\"},\"_id\":\"authenticatorOathService\",\"_type\":{\"_id\":\"authenticatorOathService\",\"name\":\"ForgeRock Authenticator (OATH) Service\",\"collection\":false}},{\"defaults\":{\"oauthJwtIssuerName\":\"forgerock-iot-jwt-issuer\",\"createOAuthJwtIssuer\":false,\"attributeAllowlist\":[\"thingConfig\"],\"createOAuthClient\":false,\"oauthClientName\":\"forgerock-iot-oauth2-client\"},\"_id\":\"iot\",\"_type\":{\"_id\":\"iot\",\"name\":\"IoT Service\",\"collection\":false}},{\"bufferLength\":2048,\"xmlEncryptionClass\":\"com.sun.identity.saml2.xmlenc.FMEncProvider\",\"caCertValidation\":false,\"signingCertValidation\":false,\"cacheCleanupInterval\":600,\"idpDiscoveryCookieType\":\"PERSISTENT\",\"nameIDInfoAttribute\":\"sun-fm-saml2-nameid-info\",\"encryptedKeyInKeyInfo\":true,\"idpDiscoveryUrlSchema\":\"HTTPS\",\"xmlSigningClass\":\"com.sun.identity.saml2.xmlsig.FMSigProvider\",\"nameIDInfoKeyAttribute\":\"sun-fm-saml2-nameid-infokey\",\"_id\":\"saml2\",\"_type\":{\"_id\":\"saml2\",\"name\":\"SAML v2.0 Service Configuration\",\"collection\":false}},{\"defaultProtocolVersion\":\"Latest\",\"descriptionsState\":\"STATIC\",\"defaultVersion\":\"Latest\",\"warningHeader\":true,\"csrfFilterEnabled\":true,\"_id\":\"rest\",\"_type\":{\"_id\":\"rest\",\"name\":\"REST APIs\",\"collection\":false}},{\"defaults\":{\"assignedDashboard\":[]},\"_id\":\"dashboard\",\"_type\":{\"_id\":\"dashboard\",\"name\":\"Dashboard\",\"collection\":false}},{\"cacheDuration\":120,\"enable\":true,\"defaults\":{\"cacheDuration\":120,\"enable\":true},\"_id\":\"IdentityAssertionService\",\"_type\":{\"_id\":\"IdentityAssertionService\",\"name\":\"Identity Assertion Service\",\"collection\":false}},{\"defaults\":{\"enabled\":true},\"_id\":\"SocialIdentityProviders\",\"_type\":{\"_id\":\"SocialIdentityProviders\",\"name\":\"Social Identity Provider Service\",\"collection\":false}},{\"defaults\":{\"authenticatorPushDeviceSettingsEncryptionKeystorePassword\":null,\"authenticatorPushDeviceSettingsEncryptionKeystore\":\"/home/prestonhales/am/security/keystores/keystore.jks\",\"authenticatorPushDeviceSettingsEncryptionScheme\":\"NONE\",\"authenticatorPushDeviceSettingsEncryptionKeystoreType\":\"JKS\",\"pushAttrName\":\"pushDeviceProfiles\",\"authenticatorPushSkippableName\":\"push2faEnabled\"},\"_id\":\"authenticatorPushService\",\"_type\":{\"_id\":\"authenticatorPushService\",\"name\":\"ForgeRock Authenticator (Push) Service\",\"collection\":false}},{\"umaPolicyUpgradeCompatibilityMode\":false,\"defaults\":{\"generalSettings\":{\"pendingRequestsEnabled\":true,\"permission
[...]
