{
  "log": {
    "_recordingName": "TreeApi/getTree()/1: Get existing tree",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "84d251b736d069d67c1b7fdb6458ee02",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ca1f41e7-c750-4c47-8da3-b3887acc30d0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTest"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3316,
            "text": "{\"_id\":\"FrodoTest\",\"_rev\":\"1523421855\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"entryNodeId\":\"e2c39477-847a-4df2-9c5d-b449a752638b\",\"nodes\":{\"278bf084-9eea-46fe-8ce9-2600dde3b046\":{\"connections\":{\"localAuthentication\":\"fc7e47cd-c679-4211-8e05-a36654f23c67\",\"socialAuthentication\":\"d5cc2d52-6ce4-452d-85ea-3a5b50218b67\"},\"displayName\":\"Login Page\",\"nodeType\":\"PageNode\",\"x\":444,\"y\":273.015625},\"3db2dfb3-ef88-4fdd-b4e1-f2cfb29cfeb5\":{\"connections\":{\"outcome\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"displayName\":\"AA Result\",\"nodeType\":\"AutonomousAccessResultNode\",\"x\":1204,\"y\":498.015625},\"64157fca-bd5b-4405-a4c8-64ffd98a5461\":{\"connections\":{\"ACCOUNT_EXISTS\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"NO_ACCOUNT\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"displayName\":\"SAML2 Authentication\",\"nodeType\":\"product-Saml2Node\",\"x\":1196,\"y\":188.015625},\"731c5810-020b-45c8-a7fc-3c21903ae2b3\":{\"connections\":{\"localAuthentication\":\"fc7e47cd-c679-4211-8e05-a36654f23c67\",\"socialAuthentication\":\"d5cc2d52-6ce4-452d-85ea-3a5b50218b67\"},\"displayName\":\"Login Page\",\"nodeType\":\"PageNode\",\"x\":443,\"y\":26.015625},\"a8e23316-e47a-48ea-9bb0-20772aa2acda\":{\"connections\":{\"outcome\":\"731c5810-020b-45c8-a7fc-3c21903ae2b3\"},\"displayName\":\"AA Signal\",\"nodeType\":\"AutonomousAccessSignalNode\",\"x\":239,\"y\":109.015625},\"bf153f37-83dd-4f39-aa0c-74135430242e\":{\"connections\":{\"EMAIL_NOT_SENT\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"EMAIL_SENT\":\"64157fca-bd5b-4405-a4c8-64ffd98a5461\"},\"displayName\":\"Email Template Node\",\"nodeType\":\"EmailTemplateNode\",\"x\":967,\"y\":222.015625},\"d5cc2d52-6ce4-452d-85ea-3a5b50218b67\":{\"connections\":{\"ACCOUNT_EXISTS\":\"fd490c13-58a4-4f5d-9ff3-302b42793c39\",\"NO_ACCOUNT\":\"bf153f37-83dd-4f39-aa0c-74135430242e\"},\"displayName\":\"Social Login\",\"nodeType\":\"SocialProviderHandlerNode\",\"x\":702,\"y\":116.015625},\"e2c39477-847a-4df2-9c5d-b449a752638b\":{\"connections\":{\"known\":\"a8e23316-e47a-48ea-9bb0-20772aa2acda\",\"unknown\":\"278bf084-9eea-46fe-8ce9-2600dde3b046\"},\"displayName\":\"Check Username\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":200,\"y\":235.015625},\"e918d376-a195-46da-aa9c-bda7612b40df\":{\"connections\":{\"outcome\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"displayName\":\"AA Result\",\"nodeType\":\"AutonomousAccessResultNode\",\"x\":1215,\"y\":45.015625},\"fc7e47cd-c679-4211-8e05-a36654f23c67\":{\"connections\":{\"CANCELLED\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"EXPIRED\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"FALSE\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"LOCKED\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"TRUE\":\"fd490c13-58a4-4f5d-9ff3-302b42793c39\"},\"displayName\":\"Validate Creds\",\"nodeType\":\"IdentityStoreDecisionNode\",\"x\":702,\"y\":292.015625},\"fd490c13-58a4-4f5d-9ff3-302b42793c39\":{\"connections\":{\"high\":\"3db2dfb3-ef88-4fdd-b4e1-f2cfb29cfeb5\",\"low\":\"e918d376-a195-46da-aa9c-bda7612b40df\",\"medium\":\"3db2dfb3-ef88-4fdd-b4e1-f2cfb29cfeb5\",\"unknown\":\"e918d376-a195-46da-aa9c-bda7612b40df\"},\"displayName\":\"AA Decision\",\"nodeType\":\"AutonomousAccessDecisionNode\",\"x\":983,\"y\":46.015625}},\"description\":\"Frodo test journey utilizing a variety of nodes and dependencies to test support for complex journeys.\",\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":1434,\"y\":60},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":1433,\"y\":459},\"startNode\":{\"x\":63,\"y\":252}},\"enabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1523421855\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ca1f41e7-c750-4c47-8da3-b3887acc30d0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 42,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
