{
  "log": {
    "_recordingName": "ResourceTypeOps/importResourceTypeByName()/1: Export existing resource type by name [FrodoTestResourceType12 - 3fc799d7-b73f-49e0-a70b-e37990e54e56]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0c3900831a435c1c858a12f0b259b923",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6492064b-3527-4296-94f5-5efa18ec87cb"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..Uqx-UxwQLKywBtUoUMfTyw.VQUxG6mNLuX9OHIMERgvl[...]
