{
  "log": {
    "_recordingName": "PolicySetApi/updatePolicySet()/1: Update existing policy set [FrodoTestPolicySet4]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c34c605d09dc4160392d20cdd20b1245",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6faa00e1-a106-4a98-82c9-10b685573a57"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..LDl-0pUnq7yLTGqKi29-5g.3Vmzq8nOFmV77zR9kaLG-[...]
