{
  "log": {
    "_recordingName": "AgentApi/Cloud Tests/findAgentByTypeAndId()/1: Find IdentityGatewayAgent 'FrodoTestGatewayAgent1'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dfd472084ed93c4aa04f82251ab41c92",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e4b4451d-1e4e-49bb-a559-0a1154ad319d"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id eq 'FrodoTestGatewayAgent1'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent?_queryFilter=_id%20eq%20%27FrodoTestGatewayAgent1%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 890,
            "text": "{\"result\":[{\"_id\":\"FrodoTestGatewayAgent1\",\"_rev\":\"-1960723701\",\"secretLabelIdentifier\":null,\"igTokenIntrospection\":\"Realm_Subs\",\"igCdssoLoginUrlTemplate\":null,\"status\":\"Active\",\"igCdssoRedirectUrls\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redirect\",\"https://ig.mytestrun.com/prometheus/cdsso/redirect\",\"https://ig.mytestrun.com/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/forgerock/cdsso/redirect\"],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e4b4451d-1e4e-49bb-a559-0a1154ad319d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 62,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
