{
  "log": {
    "_recordingName": "SecretsOps/importSecrets()/1: Import all secrets (secret8 and secret9)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b95a82a58a8866ff52701b8714ec09b6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-8"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"code\":404,\"message\":\"The secret does not exist or does not have a version\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 350,
      },
      {
        "_id": "1cf0f0f2ddeb0f4480150791879a5197",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"cGxhY2Vob2xkZXIgc2VjcmV0IHZhbHVl\",\"description\":\"description8\",\"encoding\":\"generic\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-8"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "{\"_id\":\"esv-frodo-test-secret-8\",\"activeVersion\":\"1\",\"description\":\"description8\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-09-09T23:55:24.873155034Z\",\"lastChangedBy\":\"Frodo-SA-1783448612033\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1140,
      },
      {
        "_id": "51e417bbb5da1a419cbf412db1a0d196",
        "request": {
          "[...]
