{
  "log": {
    "_recordingName": "VariablesOps/exportVariable()/3: Export variable3 (non-existent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9875b020397c53e92bd855c668fe55d1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..jGQHIoYDHbORCMlQVBkjmw.00qB-Dn-5KWwpkWJCW5Ywz9MD2VTydyxEPxMDws1PNVBSeF1UZF4GL7Dmi70bdG5KVFovb1PO6iQGr-AXphS6QYLMJW6HKtpUQYIMws63xse490MNOQ8k_RS8JxHX_iJdmfWTp9Agsbx5wEANdXX7txEHe8czpU-g_6QCYlEdfjDfHkw-XNHX927JNWE0_Uz9jYqWWFIzgl_Xi3SGjW2PNrXjdyJ5MfYhNMw7PqD-6ysDNsyHQBxxQDhVZx8t1KaD6jIamkUiddn438ffezX_hX4WfUnYmcxMUxRi98KDDdSyGb1SKoqR-JtWqJKPsqv2hlE4GJo0pRrLZB_PEKAR0aZjwv4FVbOnQ832-9Byr8WpHvb79v5cW6aTdGCfmsTa8RoR6BbcsrH5rfSBEBnv2V9elFj8L4NM725RSk8lwzQbvpZ292J7VgfaNgdlG8PMytPGMEqHECAjcX63VyrKY_47wNkeop1sJudzq7_jRUQo5Cq85aSbIU-jD-IFTop0i6JUKp2MSLdQzUdJ9fVAVfzuyyqlhnAoP5FUJOmuWjZNGWdYaja1x_4otth0-haaIyCZzuKbJ5eTS5fjf6sqwXBCNadMhSyMQetb89PkJ3OYU_pQ5wSdOsabg7p5-brTZ0Fnb52WYQSODAvEAVl48ILu0tFfg1radXf42glEyAm83tVTRxUg_8PeOeMhA3-EWZvz5d4_CJnicKjSf__ne7Q0Gih0z-yJXHjQKKHdaN-9VmIZcPOXkJl6ndrC96Ze2Nm4XfqFaSf6grunL5n3THtcAx6K_hYVrLLHNjeDZx54SIgze_yZIM9nzQppRnOm8svqzo-hI7ArhyGjgGutdrRVYRA49Jta1Ts5O7cCXu1BOd9EXdvDmjAqjTkz6kik0kO2HoG2e8x5pclgedKs-a2gsCLP_iXRu0_z3IJwwtbvJHhbHySUZDYlzcRVQXpbx6zxD2llYZgJOJMBRawtzT-AUhWCum6n4UrHcyj8F0frFt1ndqvuU1vZPLRZtO0wLxsYb0Xolyss-9wFWHTF2IX7PM4rNmD8VLxRqIANXk.Hs4xNJI9FAdKfZXxFwAAKw"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 53,
            "text": "{\"code\":404,\"message\":\"The variable does not exist\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 225,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
