{
  "log": {
    "_recordingName": "VariablesOps/exportVariable()/3: Export variable3 (non-existent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9875b020397c53e92bd855c668fe55d1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 53,
            "text": "{\"code\":404,\"message\":\"The variable does not exist\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 112,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
