{
  "log": {
    "_recordingName": "AgentOps/deleteAgent()/1: Delete agent 'FrodoOpsTestGatewayAgent8' (IdentityGatewayAgent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b6cd1a8afe8cc95e3eaccba65cfee6e8",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-082ac66e-fb96-4582-8c1e-41360e0564e0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id eq 'FrodoOpsTestGatewayAgent8'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents?_queryFilter=_id%20eq%20%27FrodoOpsTestGatewayAgent8%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 341,
            "text": "{\"result\":[{\"_id\":\"FrodoOpsTestGatewayAgent8\",\"_rev\":\"-198093527\",\"igTokenIntrospection\":\"Realm_Subs\",\"status\":\"Active\",\"igCdssoRedirectUrls\":[],\"agentgroup\":null,\"userpassword\":null,\"_type\":\"IdentityGatewayAgent\"}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-082ac66e-fb96-4582-8c1e-41360e0564e0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155,
      },
      {
        "_id": "280e3b172c043aea58b8740c0874fddf",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-082ac66e-fb96-4582-8c1e-41360e0564e0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/FrodoOpsTestGatewayAgent8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 307,
            "text": "{\"_id\":\"FrodoOpsTestGatewayAgent8\",\"_rev\":\"899690511\",\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"899690511\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-082ac66e-fb96-4582-8c1e-41360e0564e0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
