{
  "log": {
    "_recordingName": "NodeApi/deleteNode()/1: Delete existing node [23bab9d4-1663-450f-8a4b-680f44f54fd6 - CreateObjectNode]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "aa47aa205e6d9b3428a8e78ad7060f34",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7fb35a85-023e-46b5-9721-3d7d185056e9"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/CreateObjectNode/23bab9d4-1663-450f-8a4b-680f44f54fd6"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 271,
            "text": "{\"_id\":\"23bab9d4-1663-450f-8a4b-680f44f54fd6\",\"_rev\":\"1529028359\",\"identityResource\":\"managed/user\",\"_type\":{\"_id\":\"CreateObjectNode\",\"name\":\"Create Object\",\"collection\":true},\"_outcomes\":[{\"id\":\"CREATED\",\"displayName\":\"Created\"},{\"id\":\"FAILURE\",\"displayName\":\"Failed\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1529028359\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7fb35a85-023e-46b5-9721-3d7d185056e9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
