{
  "log": {
    "_recordingName": "IdmConfigOps/updateConfigEntity()/2: Update a config entity 'emailTemplate/FrodoTestConfigEntity4' and wait for completion",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9ef0830c377da75215a2ec31d1024810",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-701d3914-f0b6-44ea-b3f6-126e356bba10"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Four\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "queryString": [
            {
              "name": "waitForCompletion",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestConfigEntity4?waitForCompletion=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 399,
            "text": "{\"_id\":\"emailTemplate/FrodoTestConfigEntity4\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Four\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/emailTemplate/FrodoTestConfigEntity4"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-701d3914-f0b6-44ea-b3f6-126e356bba10"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
