{
  "log": {
    "_recordingName": "IdmConfigOps/importConfigEntities()/4: ImportConfigEntities with single entity",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e0bf84d50e7ada2d888d8242f776dcbf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9cb1a413-2f00-4bd0-88a1-3a8c6f794a7b"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"emailTemplate/FrodoTestConfigEntity2\",\"data\":{\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Two\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>This is your one-time password:</h3><h4>{{object.description}}</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"One-Time Password for login\"}}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestConfigEntity2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 356,
            "text": "{\"_id\":\"emailTemplate/FrodoTestConfigEntity2\",\"id\":\"emailTemplate/FrodoTestConfigEntity2\",\"data\":{\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Two\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>This is your one-time password:</h3><h4>{{object.description}}</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"One-Time Password for login\"}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9cb1a413-2f00-4bd0-88a1-3a8c6f794a7b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 77,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
