{
  "log": {
    "_recordingName": "ResourceTypesApi/deleteResourceType()/2: Delete non-existing resource type [00000000-0000-0000-0000-000000000000]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e351dbe05ce128e263e9cac418a35df2",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e22302ce-9d57-44a8-8b32-1d535695fe01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Resource Type 00000000-0000-0000-0000-000000000000 does not exist in realm /alpha\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e22302ce-9d57-44a8-8b32-1d535695fe01"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 59,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
