{
  "log": {
    "_recordingName": "VariablesOps/updateVariable()/2: Update existing variable15 (not encoded)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ee4bbb765ef6f04f7940c1aeccac752d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"dmFsdWUxNQ==\",\"description\":\"description15\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-15"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 225,
            "text": "{\"_id\":\"esv-frodo-test-variable-15\",\"description\":\"description15\",\"expressionType\":\"string\",\"lastChangeDate\":\"2024-07-05T15:22:12.263573Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"valueBase64\":\"dmFsdWUxNQ==\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 570,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
