{
  "log": {
    "_recordingName": "UserOps/readUsers()/1: Read Users",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0be9e3f36eb6e526d3fec8f353b91f28",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ffe554e8-665a-4e7f-9be0-c70861513c21"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=4.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/users?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 5364,
            "text": "{\"result\":[{\"_id\":\"9f528ec5-4e5a-4c0b-ac56-74f194c97276\",\"_rev\":\"-1\",\"realm\":\"/alpha\",\"username\":\"scotty\",\"fr-idm-uuid\":[\"9f528ec5-4e5a-4c0b-ac56-74f194c97276\"],\"fr-idm-managed-user-memberoforgid\":[\"dfe53b12-798c-4408-839b-fa7fd8ccd672\"],\"mail\":[\"mscott@ufa.org\"],\"givenName\":[\"Montgomery\"],\"objectClass\":[\"iplanet-am-managed-person\",\"inetuser\",\"inetOrgPerson\",\"sunFMSAML2NameIdentifier\",\"devicePrintProfilesContainer\",\"fr-ext-attrs\",\"iplanet-am-user-service\",\"iPlanetPreferences\",\"pushDeviceProfilesContainer\",\"forgerock-am-dashboard-service\",\"top\",\"kbaInfoContainer\",\"person\",\"organizationalPerson\",\"oathDeviceProfilesContainer\",\"sunAMAuthAccountLockout\",\"webauthnDeviceProfilesContainer\",\"deviceProfilesContainer\",\"iplanet-am-auth-configuration-service\",\"fr-idm-hybrid-obj\",\"fr-idm-managed-user-explicit\"],\"fr-idm-managed-organization-member\":[\"{\\\"firstResourceCollection\\\":\\\"managed/alpha_user\\\",\\\"firstResourceId\\\":\\\"9f528ec5-4e5a-4c0b-ac56-74f194c97276\\\",\\\"firstPropertyName\\\":\\\"memberOfOrg\\\",\\\"secondResourceCollection\\\":\\\"managed/alpha_organization\\\",\\\"secondResourceId\\\":\\\"dfe53b12-798c-4408-839b-fa7fd8ccd672\\\",\\\"secondPropertyName\\\":\\\"members\\\",\\\"properties\\\":{},\\\"_id\\\":\\\"fd7ec2b5-59c4-4755-8bbe-8a848875ddf5-121714\\\",\\\"_rev\\\":\\\"fd7ec2b5-59c4-4755-8bbe-8a848875ddf5-121715\\\"}uid=dfe53b12-798c-4408-839b-fa7fd8ccd672,ou=organization,o=alpha,o=root,ou=identities\"],\"dn\":[\"fr-idm-uuid=9f528ec5-4e5a-4c0b-ac56-74f194c97276,ou=user,o=alpha,o=root,ou=identities\"],\"cn\":[\"Montgomery Scott\"],\"modifyTimestamp\":[\"20240108232735Z\"],\"createTimestamp\":[\"20240108232723Z\"],\"uid\":[\"scotty\"],\"fr-idm-custom-attrs\":[\"{}\"],\"universalid\":[\"id=9f528ec5-4e5a-4c0b-ac56-74f194c97276,ou=user,o=alpha,ou=services,ou=am-config\"],\"inetUserStatus\":[\"Active\"],\"sn\":[\"Scott\"]},{\"_id\":\"58612ba5-a53d-4b3e-9715-1740d397e56e\",\"_rev\":\"-1\",\"realm\":\"/alpha\",\"username\":\"kirk\",\"fr-idm-uuid\":[\"58612ba5-a53d-4b3e-9715-1740d397e56e\"],\"mail\":[\"jtkirk@ufp.org\"],\"givenName\":[\"James\"],\"objectClass\":[\"iplanet-am-managed-person\",\"inetuser\",\"inetOrgPerson\",\"sunFMSAML2NameIdentifier\",\"devicePrintProfilesContainer\",\"fr-ext-attrs\",\"iplanet-am-user-service\",\"iPlanetPreferences\",\"pushDeviceProfilesContainer\",\"forgerock-am-dashboard-service\",\"top\",\"kbaInfoContainer\",\"person\",\"organizationalPerson\",\"oathDeviceProfilesContainer\",\"sunAMAuthAccountLockout\",\"webauthnDeviceProfilesContainer\",\"deviceProfilesContainer\",\"iplanet-am-auth-configuration-service\",\"fr-idm-hybrid-obj\",\"fr-idm-managed-user-explicit\"],\"dn\":[\"fr-idm-uuid=58612ba5-a53d-4b3e-9715-1740d397e56e,ou=user,o=alpha,o=root,ou=identities\"],\"cn\":[\"James Kirk\"],\"modifyTimestamp\":[\"20240122164335Z\"],\"createTimestamp\":[\"20240108232406Z\"],\"uid\":[\"kirk\"],\"fr-idm-custom-attrs\":[\"{}\"],\"fr-idm-preferences\":[\"{\\\"updates\\\":false,\\\"marketing\\\":false}\"],\"universalid\":[\"id=58612ba5-a53d-4b3e-9715-1740d397e56e,ou=user,o=alpha,ou=services,ou=am-config\"],\"inetUserStatus\":[\"Active\"],\"sn\":[\"Kirk\"]},{\"_id\":\"346459bf-4159-4c4c-b929-f9ff5acc2f53\",\"_rev\":\"-1\",\"realm\":\"/alpha\",\"username\":\"test\",\"fr-idm-uuid\":[\"346459bf-4159-4c4c-b929-f9ff5acc2f53\"],\"mail\":[\"test@test.com\"],\"givenName\":[\"Test\"],\"objectClass\":[\"iplanet-am-managed-person\",\"inetuser\",\"inetOrgPerson\",\"sunFMSAML2NameIdentifier\",\"devicePrintProfilesContainer\",\"fr-ext-attrs\",\"iplanet-am-user-service\",\"iPlanetPreferences\",\"pushDeviceProfilesContainer\",\"forgerock-am-dashboard-service\",\"top\",\"kbaInfoContainer\",\"person\",\"organizationalPerson\",\"oathDeviceProfilesContainer\",\"sunAMAuthAccountLockout\",\"webauthnDeviceProfilesContainer\",\"deviceProfilesContainer\",\"iplanet-am-auth-configuration-service\",\"fr-idm-hybrid-obj\",\"fr-idm-managed-user-explicit\"],\"dn\":[\"fr-idm-uuid=346459bf-4159-4c4c-b929-f9ff5acc2f53,ou=user,o=alpha,o=root,ou=identities\"],\"cn\":[\"Test User\"],\"modifyTimestamp\":[\"20240718171625Z\"],\"createTimestamp\":[\"20240718171624Z\"],\"uid\":[\"test\"],\"fr-idm-custom-attrs\":[\"{\\\"effectiveApplications\\\":[]}\"],\"universalid\":[\"id=346459bf-4159-4c4c-b929-f9ff5acc2f53,ou=user,o=alpha,ou=services,ou=am-config\"],\"isMemberOf\":[\"cn=test-group,ou=groups,o=alpha,o=root,ou=identities\"],\"inetUserStatus\":[\"Active\"],\"sn\":[\"User\"]},{\"_id\":\"146c2230-9448-4442-b86d-eb4a81a0121d\",\"_rev\":\"-1\",\"realm\":\"/alpha\",\"username\":\"vscheuber@gmail.com\",\"fr-idm-uuid\":[\"146c2230-9448-4442-b86d-eb4a81a0121d\"],\"mail\":[\"vscheuber@gmail.com\"],\"givenName\":[\"Scheuber\"],\"objectClass\":[\"iplanet-am-managed-person\",\"inetuser\",\"inetOrgPerson\",\"sunFMSAML2NameIdentifier\",\"devicePrintProfilesContainer\",\"fr-ext-attrs\",\"iplanet-am-user-service\",\"iPlanetPreferences\",\"pushDeviceProfilesContainer\",\"forgerock-am-dashboard-service\",\"top\",\"kbaInfoContainer\",\"person\",\"organizationalPerson\",\"oathDeviceProfilesContainer\",\"sunAMAuthAccountLockout\",\"webauthnDeviceProfilesContainer\",\"deviceProfilesContainer\",\"iplanet-am-auth-configuration-service\",\"fr-idm-hybrid-obj\",\"fr-idm-managed-user-explicit\"],\"dn\":[\"fr-idm-uuid=146c2230-9448-4442-b86d-eb4a81a0121d,ou=user,o=alpha,o=root,ou=identities\"],\"cn\":[\"Scheuber Volker\"],\"modifyTimestamp\":[\"20231207213130Z\"],\"createTimestamp\":[\"20231201013952Z\"],\"uid\":[\"vscheuber@gmail.com\"],\"fr-idm-custom-attrs\":[\"{}\"],\"universalid\":[\"id=146c2230-9448-4442-b86d-eb4a81a0121d,ou=user,o=alpha,ou=services,ou=am-config\"],\"inetUserStatus\":[\"Active\"],\"sn\":[\"Volker\"]}],\"resultCount\":4,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":0}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.0,resource=4.1, resource=4.1"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ffe554e8-665a-4e7f-9be0-c70861513c21"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 126,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
