{
  "log": {
    "_recordingName": "NodeApi/putNode()/1: Create new node [18ffdd4b-41b7-41b3-8248-f4fdfd68423f - ValidatedPasswordNode]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4fc07fd7506192c91217ef29f3193589",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a4836d5-7283-4c03-9157-d00933eee209"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"18ffdd4b-41b7-41b3-8248-f4fdfd68423f\",\"validateInput\":false,\"passwordAttribute\":\"password\",\"_type\":{\"_id\":\"ValidatedPasswordNode\",\"name\":\"Platform Password\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedPasswordNode/18ffdd4b-41b7-41b3-8248-f4fdfd68423f"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 276,
            "text": "{\"_id\":\"18ffdd4b-41b7-41b3-8248-f4fdfd68423f\",\"_rev\":\"-1272777657\",\"validateInput\":false,\"passwordAttribute\":\"password\",\"_type\":{\"_id\":\"ValidatedPasswordNode\",\"name\":\"Platform Password\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1272777657\""
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedPasswordNode/18ffdd4b-41b7-41b3-8248-f4fdfd68423f"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a4836d5-7283-4c03-9157-d00933eee209"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 192,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
