{
  "log": {
    "_recordingName": "JourneyOps/disableJourney()/2: Disable already disabled journey 'FrodoTestJourney9'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c19add0ece4ef021069e8f626df472cc",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0cebd67-079c-4000-b07b-a3dbf73ea559"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestJourney9"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 823,
            "text": "{\"_id\":\"FrodoTestJourney9\",\"_rev\":\"352270679\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"entryNodeId\":\"82d90fa0-9345-46b5-b5b1-50f732a387ec\",\"nodes\":{\"82d90fa0-9345-46b5-b5b1-50f732a387ec\":{\"x\":210,\"y\":109,\"connections\":{\"outcome\":\"f07fba3c-b2fb-4298-94c7-c3379132ef74\"},\"nodeType\":\"PageNode\",\"displayName\":\"Login Page\"},\"f07fba3c-b2fb-4298-94c7-c3379132ef74\":{\"x\":455,\"y\":137.5,\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"nodeType\":\"DataStoreDecisionNode\",\"displayName\":\"Validate Credentials\"}},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":155},\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":692,\"y\":230},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":692,\"y\":80}},\"description\":\"Frodo test journey\",\"enabled\":false}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"352270679\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0cebd67-079c-4000-b07b-a3dbf73ea559"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 37,
      },
      {
        "_id": "9653ad2811be450f41a36a79731fb0d3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0cebd67-079c-4000-b07b-a3dbf73ea559"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"FrodoTestJourney9\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"entryNodeId\":\"82d90fa0-9345-46b5-b5b1-50f732a387ec\",\"nodes\":{\"82d90fa0-9345-46b5-b5b1-50f732a387ec\":{\"x\":210,\"y\":109,\"connections\":{\"outcome\":\"f07fba3c-b2fb-4298-94c7-c3379132ef74\"},\"nodeType\":\"PageNode\",\"displayName\":\"Login Page\"},\"f07fba3c-b2fb-4298-94c7-c3379132ef74\":{\"x\":455,\"y\":137.5,\"connec[...]
