{
  "log": {
    "_recordingName": "SecretStoreOps/Cloud Tests/readSecretStoreMappings()/1: Read ESV secret store mappings",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fd8bff16994e23ef672e1c02e1cd32ea",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV/mappings?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 353,
            "text": "{\"result\":[{\"_id\":\"am.services.oauth2.oidc.signing.EDDSA\",\"_rev\":\"77842068\",\"secretId\":\"am.services.oauth2.oidc.signing.EDDSA\",\"aliases\":[\"esv-test-signing-cert\"],\"_type\":{\"_id\":\"mappings\",\"name\":\"Mappings\",\"collection\":true}}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 54,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
