{
  "log": {
    "_recordingName": "SecretsOps/exportSecret()/4: Export secret2 including active value",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "60e7fd918145cfd79397752e40c8b6b2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 252,
            "text": "{\"_id\":\"esv-frodo-test-secret-2\",\"activeVersion\":\"1\",\"description\":\"description2\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-07-05T15:26:54.859882Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":false}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 131,
      },
      {
        "_id": "7249f9a4659f4bd7859ecf1f2a71adb2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-efb68b13-bb06-4748-918f-9d392103a132"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"text/javascript\",\"globals\":{\"name\":\"esv.frodo.test.secret.2\",\"decrypt\":false,\"target\":null},\"source\":\"var value = identityServer.getProperty(name);\\nif (!decrypt && !target) {\\n  value = openidm.encrypt(value, null, \\\"idm.password.encryption\\\");\\n}\\nvalue\\n\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "eval"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/script?_action=eval"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 141,
            "text": "{\"code\":500,\"reason\":\"Internal Server Error\",\"message\":\"Wrapped java.lang.NoSuchMethodException: Method not found encrypt(null,null,String)\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-efb68b13-bb06-4748-918f-9d392103a132"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 103,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
