{
  "log": {
    "_recordingName": "ResourceTypeOps/importFirstResourceType()/2: Do not import first resource type with no changes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "027f204a6567a19d87ce1fd2b9cac4e2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/84f7b719-cbd4-4b82-8170-6c230f2973be"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 438,
            "text": "{\"uuid\":\"84f7b719-cbd4-4b82-8170-6c230f2973be\",\"name\":\"FrodoTestResourceType8\",\"description\":\"Frodo Test Resource Type Eight\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064,ou=user,ou=am-config\",\"creationDate\":1788909639168,\"lastModifiedBy\":\"id=9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064,ou=user,ou=am-config\",\"lastModifiedDate\":1788909639168}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 69,
      },
      {
        "_id": "820f5ab19c7bb75efcc856ff294a0d41",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uuid\":\"84f7b719-cbd4-4b82-8170-6c230f2973be\",\"name\":\"FrodoTestResourceType8\",\"description\":\"test new description\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/84f7b719-cbd4-4b82-8170-6c230f2973be"
        },
        "response": {
          "content[...]
