{
  "log": {
    "_recordingName": "PolicySetOps/updatePolicySet()/2: Update non-existing policy set [FrodoTestPolicySet6]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "98d7bccca48e59b95a89c2870c71b675",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"FrodoTestPolicySet6\",\"displayName\":\"Frodo Test Policy Set Template\",\"description\":\"Frodo Test Policy Set Template\",\"attributeNames\":[],\"conditions\":[\"Script\",\"AMIdentityMembership\",\"IPv6\",\"IPv4\",\"SimpleTime\",\"LEAuthLevel\",\"LDAPFilter\",\"AuthScheme\",\"Session\",\"AND\",\"AuthenticateToRealm\",\"ResourceEnvIP\",\"Policy\",\"OAuth2Scope\",\"SessionProperty\",\"OR\",\"Transaction\",\"NOT\",\"AuthLevel\",\"AuthenticateToService\"],\"resourceTypeUuids\":[\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\"],\"resourceComparator\":null,\"editable\":true,\"saveIndex\":null,\"searchIndex\":null,\"applicationType\":\"iPlanetAMWebAgentService\",\"entitlementCombiner\":\"DenyOverride\",\"subjects\":[\"AuthenticatedUsers\",\"NOT\",\"Identity\",\"OR\",\"AND\",\"NONE\",\"Policy\",\"JwtClaim\"]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/applications/FrodoTestPolicySet6"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 76,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"FrodoTestPolicySet6 not found.\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 98,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
