{
  "log": {
    "_recordingName": "info/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b6d28cc1d628961c479c3d5fd6c0d1b8",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f2fbf023-14a4-47f1-a947-90d7e392f4ba"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..yz8sz5-a0MSAV8X7Ic0OAg.oesIkFu1BVtZAmIGkd6pQltASotPN8zO-GemmouybQ1u4URfkXoaDcnWThvpgwtYejTG6MAKpTyLLphyaIihVwIyJAbDUEGiHzgjq4IsSoQXD6Whd_otf-oj-PfFjJUI8IIDc06fzKq0TB6kBxAiHprgKXiQIpiYV4CQZ1Ihfh5sMCAadoUxah9ruHzRRe_-i6PozyVrIAapu70EltXzii2sRJhoSeVYxp_wXCdhXHSCE8cFYP-oxhFVuUGmSzwI4uVnxUjCUD_lck8jGyou89THxyISVZ6FXb-ygstdx-EH79ujwDDWOd9FvpCHLasq7pe1wZKJqzUykatv5Q411nc52zziYMWHF8NUiQeo_shDk2z1dj1i7OarpsqSTfZTIQ5C4m_ObaCrZb50KOsKjrES7VDC_xW2HzWHGsKyJb_D8BZzZRkPzBErqbmJiKD-GHvLv3r-mpYWfeL5TMpTeKuaRO6n-QYLP_tW1EODhXk3TXDZLxOCmp3kEc_vDPh25vv4gzME_HVL8sytxZmHpI1NwdKccKVn3ThU6jyb3aOZ2jJhzTUKzLIxJ9vM_A-QL5agqN61edgGHTgwh9xEoweDZHRqnoizokNfz1eMUwxyacP2OoHaBZZYy88pw-WkjM_N8M72kMcUjI40MJxICme202ReF8hBRcR062iCrMDS_nePxpVPvvO-VJ5TPAqHXrmyv3ZesMpSqPMkEe0_hiMvthFTTSfkx_9udEKIOeemXUea6_sbXiynpaMkSEZIDwCVMSAa9Y3sWH9LEwEvgb8tEPdG06S_beXNGiN9pIPoVtVxdN9ialgwrdkRDwDriiOjXIsmOsbj2FyWnWrGFZTNkoJafKM6_eSGQilsMFwD3BWG3Wz-Yql760H8o0ZxekHa9yjIu2LrFiplHh_DnKk3O6WtWF0ArlTIVK9gD7ybWJzy_veTMW7LF_zFGloub2PyglOnEk9i97QQxF_eF6a31JlllgM2keES2Nli4L7q2ieH8dAmFmdJO6dNcP1-YF8H-gtW1BNYoUc8tbmdnooiiCD52Dd5VID-kq1gd8s.E32ixI4VGsAWqkQmfZDIUQ"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/8d9723a9-a439-4cbf-beb4-30e52811789d?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1174,
            "text": "{\"_id\":\"8d9723a9-a439-4cbf-beb4-30e52811789d\",\"_rev\":\"924f64ba-eb34-47aa-9992-1747d1db57ec-3490\",\"accountStatus\":\"Active\",\"name\":\"Frodo-SA-1673636532787\",\"description\":\"volker.scheuber@forgerock.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"yjkWFGR_O9DZUh8FCBwo49quN47UL7j0ZjItSo-iFPM\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"rjAkdWqzh2R-oJ1tAsaa7YIyzhwDmWC_OZYE4SP6KDIaHzdtrVbBJMaeHm-1EvDlcJ_CIFDnduyv1VAGb-vofJPCy0W-buGnXWH3Y6HeHRiCHbWwmWWLobtK5Gj1Dz89k0b_IOP8jRjvMI2rRRvqq_ZEUzdirY0PHsO-6NqJ24gxjvwGTQUlpVqXW-uCXDOk8TAEkoPHPHbZADOQKe036ovP_g4WThjw3zmR-QTBgDUtAW_mxvjgolC58yD6N_fpklUk_U_Wi_o1ayMbUzQ8SwCZ5QgRtSFjfU09GVxuvGcbg-XwSqyz3bAXXUwKlRVHi9EL0_c_TWL7VkBlSoVEJM4ZAvsabl7Z7H_kPRISAEkCTgTeZ1kkgeRU8FdlPhFDQIHoB268YlSpegbcdlFCHSnMHMDV0JXrRWP18tVlDWDWCWxp8KauByNQsC52F4raNHkdGB2TVo0Zkj880-iZUM8gXURE9UC7kCm0BebzQJLQh4EnZictBtQXP-AxdcFlYM14WVqQgYn6S86ts8zslg7JLPCQfX143U9_1TR01lWdDlHFG26QrN-APOUopAfnI9o_z7_N-CT0EdnY4phb4DRP-r-CeHkxShQFdlvh3Gw0JELSuwBWrjBXj4CL3wH6_5R8dNHUX70D3zdP6kuzTYkzbPosMGDqFfCUljFJMXM\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"924f64ba-eb34-47aa-9992-1747d1db57ec-3490\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f2fbf023-14a4-47f1-a947-90d7e392f4ba"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 88,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
