{
  "log": {
    "_recordingName": "VariablesOps/importVariable()/5: Should not import variable if no changes were made",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1d9dad059f618d3bdc9861a28ebd4ce7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-20"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 225,
            "text": "{\"_id\":\"esv-frodo-test-variable-20\",\"description\":\"description20\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-09-21T22:19:10.264782Z\",\"lastChangedBy\":\"Frodo-SA-1783448612033\",\"loaded\":false,\"valueBase64\":\"dmFsdWUyMA==\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 239,
      },
      {
        "_id": "1d9dad059f618d3bdc9861a28ebd4ce7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "G[...]
