{
  "log": {
    "_recordingName": "IdmSystemOps/querySystemObjects()/1: Query system objects (custom fields, default page size)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7bcfc67a9fa02e703ad0a74901481b76",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "uid eq 'frodo1'"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_totalPagedResultsPolicy",
              "value": "EXACT"
            },
            {
              "name": "_fields",
              "value": "cn,mail"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__?_queryFilter=uid%20eq%20%27frodo1%27&_pageSize=1000&_totalPagedResultsPolicy=EXACT&_fields=cn%2Cmail"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 241,
            "text": "{\"result\":[{\"_id\":\"c7e5b163-8d81-4d45-9e11-171d617c9cb4\",\"cn\":[\"Frodo Test User 1\"],\"mail\":[\"frodo1@example.com\"]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 87,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
