{
  "log": {
    "_recordingName": "IgaRequestFormOps/importRequestForms()/3: Import by Name with deps",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a5711690bf4bc8c05c4f9e0910f992f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestTypes/5f80166a-d551-47f2-8110-8bc0e093d2cc"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 43,
            "text": "{\"message\":\"Request Type Id doesn't exist\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2b-5CB7pTnjCSdIyewaE93BqvJ0WcQ\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "6f5a2edd-9ffa-4f19-9c52-afcbb4d0ea44"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 135,
      },
      {
        "_id": "9ea11932d5ab396eea429b9019b2f765",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"displayName\":\"test_request_type_1\",\"id\":\"5f80166a-d551-47f2-8110-8bc0e093d2cc\",\"workflow\":{}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestTypes"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 888,
            "text": "[\"G+UIAMT/n6o/rZw7o9YY038pBYmnBBdwALtz/P3KfUvl/ZmttLKlzpfbdUlHp9EWLbggcHS2pjilQ+plq8CLL2aJ1MyekXvwl7dyTRAI5MM/RyuH/+X+heOG/hXg0AoCzdznRdvKRDVNkdTdXCZ9UeRJP0455UOlymkCx9665byye4hz5PjnaAdRcPjpidbSQ5wx2fXaGohfZ/xbU5AQZ4TjhiDgjz7QGhyZJuX4+N0FR+JEvyaduMr/wWc9yaCtgThD+4/0vNWOFMQsV544tH9hAjkjVxDBbYm3PQ5xhrHU+1LXaxzaf9VejysSw6X0iyAqDpVSwLExOo3Pe1O8VXpr2GzdxiHBjUnEyOFxaMN6XiicNdpfP0nzKHFAT[...]
