{
  "log": {
    "_recordingName": "IgaRequestFormOps/deleteOrphanedRequestFormAssignments()/1: Delete orphaned form assignments by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d4edbe4a0724bc707b475c2b9d61852c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "(objectId sw \"workflow/orphanedWorkflow1\" or objectId sw \"application/c2dbb0f6-0f1f-4311-b4f2-1aa3c9c310ec\" or objectId sw \"requestType/f343f62a-3c21-4875-95d0-7618b9873497\")"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=%28objectId%20sw%20%22workflow%2ForphanedWorkflow1%22%20or%20objectId%20sw%20%22application%2Fc2dbb0f6-0f1f-4311-b4f2-1aa3c9c310ec%22%20or%20objectId%20sw%20%22requestType%2Ff343f62a-3c21-4875-95d0-7618b9873497%22%29&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 724,
            "text": "{\"totalCount\":3,\"resultCount\":3,\"result\":[{\"formId\":\"37eabcbb-346a-4293-a586-3be721ce5b86\",\"objectId\":\"application/c2dbb0f6-0f1f-4311-b4f2-1aa3c9c310ec/User/create\",\"metadata\":{\"modifiedDate\":\"2026-02-20T23:01:30.496031676Z\",\"createdDate\":\"2026-02-20T23:01:30.496028897Z\"}},{\"formId\":\"170374b1-befd-41d7-8943-654c9a9bf007\",\"objectId\":\"workflow/orphanedWorkflow1/node/approvalTask-75cf4247ba1d\",\"metadata\":{\"modifiedDate\":\"2026-02-20T23:01:32.484063209Z\",\"createdDate\":\"2026-02-20T23:01:32.484060747Z\"}},{\"formId\":\"1c90e114-c401-452d-a39b-34da4af055de\",\"objectId\":\"requestType/f343f62a-3c21-4875-95d0-7618b9873497\",\"metadata\":{\"modifiedDate\":\"2026-02-20T23:01:34.538648274Z\",\"createdDate\":\"2026-02-20T23:01:34.538646454Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2d4-SdAyLlHESy5sHgruNGUSF2LkyzA\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "5c2b63d7-1258-43f0-9e48-d50b246a7c51"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158,
      },
      {
        "_id": "fb0d56185ce97b65965904ed1056f464",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8ecd232b-4a6e-407f-bfc8-0e4a0762a9ed"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id eq \"c2dbb0f6-0f1f-4311-b4f2-1aa3c9c310ec\""
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_fields",
              "value": "_id"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/alpha_application?_queryFilter=_id%20eq%20%22c2dbb0f6-0f1f-4311-b4f2-1aa3c9c310ec%22&_pageSize=1000&_fields=_id"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 138,
            "text": "{\"result\":[],\"resultCount\":0,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8ecd232b-4a6e-407f-bfc8-0e4a0762a9ed"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      },
      {
        "_id": "240e6fcb38b94d771270c32d7e6e2816",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/workflow/orphanedWorkflow1/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 63,
            "text": "{\"message\":\"Workflow with id: orphanedWorkflow1 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3f-xqnqYi3ZoojzOR5+Ho+iSzAxFOo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "655f8faf-bf1a-40f3-9324-f2bda6b9228c"
            }
          ],
         [...]
