{
  "log": {
    "_recordingName": "SecretsApi/setStatusOfVersionOfSecret()/1: Disable version 2 of existing secret: esv-frodo-test-secret2 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6b3e5a1181f8eeb88af16a5d933192db",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"status\":\"DISABLED\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "changestatus"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret2/versions/2?_action=changestatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 91,
            "text": "{\"createDate\":\"2023-09-30T19:38:29.846Z\",\"loaded\":false,\"status\":\"DISABLED\",\"version\":\"2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 699,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
