{
  "log": {
    "_recordingName": "EnvCertificatesApi/updateCertificate()/1: Activate existing certificate - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2cca378b6246aa0eff29ea86a050f526",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-47fe3bf4-f788-4f9c-a7e4-ecdf710eb20d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 377,
            "text": "{\"active\":true,\"expireTime\":\"2025-08-01T22:01:54Z\",\"id\":\"ccrt-47fe3bf4-f788-4f9c-a7e4-ecdf710eb20d\",\"issuer\":\"CN=frodo-dev2.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev2.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-01T22:01:54Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "66bf5d31-dc6e-4191-aa8b-30823720c05c/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 110,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
