{
  "log": {
    "_recordingName": "IdmSystemOps/readSystemStatus()/1: Read system status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "93d3f9a9696eb4dff2f736593f9c394f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "test"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD?_action=test"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 350,
            "text": "{\"name\":\"OUD\",\"enabled\":true,\"config\":\"config/provisioner.openicf/OUD\",\"connectorRef\":{\"connectorHostRef\":\"rcsdocker\",\"bundleVersion\":\"1.5.20.5\",\"bundleName\":\"org.forgerock.openicf.connectors.ldap-connector\",\"connectorName\":\"org.identityconnectors.ldap.LdapConnector\"},\"displayName\":\"LDAP Connector\",\"objectTypes\":[\"__ACCOUNT__\",\"__ALL__\"],\"ok\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 94,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
