{
  "log": {
    "_recordingName": "AuthenticateOps/Classic Tests/getTokens()/2: Authenticate successfully using alternative Amster subject and service",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a92fbf6a95676ead13c4d7e1621eb0a1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d427afab-2fdf-4393-905b-757e9f74f7d2"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 589,
            "text": "{\"_id\":\"*\",\"_rev\":\"2075994301\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"iPlanetDirectoryPro\",\"secureCookie\":false,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":false,\"userIdAttributes\":[],\"nodeDesignerXuiEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"2075994301\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4,
      },
      {
        "_id": "48c945f7b47c59f5c7e5748aab7c9dc4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d427afab-2fdf-4393-905b-757e9f74f7d2"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "amadmin"
            },
            {
              "name": "x-openam-password",
              "value": "TriVir#1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "authIndexType",
              "value": "service"
            },
            {
              "name": "authIndexValue",
              "value": "MockAmsterService"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/authenticate?authIndexType=service&authIndexValue=MockAmsterService"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2476,
            "text": "{\"authId\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdXRoSW5kZXhWYWx1ZSI6Ik1vY2tBbXN0ZXJTZXJ2aWNlIiwib3RrIjoicWxmM2RyZWdkZ283MGhhbzFrcnZwbWF1ZDIiLCJhdXRoSW5kZXhUeXBlIjoic2VydmljZSIsInJlYWxtIjoiLyIsInNlc3Npb25JZCI6IipBQUpUU1FBQ01ERUFCSFI1Y0dVQUNFcFhWRjlCVlZSSUFBSlRNUUFBKmV5SjBlWEFpT2lKS1YxUWlMQ0pqZEhraU9pSktWMVFpTENKaGJHY2lPaUpJVXpJMU5pSjkuWlhsS01HVllRV2xQYVVwTFZqRlJhVXhEU214aWJVMXBUMmxLUWsxVVNUUlJNRXBFVEZWb1ZFMXFWVEpKYVhkcFdWZDRia2xxYjJsYVIyeDVTVzR3TGk1SlJHdDJTa1pDY0UxVU4xWm9Ua0ZSVDBGRU1GVlJMa2hXU3pOc2Exb[...]
