{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/createAIAgent()/2: createAIAgent() - with owner (FrodoOpsTestAIAgent10)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "696c4814129203ff9fbc48f708e66e54",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3022cf7e-474d-4c77-90e3-3f73a82dddb7"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent/FrodoOpsTestAIAgent10"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 55,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Not Found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3022cf7e-474d-4c77-90e3-3f73a82dddb7"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 70,
      },
      {
        "_id": "617b34711fa4acb38736685dab47eeba",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3022cf7e-474d-4c77-90e3-3f73a82dddb7"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"aiAgentIdentityAttributes\":{\"inherited\":false,\"value\":{\"_id\":\"935b2bda-43b4-454b-a13d-d25e530f0d39\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent10\",\"name\":\"Frodo Test AI Agent 10\",\"description\":\"Test AI agent 10 with owner relationship for Frodo unit tests.\"}},\"aiAgentIdentityUid\":{\"inherited\":false,\"value\":\"935b2bda-43b4-454b-a13d-d25e530f0d39\"},\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent/FrodoOpsTestAIAgent10"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6229,
            "text": "{\"_id\":\"FrodoOpsTestAIAgent10\",\"_rev\":\"1294369184\",\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"validateScopePluginType\":\"PROVIDER\",\"tokenEncryptionEnabled\":false,\"enableApplicationContext\":false,\"acceptAudienceParametersInTokenExchangeRequests\":false,\"evaluateScopePluginType\":\"PROVIDER\",\"oidcMayActScript\":\"[Empty]\",\"oidcClaimsScript\":\"[Empty]\",\"scopesPolicySet\":\"oauth2Scopes\",\"accessTokenModificationPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"useForceAuthnForMaxAge\":false,\"oidcClaimsPluginType\":\"PROVIDER\",\"providerOverridesEnabled\":false,\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"statelessTokensEnabled\":false,\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"remoteConsentServiceId\":null,\"enableRemoteConsent\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"usePolicyEngineForScope\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"overrideableOIDCClaims\":[],\"accessTokenMayActScript\":\"[Empty]\",\"evaluateScopeScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"accessTokenModificationScript\":\"[Empty]\",\"issueRefreshTokenOnRefreshedToken\":true,\"validateScopeScript\":\"[Empty]\"},\"advancedOAuth2ClientConfig\":{\"logoUri\":{\"inherited\":false,\"value\":[]},\"subjectType\":{\"inherited\":false,\"value\":\"public\"},\"clientUri\":{\"inherited\":false,\"value\":[]},\"tokenExchangeAuthLevel\":{\"inherited\":false,\"value\":0},\"responseTypes\":{\"inherited\":false,\"value\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"]},\"mixUpMitigation\":{\"inherited\":false,\"value\":false},\"customProperties\":{\"inherited\":false,\"value\":[]},\"javascriptOrigins\":{\"inherited\":false,\"value\":[]},\"policyUri\":{\"inherited\":false,\"value\":[]},\"softwareVersion\":{\"inherited\":false},\"tosURI\":{\"inherited\":false,\"value\":[]},\"sectorIdentifierUri\":{\"inherited\":false},\"tokenEndpointAuthMethod\":{\"inherited\":false,\"value\":\"client_secret_basic\"},\"refreshTokenGracePeriod\":{\"inherited\":false,\"value\":0},\"isConsentImplied\":{\"inherited\":false,\"value\":false},\"softwareIdentity\":{\"inherited\":false},\"grantTypes\":{\"inherited\":false,\"value\":[\"authorization_code\"]},\"allowedResourceServerAudienceValues\":{\"inherited\":false,\"value\":[]},\"require_pushed_authorization_requests\":{\"inherited\":false,\"value\":false},\"descriptions\":{\"inherited\":false,\"value\":[]},\"requestUris\":{\"inherited\":false,\"value\":[]},\"name\":{\"inherited\":false,\"value\":[]},\"contacts\":{\"inherited\":false,\"value\":[]},\"updateAccessToken\":{\"inherited\":false},\"acceptedJwtIssuers\":{\"inherited\":false,\"value\":[]},\"introspectionPolicySets\":{\"inherited\":false,\"value\":[]},\"treeName\":{\"inherited\":false,\"value\":\"[Empty]\"}},\"signEncOAuth2ClientConfig\":{\"tokenEndpointAuthSigningAlgorithm\":{\"inherited\":false,\"value\":\"RS256\"},\"idTokenEncryptionEnabled\":{\"inherited\":false,\"value\":false},\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"requestParameterSignedAlg\":{\"inherited\":false},\"authorizationResponseSigningAlgorithm\":{\"inherited\":false,\"value\":\"RS256\"},\"clientJwtPublicKey\":{\"inherited\":false},\"idTokenPublicEncryptionKey\":{\"inherited\":false},\"mTLSSubjectDN\":{\"inherited\":false},\"jwkStoreCacheMissCacheTime\":{\"inherited\":false,\"value\":60000},\"jwkSet\":{\"inherited\":false},\"idTokenEncryptionMethod\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"jwksUri\":{\"inherited\":false},\"tokenIntrospectionEncryptedResponseAlg\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"authorizationResponseEncryptionMethod\":{\"inherited\":false},\"userinfoResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"mTLSCertificateBoundAccessTokens\":{\"inherited\":false,\"value\":false},\"publicKeyLocation\":{\"inherited\":false,\"value\":\"jwks_uri\"},\"tokenIntrospectionResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"requestParameterEncryptedEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"userinfoSignedResponseAlg\":{\"inherited\":false},\"idTokenEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"requestParameterEncryptedAlg\":{\"inherited\":false},\"authorizationResponseEncryptionAlgorithm\":{\"inherited\":false},\"mTLSTrustedCert\":{\"inherited\":false},\"jwksCacheTimeout\":{\"inherited\":false,\"value\":3600000},\"userinfoEncryptedResponseAlg\":{\"inherited\":false},\"idTokenSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"tokenIntrospectionSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"userinfoEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"}},\"coreOAuth2ClientConfig\":{\"secretLabelIdentifier\":{\"inherited\":false},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"clientName\":{\"inherited\":false,\"value\":[]},\"clientType\":{\"inherited\":false,\"value\":\"Confidential\"},\"loopbackInterfaceRedirection\":{\"inherited\":false,\"value\":false},\"defaultScopes\":{\"inherited\":false,\"value\":[]},\"refreshTokenLifetime\":{\"inherited\":false,\"value\":0},\"scopes\":{\"inherited\":false,\"value\":[]},\"accessTokenLifetime\":{\"inherited\":false,\"value\":0},\"redirectionUris\":{\"inherited\":false,\"value\":[]},\"authorizationCodeLifetime\":{\"inherited\":false,\"value\":0}},\"coreOpenIDClientConfig\":{\"claims\":{\"inherited\":false,\"value\":[]},\"backchannel_logout_uri\":{\"inherited\":false},\"defaultAcrValues\":{\"inherited\":false,\"value\":[]},\"jwtTokenLifetime\":{\"inherited\":false,\"value\":0},\"defaultMaxAgeEnabled\":{\"inherited\":false,\"value\":false},\"clientSessionUri\":{\"inherited\":false},\"defaultMaxAge\":{\"inherited\":false,\"value\":600},\"postLogoutRedirectUri\":{\"inherited\":false,\"value\":[]},\"backchannel_logout_session_required\":{\"inherited\":false,\"value\":false}},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":{\"inherited\":false,\"value\":[]}},\"aiAgentIdentityAttributes\":{\"inherited\":false,\"value\":{\"_id\":\"935b2bda-43b4-454b-a13d-d25e530f0d39\",\"_rev\":\"f90619f5-dd2d-48dd-9107-83847f2351e6-32990\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent10\",\"name\":\"Frodo Test AI Agent 10\",\"description\":\"Test AI agent 10 with owner relationship for Frodo unit tests.\",\"customAttributes\":null}},\"aiAgentIdentityUid\":{\"inherited\":false,\"value\":\"935b2bda-43b4-454b-a13d-d25e530f0d39\"},\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"1294369184\""
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent/FrodoOpsTes[...]
