{
  "log": {
    "_recordingName": "CirclesOfTrustOps/exportCircleOfTrust()/1: Export circle of trust 'FR_COT'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "01d359a4cc3bb24796703c3e0a149a42",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ce1b5c1f-13b7-411c-a806-d596ecdda54a"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/federation/circlesoftrust/FR_COT"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 532,
            "text": "{\"_id\":\"FR_COT\",\"_rev\":\"-1494750593\",\"trustedProviders\":[\"engineering-IDP|saml2\",\"https://volker-demo.encore.forgerock.com:443/apps/web/company/saml|saml2\",\"company-IDP|saml2\",\"https://volker-demo.encore.forgerock.com:443/apps/web/roles/saml|saml2\",\"https://volker-demo.encore.forgerock.com:443/apps/web/sales/saml|saml2\",\"sales-IDP|saml2\",\"benefits-IDP|saml2\",\"https://volker-demo.encore.forgerock.com:443/apps/web/benefits/saml|saml2\"],\"status\":\"active\",\"_type\":{\"_id\":\"circlesoftrust\",\"name\":\"Circle of Trust\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1494750593\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ce1b5c1f-13b7-411c-a806-d596ecdda54a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 53,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
