{
  "log": {
    "_recordingName": "VariablesOps/updateVariable()/4: Update/create non-existing variable17 (not encoded)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a4d468b7fc43dd118fae39b1eede0a5a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"dmFsdWUxNw==\",\"description\":\"description17\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-17"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 228,
            "text": "{\"_id\":\"esv-frodo-test-variable-17\",\"description\":\"description17\",\"expressionType\":\"string\",\"lastChangeDate\":\"2024-07-05T15:22:29.266116989Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"valueBase64\":\"dmFsdWUxNw==\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 814,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
