{
  "log": {
    "_recordingName": "IgaSodPolicyOps/deletePolicyByName()/1: Delete existing policy by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3bb8eb8e7925164d54096a7edb306f90",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"frodo-test-delete-by-name\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_queryFilter=name%20eq%20%22frodo-test-delete-by-name%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 643,
            "text": "{\"result\":[{\"name\":\"frodo-test-delete-by-name\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"7afa0931-4a61-41e5-a405-1b568c588c5e\",\"scheduleId\":\"policySchedulea3333333333333333333333333333333\",\"metadata\":{\"modifiedDate\":\"2026-06-08T16:57:55.190696592Z\",\"createdDate\":\"2026-06-08T16:57:55.1906951Z\"}}],\"searchAfterKey\":[\"7afa0931-4a61-41e5-a405-1b568c588c5e\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"283-Ui9K79p4bfkMOCTuyYb2XzXcKGw\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "adbef66e-5d0f-4919-8f7f-a8aba640f9c7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      },
      {
        "_id": "3608211740bf054e6b510932d65f37d1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/7afa09[...]
