{
  "log": {
    "_recordingName": "NodeOps/getCustomNodeUsage()/1: Get custom node usage [a605506774a848f7877b4d17a453bd39-1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "355f16fd5fbfbb12e2d7c2d676811949",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9dc38eb8-ba4d-4ff2-9a7f-97753cc51a0a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "journeys"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type/a605506774a848f7877b4d17a453bd39-1?_action=journeys"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9dc38eb8-ba4d-4ff2-9a7f-97753cc51a0a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
