{
  "log": {
    "_recordingName": "EnvCertificatesOps/deleteCertificate()/4: Delete non-existing certificate - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2c014421292716bdb24baef380d546cd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/certificate-does-not-exist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "881dcec6-1ce7-47c4-b74f-3dc71275bfd1/0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 62,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
