{
  "log": {
    "_recordingName": "EnvCertificatesOps/isCertificateActive()/2: Check if existing inactive certificate is active - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "33ad1b13dc19dcfe629c2e4e70edfb91",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-755aa779-0715-4cf3-940c-e46e246898d2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 382,
            "text": "{\"active\":false,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-755aa779-0715-4cf3-940c-e46e246898d2\",\"issuer\":\"CN=frodo-dev10a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev10a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "523f6cc1-05f0-425b-a89d-6fc941a444c8/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
