{
  "log": {
    "_recordingName": "IdpOps/putProviderByTypeAndId()/1: Put social provider FrodoTestIdp3",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8efc421e54d0f6a66ea953282c8cfd91",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6482a919-0bd8-4af8-a255-f4fea0c3c78b"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"clientId\":\"0oa13r2cp29Rynmyw697\",\"pkceMethod\":\"S256\",\"wellKnownEndpoint\":\"https://trial-1234567.okta.com/.well-known/openid-configuration\",\"jwtEncryptionMethod\":\"NONE\",\"authorizationEndpoint\":\"https://trial-1234567.okta.com/oauth2/v1/authorize\",\"jwtEncryptionAlgorithm\":\"NONE\",\"clientSecret\":null,\"issuerComparisonCheckType\":\"EXACT\",\"encryptJwtRequestParameter\":false,\"scopeDelimiter\":\" \",\"scopes\":[\"openid\",\"profile\",\"email\"],\"issuer\":\"https://trial-1234567.okta.com\",\"userInfoResponseType\":\"JSON\",\"acrValues\":[],\"encryptedIdTokens\":false,\"enabled\":true,\"jwtRequestParameterOption\":\"NONE\",\"authenticationIdKey\":\"id\",\"uiConfig\":{\"buttonDisplayName\":\"Okta\"},\"privateKeyJwtExpTime\":600,\"revocationCheckOptions\":[],\"enableNativeNonce\":true,\"transform\":\"6325cf19-a49b-471e-8d26-7e4df76df0e2\",\"userInfoEndpoint\":\"https://trial-1234567.okta.com/oauth2/v1/userinfo\",\"jwtSigningAlgorithm\":\"NONE\",\"redirectURI\":\"https://idc.scheuber.io/login\",\"clientAuthenticationMethod\":\"CLIENT_SECRET_POST\",\"responseMode\":\"DEFAULT\",\"useCustomTrustStore\":false,\"tokenEndpoint\":\"https://trial-1234567.okta.com/oauth2/v1/token\",\"_id\":\"FrodoTestIdp3\",\"_type\":{\"_id\":\"oidcConfig\",\"name\":\"Client configuration for providers that implement the OpenID Connect specification.\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/services/SocialIdentityProviders/oidcConfig/FrodoTestIdp3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 724,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"Invalid attribute specified.\",\"detail\":{\"validAttributes\":[\"acrValues\",\"authenticationIdKey\",\"authorizationEndpoint\",\"claims\",\"clientAuthenticationMethod\",\"clientId\",\"clientSecret\",\"enableNativeNonce\",\"enabled\",\"encryptJwtRequestParameter\",\"encryptedIdTokens\",\"introspectEndpoint\",\"issuer\",\"issuerComparisonCheckType\",\"jwksUriEndpoint\",\"jwtEncryptionAlgorithm\",\"jwtEncryptionMethod\",\"jwtRequestParameterOption\",\"jwtSigningAlgorithm\",\"pkceMethod\",\"privateKeyJwtExpTime\",\"redirectAfterFormPostURI\",\"redirectURI\",\"requestObjectAudience\",\"responseMode\",\"scopeDelimiter\",\"scopes\",\"tokenEndpoint\",\"transform\",\"uiConfig\",\"userInfoEndpoint\",\"userInfoResponseType\",\"wellKnownEndpoint\"]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6482a919-0bd8-4af8-a255-f4fea0c3c78b"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 37,
      },
      {
        "_id": "5a2d2a998e4a5de27000ec57f80b76d8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6482a919-0bd8-4af8-a255-f4fea0c3c78b"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
   [...]
