{
  "log": {
    "_recordingName": "VariablesOps/readVariable()/2: Read variable2 without decoding",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "004d2665b8752e3b0f64040d71694d79",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 212,
            "text": "{\"_id\":\"esv-frodo-test-variable-2\",\"description\":\"description2\",\"expressionType\":\"int\",\"lastChangeDate\":\"2024-07-05T15:22:08.687587Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"valueBase64\":\"NDI=\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 258,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
