{
  "log": {
    "_recordingName": "NodeOps/createNode()/4: Create existing node without id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0c23ba5766dbcd6dd561c65f46a01508",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8bc9a033-edfe-4476-8732-bbff992f5a99"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/SetStateNode/5227de7a-02db-4f25-858e-c8d4f0e0b600"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 260,
            "text": "{\"_id\":\"5227de7a-02db-4f25-858e-c8d4f0e0b600\",\"_rev\":\"1797046015\",\"attributes\":{\"errorMessage\":\"An error has occurred!\"},\"_type\":{\"_id\":\"SetStateNode\",\"name\":\"Set State\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1797046015\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8bc9a033-edfe-4476-8732-bbff992f5a99"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 238,
      },
      {
        "_id": "3e88a143b767283bbb5c95c9cd1aa0f1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8bc9a033-edfe-4476-8732-bbff992f5a99"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"5227de7a-02db-4f25-858e-c8d4f0e0b600\",\"attributes\":{\"errorMessage\":\"An error has occurred!\"},\"_type\":{\"_id\":\"SetStateNode\",\"name\":\"Set State\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"outcome\"}]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/SetState[...]
