{
  "log": {
    "_recordingName": "SecretsOps/importSecret()/2: Import secret7 including active value",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "35b62448caa0efba4e272b08ac299648",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-436278a4-141a-445b-b99c-3c3fe09672a2"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..A3atDYgypEZ9z0IcfWAbyQ.xt_6kXmv330zpSlarIw5PJnVqwQCsWyaxOoNsNBRn8oB63j0N9nzln6FPq_8B1ufqU9scPaiZUwd0vSjlBMzMVi8ON_LAW7_XtC3XbZIezXGlPT37_nL2tPXA3YERlpLudY5gqpmaKi2c6GdRAz0Ct6iOTXrgMl5UUYqdWG_B-tHd_yfaUNM2Hv4k27Ap4vvVhL4Cy2rzxq7OV7fma7OLvh3zG8H7od9qvq_s0LjlxdfrHQlTLPwDFaWmp_PfvrCqc-dsbZjvmqz0ZHNM1SKirjzmUGNTqpxbctp8fIJolK0yydPQ7QNUiZaCpwZnhwCCq4QIR-3_uYplmSbbnwTKMmIv9o_VfjDas1ch8mlR1L_pNrWQvtoYUEv2Drcxq06jUaHYt6YBs9KIkD_QTAN59qW9lKrk1mixKMZRBR3cZToSX7adKcaJMCmxvzaPt9YVsxS7X-Ocjc97SL0xC5Q1kVmWKogGUh5zw4C6PU4SJ4Q6uU2WQLqt1gHlKRLitWogwu_BCD_IHBrsB1tBpdncTdxHJm3R3lo7pghhj4eOkYhxNA20NABCAzqRlXklPgI4gkT62SLghtwBUTuL08Bw1ct6AaafPbPSv3Dp8N6A-k7QwuQuVEHBkJn9nS9tDL56-u6MDrUraC9YJ-anzzqFawzmo7LD_hGD-xU_r-WhGKb8uF-QDeVOD633cufMPW9irvJzPNzDish16_s7Oo1Oel-JmHpIDwftDUfea8YzAPkKxJZXv2LJxItmMom4auUBpii5F5hkiAJh-6LAIuEuAtXmPi7Q3IzudvfTNbRGYi1ZBckH8vKsh7Avt_LoAUyMfjzQ3Na6RHqXxyTROxxyPTrV8ltnTUm5nZMUPSmG84vyG27ED98vQs_BgxohAu7U_Gg--aFv8JtFzIfEN5M_2LQUzJ0gKac8j_nCQs4h4ymyKc0OdwRevEd56Hg4fFGGsCzF09LWlj1zm3Q2Id-Ij1jQvxJmSuOA0JnW5qRt2ma0eFdxniIStfcb_4E_RfOzo9fq2yg7xQD81bhCbBYKjXuEd7xOX9qjyOtb2XpqQI.sHnRCsTXsyedrOU7FZM1rw"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"text/javascript\",\"globals\":{\"value\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"pVE6Y1Va4V1DB50A10mqkQ==\",\"iv\":\"2GjZJDuomoZeBOkr4MWBGQ==\",\"keySize\":16,\"mac\":\"A2TT/N3gBzWdQjhHo3QPjg==\",\"purpose\":\"idm.password.encryption\",\"salt\":\"Osc1v2DpgdnE6Bqf8SH5ng==\",\"stableId\":\"openidm-sym-default\"}}}},\"source\":\"openidm.decrypt(value);\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "eval"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/script?_action=eval"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 8,
            "text": "\"value7\""
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-436278a4-141a-445b-b99c-3c3fe09672a2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 79,
      },
      {
        "_id": "7962ce6ef02f4cdf972330b55bc9b3dc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..A[...]
