{
  "log": {
    "_recordingName": "SecretsOps/importSecret()/2: Import secret7 including active value",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "35b62448caa0efba4e272b08ac299648",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"text/javascript\",\"globals\":{\"value\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"pVE6Y1Va4V1DB50A10mqkQ==\",\"iv\":\"2GjZJDuomoZeBOkr4MWBGQ==\",\"keySize\":16,\"mac\":\"A2TT/N3gBzWdQjhHo3QPjg==\",\"purpose\":\"idm.password.encryption\",\"salt\":\"Osc1v2DpgdnE6Bqf8SH5ng==\",\"stableId\":\"openidm-sym-default\"}}}},\"source\":\"openidm.decrypt(value);\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "eval"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/script?_action=eval"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 172,
            "text": "{\"code\":500,\"reason\":\"Internal Server Error\",\"message\":\"Wrapped org.forgerock.json.JsonValueException: /: org.forgerock.json.crypto.JsonCryptoException: Decryption failed\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 130,
      },
      {
        "_id": "35b62448caa0efba4e272b08ac299648",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POS[...]
