{
  "log": {
    "_recordingName": "SecretsOps/importSecret()/2: Import secret7 including active value",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "35b62448caa0efba4e272b08ac299648",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-efb68b13-bb06-4748-918f-9d392103a132"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"text/javascript\",\"globals\":{\"value\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"pVE6Y1Va4V1DB50A10mqkQ==\",\"iv\":\"2GjZJDuomoZeBOkr4MWBGQ==\",\"keySize\":16,\"mac\":\"A2TT/N3gBzWdQjhHo3QPjg==\",\"purpose\":\"idm.password.encryption\",\"salt\":\"Osc1v2DpgdnE6Bqf8SH5ng==\",\"stableId\":\"openidm-sym-default\"}}}},\"source\":\"openidm.decrypt(value);\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "eval"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/script?_action=eval"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 8,
            "text": "\"value7\""
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-efb68b13-bb06-4748-918f-9d392103a132"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 68,
      },
      {
        "_id": "7962ce6ef02f4cdf972330b55bc9b3dc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"dmFsdWU3\",\"description\":\"description7\",\"encoding\":\"generic\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-7"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "{\"_id\":\"esv-frodo-test-secret-7\",\"activeVersion\":\"1\",\"description\":\"description7\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-07-05T15:27:03.145560381Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 766,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
