{
  "log": {
    "_recordingName": "SecretsApi/deleteSecret()/1: Delete existing secret: esv-frodo-test-secret3 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7d79c45008c6145398d03724f416fe54",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret3"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 287,
            "text": "{\"_id\":\"esv-frodo-test-secret3\",\"activeVersion\":\"1\",\"description\":\"Frodo Test Secret Three Description\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-01-20T04:38:12.759578Z\",\"lastChangedBy\":\"6bac97fb-0665-4ba9-b66c-1cf70e074d72\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1547,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
