{
  "log": {
    "_recordingName": "IgaSodPolicyOps/importPolicy()/4: Import all",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "711a832809ff410d2cc970f1a3efc1b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"frodo-test-existing\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"a1111111-1111-1111-1111-111111111111\",\"scheduleId\":\"policySchedulea1111111111111111111111111111111\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 66,
            "text": "{\"message\":[\"Name must be different from the existing policies.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"42-Frk6drkQY50Jm1Fy3OndUMlAHH4\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "3f8f2538-5315-4904-9df6-3a82b71b8e3f"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 167,
      },
      {
        "_id": "9a7ddf701e6c007f695d74023671e6f5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"[...]
