{
  "log": {
    "_recordingName": "ResourceTypeOps/importResourceTypes()/1: Import all resource types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d09209802b24ae93ceb1efd5cbe6fae3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2d9bca02-b6b7-428b-8f86-b94a81612f94"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..6hQckJejuCUoC7YCj2oBuA.k21aJO8aJ1kNiHiCVNxH3[...]
