{
  "log": {
    "_recordingName": "ResourceTypeOps/importResourceTypes()/1: Import all resource types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d09209802b24ae93ceb1efd5cbe6fae3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uuid\":\"119b291c-40b3-4b1e-8d84-c2a561a2cb1f\",\"name\":\"FrodoTestResourceType14\",\"description\":\"Frodo Test Resource Type Fourteen\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 110,
            "text": "{\"code\":409,\"reason\":\"Conflict\",\"message\":\"Resource Type 119b291c-40b3-4b1e-8d84-c2a561a2cb1f already exists\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 55,
      },
      {
        "_id": "79baedf053b7e029efaa77518586bd1e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
  [...]
