{
  "log": {
    "_recordingName": "Saml2Ops/deleteSaml2Provider()/1: Delete hosted provider 'https://idc.scheuber.io/am/saml2/IDPFedlet'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6d12a935f08370a38599f3713e3df098",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8725f72b-53b7-4ad9-834d-e3c0f46e07e5"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "entityId eq 'https://idc.scheuber.io/am/saml2/IDPFedlet'"
            },
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2?_queryFilter=entityId%20eq%20%27https%3A%2F%2Fidc.scheuber.io%2Fam%2Fsaml2%2FIDPFedlet%27&_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 329,
            "text": "{\"result\":[{\"_id\":\"aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQRmVkbGV0\",\"_rev\":\"-514203039\",\"entityId\":\"https://idc.scheuber.io/am/saml2/IDPFedlet\",\"location\":\"hosted\",\"roles\":[\"identityProvider\"]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8725f72b-53b7-4ad9-834d-e3c0f46e07e5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 49,
      },
      {
        "_id": "502ed28f9b5a713f85aba1fe8e87192e",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8725f72b-53b7-4ad9-834d-e3c0f46e07e5"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2/hosted/aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQRmVkbGV0"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4070,
            "text": "{\"_id\":\"aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQRmVkbGV0\",\"_rev\":\"-1020599606\",\"entityId\":\"https://idc.scheuber.io/am/saml2/IDPFedlet\",\"identityProvider\":{\"assertionContent\":{\"signingAndEncryption\":{\"requestResponseSigning\":{},\"encryption\":{},\"secretIdAndAlgorithms\":{}},\"nameIdFormat\":{\"nameIdFormatList\":[\"urn:oasis:names:tc:SAML:2.0:nameid-format:persistent\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:transient\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName\"],\"nameIdValueMap\":[{\"key\":\"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress\",\"value\":\"mail\",\"binary\":false}]},\"authenticationContext\":{\"authenticationContextMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAuthnContextMapper\",\"authContextItems\":[{\"contextReference\":\"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport\",\"level\":0}]},\"assertionTime\":{\"notBeforeTimeSkew\":600,\"effectiveTime\":600},\"basicAuthentication\":{},\"assertionCache\":{}},\"assertionProcessing\":{\"attributeMapper\":{\"attributeMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAttributeMapper\"},\"accountMapper\":{\"accountMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAccountMapper\"},\"localConfiguration\":{}},\"services\":{\"metaAlias\":\"/alpha/IDPFedlet\",\"serviceAttributes\":{\"artifactResolutionService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/ArtifactResolver/metaAlias/alpha/IDPFedlet\"}],\"singleLogoutService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/IDPSloRedirect/metaAlias/alpha/IDPFedlet\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPSloRedirect/metaAlias/alpha/IDPFedlet\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/IDPSloPOST/metaAlias/alpha/IDPFedlet\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPSloPOST/metaAlias/alpha/IDPFedlet\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/IDPSloSoap/metaAlias/alpha/IDPFedlet\"}],\"nameIdService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/IDPMniRedirect/metaAlias/alpha/IDPFedlet\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPMniRedirect/metaAlias/alpha/IDPFedlet\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/IDPMniPOST/metaAlias/alpha/IDPFedlet\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPMniPOST/metaAlias/alpha/IDPFedlet\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/IDPMniSoap/metaAlias/alpha/IDPFedlet\"}],\"singleSignOnService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/SSORedirect/metaAlias/alpha/IDPFedlet\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/SSOPOST/metaAlias/alpha/IDPFedlet\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/SSOSoap/metaAlias/alpha/IDPFedlet\"}]},\"nameIdMapping\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/NIMSoap/metaAlias/alpha/IDPFedlet\"}],\"assertionIdRequest\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/AIDReqSoap/IDPRole/metaAlias/alpha/IDPFedlet\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:URI\",\"location\":\"https://idc.scheuber.io/am/AIDReqUri/IDPRole/metaAlias/alpha/IDPFedlet\"}]},\"advanced\":{\"saeConfiguration\":{\"idpUrl\":\"https://idc.scheuber.io/am/idpsaehandler/metaAlias/alpha/IDPFedlet\"},\"ecpConfiguration\":{\"idpSessionMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPECPSessionMapper\"},\"sessionSynchronization\":{},\"idpFinderImplementation\":{},\"relayStateUrlList\":{},\"idpAdapter\":{}}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1020599606\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8725f72b-53b7-4ad9-834d-e3c0f46e07e5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 49,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
