{
  "log": {
    "_recordingName": "Saml2Ops/deleteSaml2Provider()/1: Delete hosted provider 'https://idc.scheuber.io/am/saml2/IDPFedlet'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6d12a935f08370a38599f3713e3df098",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de28b11f-a3a8-49a6-9626-1a95bcf94a4e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..fctPZPPFi7HV-hB35vyd6w.D0f4p2Va0jm6iNbXHHXdyIOG5XINiPBFl2[...]
