{
  "log": {
    "_recordingName": "VariablesOps/deleteVariable()/3: Delete variable3 (non-existent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d1b5d138a408b339be7a9a175ca50d4b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..hT54fBh5TES1gY_y1y6Ldg.OxgonUXkbTH2WptlC_UoVLbUT8tO_fsAR3cvMRHX5cj-UF9qeDTDOE2Vvns-1EWJKvwLoC6S7bvqRGWn-PXFyNCuPfpGVx99Ue_AirAPd0DCqPjOgEODvbe4GKJO1YlsARwKJjwA4WxtuNB2VjjY5Cs-hfqv9TDoUqbep9p0e7aD3SFYW4iVd6-sEKjd9bFCcuPmZPaTIOq8R-DTnrsjfS3jX7-aSvgPyONu9_dttCGBFT_d61uJXVEN8CPvew3_vVVWizsltJWiGbrMhQpO0aZKeSKRwrBxeRB29UnMZz7wDA6oHPvIZw4JkOpzPT9SjmZRTSuSAT5HlicCrE55GvVS04H3bBz7bDBkWYoB-PQPvl2RNwpB6SqYEC34Qm88e59IaBPAB4onWYESaNRyS6KWjCSq628HEwxgVgJOCyvlPZWZHu8NaETgSIEUpXgxm9ejQMDPctj6LrTH1qo32VSvDbc3-aaunQV2HnGsD8hHKeeWBye2vvTgDi_Vt_eqVuPoCp6CrFHGTkpwjcnUdjEtuURNqPwbiI4euxjn82hJAMy5BaekpnIZpPF0ca52-1wZ-WRAMUHnyRL2R1-U4JVqXwLDn57y4llUjJsvNMw-U8mTffi4Nm1PbMIPT-ujb9kKdQhOuKMo2Seyt1UIO0Lge9Q_VSkHfByTUjngBvp02941y3uxBajPbztx48s0i5_1sChIxNJJcjnAFmIrecA_6pLOrxpeIifEtxSJCuqOnxINNRbeEg8qzt-Ajdv9cvIvbo6UcmlwxUM-skhYYhzM6p-xQWa30g-NYl-wPBN45GBrRGNABlTS1a2uLMu2kP8AbrEP-yO0AdlVe2bYDVfhgY18mwTPPg6-BZph_2XogGJ7y6JNQ-cziy7fBmqRGszFEb--LO8v0EFmEp0aiurGxHweaNrHxhMybNO-Wnb3vxH6eb9BLAsLurEeKKUdSNA8Uj7ruMTJ2ZXTEDZ2581xe7xL-aJNwPJ4DOK8sGAspUmleMimIEe5szGfE2L6RgUNXLW6H3AEgYwgujhlUUr-BvwGCr444HX6_IeCci0.dddLC1qB6cTyAKN-LanNFA"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 53,
            "text": "{\"code\":404,\"message\":\"The variable does not exist\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 131,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
