{
  "log": {
    "_recordingName": "SecretStoreOps/Classic Tests/readSecretStoreSchema()/0: Read realm secret store schema",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "de7dee1e82eef63f341eec7619c9036e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7ddf942c-ab50-4c1f-8be5-654d2e6ff40a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "schema"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/realms/root/realm-config/secrets/stores/KeyStoreSecretStore?_action=schema"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2072,
            "text": "{\"type\":\"object\",\"properties\":{\"file\":{\"title\":\"File\",\"description\":\"The keystore file to use\",\"propertyOrder\":100,\"required\":true,\"type\":\"string\",\"exampleValue\":\"\"},\"providerName\":{\"title\":\"Provider name\",\"description\":\"The classname of a provider to use to load the keystore. If blank, the JRE default will be used.\",\"propertyOrder\":300,\"required\":false,\"type\":\"string\",\"exampleValue\":\"\"},\"keyEntryPassword\":{\"title\":\"Entry password secret label\",\"description\":\"The secret value from which the entry password can be obtained, or none if the password is blank. This secret label will be resolved using one of the other secret stores configured.<br> It must not start or end with the <code>.</code> character. <br>The <code>.</code> character must not be followed by another <code>.</code> character.<br>Must contain <code>a-z</code>, <code>A-Z</code>, <code>0-9</code> and <code>.</code> characters only.\",\"propertyOrder\":500,\"required\":false,\"type\":\"string\",\"exampleValue\":\"\"},\"storePassword\":{\"title\":\"Store password secret label\",\"description\":\"The secret label from which the store password can be obtained, or none if the password is blank. This secret label will be resolved using one of the other secret stores configured.<br> It must not start or end with the <code>.</code> character <br>The <code>.</code> character must not be followed by another <code>.</code> character.<br>Must contain <code>a-z</code>, <code>A-Z</code>, <code>0-9</code> and <code>.</code> characters only.\",\"propertyOrder\":400,\"required\":false,\"type\":\"string\",\"exampleValue\":\"\"},\"leaseExpiryDuration\":{\"title\":\"Key lease expiry\",\"description\":\"The amount of minutes a key can be cached from the keystore before it needs to be reloaded.\",\"propertyOrder\":600,\"required\":true,\"type\":\"integer\",\"exampleValue\":\"\",\"default\":5},\"storetype\":{\"title\":\"Keystore type\",\"description\":\"The type of the keystore (JKS, JCEKS, PKCS11, PKCS12, others). This must be a keystore type known or configured on the JRE.\",\"propertyOrder\":200,\"required\":true,\"type\":\"string\",\"exampleValue\":\"\",\"default\":\"JCEKS\"}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
