{
  "log": {
    "_recordingName": "IgaWorkflowOps/exportWorkflow()/1: Export existing workflow by ID with coordinates, string arrays, dependencies, and readonly config",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "554f8487b22ef6f49032e2923d9bbd25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/workflow/testWorkflow1/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 22382,
            "text": "{\"id\":\"testWorkflow1\",\"name\":\"test_workflow_1\",\"displayName\":\"test_workflow_1\",\"description\":\"test_workflow_1\",\"childType\":false,\"_rev\":0,\"steps\":[{\"name\":\"approvalTask-7e33e73d6763\",\"displayName\":\"Custom Approval Task\",\"type\":\"approvalTask\",\"approvalTask\":{\"nextStep\":[{\"condition\":null,\"outcome\":\"APPROVE\",\"step\":\"fulfillmentTask-7fce35a32915\"},{\"condition\":null,\"outcome\":\"REJECT\",\"step\":\"violationTask-50261d9bc712\"}],\"approvalMode\":\"any\",\"actors\":{\"isExpression\":true,\"value\":\"/**\\nDefine custom script which returns an array of actors in the following format\\n(function() {\\n    var content = execution.getVariables();\\n    var requestId = content.get('id');\\n    var requestIndex = openidm.action('iga/governance/requests/' + requestId, 'GET', {}, {});\\n    return [{\\n        id: \\\"managed/user/\\\" + requestIndex.applicationOwner[0].id,\\n        permissions: {\\n            approve: true,\\n            reject: true,\\n            reassign: true,\\n            modify: true,\\n            comment: true\\n        }\\n    }];\\n})()\\n**/\\n(\\nfunction(){\\n   return [];\\n}\\n)()\"},\"events\":{\"assignment\":{\"notification\":\"FrodoTestEmailTemplate1\"},\"reassign\":{\"notification\":\"FrodoTestEmailTemplate1\"},\"reminder\":{\"notification\":\"FrodoTestEmailTemplate1\",\"frequency\":4,\"date\":{\"isExpression\":true,\"value\":\"(new Date(new Date().getTime()+(4*30*24*60*60*1000))).toISOString()\"}},\"escalation\":{\"notification\":\"FrodoTestEmailTemplate1\",\"date\":{\"isExpression\":true,\"value\":\"(new Date(new Date().getTime()+(5*24*60*60*1000))).toISOString()\"},\"actors\":[{\"id\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\"}],\"frequency\":5},\"expiration\":{\"action\":\"reassign\",\"notification\":\"FrodoTestEmailTemplate1\",\"actors\":[{\"id\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"permissions\":{\"approve\":true,\"reject\":true,\"reassign\":true,\"modify\":true,\"comment\":true}},{\"id\":\"managed/role/be68f831-a8f3-42da-93df-84bbc66427f6\",\"permissions\":{\"approve\":true,\"reject\":true,\"reassign\":true,\"modify\":true,\"comment\":true}},{\"id\":{\"isExpression\":true,\"value\":\"\\\"managed/user/\\\" + requestIndex.applicationOwner[0].id\"},\"permissions\":{\"approve\":true,\"reject\":true,\"reassign\":true,\"modify\":true,\"comment\":true}},{\"id\":{\"isExpression\":true,\"value\":\"\\\"managed/user/\\\" + requestIndex.manager.id\"},\"permis[...]
