{
  "log": {
    "_recordingName": "SecretStoreOps/Cloud Tests/deleteSecretStore()/1: Fail to delete ESV secret store",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8b03f5af5b4c3709fdcb89b79a5bb160",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 114,
            "text": "{\"code\":403,\"reason\":\"Forbidden\",\"message\":\"This operation is not available in PingOne Advanced Identity Cloud.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 47,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
