{
  "log": {
    "_recordingName": "MappingOps/importFirstMapping()/2: Should import first regular mapping",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "656adf4884b7d4be5eaaf78c11c5fb3f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-601a2e61-7255-4fc6-b6c9-9a2135901e20"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"mapping/mapping8\",\"name\":\"mapping8\",\"displayName\":\"mapping8\",\"linkQualifiers\":[],\"consentRequired\":false,\"policies\":[],\"properties\":[],\"source\":\"managed/bravo_user\",\"target\":\"managed/bravo_user\",\"syncAfter\":[]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/mapping/mapping8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 218,
            "text": "{\"_id\":\"mapping/mapping8\",\"name\":\"mapping8\",\"displayName\":\"mapping8\",\"linkQualifiers\":[],\"consentRequired\":false,\"policies\":[],\"properties\":[],\"source\":\"managed/bravo_user\",\"target\":\"managed/bravo_user\",\"syncAfter\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/openidm/config/mapping/mapping/mapping8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-601a2e61-7255-4fc6-b6c9-9a2135901e20"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 66,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
