{
  "log": {
    "_recordingName": "EnvCertificatesOps/updateCertificate()/1: Update existing certificate to active - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ebfebea881795c8e6946754cf8fe39ad",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-117a46d7-2504-4667-83ca-b11543c7909c"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 377,
            "text": "{\"active\":true,\"expireTime\":\"2025-08-06T02:48:26Z\",\"id\":\"ccrt-117a46d7-2504-4667-83ca-b11543c7909c\",\"issuer\":\"CN=frodo-dev2.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev2.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:26Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "d83672e2-32b0-441e-ba69-0918d62bc15b/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 107,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
