{
  "log": {
    "_recordingName": "PolicySetOps/readPolicySets()/1: Get all policy sets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6c28db473956c916f36338201b5c11ed",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3c0eef32-677c-4cd9-80df-3253e0b2c493"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_sortKeys",
              "value": "name"
            },
            {
              "name": "_queryFilter",
              "value": "name eq \"^(?!sunAMDelegationService$).*\""
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/applications?_sortKeys=name&_queryFilter=name%20eq%20%22%5E%28%3F%21sunAMDelegationService%24%29.%2A%22"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6673,
            "text": "{\"result\":[{\"displayName\":\"FeatureStorePolicySet\",\"name\":\"FeatureStorePolicySet\",\"description\":null,\"attributeNames\":[],\"createdBy\":\"id=8efaa5b6-8c98-4489-9b21-ee41f5589ab7,ou=user,ou=am-config\",\"conditions\":[\"AMIdentityMembership\",\"AND\",\"AuthLevel\",\"AuthScheme\",\"AuthenticateToRealm\",\"AuthenticateToService\",\"IPv4\",\"IPv6\",\"LDAPFilter\",\"LEAuthLevel\",\"NOT\",\"OAuth2Scope\",\"OR\",\"Policy\",\"ResourceEnvIP\",\"Script\",\"Session\",\"SessionProperty\",\"SimpleTime\",\"Transaction\"],\"resourceTypeUuids\":[\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\"],\"lastModifiedBy\":\"id=8efaa5b6-8c98-4489-9b21-ee41f5589ab7,ou=user,ou=am-config\",\"creationDate\":1695912757709,\"lastModifiedDate\":1695912757709,\"saveIndex\":null,\"searchIndex\":null,\"resourceComparator\":null,\"applicationType\":\"iPlanetAMWebAgentService\",\"entitlementCombiner\":\"DenyOverride\",\"subjects\":[\"AND\",\"AuthenticatedUsers\",\"Identity\",\"JwtClaim\",\"NONE\",\"NOT\",\"OR\",\"Policy\"],\"editable\":true},{\"displayName\":\"Frodo Test Policy Set Template\",\"name\":\"FrodoTestPolicySet1\",\"description\":\"Frodo Test Policy Set Template\",\"attributeNames\":[],\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"conditions\":[\"Script\",\"AMIdentityMembership\",\"IPv6\",\"IPv4\",\"SimpleTime\",\"LEAuthLevel\",\"LDAPFilter\",\"AuthScheme\",\"Session\",\"AND\",\"AuthenticateToRealm\",\"ResourceEnvIP\",\"Policy\",\"OAuth2Scope\",\"SessionProperty\",\"OR\",\"Transact[...]
