{
  "log": {
    "_recordingName": "EnvCookieDomainsApi/setCookieDomains()/1: Set cookie domains - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cd2adef5d404f2dfd9dc48e309b0d2d9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"domains\":[\"mytestrun.com\",\"mytest.run\"]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/cookie-domains"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": "{\"domains\":[\"mytestrun.com\",\"mytest.run\"]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "76e275f7-c9ca-4dda-9cac-36fe53c6f371/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 93,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
