{
  "log": {
    "_recordingName": "IgaRequestFormOps/readRequestFormByName()/2: Read non-existing request form with unknown name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "aafb4fea3d9d5cdf5dca83b9b5fe9222",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"unknownName\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestForms?_queryFilter=name%20eq%20%22unknownName%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"totalCount\":0,\"resultCount\":0,\"result\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-iotyA6VuHDnFn3by3ivfMq6YeCA\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ee52c98d-3134-4b0c-b74a-736e6c015a8a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 122,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
