{
  "log": {
    "_recordingName": "MappingOps/updateMapping()/2: Should update regular mapping",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cd483e4c771c345f4217cc711e609bf6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-601a2e61-7255-4fc6-b6c9-9a2135901e20"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"mapping/mapping12\",\"name\":\"mapping12\",\"displayName\":\"mapping12\",\"linkQualifiers\":[],\"consentRequired\":true,\"policies\":[],\"properties\":[],\"source\":\"managed/bravo_user\",\"target\":\"managed/bravo_user\",\"syncAfter\":[]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/mapping/mapping12"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 220,
            "text": "{\"_id\":\"mapping/mapping12\",\"name\":\"mapping12\",\"displayName\":\"mapping12\",\"linkQualifiers\":[],\"consentRequired\":true,\"policies\":[],\"properties\":[],\"source\":\"managed/bravo_user\",\"target\":\"managed/bravo_user\",\"syncAfter\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-601a2e61-7255-4fc6-b6c9-9a2135901e20"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 60,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
