{
  "log": {
    "_recordingName": "TreeApi/deleteTree()/1: Delete existing tree FrodoTestTree2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b216dbeca9e625210951266a82a5810d",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-103faeed-5c60-461f-a4be-658019990a4e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestTree2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 414,
            "text": "{\"_id\":\"FrodoTestTree2\",\"_rev\":\"1948362972\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Authentication\\\",\\\"Frodo\\\"]\"},\"entryNodeId\":\"f19e5458-6c2e-43e6-9273-84d66f4a8f46\",\"nodes\":{},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":80},\"c904b319-0bb0-454e-b408-08ade91469cf\":{\"x\":70,\"y\":230},\"97704adc-c3a0-469a-9f6a-c07325890232\":{\"x\":210,\"y\":80}},\"description\":\"Frodo Test Tree Two\",\"enabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1948362972\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-103faeed-5c60-461f-a4be-658019990a4e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 39,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
