{
  "log": {
    "_recordingName": "Saml2Ops/importSaml2Provider()/2: Import hosted provider 'https://idc.scheuber.io/am/saml2/IDPBroadcom' no deps",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e139e65643eb98dcdad7b6255d3ac339",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-edeef71d-4c17-4440-a91b-9a0bdc13174c"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQQnJvYWRjb20\",\"_rev\":\"-728528736\",\"entityId\":\"https://idc.scheuber.io/am/saml2/IDPBroadcom\",\"identityProvider\":{\"assertionContent\":{\"signingAndEncryption\":{\"requestResponseSigning\":{},\"encryption\":{},\"secretIdAndAlgorithms\":{}},\"nameIdFormat\":{\"nameIdFormatList\":[\"urn:oasis:names:tc:SAML:2.0:nameid-format:persistent\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:transient\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName\"],\"nameIdValueMap\":[{\"key\":\"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress\",\"value\":\"mail\",\"binary\":false}]},\"authenticationContext\":{\"authenticationContextMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAuthnContextMapper\",\"authContextItems\":[{\"contextReference\":\"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport\",\"level\":0}]},\"assertionTime\":{\"notBeforeTimeSkew\":600,\"effectiveTime\":600},\"basicAuthentication\":{},\"assertionCache\":{}},\"assertionProcessing\":{\"attributeMapper\":{\"attributeMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAttributeMapper\",\"attributeMapperScript\":\"90c4eca5-05f0-42f5-b9bf-88b693eabbbd\"},\"accountMapper\":{\"accountMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAccountMapper\",\"disableNameIdPersistence\":false},\"localConfiguration\":{}},\"services\":{\"metaAlias\":\"/alpha/IDPBroadcom\",\"serviceAttributes\":{\"artifactResolutionService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/ArtifactResolver/metaAlias/alpha/IDPBroadcom\"}],\"singleLogoutService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/IDPSloRedirect/metaAlias/alpha/IDPBroadcom\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPSloRedirect/metaAlias/alpha/IDPBroadcom\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/IDPSloPOST/metaAlias/alpha/IDPBroadcom\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPSloPOST/metaAlias/alpha/IDPBroadcom\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/IDPSloSoap/metaAlias/alpha/IDPBroadcom\"}],\"nameIdService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/IDPMniRedirect/metaAlias/alpha/IDPBroadcom\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPMniRedirect/metaAlias/alpha/IDPBroadcom\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/IDPMniPOST/metaAlias/alpha/IDPBroadcom\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPMniPOST/metaAlias/alpha/IDPBroadcom\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/IDPMniSoap/metaAlias/alpha/IDPBroadcom\"}],\"singleSignOnService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/SSORedirect/metaAlias/alpha/IDPBroadcom\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/SSOPOST/metaAlias/alpha/IDPBroadcom\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/SSOSoap/metaAlias/alpha/IDPBroadcom\"}]},\"nameIdMapping\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/NIMSoap/metaAlias/alpha/IDPBroadcom\"}],\"assertionIdRequest\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/AIDReqSoap/IDPRole/metaAlias/alpha/IDPBroadcom\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:URI\",\"location\":\"https://idc.scheuber.io/am/AIDReqUri/IDPRole/metaAlias/alpha/IDPBroadcom\"}]},\"advanced\":{\"saeConfiguration\":{\"idpUrl\":\"https://idc.scheuber.io/am/idpsaehandler/metaAlias/alpha/IDPBroadcom\"},\"ecpConfiguration\":{\"idpSessionMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPECPSessionMapper\"},\"sessionSynchronization\":{\"enabled\":false},\"idpFinderImplementation\":{\"enableProxyIdpFinderForAllSps\":false},\"relayStateUrlList\":{},\"idpAdapter\":{\"idpAdapterScript\":\"5b29c5b7-b161-4a42-a41f-d6c85316b951\"}}}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2/hosted/?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4317,
            "text": "{\"_id\":\"aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQQnJvYWRjb20\",\"_rev\":\"-728528736\",\"entityId\":\"https://idc.scheuber.io/am/saml2/IDPBroadcom\",\"identityProvider\":{\"assertionContent\":{\"signingAndEncryption\":{\"requestResponseSigning\":{},\"encryption\":{},\"secretIdAndAlgorithms\":{}},\"nameIdFormat\":{\"nameIdFormatList\":[\"urn:oasis:names:tc:SAML:2.0:nameid-format:persistent\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:transient\",\"urn:oasis:[...]
