{
  "log": {
    "_recordingName": "ResourceTypeOps/exportResourceType()/2: Export non-existing resource type by uuid [00000000-0000-0000-0000-000000000000]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "98869e1fc9f2e1b80a230525ddc0b506",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2d9bca02-b6b7-428b-8f86-b94a81612f94"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..6hQckJejuCUoC7YCj2oBuA.k21aJO8aJ1kNiHiCVNxH3FUG0KzSonnJTI[...]
