{
  "log": {
    "_recordingName": "IgaRequestTypeOps/exportRequestTypeByName()/2: Export non-existing request type with unknown name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "166698ccc31507edeea1927a8c8fee99",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "displayName eq \"unknownName\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestTypes?_queryFilter=displayName%20eq%20%22unknownName%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"totalCount\":0,\"resultCount\":0,\"result\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-iotyA6VuHDnFn3by3ivfMq6YeCA\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "1c3a69f0-bde0-4437-8de2-e201fcaf0811"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 116,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
