{
  "log": {
    "_recordingName": "EnvSSOCookieConfigApi/setSSOCookieConfig()/1: Set custom SSO cookie config - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "812160723e3a3093fd85235e29f71f79",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"myCustomTestCookieName\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/sso-cookie"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "{\"name\":\"myCustomTestCookieName\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "458f179c-7d71-440e-86b9-f5df08e457cd/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
