{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/importAgent()/1: Import gateway agent",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dacc4ee56d289c9e67bdee8613c63874",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c8616ad-a53d-4cff-a147-a926536f9546"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"userpassword\":null,\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/FrodoOpsTestGatewayAgent6"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 396,
            "text": "{\"_id\":\"FrodoOpsTestGatewayAgent6\",\"_rev\":\"81854864\",\"secretLabelIdentifier\":{\"inherited\":false},\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"igCdssoLoginUrlTemplate\":{\"inherited\":false},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"81854864\""
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/FrodoOpsTestGatewayAgent6"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c8616ad-a53d-4cff-a147-a926536f9546"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 94,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
