{
  "log": {
    "_recordingName": "EnvCertificatesOps/deactivateCertificate()/1: Deactivate existing certificate - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "077eba9fc2bfadfe1ec13b6a51be32a5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-33c74d96-e14e-4f8a-b928-3b7468afa959"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 377,
            "text": "{\"active\":false,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-33c74d96-e14e-4f8a-b928-3b7468afa959\",\"issuer\":\"CN=frodo-dev9.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev9.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "3b51e08b-a13b-4e87-8712-bc672343e1d9/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
