{
  "log": {
    "_recordingName": "IdmConfigOps/testConnectorServers()/1: Test connector servers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "21daada82227f33a642b02a035f98c37",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dd8f0cf2-4058-458b-b867-086647240388"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..0beHBgmnzRtkVTVTfJelUA.qCWpYvFWTwYAQAfk5_rB0-37AWo7wEOb0Sl1FB2M2bccwIm3Qr2BNHdfg7m9LtVCybvcOZlATOAKzTrGIzrIcdmTqCGK1rYRoed0r-C2ZHO3ZKivcvRxlxfW-g6WWsItN5CfOt9m1IPA9wllGz120QGcPQqby5TxkY4YM5nNhABn0tiZq5LrGO4BDnoSJi6TJCWe2mVjheg-2rp41KNw53n4HXd_1mWDRfy5oYhnCqUv2CSgMu7F5Fh_PjLwCcdVVvyZP3Ry0B7HgKXiStjeI3L4XxKKfcpQusD3xrdejRwe-GdPMPNCxHVN1gi0bWM5gNs1_psRYXnV_IuNkPjQPVYaU5FV-CkTha0LBy0yTNqWUE805Dd5ucEFyT0c1e76k9LGX2IDsTHP6RRCKbgGSinYCaJ1gI3qouBDGDSCrXtIQRB_6fYLotPkDvGs_VFIt0s9NGcr8Qfwi18-RWfovWpOPzNf_4o0kOb42vJed2tqZxl8zXduJ-bz5xtgUC0d4faK2XehD_2APKukfsTxB4AimGLH0IWMv_fskiws-D74-LaqyuVoxqDA4DRzSbpKbZTFC4g5gzN8KyVsNIUyPTI7OT38UmLJ-R9Tuc8kUNGBqmQulEGC2VXMDectOhpW2Em_nL78SFuO0nRqiKtvCaaLlO9RCTnPaXgqsAInlcPghhRpRnJpwYIh6IURd2d8u5GrfNkdO1Ocr4stXyvbUjJlngFtK9EXc2X_-5YLFd_XvRUCTGLRiidjZqAnxz7LHw3wrCRGlwmDOEBaZ99jtevVMK8R-yClzOtJFKYpLZ-3oowhDDBu0Rng4Vo1VCPKJsBg8X5LR-XR1k_fUNdEpPEpYidlDwlqkNsO9lmlzurQ-989AtyM3o5iYIHaYfrW8eYB5wE-GacOEj528ppHCxyIscX9XwA4ZlDEuElxhc29AhqvwJj-vRglGLY0Gx3UoC_R04bDMUHhwvnvCAACjw8xGta0JoCj4_ygMrf-lwSPMjuNYUh__mPRvUd-tWkA67evekz7d8hu2E9aqn93MZPvrFiqvGnCe0RF3Jv1xN8.ZDv3AdyNe0xcrdK5VKzruA"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "testConnectorServers"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/system?_action=testConnectorServers"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 14,
            "text": "{\"openicf\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dd8f0cf2-4058-458b-b867-086647240388"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 43,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
