{
  "log": {
    "_recordingName": "IdmConfigOps/testConnectorServers()/1: Test connector servers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "21daada82227f33a642b02a035f98c37",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-316e82c1-39f7-4adb-8d1e-e63e8e0c0e76"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..HohpDO51HoD8Sdi7OsjdGA.RxxXLPIIGTSZ7xTFu765c93alNCs9gpoO0-5e22-P0scdUmRYLnKCV0XJIrWTmnXTk7EfDdKDHGWe6VLBNMLrb3j-mFLigO-9zoQQlFv_zU5BxwoKtCUgxLde597-avv5vG-C6ijZkPogJ6TbaI5Pfb3MaGi8vch-BRZCaIP36eZh9PN8h1NYBSfvHLdWe-J5nRzsXmaHR_X_4AgG81llOyttiAl2tTlcyRGew2xEu_oBEi01eSKGoWCjKkO1NjHfBHtD0S2DXHBB2ynIjzV2wJob7C0-5v92TIBAdEDJgj-5Ost0234qWYZJ1ulYCC0H6KmzetOzL_tPykd4Z3lafHXL-IkWoqCleTwQjYjW5v43WDFkBdLX1Yt79QH2DAd2_48LyF8-0npLuLH2-8GkNRTXosi_KO5EkQ7bznXvI5JMjhIdBQIp9_cQ_3fZpBSUaaxXWs_zyk-M-JVxUW0pTL1x6scx73kK1Aaf1hHo1DovSFxeUvJFz35zeGJD07984u7S2-jZ4x8rFmqDzRm9Aqe0IP8XFIwmICQmDxjVXbqyx-aLpNJAYxZacOb2kUIp-u-q78zokn5aVpvAhCOXngqO7Fw4_w54OP5zbk_ZI7sCkHOi0fY_nGcVj6ls7FuZy_8bzqjkN4qZ8y4n7EgHIdDx6u0Ds4V-bUmzqNydTiWTTEjjMMo1ziM0ueXdCDyh-jSHPkTLBYVnPNPAHWHSPfcLGCbNOdCOqZ8_4frCgcDyi0w_xzsP4h4wGAGFgdGhajHnkJRJ-FLCYnvej8oFBmFU5xhHxGwq-XZ2C1YvkHJtkLUQEtL5vhO_4h9VMFGN2XJpabA4_uRQziEfelhqDOESRxIs1Nn7rNLPmA5YepisUWavQxVi8v3mZP5Yoi-1oB7CVCBpq9QJbnOAx_IQ9gG3cDGBWYnlfccV2wAPQlmNprSeB4xYHDCw_ojx3krShjKSluKwlVbjWF2u5QYjfVaQZCW7aLQ7hf7N9vZFAzhddIRaGd-8jRD_xseD_ZRoyC47F_Td2ZmgcF0MgK5SId-TzXSSDtepdCSV7muEkQ.G0E2VkUeIsXRab4S5fVmXA"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "testConnectorServers"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/system?_action=testConnectorServers"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 14,
            "text": "{\"openicf\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-316e82c1-39f7-4adb-8d1e-e63e8e0c0e76"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 51,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
