{
  "log": {
    "_recordingName": "IdmConfigOps/testConnectorServers()/1: Test connector servers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "21daada82227f33a642b02a035f98c37",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-73a8c84e-76bd-4828-aec9-c17ccb68d067"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "testConnectorServers"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/system?_action=testConnectorServers"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 14,
            "text": "{\"openicf\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-73a8c84e-76bd-4828-aec9-c17ccb68d067"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
