{
  "log": {
    "_recordingName": "ResourceTypeOps/updateResourceType()/3: Do not update existing resource type [e219144d-8d94-47b6-8789-3a7b820d6cde - FrodoTestResourceType4] with no changes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eaa8e543f420ea4e6f4eddd54da33369",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/e219144d-8d94-47b6-8789-3a7b820d6cde"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 437,
            "text": "{\"uuid\":\"e219144d-8d94-47b6-8789-3a7b820d6cde\",\"name\":\"FrodoTestResourceType4\",\"description\":\"Frodo Test Resource Type Four\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064,ou=user,ou=am-config\",\"creationDate\":1788909638561,\"lastModifiedBy\":\"id=9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064,ou=user,ou=am-config\",\"lastModifiedDate\":1788909638561}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 91,
      },
      {
        "_id": "349d48b8314683deeb7018e55673ae10",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uuid\":\"e219144d-8d94-47b6-8789-3a7b820d6cde\",\"name\":\"FrodoTestResourceType4\",\"description\":\"test new description\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/e219144d-8d94-47b6-8789-3a7b820d6cde"
        },
        "response": {
          "content[...]
