{
  "log": {
    "_recordingName": "AgentOps/readAgentByTypeAndId()/2: Read agent by type 'FrodoOpsTestJavaAgent1' (J2EEAgent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8224f3a87d3b9e9c8271aa8960d2b1c1",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a6cda95-61ab-4c69-b61e-d299885e8f92"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/J2EEAgent/FrodoOpsTestJavaAgent1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 9174,
            "text": "{\"_id\":\"FrodoOpsTestJavaAgent1\",\"_rev\":\"1389672820\",\"ssoJ2EEAgentConfig\":{\"encodeCookies\":{\"inherited\":false,\"value\":false},\"cookieResetDomains\":{\"inherited\":false,\"value\":{}},\"authExchangeUri\":{\"inherited\":false},\"authExchangeCookieName\":{\"inherited\":false},\"setCookieInternalMap\":{\"inherited\":false,\"value\":{}},\"excludedUserAgentsList\":{\"inherited\":false,\"value\":[]},\"cdssoRedirectUri\":{\"inherited\":false,\"value\":\"/agent/post-authn-redirect\"},\"cookieResetPaths\":{\"inherited\":false,\"value\":{}},\"cdssoSecureCookies\":{\"inherited\":false,\"value\":false},\"acceptSsoTokenEnabled\":{\"inherited\":false,\"value\":false},\"acceptSsoTokenDomainList\":{\"inherited\":false,\"value\":[\"\"]},\"cdssoDomainList\":{\"inherited\":false,\"value\":[\"\"]},\"setCookieAttributeMap\":{\"inherited\":false,\"value\":{}},\"cookieResetEnabled\":{\"inherited\":false,\"value\":false},\"cookieResetNames\":{\"inherited\":false,\"value\":[\"\"]},\"acceptIPDPCookie\":{\"inherited\":false,\"value\":false},\"httpOnly\":{\"inherited\":false,\"value\":true}},\"amServicesJ2EEAgent\":{\"urlPolicyEnvPostParameters\":{\"inherited\":false,\"value\":[\"\"]},\"policyEvaluationRealm\":{\"inherited\":false,\"value\":\"/\"},\"authServiceHost\":{\"inherited\":false,\"value\":\"openam-volker-dev.forgeblocks.com\"},\"policyNotifications\":{\"inherited\":false,\"value\":true},\"conditionalLoginUrl\":{\"inherited\":false,\"value\":[\"\"]},\"customLoginEnabled\":{\"inherited\":false,\"value\":false},\"legacyLoginUrlList\":{\"inherited\":false,\"value\":[\"\"]},\"agentAdviceEncode\":{\"inherited\":false,\"value\":false},\"authServicePort\":{\"inherited\":false,\"value\":443},\"urlPolicyEnvGetParameters\":{\"inherited\":false,\"value\":[\"\"]},\"restrictToRealm\":{\"inherited\":false,\"value\":{}},\"urlPolicyEnvJsessionParameters\":{\"inherited\":false,\"value\":[\"\"]},\"amLoginUrl\":{\"inherited\":false,\"value\":[]},\"conditionalLogoutUrl\":{\"inherited\":false,\"value\":[\"\"]},\"authServiceProtocol\":{\"inherited\":false,\"value\":\"https\"},\"policyEvaluationApplication\":{\"inherited\":false,\"value\":\"iPlanetAMWebAgentService\"},\"authSuccessRedirectUrl\":{\"inherited\":false,\"value\":false},\"overridePolicyEvaluationRealmEnabled\":{\"inherited\":false,\"value\":false}},\"applicationJ2EEAgentConfig\":{\"profileAttributeFetchMode\":{\"inherited\":false,\"value\":\"NONE\"},\"notEnforcedUris\":{\"inherited\":false,\"value\":[\"\"]},\"notEnforcedIpsCacheEnabled\":{\"inherited\":false,\"value\":true},\"logoutIntrospection\":{\"inherited\":false,\"value\":false},\"invertNotEnforcedUris\":{\"inherited\":false,\"value\":false},\"cookieAttributeUrlEncoded\":{\"inherited\":false,\"value\":true},\"cookieAttributeMultiValueSeparator\":{\"inherited\":false,\"value\":\"|\"},\"notEnforcedRuleCompoundSeparator\":{\"inherited\":false,\"value\":\"|\"},\"logoutRequestParameters\":{\"inherited\":false,\"value\":{}},\"resourceAccessDeniedUri\":{\"inherited\":false,\"value\":{}},\"continuousSecurityCookies\":{\"inherited\":false,\"value\":{}},\"responseAttributeFetchMode\":{\"inherited\":false,\"value\":\"NONE\"},\"notEnforcedUrisCacheEnabled\":{\"inherited\":false,\"value\":true},\"headerAttributeDateFormat\":{\"inherited\":false,\"value\":\"EEE, d MMM yyyy hh:mm:ss z\"},\"profileAttributeMap\":{\"inherited\":false,\"value\":{}},\"sessionAttributeFetchMode\":{\"inherited\":false,\"value\":\"NONE\"},\"continuousSecurityHeaders\":{\"inherited\":false,\"value\":{}},\"responseAttributeMap\":{\"inherited\":false,\"value\":{}},\"notEnforcedUrisCacheSize\":{\"inherited\":false,\"value\":1000},\"invertNotEnforcedIps\":{\"inherited\":false,\"value\":false},\"sessionAttributeMap\":{\"inherited\":false,\"value\":{}},\"clientIpValidationRange\":{\"inherited\":false,\"value\":{}},\"notEnforcedIpsCacheSize\":{\"inherited\":false,\"value\":1000},\"clientIpValidationMode\":{\"inherited\":false,\"value\":{\"\":\"OFF\"}},\"notEnforcedFavicon\":{\"inherited\":false,\"value\":true},\"logoutEntryUri\":{\"inherited\":false,\"value\":{}},\"notEnforcedIps\":{\"inherited\":false,\"value\":[\"\"]},\"applicationLogoutUris\":{\"inherited\":false,\"value\":{}}},\"globalJ2EEAgentConfig\":{\"repositoryLocation\":\"centralized\",\"userTokenName\":{\"inherited\":false,\"value\":\"UserToken\"},\"fqdnDefault\":{\"inherited\":false,\"value\":\"openam-volker-dev.forgeblocks.com\"},\"recheckAmUnavailabilityInSeconds\":{\"inherited\":false,\"value\":5},\"httpSessionBinding\":{\"inherited\":false,\"value\":true},\"webSocketConnectionIntervalInMinutes\":{\"inherited\":false,\"value\":30},\"localAuditLogRotation\":{\"inherited\":false,\"value\":false},\"filterMode\":{\"inherited\":false,\"value\":{\"\":\"ALL\"}},\"debugLogfileRotationSize\":{\"inherited\":false,\"value\":52428800},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"debugLevel\":{\"inherited\":false,\"value\":\"error\"},\"lbCookieName\":{\"inherited\":false,\"value\":\"amlbcookie\"},\"auditLogLocation\":{\"inherited\":false,\"value\":\"REMOTE\"},\"lbCookieEnabled\":{\"inherited\":false,\"value\":false},\"userPrincipalFlag\":{\"inherited\":false,\"value\":false},\"fqdnCheck\":{\"inherited\":false,\"value\":false},\"preAuthCookieMaxAge\":{\"inherited\":false,\"value\":300},\"localAuditRotationSize\":{\"inherited\":false,\"value\":52428800},\"fqdnMapping\":{\"inherited\":false,\"value\":{}},\"debugLogfileRotationMinutes\":{\"inherited\":false,\"value\":-1},\"loginAttemptLimit\":{\"inherited\":false,\"value\":0},\"auditAccessType\":{\"inherited\":false,\"value\":\"LOG_NONE\"},\"redirectAttemptLimitCookieName\":{\"inherited\":false,\"value\":\"amFilterRDParam\"},\"debugLogfileRetentionCount\":{\"inherited\":false,\"value\":-1},\"configurationReloadInterval\":{\"inherited\":false,\"value\":0},\"debugLogfileSuffix\":{\"inherited\":false,\"value\":\"-yyyy.MM.dd-HH.mm.ss\"},\"userAttributeName\":{\"inherited\":false,\"value\":\"employeenumber\"},\"localAuditLogfileRetentionCount\":{\"inherited\":false,\"value\":-1},\"customResponseHeader\":{\"inherited\":false,\"value\":{}},\"redirectAttemptLimit\":{\"inherited\":false,\"value\":0},\"userMappingMode\":{\"inherited\":false,\"value\":\"USER_ID\"},\"jwtName\":{\"inherited\":false,\"value\":\"am-auth-jwt\"},\"loginAttemptLimitCookieName\":{\"inherited\":false,\"value\":\"amFilterParam\"},\"cdssoRootUrl\":{\"inherited\":false,\"value\":[\"agentRootURL=https://openam-volker-dev.forgeblocks.com:443/\"]},\"agentConfigChangeNotificationsEnabled\":{\"inherited\":false,\"value\":true},\"debugLogfilePrefix\":{\"inherited\":false},\"preAuthCookieName\":{\"inherited\":false,\"value\":\"amFilterCDSSORequest\"}},\"advancedJ2EEAgentConfig\":{\"postDataStickySessionKeyValue\":{\"inherited\":false},\"xssDetectionRedirectUri\":{\"inherited\":false,\"value\":{}},\"postDataCacheTtlMin\":{\"inherited\":false,\"value\":5},\"jwtCacheSize\":{\"inherited\":false,\"value\":5000},\"postDataPreservation\":{\"inherited\":false,\"value\":false},\"policyCacheSize\":{\"inherited\":false,\"value\":5000},\"postDataPreserveCacheEntryMaxEntries\":{\"inherited\":false,\"value\":1000},\"postDataPreserveCacheEntryMaxTotalSizeMb\":{\"inherited\":false,\"value\":-1},\"ssoExchangeCacheSize\":{\"inherited\":false,\"value\":100},\"sessionCacheTTL\":{\"inherited\":false,\"value\":15},\"idleTimeRefreshWindow\":{\"inherited\":false,\"value\":1},\"ssoExchangeCacheTTL\":{\"inherited\":false,\"value\":5},\"possibleXssCodeElements\":{\"inherited\":false,\"value\":[\"\"]},\"alternativeAgentPort\":{\"inherited\":false},\"policyClientPollingInterval\":{\"inherited\":false,\"value\":3},\"missingPostDataPreservationEntryUri\":{\"inherited\":false,\"value\":[\"\"]},\"alternativeAgentProtocol\":{\"inherited\":false},\"clientIpHeader\":{\"inherited\":false},\"jwtCacheTTL\":{\"inherited\":false,\"value\":30},\"customProperties\":{\"inherited\":false,\"value\":[]},\"policyCachePerUser\":{\"inherited\":false,\"value\":50},\"expiredSessionCacheTTL\":{\"inherited\":false,\"value\":20},\"fragmentRelayUri\":{\"inherited\":false},\"postDataStickySessionMode\":{\"inherited\":false,\"value\":\"URL\"},\"alternativeAgentHostname\":{\"inherited\":false},\"expiredSessionCacheSize\":{\"inherited\":false,\"value\":500},\"clientHostnameHeader\":{\"inherited\":false},\"monitoringToCSV\":{\"inherited\":false,\"value\":false}},\"miscJ2EEAgentConfig\":{\"legacyUserAgentList\":{\"inherited\":false,\"value\":[\"Mozilla/4.7*\"]},\"loginReasonMap\":{\"inherited\":false,\"value\":{}},\"authFailReasonParameterRemapper\":{\"inherited\":false,\"value\":{}},\"agent302RedirectStatusCode\":{\"inherited\":false,\"value\":200},\"loginReasonParameterName\":{\"inherited\":false},\"gotoUrl\":{\"inherited\":false},\"localeLanguage\":{\"inherited\":false,\"value\":\"en\"},\"authFailReasonParameterName\":{\"inherited\":false},\"unwantedHttpUrlParams\":{\"inherited\":false,\"value\":[\"\"]},\"agent302RedirectContentType\":{\"inherited\":false,\"value\":\"application/json\"},\"agent302RedirectEnabled\":{\"inherited\":false,\"value\":true},\"legacyUserAgentSupport\":{\"inherited\":false,\"value\":false},\"wantedHttpUrlParams\":{\"inherited\":false,\"value\":[\"\"]},\"ignorePathInfo\":{\"inherited\":false,\"value\":false},\"agent302RedirectInvertEnabled\":{\"inherited\":false,\"value\":false},\"wantedHttpUrlRegexParams\":{\"inherited\":false,\"value\":[\"\"]},\"localeCountry\":{\"inherited\":false,\"value\":\"US\"},\"agent302RedirectHttpData\":{\"inherited\":false,\"value\":\"{redirect:{requestUri:%REQUEST_URI%,requestUrl:%REQUEST_URL%,targetUrl:%TARGET%}}\"},\"agent302RedirectNerList\":{\"inherited\":false,\"value\":[\"\"]},\"legacyRedirectUri\":{\"inherited\":false,\"value\":\"/agent/sunwLegacySupportURI\"},\"portCheckFile\":{\"inherited\":false,\"value\":\"PortCheckContent.txt\"},\"authFailReasonUrl\":{\"inherited\":false},\"gotoParameterName\":{\"inherited\":false,\"value\":\"goto\"},\"portCheckSetting\":{\"inherited\":false,\"value\":{\"443\":\"https\"}},\"unwantedHttpUrlRegexParams\":{\"inherited\":false,\"value\":[\"\"]},\"portCheckEnabled\":{\"inherited\":false,\"value\":false}},\"_type\":{\"_id\":\"J2EEAgent\",\"name\":\"J2EE Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1389672820\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a6cda95-61ab-4c69-b61e-d299885e8f92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 73,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
