{
  "log": {
    "_recordingName": "VariablesOps/exportVariables()/2: Export all variables without decoding",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "49c64431f90c263c4e22873dcf498dcb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..jGQHIoYDHbORCMlQVBkjmw.00qB-Dn-5KWwpkWJCW5Ywz9MD2VTydyxEPxMDws1PNVBSeF1UZF4GL7Dmi70bdG5KVFovb1PO6iQGr-AXphS6QYLMJW6HKtpUQYIMws63xse490MNOQ8k_RS8JxHX_iJdmfWTp9Agsbx5wEANdXX7txEHe8czpU-g_6QCYlEdfjDfHkw-XNHX927JNWE0_Uz9jYqWWFIzgl_Xi3SGjW2PNrXjdyJ5MfYhNMw7PqD-6ysDNsyHQBxxQDhVZx8t1KaD6jIamkUiddn438ffezX_hX4WfUnYmcxMUxRi98KDDdSyGb1SKoqR-JtWqJKPsqv2hlE4GJo0pRrLZB_PEKAR0aZjwv4FVbOnQ832-9Byr8WpHvb79v5cW6aTdGCfmsTa8RoR6BbcsrH5rfSBEBnv2V9elFj8L4NM725RSk8lwzQbvpZ292J7VgfaNgdlG8PMytPGMEqHECAjcX63VyrKY_47wNkeop1sJudzq7_jRUQo5Cq85aSbIU-jD-IFTop0i6JUKp2MSLdQzUdJ9fVAVfzuyyqlhnAoP5FUJOmuWjZNGWdYaja1x_4otth0-haaIyCZzuKbJ5eTS5fjf6sqwXBCNadMhSyMQetb89PkJ3OYU_pQ5wSdOsabg7p5-brTZ0Fnb52WYQSODAvEAVl48ILu0tFfg1radXf42glEyAm83tVTRxUg_8PeOeMhA3-EWZvz5d4_CJnicKjSf__ne7Q0Gih0z-yJXHjQKKHdaN-9VmIZcPOXkJl6ndrC96Ze2Nm4XfqFaSf6grunL5n3THtcAx6K_hYVrLLHNjeDZx54SIgze_yZIM9nzQppRnOm8svqzo-hI7ArhyGjgGutdrRVYRA49Jta1Ts5O7cCXu1BOd9EXdvDmjAqjTkz6kik0kO2HoG2e8x5pclgedKs-a2gsCLP_iXRu0_z3IJwwtbvJHhbHySUZDYlzcRVQXpbx6zxD2llYZgJOJMBRawtzT-AUhWCum6n4UrHcyj8F0frFt1ndqvuU1vZPLRZtO0wLxsYb0Xolyss-9wFWHTF2IX7PM4rNmD8VLxRqIANXk.Hs4xNJI9FAdKfZXxFwAAKw"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4274,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-blue-piller\",\"description\":\"Zion membership criteria.\",\"expressionType\":\"bool\",\"lastChangeDate\":\"2023-07-18T22:21:38.640Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"valueBase64\":\"ZmFsc2U=\"},{\"_id\":\"esv-frodo-test-variable-1\",\"description\":\"description1\",\"expressionType\":\"string\",\"lastChangeDate\":\"2023-10-24T17:40:50.223Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"dmFsdWUx\"},{\"_id\":\"esv-frodo-test-variable-2\",\"description\":\"description2\",\"expressionType\":\"int\",\"lastChangeDate\":\"2023-10-24T17:40:54.286Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"NDI=\"},{\"_id\":\"esv-ipv4-cidr-access-rules\",\"description\":\"IPv4 CIDR access rules:\\n{\\n  \\\"allow\\\": [\\n    \\\"address/mask\\\"\\n  ]\\n}\",\"expressionType\":\"\",\"lastChangeDate\":\"2022-08-25T22:54:28.551Z\",\"lastChangedBy\":\"8efaa5b6-8c98-4489-9b21-ee41f5589ab7\",\"loaded\":true,\"valueBase64\":\"eyAgImFsbG93IjogWyAgICAiMTUwLjEyOC4wLjAvMTYiLCAgICAiMTM5LjM1LjAuMC8xNiIsICAgICIxMDEuMjE2LjAuMC8xNiIsICAgICI5OS43Mi4yOC4xODIvMzIiICBdfQ==\"},{\"_id\":\"esv-nebuchadnezzar-crew\",\"description\":\"The crew of the Nebuchadnezzar hovercraft.\",\"expressionType\":\"array\",\"lastChangeDate\":\"202[...]
