{
  "log": {
    "_recordingName": "SecretsApi/getVersionOfSecret()/2: Get version 2 of non-existing secret: esv-does-not-exist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "05c07d506b072584f0c3452503e24cd9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-does-not-exist/versions/2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 57,
            "text": "{\"code\":500,\"message\":\"Failed to update secret version\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 172,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
