{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/exportAIAgent()/1: Export AIAgent 'FrodoOpsTestAIAgent1'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8db1672beb766a6863cea6e165924290",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6a6a113d-799d-422c-91da-da45df713e57"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent/FrodoOpsTestAIAgent1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 505,
            "text": "{\"_id\":\"FrodoOpsTestAIAgent1\",\"_rev\":\"1860053480\",\"aiAgentIdentityAttributes\":{\"inherited\":false,\"value\":{\"_id\":\"63d324ec-78c6-4c84-a629-aaaaaaaaaaaa\",\"_rev\":\"f90619f5-dd2d-48dd-9107-83847f2351e6-42944\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent1\",\"name\":\"Frodo Test AI Agent 1\",\"description\":\"Test AI agent 1 for Frodo unit tests.\",\"customAttributes\":null}},\"aiAgentIdentityUid\":{\"inherited\":false,\"value\":\"63d324ec-78c6-4c84-a629-aaaaaaaaaaaa\"},\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"1860053480\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6a6a113d-799d-422c-91da-da45df713e57"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 73,
      },
      {
        "_id": "de939fac146adca0783aec0533074b0b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6a6a113d-799d-422c-91da-da45df713e57"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "_id,customAttributes,description,name,oauth2ClientId,owners,privileges"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/alpha_aiagent/63d324ec-78c6-4c84-a629-aaaaaaaaaaaa?_fields=_id%2CcustomAttributes%2Cdescription%2Cname%2Coauth2ClientId%2Cowners%2Cprivileges"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 275,
            "text": "{\"_id\":\"63d324ec-78c6-4c84-a629-aaaaaaaaaaaa\",\"_rev\":\"f90619f5-dd2d-48dd-9107-83847f2351e6-42944\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent1\",\"name\":\"Frodo Test AI Agent 1\",\"description\":\"Test AI agent 1 for Frodo unit tests.\",\"customAttributes\":null,\"privileges\":[],\"owners\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"f90619f5-dd2d-48dd-9107-83847f2351e6-42944\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6a6a113d-799d-422c-91da-da45df713e57"
            }
          ],
          "status": 200,
          "statusTex[...]
