{
  "log": {
    "_recordingName": "RawConfigOps/importRawConfig()/3: importRawConfig environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f23579fb32798b97c0722649c7d3623a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"esv-frodo-test-variable-2\",\"description\":\"description2\",\"expressionType\":\"int\",\"lastChangeDate\":\"2024-07-03T03:28:19.227876Z\",\"lastChangedBy\":\"volker.scheuber@forgerock.com\",\"loaded\":false,\"valueBase64\":\"NDI=\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 212,
            "text": "{\"_id\":\"esv-frodo-test-variable-2\",\"description\":\"description2\",\"expressionType\":\"int\",\"lastChangeDate\":\"2026-05-12T16:25:13.977269Z\",\"lastChangedBy\":\"Frodo-SA-1758728043147\",\"loaded\":false,\"valueBase64\":\"NDI=\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "71dbda38-b3ca-4754-bc39-333411d5b3fe"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 586,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
