{
  "log": {
    "_recordingName": "TreeApi/putTree()/5: Put invalid tree [invalid nodes]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c0a1a90ddac8058ed1a2013c1346c9e4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7faf970f-890e-4f88-8c05-bffc43e17a7a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"entryNodeId\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"nodes\":{\"invalid\":\"bad data\"},\"staticNodes\":{},\"description\":\"invalid tree def\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[]\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/Invalid"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 95,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"Data validation failed for the attribute, Nodes\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7faf970f-890e-4f88-8c05-bffc43e17a7a"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
