{
  "log": {
    "_recordingName": "JourneyOps/exportJourney()/1: Export journey 'FrodoTestJourney3' w/o dependencies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "79b0909ea887375721f9522d457e821e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestJourney3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3275,
            "text": "{\"_id\":\"FrodoTestJourney3\",\"_rev\":\"-250164044\",\"identityResource\":\"managed/alpha_user\",\"entryNodeId\":\"46643303-aeb2-4873-9df1-59db4958cc34\",\"innerTreeOnly\":false,\"description\":\"Frodo test journey utilizing a variety of nodes and dependencies to test support for complex journeys.\",\"noSession\":false,\"mustRun\":false,\"enabled\":true,\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"nodes\":{\"46643303-aeb2-4873-9df1-59db4958cc34\":{\"connections\":{\"known\":\"9381fc70-1a31-40de-85de-23faf97e7b28\",\"unknown\":\"ab9f607b-0f87-4e46-972d-fa726cd1c8f0\"},\"displayName\":\"Check Username\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":210,\"y\":305.5},\"4b5d893f-0ade-4385-88d6-a281754fe498\":{\"connections\":{\"ACCOUNT_EXISTS\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"NO_ACCOUNT\":\"c3167e4f-4756-4ad2-bbbd-1278fc1dbf59\"},\"displayName\":\"Social Login\",\"nodeType\":\"SocialProviderHandlerNode\",\"x\":685,\"y\":371.8333333333333},\"5ec39fc4-56c1-4fb5-b808-c248d60d0377\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"unknownDevice\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"displayName\":\"Custom Device Match\",\"nodeType\":\"DeviceMatchNode\",\"x\":1160,\"y\":161.015625},\"9381fc70-1a31-40de-85de-23faf97e7b28\":{\"connections\":{\"localAuthentication\":\"a681751d-ab8c-4cb8-8be9-92b4cc688b69\",\"socialAuthentication\":\"4b5d893f-0ade-4385-88d6-a281754fe498\"},\"displayName\":\"Login Page\",\"nodeType\":\"PageNode\",\"x\":440,\"y\":424},\"a681751d-ab8c-4cb8-8be9-92b4cc688b69\":{\"connections\":{\"CANCELLED\":\"e60801b1-9b6f-4017-83d4-1695ca982022\",\"EXPIRED\":\"e60801b1-9b6f-4017-83d4-1695ca982022\",\"FALSE\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"LOCKED\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"TRUE\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"displayName\":\"Validate Creds\",\"nodeType\":\"IdentityStoreDecisionNode\",\"x\":685,\"y\":143.66666666666666},\"ab9f607b-0f87-4e46-972d-fa726cd1c8f0\":{\"connections\":{\"localAuthentication\":\"a681751d-ab8c-4cb8-8be9-92b4cc688b69\",\"socialAuthentication\":\"4b5d893f-0ade-4385-88d6-a281754fe498\"},\"displayName\":\"Login Page\",\"nodeType\":\"PageNode\",\"x\":440,\"y\":80},\"c3167e4f-4756-4ad2-bbbd-1278fc1dbf59\":{\"connections\":{\"EMAIL_NOT_SENT\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"EMAIL_SENT\":\"dd0d8532-e7a2-40af-b05f-2913432fc97e\"},\"displayName\":\"Email Template Node\",\"nodeType\":\"EmailTemplateNode\",\"x\":915,\"y\":309.3333333333333},\"ce5239a2-6218-4470-912d-b09f71e38a2e\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"unknownDevice\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"displayName\":\"Device Match\",\"nodeType\":\"DeviceMatchNode\",\"x\":1160,\"y\":13.015625},\"dd0d8532-e7a2-40af-b05f-2913432fc97e\":{\"connections\":{\"ACCOUNT_EXISTS\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"NO_ACCOUNT\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"displayName\":\"SAML2 Authentication\",\"nodeType\":\"product-Saml2Node\",\"x\":1163,\"y\":305.5},\"e60801b1-9b6f-4017-83d4-1695ca982022\":{\"connections\":{\"false\":\"5ec39fc4-56c1-4fb5-b808-c248d60d0377\",\"true\":\"ce5239a2-6218-4470-912d-b09f71e38a2e\"},\"displayName\":\"Login\",\"nodeType\":\"InnerTreeEvaluatorNode\",\"x\":915,\"y\":168.66666666666669}},\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":1417,\"y\":192},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":1417,\"y\":286},\"startNode\":{\"x\":70,\"y\":323}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-250164044\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      },
      {
        "_id": "425eabd99f3d46889c1dcb32c3c5933f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ScriptedDecisionNode/46643303-aeb2-4873-9df1-59db4958cc34"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 351,
            "text": "{\"_id\":\"46643303-aeb2-4873-9df1-59db4958cc34\",\"_rev\":\"-99193033\",\"script\":\"739bdc48-fd24-4c52-b353-88706d75558a\",\"outcomes\":[\"known\",\"unknown\"],\"outputs\":[\"*\"],\"inputs\":[\"*\"],\"_type\":{\"_id\":\"ScriptedDecisionNode\",\"name\":\"Scripted Decision\",\"collection\":true},\"_outcomes\":[{\"id\":\"known\",\"displayName\":\"known\"},{\"id\":\"unknown\",\"displayName\":\"unknown\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-99193033\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-for[...]
