{
  "log": {
    "_recordingName": "JourneyOps/exportJourney()/1: Export journey 'FrodoTestJourney3' w/o dependencies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "79b0909ea887375721f9522d457e821e",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f4a39d5d-c09c-465a-8fa3-691907bd2737"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestJourney3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2660,
            "text": "{\"_id\":\"FrodoTestJourney3\",\"_rev\":\"789342746\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"entryNodeId\":\"46643303-aeb2-4873-9df1-59db4958cc34\",\"innerTreeOnly\":false,\"nodes\":{\"9381fc70-1a31-40de-85de-23faf97e7b28\":{\"x\":440,\"y\":424,\"connections\":{\"localAuthentication\":\"a681751d-ab8c-4cb8-8be9-92b4cc688b69\",\"socialAuthentication\":\"4b5d893f-0ade-4385-88d6-a281754fe498\"},\"nodeType\":\"PageNode\",\"displayName\":\"Login Page\"},\"ab9f607b-0f87-4e46-972d-fa726cd1c8f0\":{\"x\":440,\"y\":80,\"connections\":{\"localAuthentication\":\"a681751d-ab8c-4cb8-8be9-92b4cc688b69\",\"socialAuthentication\":\"4b5d893f-0ade-4385-88d6-a281754fe498\"},\"nodeType\":\"PageNode\",\"displayName\":\"Login Page\"},\"4b5d893f-0ade-4385-88d6-a281754fe498\":{\"x\":685,\"y\":371.8333333333333,\"connections\":{\"ACCOUNT_EXISTS\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"NO_ACCOUNT\":\"c3167e4f-4756-4ad2-bbbd-1278fc1dbf59\"},\"nodeType\":\"SocialProviderHandlerNode\",\"displayName\":\"Social Login\"},\"46643303-aeb2-4873-9df1-59db4958cc34\":{\"x\":210,\"y\":305.5,\"connections\":{\"unknown\":\"ab9f607b-0f87-4e46-972d-fa726cd1c8f0\",\"known\":\"9381fc70-1a31-40de-85de-23faf97e7b28\"},\"nodeType\":\"ScriptedDecisionNode\",\"displayName\":\"Check Username\"},\"a681751d-ab8c-4cb8-8be9-92b4cc688b69\":{\"x\":685,\"y\":143.66666666666666,\"connections\":{\"CANCELLED\":\"e60801b1-9b6f-4017-83d4-1695ca982022\",\"EXPIRED\":\"e60801b1-9b6f-4017-83d4-1695ca982022\",\"FALSE\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"LOCKED\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"TRUE\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"nodeType\":\"IdentityStoreDecisionNode\",\"displayName\":\"Validate Creds\"},\"dd0d8532-e7a2-40af-b05f-2913432fc97e\":{\"x\":1163,\"y\":305.5,\"connections\":{\"ACCOUNT_EXISTS\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"NO_ACCOUNT\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"nodeType\":\"product-Saml2Node\",\"displayName\":\"SAML2 Authentication\"},\"c3167e4f-4756-4ad2-bbbd-1278fc1dbf59\":{\"x\":915,\"y\":309.3333333333333,\"connections\":{\"EMAIL_NOT_SENT\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"EMAIL_SENT\":\"dd0d8532-e7a2-40af-b05f-2913432fc97e\"},\"nodeType\":\"EmailTemplateNode\",\"displayName\":\"Email Template Node\"},\"e60801b1-9b6f-4017-83d4-1695ca982022\":{\"x\":915,\"y\":168.66666666666669,\"connections\":{\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"nodeType\":\"InnerTreeEvaluatorNode\",\"displayName\":\"Login\"}},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":323},\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":1417,\"y\":192},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":1417,\"y\":286}},\"description\":\"Frodo test journey utilizing a variety of nodes and dependencies to test support for complex journeys.\",\"enabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"789342746\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f4a39d5d-c09c-465a-8fa3-691907bd2737"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 61,
      },
      {
        "_id": "b8de6463cfe600961d1d4d3e87c4c72c",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f4a39d5d-c09c-465a-8fa3-691907bd2737"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/PageNode/9381fc70-1a31-40de-85de-23faf97e7b28"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 533,
            "text": "{\"_id\":\"9381fc70-1a31-40de-85de-23faf97e7b28\",\"_rev\":\"1072614526\",\"nodes\":[{\"_id\":\"78164e4b-ac34-46fb-b271-2ae0b1c4dda3\",\"nodeType\":\"ValidatedPasswordNode\",\"displayName\":\"Password\"},{\"_id\":\"eb302165-5014-4538-8baf-8cdce05a50e6\",\"nodeType\":\"SelectIdPNode\",\"displayName\":\"Select IDP\"}],\"pageDescription\":{},\"pageHeader\":{},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true},\"_outcomes\":[{\"id\":\"socialAuthentication\",\"displayName\":\"Social Authentication\"},{\"id\":\"localAuthentication\",\"displayName\":\"Local Authentication\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1072614526\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
[...]
