{
  "log": {
    "_recordingName": "VariablesApi/putVariable()/8: Create new list variable: esv-frodo-test-variable11 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "abcf4eac9f8cfd9d8edaf364f8d13691",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..-bUJQiUOOsFM8FLtD3H79g.epHswp1KA2tDzxmhYXwrl-MDIBm0skZH4bdCo-VOsGFgL31mzUqSJ_t36dElpBKsC3PprxSrbjNpTrL8vAca33MDk4SIABraPokqvgb8dXJdGHzle_Oq8DP1E-hOOjYTTvWpUA6qh7Zzi0qlEVvHMj7_UDFn3z14r_ViG0w1JU97eBqyRZygr6wyDe2MLvu7bFmCb-v-hIdEIWjTSqj7ER86pTYCwH9Njm8O2EuTblHZZsLXkI7f3hDPrJ3t7dc-kFANTgvzs3oWT6tIp0aY0RzLkc5eZLEVxLwn2ytif0QfRIKrdYha3t_C5N6T2J76oVwWj2yvvellAzgx6PLGLJ5OaHdy6FspSfc3ZpHnp4RmFlGaTbNugsHs6x2EJmbUK1IAdImuTDD-1RXzqhLCctw9TODtSJrZtdnz8uK9GZkIINmZ931H8VAX1ttoJFWh7-fyXVerqo-2r1NGSaT8BkCrcBy8nCbRfXNZx4ikV5uSFOGqwExwPVoOcdhasq4KW_t3VZhdgXD5-S8V82fogBYKU8PvH2Bv9jRV8Qmgz8xQoCX_QbC5_YJUcIwDGYeOmqrdJydE9pV5W28giMgg2SON4rdWQ2ARGFDhl8gIw1PJ4Bj6PncjFHlz3-cNEEupn-JYtj6-jUm5jOT36ZNIVgDhb_8TG9zQylsCainJhO8UdNKFephZyabiJN1MIcci8h6CqoKEC_Z8vx3GSQkMH3w0BMhhVnCTNO5a-2Ttxl4D3gqhtcZJ6ffYyKEMf8rBED7QTLiayKoAxNSamBvrO5Ct3yJbtYeRqQIDDrmLR6wIVIOMTJNatGEi_z3qEcX19LXqyS_k8g6XyQHt0QBGJhQm3BhyOKqSVsJvZh4PzBGjqCkAsf5LO5_qSP1ERYMy0sMpHGxBYRSBJts3Qdx3c4p_TJ9gG7Jd5BYb_L7022a-9TmGRD9I5A4brTtxNpWiGwIqplcbMslDuIAUzNvtaJNVaf3gDLO74_IGFL8fHaIt8yb7ujWYpKEJvZzo8XcFpyTos7kDquid-H8R_BwcyM-Rjnmd38xuNswdTupxDkM.LpvzXVfi13HGNP-jWojkYw"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"b25lLHR3byx0aHJlZSxmb3VyLGZpdmUsNiw3LDgsOSwxMA==\",\"description\":\"Frodo Test Variable Eleven (list) Description\",\"expressionType\":\"list\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable11"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 301,
            "text": "{\"_id\":\"esv-frodo-test-variable11\",\"description\":\"Frodo Test Variable Eleven (list) Description\",\"expressionType\":\"list\",\"lastChangeDate\":\"2023-07-18T17:36:25.480Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"b25lLHR3byx0aHJlZSxmb3VyLGZpdmUsNiw3LDgsOSwxMA==\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1124,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
