{
  "log": {
    "_recordingName": "VariablesApi/putVariable()/8: Create new list variable: esv-frodo-test-variable11 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "abcf4eac9f8cfd9d8edaf364f8d13691",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"b25lLHR3byx0aHJlZSxmb3VyLGZpdmUsNiw3LDgsOSwxMA==\",\"description\":\"Frodo Test Variable Eleven (list) Description\",\"expressionType\":\"list\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable11"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 301,
            "text": "{\"_id\":\"esv-frodo-test-variable11\",\"description\":\"Frodo Test Variable Eleven (list) Description\",\"expressionType\":\"list\",\"lastChangeDate\":\"2023-09-30T19:40:58.712Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"b25lLHR3byx0aHJlZSxmb3VyLGZpdmUsNiw3LDgsOSwxMA==\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 886,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
