{
  "log": {
    "_recordingName": "TelemetryOps/Telemetry lifecycle/Import, export, update, read, and delete Splunk exporter by category",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4c5dba8ce88e7d1a9029f83ca319bc11",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"frodo-test-splunk-2\",\"endpoint\":\"https://example.com:8088\",\"sources\":[\"idm-everything\"],\"token\":\"test-token-2\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry/splunk/frodo-test-splunk-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 107,
            "text": "{\"endpoint\":\"https://example.com:8088\",\"id\":\"frodo-test-splunk-2\",\"sources\":[\"idm-everything\"],\"token\":\"\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 788,
      },
      {
        "_id": "57bf757514e1f173e18a166243bfc9a2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 130,
            "text": "{\"otlp\":[],\"splunk\":[{\"endpoint\":\"https://example.com:8088\",\"id\":\"frodo-test-splunk-2\",\"sources\":[\"idm-everything\"],\"token\":\"\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
         [...]
