{
  "log": {
    "_recordingName": "PolicySetApi/createPolicySet()/2: Create existing policy set [FrodoTestPolicySet3]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "adb05b9f57c0a22d835edf8d3e3af939",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1a1bc7a8-9a3a-4434-8c50-b62323785232"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"FrodoTestPolicySet3\",\"displayName\":\"Frodo Test Policy Set Template\",\"description\":\"Frodo Test Policy Set Template\",\"attributeNames\":[],\"conditions\":[\"Script\",\"AMIdentityMembership\",\"IPv6\",\"IPv4\",\"SimpleTime\",\"LEAuthLevel\",\"LDAPFilter\",\"AuthScheme\",\"Session\",\"AND\",\"AuthenticateToRealm\",\"ResourceEnvIP\",\"Policy\",\"OAuth2Scope\",\"SessionProperty\",\"OR\",\"Transaction\",\"NOT\",\"AuthLevel\",\"AuthenticateToService\"],\"resourceTypeUuids\":[\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\"],\"editable\":true,\"applicationType\":\"iPlanetAMWebAgentService\",\"entitlementCombiner\":\"DenyOverride\",\"subjects\":[\"AuthenticatedUsers\",\"NOT\",\"Identity\",\"OR\",\"AND\",\"NONE\",\"Policy\",\"JwtClaim\"]}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/applications/?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 71,
            "text": "{\"code\":409,\"reason\":\"Conflict\",\"message\":\"Application already exists\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1a1bc7a8-9a3a-4434-8c50-b62323785232"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 64,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
