{
  "log": {
    "_recordingName": "PolicyOps/importPolicy()/1: Import policy [FrodoTestPolicy11] w/o deps",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0b80ba573280260b321e8a1541a461d2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-aeb17aef-205d-4970-a9c8-810189bfebc3"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0.._84TpZ7AguC4JNtAfKpI4g.BaIvU_XO0jKnJc8t4mhdLGTn8w3B-WiQIZ[...]
