{
  "log": {
    "_recordingName": "PolicyOps/importPolicy()/1: Import policy [FrodoTestPolicy11] w/o deps",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0b80ba573280260b321e8a1541a461d2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-83110ca8-9e07-48f2-ad80-3a8918abdafd"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..2KlnLqr3ZlP5z7CuXDSfVw.C9rhwGlfir0wF_p7sD7agOBnN9jibk6Quz[...]
