{
  "log": {
    "_recordingName": "EnvCertificatesOps/deleteCertificates()/1: Delete all (inactive) certificates - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "81c5f06a12b432acb919a43c7ab0c1d7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1146,
            "text": "[{\"active\":false,\"expireTime\":\"2025-08-06T03:00:38Z\",\"id\":\"ccrt-4597115e-39d8-4fd8-802f-403c8b95985c\",\"issuer\":\"CN=frodo-dev12b.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev12b.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T03:00:38Z\"},{\"active\":false,\"expireTime\":\"2025-08-06T03:00:38Z\",\"id\":\"ccrt-8f0af0d3-b1f3-4b9c-82f8-ad078faf4ed4\",\"issuer\":\"CN=frodo-dev12.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev12.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T03:00:38Z\"},{\"active\":false,\"expireTime\":\"2025-08-06T03:00:38Z\",\"id\":\"ccrt-b3ad07f9-39a1-421d-8cb6-46d510dde6d8\",\"issuer\":\"CN=frodo-dev12a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev12a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T03:00:38Z\"}]"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a14650ed-4c4c-4d21-b789-97eeda5615de/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 81,
      },
      {
        "_id": "3fc01ff18b15185af1c4f15abb70d0d9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GE[...]
