{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/deleteAgent()/4: Delete agent 'FrodoOpsTestAIAgent8' (AIAgent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3ac6eabf917f838ac5403b0b6ef1e88a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dc354073-30dd-4e06-9909-63cf21fc2b21"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/WebAgent?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 11217,
            "text": "{\"result\":[{\"_id\":\"FrodoOpsTestWebAgent7\",\"_rev\":\"1774890626\",\"miscWebAgentConfig\":{\"anonymousUserId\":\"anonymous\",\"profileAttributesCookieMaxAge\":300,\"urlJsonResponse\":[\"\"],\"caseInsensitiveUrlComparison\":true,\"compositeAdviceRedirect\":false,\"compositeAdviceEncode\":false,\"addCacheControlHeader\":false,\"anonymousUserEnabled\":false,\"invalidUrlRegex\":null,\"ignorePathInfo\":false,\"invertUrlJsonResponse\":false,\"statusCodeJsonResponse\":202,\"headerJsonResponse\":{},\"encodeSpecialCharsInCookies\":false,\"gotoParameterName\":\"goto\",\"encodeUrlSpecialCharacters\":false,\"mineEncodeHeader\":0,\"profileAttributesCookiePrefix\":\"HTTP_\"},\"advancedWebAgentConfig\":{\"overrideRequestHost\":false,\"pdpSkipPostUrl\":[\"\"],\"pdpStickySessionValue\":null,\"postDataPreservation\":false,\"hostnameToIpAddress\":[],\"showPasswordInHeader\":false,\"overrideRequestProtocol\":false,\"clientIpHeader\":null,\"replayPasswordKey\":null,\"customProperties\":[],\"postDataCachePeriod\":10,\"retainSessionCache\":false,\"pdpJavascriptRepost\":false,\"pdpStickySessionMode\":\"OFF\",\"overrideRequestPort\":false,\"apacheAuthDirectives\":null,\"clientHostnameHeader\":null,\"fragmentRedirectEnabled\":false,\"pdpStickySessionCookieName\":null,\"logonAndImpersonation\":false},\"ssoWebAgentConfig\":{\"cookieResetList\":[\"\"],\"cdssoRedirectUri\":\"agent/cdsso-oauth2\",\"persistentJwtCookie\":false,\"secureCookies\":false,\"acceptSsoToken\":false,\"cookieResetOnRedirect\":false,\"sameSite\":null,\"cdssoCookieDomain\":[\"\"],\"cookieResetEnabled\":false,\"cookieName\":\"iPlanetDirectoryPro\",\"multivaluePreAuthnCookie\":false,\"httpOnly\":true},\"amServicesWebAgent\":{\"policyClockSkew\":0,\"enableLogoutRegex\":false,\"policyEvaluationRealm\":\"/alpha\",\"fetchPoliciesFromRootResource\":false,\"logoutUrlRegex\":null,\"conditionalLoginUrl\":[\"|https://openam-volker-dev.forgeblocks.com:443/am/oauth2/authorize?realm=/alpha\"],\"customLoginMode\":0,\"invalidateLogoutSession\":true,\"logoutResetCookies\":[\"\"],\"logoutRedirectUrl\":null,\"regexConditionalLoginUrl\":[\"\"],\"policyCachePollingInterval\":3,\"regexConditionalLoginPattern\":[\"\"],\"logoutRedirectDisabled\":false,\"retrieveClientHostname\":false,\"applicationLogoutUrls\":[\"\"],\"userIdParameterType\":\"session\",\"publicAmUrl\":null,\"userIdParameter\":\"UserToken\",\"amLoginUrl\":[],\"policyEvaluationApplication\":null,\"amLogoutUrl\":[\"https://openam-volker-dev.forgeblocks.com:443/am/UI/Logout\"],\"ssoCachePollingInterval\":3},\"applicationWebAgentConfig\":{\"profileAttributeFetchMode\":\"NONE\",\"clientIpValidation\":false,\"notEnforcedIpsRegex\":false,\"continuousSecurityCookies\":{},\"fetchAttributesForNotEnforcedUrls\":false,\"ignorePathInfoForNotEnforcedUrls\":true,\"responseAttributeFetchMode\":\"NONE\",\"attributeMultiValueSeparator\":\"|\",\"profileAttributeMap\":{},\"sessionAttributeFetchMode\":\"NONE\",\"continuousSecurityHeaders\":{},\"notEnforcedIpsList\":[\"\"],\"responseAttributeMap\":{},\"notEnforcedUrls\":[\"\"],\"sessionAttributeMap\":{},\"notEnforcedUrlsRegex\":false,\"invertNotEnforcedUrls\":false,\"notEnforcedIps\":[\"\"]},\"globalWebAgentConfig\":{\"agentDebugLevel\":\"Error\",\"secretLabelIdentifier\":null,\"fqdnDefault\":\"www.mytestrun.com\",\"webSocketConnectionIntervalInMinutes\":30,\"status\":\"Active\",\"configurationPollingInterval\":60,\"auditLogLocation\":\"REMOTE\",\"fqdnCheck\":false,\"amLbCookieEnable\":false,\"fqdnMapping\":{},\"accessDeniedUrl\":null,\"resetIdleTime\":false,\"ssoOnlyMode\":false,\"auditAccessType\":\"LOG_NONE\",\"agentgroup\":null,\"notificationsEnabled\":true,\"agentUriPrefix\":\"https://www.mytestrun.com:443/amagent\",\"disableJwtAudit\":false,\"jwtName\":\"am-auth-jwt\",\"repositoryLocation\":\"centralized\",\"cdssoRootUrl\":[\"agentRootURL=https://www.mytestrun.com:443/\"],\"agentConfigChangeNotificationsEnabled\":true,\"jwtAuditWhitelist\":null},\"_type\":{\"_id\":\"WebAgent\",\"name\":\"Web Agents\",\"collection\":true}},{\"_id\":\"FrodoOpsTestWebAgent9\",\"_rev\":\"1774890624\",\"miscWebAgentConfig\":{\"anonymousUserId\":\"anonymous\",\"profileAttributesCookieMaxAge\":300,\"urlJsonResponse\":[\"\"],\"caseInsensitiveUrlComparison\":true,\"compositeAdviceRedirect\":false,\"compositeAdviceEncode\":false,\"addCacheControlHeader\":false,\"anonymousUserEnabled\":false,\"invalidUrlRegex\":null,\"ignorePathInfo\":false,\"invertUrlJsonResponse\":false,\"statusCodeJsonResponse\":202,\"headerJsonResponse\":{},\"enc[...]
