{
  "log": {
    "_recordingName": "ResourceTypeOps/exportResourceTypeByName()/2: Export non-existing resource type by name [DoesNotExist]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "24a00ca04bd162db359b85635cdddcc2",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_sortKeys",
              "value": "name"
            },
            {
              "name": "_queryFilter",
              "value": "name eq \"DoesNotExist\" AND name eq \"^(?!Delegation Service$).*\""
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes?_sortKeys=name&_queryFilter=name%20eq%20%22DoesNotExist%22%20AND%20name%20eq%20%22%5E%28%3F%21Delegation%20Service%24%29.%2A%22"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 137,
            "text": "{\"result\":[],\"resultCount\":0,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":0}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 51,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
