{
  "log": {
    "_recordingName": "ResourceTypesApi/deleteResourceType()/1: Delete existing resource type [3d66c934-9bab-4363-973b-f5502245decc - FrodoTestResourceType7]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "68b6218ca19ae2b5f66aed238e81df52",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-145e5f25-778d-4e8e-b549-0807bd8d3fa7"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..lKK4YSUC_X7OV-9asUOiog.jUyZnKjlPMFOwxtPkBUlD5fiiCdVTuB9TJ[...]
