{
  "log": {
    "_recordingName": "IgaGlossaryOps/deleteGlossarySchemaByNameAndObjectType()/1: Delete existing glossary schema by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2dc4916e75757b5af2327c44a2272baa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"testUser\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"objectType\",\"targetValue\":\"/openidm/managed/assignment\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 541,
            "text": "{\"result\":[{\"name\":\"testUser\",\"description\":\"Test User Description\",\"displayName\":\"Test User Display Name\",\"type\":\"managedObject\",\"objectType\":\"/openidm/managed/assignment\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":false,\"allowedValues\":[],\"managedObjectType\":\"/openidm/managed/user\",\"id\":\"dd2f3e74-2509-4d4c-b7f6-c812f2bb4ad2\",\"metadata\":{\"modifiedDate\":\"2026-01-21T21:25:57.058903161Z\",\"createdDate\":\"2026-01-21T21:25:57.058901461Z\"}}],\"searchAfterKey\":[\"dd2f3e74-2509-4d4c-b7f6-c812f2bb4ad2\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"21d-P+KX13saBXbZLCctT9LbYZZLVFw\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 121,
      },
      {
        "_id": "f3ae3c2a7abadea730e758a517f6e2d0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
