{
  "log": {
    "_recordingName": "StartupOps/checkForUpdates()/1: Check for updates",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "554e50b0a97fed943f123c01f0fa6760",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1525,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-frodo-test-secret-1\",\"activeVersion\":\"1\",\"description\":\"description1\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-04-22T16:12:09.189314Z\",\"lastChangedBy\":\"Frodo-SA-1773261131370\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true},{\"_id\":\"esv-frodo-test-secret-2\",\"activeVersion\":\"1\",\"description\":\"description2\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-04-22T16:12:10.841436Z\",\"lastChangedBy\":\"Frodo-SA-1773261131370\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true},{\"_id\":\"esv-test\",\"activeVersion\":\"3\",\"description\":\"test\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-04-13T17:24:40.840844Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"3\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-2\",\"activeVersion\":\"2\",\"description\":\"\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-04-15T20:02:34.484574Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"2\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-3\",\"activeVersion\":\"3\",\"description\":\"\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-04-15T20:05:34.35818Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"3\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-4\",\"activeVersion\":\"1\",\"description\":\"\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-04-16T17:05:35.720334Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}],\"resultCount\":6,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "58c8dc41-ab8b-45ff-a017-7765b93c42fc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141,
      },
      {
        "_id": "49c64431f90c263c4e22873dcf498dcb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1351,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-frodo-test-variable-1\",\"description\":\"description1\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-04-22T16:12:06.780996Z\",\"lastChangedBy\":\"Frodo-SA-1773261131370\",\"loaded\":false,\"valueBase64\":\"dmFsdWUx\"},{\"_id\":\"esv-frodo-test-variable-2\",\"description\":\"description2\",\"expressionType\":\"int\",\"lastChangeDate\":\"2026-04-22T16:12:08.089454Z\",\"lastChangedBy\":\"Frodo-SA-1773261131370\",\"loaded\":false,\"valueBase64\":\"NDI=\"},{\"_id\":\"esv-test-variable\",\"description\":\"test\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-03-25T21:11:19.814977Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"valueBase64\":\"dGVzdA==\"},{\"_id\":\"esv-test-varia[...]
