{
  "log": {
    "_recordingName": "ResourceTypeOps/deleteResourceTypeByName()/2: Delete non-existing resource type by name [DoesNotExist]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "24a00ca04bd162db359b85635cdddcc2",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3866f47b-f4ad-4dde-aa07-9158abb62da9"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..YEOUZyvoRFK0LLzC_M6Z_g.yz8KRC90Agz0fpXxyO9z2claaLYhYRtx_p[...]
