{
  "log": {
    "_recordingName": "AgentApi/Cloud Tests/getAgentTypes()/1: Get all agent types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d1c9cb523e6de2e2996a45a3aa4d5590",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a5d82190-5c93-41b3-abc6-5980c7debe69"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getAllTypes"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents?_action=getAllTypes"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 717,
            "text": "{\"result\":[{\"_id\":\"WebAgent\",\"name\":\"Web Agents\",\"collection\":true},{\"_id\":\"J2EEAgent\",\"name\":\"J2EE Agents\",\"collection\":true},{\"_id\":\"2.2_Agent\",\"name\":\"2.2 Agents\",\"collection\":true},{\"_id\":\"OAuth2Client\",\"name\":\"OAuth2 Client Agents\",\"collection\":true},{\"_id\":\"SharedAgent\",\"name\":\"Shared Agents\",\"collection\":true},{\"_id\":\"RemoteConsentAgent\",\"name\":\"OAuth2 Remote Consent Agents\",\"collection\":true},{\"_id\":\"SoftwarePublisher\",\"name\":\"OAuth2 Software Publisher Agents\",\"collection\":true},{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true},{\"_id\":\"TrustedJwtIssuer\",\"name\":\"OAuth2 Trusted JWT Issuer Agents\",\"collection\":true},{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a5d82190-5c93-41b3-abc6-5980c7debe69"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 237,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
