{
  "log": {
    "_recordingName": "ResourceTypeOps/exportResourceTypes()/1: Export all resource types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "379e8f1f5314f19b1c94973252aa4422",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_sortKeys",
              "value": "name"
            },
            {
              "name": "_queryFilter",
              "value": "name eq \"^(?!Delegation Service$).*\""
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes?_sortKeys=name&_queryFilter=name%20eq%20%22%5E%28%3F%21Delegation%20Service%24%29.%2A%22"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 7173,
            "text": "{\"result\":[{\"uuid\":\"7d0b246e-d6fc-4c90-b8f8-dcfb99187cb2\",\"name\":\"FrodoTestResourceType1\",\"description\":\"Frodo Test Resource Type One\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":1696091863171,\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":1696091863171},{\"uuid\":\"6d5eed85-872b-48f4-be47-3151fd073961\",\"name\":\"FrodoTestResourceType10\",\"description\":\"Frodo Test Resource Type Ten\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":1696091864349,\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":1696091864349},{\"uuid\":\[...]
