{
  "log": {
    "_recordingName": "EmailTemplateOps/readEmailTemplates()/1: Read all email templates",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "857c6e71808efc895fae3b4ebe9eef08",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f8025236-435c-48b1-8cb7-fbd321903902"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..DfRgUTTbHGPqsuDcnUlZ6w.I6Duz9uXvvLZ79bBjNTv_2A10pIgNEGoX7sWVIHaCmEjsD8qbD2hEm7lUKqmv4p19hJ068sJsSkXyQ9cby-_FKg61j0ify7qa3Z1ORk-_h9Vvz_C0mg9RNDGmGvFlcoO8LfYReMkIDqeAVTK5BgV8xr9x5gq9syf3VoPs_-l9cPmVUKjst1UEQRGq8pQD0Yglszq9ReInn2qJoOUVEi4iI0ktiMu3p3fGXGngDkkE_cDKDK3Se1tYZWw72z0reJLq6L7elzZc_mrgCOiwWyqRIu-x-UiyVoPIVPBB7mmGJyaqJNq7CjuZ46h8QnUHCH6QQZtBlysPKVGzO_UmLee9hPKEOGupRXCVaZQPAXrRCqPsNiBJ6r-PfB9i_ht7MJ-bwrUmgvotKbF1kyZyyQjZNQVLxHKlIASnzPSG2OmQF0PsjRqWQ4gupDfOPDlQzgDzvwCcf3mrTCuGRFP0gmuXgTazm48ljnVUPoUA7p74D9TR_McN4KBv5azgpyB1jgdIgN7I5ipxDt8QGDURsZAax6SOj49cTbmKuHLv1p8nT93pgalgu7u00BrQUVq5xbCKiPT_9CeQCCNBYSTQRrJZRXVKd8YdGfSTzwHEQr9c1LbvO4COLpI6AL3HkJMRM_yGjSFwRa8NOT_tRcrlxySt1rLVifmiWLMyFhhrz4ulHALDBgAXRCRMTT3dQwwmmrpmiKohZ9mTfhQpyEhNM-eyKUp0yyjJwShlJlAiD2bWqmwAwM61Iqx4JWkwPt5Q_MONITpQe2iW9uktX1mkSg_DCfLE5B1sDXH5duzZEnRrhlVbfEZc5ff7uBraKZOS60vZ62ExG6-wq12jNmR8Cm0sCU73jmFr1-kzDYNIj3SY8VFQa3vNrXLMdeM_dRzcc7tdgT8NFpZJRqO6B5uppNPkBrw0SwIvp9e4IRAHurJJR-2hmgjX-AmlElKhX0dcmw3B0F01SOcT8qVWgdAviaPOR-RX7bZVUBFLwc6vkTotOfcVYH2TUUmgmPdsidaQZf8FBniYxsYRZVGH5B72p60UFprFEULYI-CfrnkIQQk-6g._Z3WIHlFNfRlQ0zOrQlNlA"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id sw 'emailTemplate'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config?_queryFilter=_id%20sw%20%27emailTemplate%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 14652,
            "text": "{\"result\":[{\"_id\":\"emailTemplate/activation\",\"defaultLocale\":\"en\",\"displayName\":\"Activation\",\"emailTemplate\":{},\"enabled\":true,\"from\":\"\\\"ForgeRock Identity Cloud Team\\\" <saas@forgerock.com>\",\"html\":{\"en\":\"<div class=\\\"content\\\"><p>Welcome {{object.givenName}}.</p><p>Your username is '{{object.userName}}'.</p></div>\"},\"message\":{\"en\":\"<html><head></head><body style=\\\"background-color: #324054; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; margin: 0 auto; padding: 48px; width: 235px;\\\"><p>Welcome {{object.givenName}}.</p><p>Your username is '{{object.userName}}'.</p></div></body></html>\"},\"mimeType\":\"text/html\",\"styles\":\"body {\\n\\tbackground-color: #324054;\\n\\tcolor: #455469;\\n\\tpadding: 60px;\\n\\ttext-align: center\\n}\\n\\na {\\n\\ttext-decoration: none;\\n\\tcolor: #109cf1;\\n}\\n\\n.content {\\n\\tbackground-color: #fff;\\n\\tborder-radius: 4px;\\n\\tmargin: 0 auto;\\n\\tpadding: 48px;\\n\\twidth: 235px\\n}\\n\",\"subject\":{\"en\":\"Your J.P. Morgan account has been activated\"},\"templateId\":\"activation\"},{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"html\":{\"en\":\"<html><body>{{#if object.userName}}<p>Your username is '{{object.userName}}'.</p>{{else}}If you received this email in error, please disregard.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Click here to login</a></p></body></html>\",\"fr\":\"<html><body>{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Cliquez ici pour vous connecter</a></p></body></html>\"},\"message\":{\"en\":\"<html><head></head><body style=\\\"background-color: #324054; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; m[...]
