{
  "log": {
    "_recordingName": "InternalRoleOps/readInternalRoles()/1: Read internal roles",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9d5a767d3e7afd74ccd5fc8d823ed08c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-cfb60d11-4224-477c-8c4e-401424c886c2"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "1000"
            },
            {
              "name": "_fields",
              "value": "condition,description,name,privileges,temporalConstraints"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/internal/role?_queryFilter=true&_pageSize=1000&_fields=condition%2Cdescription%2Cname%2Cprivileges%2CtemporalConstraints"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 5404,
            "text": "{\"result\":[{\"_id\":\"openidm-admin\",\"_rev\":\"82b3fa07-ef32-4716-92fc-ce4402dd8944-7867\",\"privileges\":[],\"condition\":null,\"name\":\"openidm-admin\",\"description\":\"Administrative access\",\"temporalConstraints\":[]},{\"_id\":\"openidm-authorized\",\"_rev\":\"82b3fa07-ef32-4716-92fc-ce4402dd8944-7868\",\"privileges\":[],\"condition\":null,\"name\":\"openidm-authorized\",\"description\":\"Basic minimum user\",\"temporalConstraints\":[]},{\"_id\":\"openidm-reg\",\"_rev\":\"82b3fa07-ef32-4716-92fc-ce4402dd8944-7871\",\"privileges\":[],\"condition\":null,\"name\":\"openidm-reg\",\"description\":\"Anonymous access\",\"temporalConstraints\":[]},{\"_id\":\"openidm-cert\",\"_rev\":\"82b3fa07-ef32-4716-92fc-ce4402dd8944-7870\",\"privileges\":[],\"condition\":null,\"name\":\"openidm-cert\",\"description\":\"Authenticated via certificate\",\"temporalConstraints\":[]},{\"_id\":\"openidm-tasks-manager\",\"_rev\":\"82b3fa07-ef32-4716-92fc-ce4402dd8944-7872\",\"privileges\":[],\"condition\":null,\"name\":\"openidm-tasks-manager\",\"description\":\"Allowed to reassign workflow tasks\",\"temporalConstraints\":[]},{\"_id\":\"platform-provisioning\",\"_rev\":\"82b3fa07-ef32-4716-92fc-ce4402dd8944-7873\",\"privileges\":[],\"condition\":null,\"name\":\"platform-provisioning\",\"description\":\"Platform provisioning access\",\"temporalConstraints\":[]},{\"_id\":\"ccb11ba1-333b-4197-95db-89bb08a2ab56\",\"_rev\":\"e9f91cb0-4a02-4c2e-8612-5c13a5375282-2799\",\"privileges\":[{\"accessFlags\":[{\"attribute\":\"userName\",\"readOnly\":false},{\"attribute\":\"givenName\",\"readOnly\":false},{\"attribute\":\"cn\",\"readOnly\":false},{\"attribute\":\"sn\",\"readOnly\":false},{\"attribute\":\"mail\",\"readOnly\":false},{\"attribute\":\"profileImage\",\"readOnly\":true},{\"attribute\":\"description\",\"readOnly\":false},{\"attribute\":\"accountStatus\",\"readOnly\":true},{\"attribute\":\"telephoneNumber\",\"readOnly\":true},{\"attribute\":\"postalAddress\",\"readOnly\":true},{\"attribute\":\"city\",\"readOnly\":true},{\"attribute\[...]
