{
  "log": {
    "_recordingName": "ResourceTypeOps/importFirstResourceType()/1: Import first resource type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "98e78482b979db92d427506f94a610f2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uuid\":\"0aa5ed25-0c62-4ff5-9a42-3bda8c5cbb76\",\"name\":\"FrodoTestResourceType13\",\"description\":\"Frodo Test Resource Type Thirteen\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 110,
            "text": "{\"code\":409,\"reason\":\"Conflict\",\"message\":\"Resource Type 0aa5ed25-0c62-4ff5-9a42-3bda8c5cbb76 already exists\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 59,
      },
      {
        "_id": "4d1ba47e019a50c1cf6d5c454ea82ed1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
  [...]
