{
  "log": {
    "_recordingName": "NodeOps/deleteCustomNode()/1: Delete existing custom node by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b4eb15d9815c3a216d47fbd8587b6983",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f7c830d7-65d6-4b23-aca6-4a266f40b15a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type/a15e2efb3deb4d4ea338c74a6440b69f-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 44,
            "text": "{\"_id\":\"a15e2efb3deb4d4ea338c74a6440b69f-1\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f7c830d7-65d6-4b23-aca6-4a266f40b15a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228,
      },
      {
        "_id": "12a30e40d7dd11aaef5372e6333869c2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f7c830d7-65d6-4b23-aca6-4a266f40b15a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"a15e2efb3deb4d4ea338c74a6440b69f-1\",\"serviceName\":\"a15e2efb3deb4d4ea338c74a6440b69f\",\"displayName\":\"Vector ALU - TEST\",\"description\":\"Simple ALU that performs basic binary vector math operations. Outputs the result onto the shared state with key \\\"c\\\".\",\"outcomes\":[\"Success\"],\"outputs\":[\"c\"],\"inputs\":[],\"script\":\"var SCRIPT_OUTCOMES = {\\n    SUCCESS: 'Success'\\n};\\n\\nvar OPERATORS = {\\n    ADD: \\\"ADD\\\",\\n    SUBTRACT: \\\"SUBTRACT\\\",\\n    DOT: \\\"DOT\\\",\\n    CROSS: \\\"CROSS\\\"\\n}\\n\\nfunction add(a, b) {\\n    return a.map((v, i) => v + b[i]);\\n}\\n\\nfunction subtract(a, b) {\\n    return a.map((v, i) => v - b[i]);\\n}\\n\\nfunction dot(a, b) {\\n    return a.reduce((sum, v, i) => sum + v * b[i], 0);\\n}\\n\\nfunction cross(a, b) {\\n    return [\\n        a[1] * b[2] - a[2] * b[[...]
