{
  "log": {
    "_recordingName": "EnvContentSecurityPolicyOps/enableReportOnlyContentSecurityPolicy()/1: Enable report-only content security policy - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "99e10b0a9f0ebf2d09f3a777a7c2d470",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/content-security-policy/report-only"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 360,
            "text": "{\"active\":false,\"directives\":{\"frame-ancestors\":[\"'self'\"],\"referrer\":[\"'no-referrer'\",\"'none-when-downgrade'\",\"'origin'\",\"'origin-when-cross-origin'\",\"'unsafe-url'\"],\"sandbox\":[\"'allow-forms'\",\"'allow-same-origin'\",\"'allow-scripts'\",\"'allow-top-navigation'\",\"'allow-popups'\",\"'allow-pointer-lock'\"],\"script-src\":[\"'self'\",\"'unsafe-eval'\",\"'unsafe-inline'\"]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "fe5ada5e-1ab1-4aa4-82fb-d9daa6f743e3/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 86,
      },
      {
        "_id": "732e0f63a17ffed8ab33d120a7518c32",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":true,\"directives\":{\"frame-ancestors\":[\"'self'\"],\"referrer\":[\"'no-referrer'\",\"'none-when-downgrade'\",\"'origin'\",\"'origin-when-cross-origin'\",\"'unsafe-url'\"],\"sandbox\":[\"'allow-forms'\",\"'allow-same-origin'\",\"'allow-scripts'\",\"'allow-top-navigation'\",\"'allow-popups'\",\"'allow-pointer-lock'\"],\"script-src\":[\"'self'\",\"'unsafe-eval'\",\"'unsafe-inline'\"]}}"
          },
          "queryString": [],
          "url": "https://open[...]
