{
  "log": {
    "_recordingName": "IdmSystemOps/querySystemObjects()/2: Query system objects (default fields, custom page size",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4a95a3db3cb852531fb678f0a8fe871a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "uid sw 'Frodo'"
            },
            {
              "name": "_pageSize",
              "value": "1"
            },
            {
              "name": "_totalPagedResultsPolicy",
              "value": "EXACT"
            },
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__?_queryFilter=uid%20sw%20%27Frodo%27&_pageSize=1&_totalPagedResultsPolicy=EXACT&_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 758,
            "text": "{\"result\":[{\"_id\":\"c7e5b163-8d81-4d45-9e11-171d617c9cb4\",\"postalAddress\":[],\"cn\":[\"Frodo Test User 1\"],\"street\":[],\"sn\":[\"Test\"],\"userPassword\":[\"e1NTSEE1MTJ9Z0FzY01idGRyRC9LQm9YWFhwOGxpODdpN1dVZU00MElmTVJDM3JtcnBHWUtVWEZpbVZsQVM4d1RuWU43UjgwM1VmL0ZicEI2WWJQSGdrdUsyK3h2aVorZHF2YzN5RDI3\"],\"l\":[],\"description\":[\"Frodo Test User 1\"],\"objectClass\":[\"top\",\"inetOrgPerson\",\"organizationalPerson\",\"person\"],\"initials\":[],\"mobile\":[],\"postalCode\":[],\"__NAME__\":\"uid=frodo1,ou=People,dc=example,dc=com\",\"homePhone\":[],\"st\":[],\"telephoneNumber\":[],\"mail\":[\"frodo1@example.com\"],\"givenName\":[\"Frodo\"],\"uid\":[\"frodo1\"]}],\"resultCount\":1,\"pagedResultsCookie\":\"fHwAAAAAAJiWlA%3D%3D%3A0\",\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 89,
      },
      {
        "_id": "31d416215fbe11145bb4d77e01ab34b1",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],[...]
