{
  "log": {
    "_recordingName": "ResourceTypesApi/getResourceTypes()/1: Get all resource types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "379e8f1f5314f19b1c94973252aa4422",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e22302ce-9d57-44a8-8b32-1d535695fe01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_sortKeys",
              "value": "name"
            },
            {
              "name": "_queryFilter",
              "value": "name eq \"^(?!Delegation Service$).*\""
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes?_sortKeys=name&_queryFilter=name%20eq%20%22%5E%28%3F%21Delegation%20Service%24%29.%2A%22"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 5419,
            "text": "{\"result\":[{\"uuid\":\"7d0b246e-d6fc-4c90-b8f8-dcfb99187cb2\",\"name\":\"FrodoTestResourceType1\",\"description\":\"Frodo Test Resource Type One\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":1696104686001,\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":1696104686001},{\"uuid\":\"993eba78-1c3f-4f27-b205-b4b29418f831\",\"name\":\"FrodoTestResourceType11\",\"description\":\"Frodo Test Resource Type Eleven\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=8d9723a9-a439-4cbf-beb4-30e52811789d,ou=user,ou=am-config\",\"creationDate\":1684544147077,\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":1696091865622},{\"uuid\[...]
