{
  "log": {
    "_recordingName": "EnvFederationEnforcementApi/getFederationEnforcement()/1: Get federation enforcement - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bda72ecccabb76fcb83ef39d749a7a7a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/federation/enforcement"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 24,
            "text": "{\"groups\":\"non-global\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "e4f8edae-2f4f-4cf5-b71a-64fc002d78fa/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 85,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
