{
  "log": {
    "_recordingName": "EnvReleaseOps/readRelease()/1: Get release info - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "35f89d717594f6936af5a45abae2c413",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/release"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 29,
            "text": "{\"currentVersion\":\"14467.0\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "b6a025e9-f4ae-45c3-9344-492dbed52b1f/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 50,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
