{
  "log": {
    "_recordingName": "EmailTemplateOps/readEmailTemplates()/2: Read all email templates including defaults",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5f9b1fdb490ee0b08c162715cd237c1c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c41dd3a8-47b7-4e02-889a-c72a043f6209"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id sw 'emailTemplat'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config?_queryFilter=_id%20sw%20%27emailTemplat%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 8574,
            "text": "{\"result\":[{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"html\":{\"en\":\"<html><body>{{#if object.userName}}<p>Your username is '{{object.userName}}'.</p>{{else}}If you received this email in error, please disregard.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Click here to login</a></p></body></html>\",\"fr\":\"<html><body>{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Cliquez ici pour vous connecter</a></p></body></html>\"},\"message\":{\"en\":\"<html><head></head><body style=\\\"background-color: #324054; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; margin: 0 auto; padding: 48px; width: 235px;\\\"><p>{{#if object.userName}}Your username is '{{object.userName}}'.</p><p>{{else}}If you received this email in error, please disregard.{{/if}}</p><p><a href=\\\"{{object.resumeURI}}\\\" style=\\\"text-decoration: none; color: #109cf1;\\\">Click here to login</a></p></div></body></html>\",\"fr\":\"<html><head></head><body style=\\\"background-color: #324054; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; margin: 0 auto; padding: 48px; width: 235px;\\\">{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\" style=\\\"text-decoration: none; color: #109cf1;\\\">Cliquez ici pour vous connecter</a></p></div></body></html>\"},\"mimeType\":\"text/html\",\"styles\":\"body{background-color:#324054;color:#5e6d82;padding:60px;text-align:center}a{text-decoration:none;color:#109cf1}.content{background-color:#fff;border-radius:4px;margin:0 auto;padding:48px;width:235px}\",\"subject\":{\"en\":\"Account Information - username\",\"fr\":\"Informations sur le compte - nom d'utilisateur\"}},{\"_id\":\"emailTemplate/FrodoTestEmailTemplate1\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template One\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>Click to reset your password</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Password reset link</a></h4>\",\"fr\":\"<h3>Cliquez pour réinitialiser votre mot de passe</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Mot de passe lien de réinitialisation</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Reset your password\",\"fr\":\"Réinitialisez votre mot de passe\"}},{\"_id\":\"emailTemplate/FrodoTestEmailTemplate2\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Two\",\"enabled\":true,\"from\":\"\",\"me[...]
