{
  "log": {
    "_recordingName": "IgaSodPolicyRuleOps/exportPolicyRule()/2: Export non-existing policy rule",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8bc827884a515716fd604a9232b4e446",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/rule/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 87,
            "text": "{\"message\":\"Policy rule with id: 11111111-1111-1111-1111-111111111111 does not exist.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"57-03m0usSiqCLutXtWFsbYPTkxlOI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "d6a3a632-7642-4323-b552-534b7348e701"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 141,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
