{
  "log": {
    "_recordingName": "AgentApi/Cloud Tests/getAgents()/1: Get all agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "abb8dc5f0f4da1e05f6b5cd3a70c769d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e4b4451d-1e4e-49bb-a559-0a1154ad319d"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 102811,
            "text": "{\"result\":[{\"miscWebAgentConfig\":{\"anonymousUserId\":\"anonymous\",\"profileAttributesCookieMaxAge\":300,\"urlJsonResponse\":[\"\"],\"caseInsensitiveUrlComparison\":true,\"compositeAdviceRedirect\":false,\"compositeAdviceEncode\":false,\"addCacheControlHeader\":false,\"anonymousUserEnabled\":false,\"invalidUrlRegex\":null,\"ignorePathInfo\":false,\"invertUrlJsonResponse\":false,\"statusCodeJsonResponse\":202,\"headerJsonResponse\":{},\"encodeSpecialCharsInCookies\":false,\"gotoParameterName\":\"goto\",\"encodeUrlSpecialCharacters\":false,\"mineEncodeHeader\":0,\"profileAttributesCookiePrefix\":\"HTTP_\"},\"advancedWebAgentConfig\":{\"overrideRequestHost\":false,\"pdpSkipPostUrl\":[\"\"],\"pdpStickySessionValue\":null,\"postDataPreservation\":false,\"hostnameToIpAddress\":[],\"showPasswordInHeader\":false,\"overrideRequestProtocol\":false,\"clientIpHeader\":null,\"replayPasswordKey\":null,\"customProperties\":[],\"postDataCachePeriod\":10,\"retainSessionCache\":false,\"pdpJavascriptRepost\":false,\"pdpStickySessionMode\":\"OFF\",\"overrideRequestPort\":false,\"apacheAuthDirectives\":null,\"clientHostnameHeader\":null,\"fragmentRedirectEnabled\":false,\"pdpStickySessionCookieName\":null,\"logonAndImpersonation\":false},\"ssoWebAgentConfig\":{\"cookieResetList\":[\"\"],\"cdssoRedirectUri\":\"agent/cdsso-oauth2\",\"persistentJwtCookie\":false,\"secureCookies\":false,\"acceptSsoToken\":false,\"cookieResetOnRedirect\":false,\"sameSite\":null,\"cdssoCookieDomain\":[\"\"],\"cookieResetEnabled\":false,\"cookieName\":\"iPlanetDirectoryPro\",\"multivaluePreAuthnCookie\":false,\"httpOnly\":true},\"amServicesWebAgent\":{\"policyClockSkew\":0,\"enableLogoutRegex\":false,\"policyEvaluationRealm\":\"/\",\"fetchPoliciesFromRootResource\":false,\"logoutUrlRegex\":null,\"conditionalLoginUrl\":[\"\"],\"customLoginMode\":0,\"invalidateLogoutSession\":true,\"logoutResetCookies\":[\"\"],\"logoutRedirectUrl\":null,\"regexConditionalLoginUrl\":[\"\"],\"policyCachePollingInterval\":3,\"regexConditionalLoginPattern\":[\"\"],\"logoutRedirectDisabled\":false,\"retrieveClientHostname\":false,\"applicationLogoutUrls\":[\"\"],\"userIdParameterType\":\"session\",\"publicAmUrl\":null,\"userIdParameter\":\"UserToken\",\"amLoginUrl\":[],\"policyEvaluationApplication\":\"iPlanetAMWebAgentService\",\"amLogoutUrl\":[\"http://testserverurl.com:8080/UI/Logout\"],\"ssoCachePollingInterval\":3},\"applicationWebAgentConfig\":{\"profileAttributeFetchMode\":\"NONE\",\"clientIpValidation\":false,\"notEnforcedIpsRegex\":false,\"continuousSecurityCookies\":{},\"fetchAttributesForNotEnforcedUrls\":false,\"ignorePathInfoForNotEnforcedUrls\":true,\"responseAttributeFetchMode\":\"NONE\",\"attributeMultiValueSeparator\":\"|\",\"profileAttributeMap\":{},\"sessionAttributeFetchMode\":\"NONE\",\"continuousSecurityHeaders\":{},\"notEnforcedIpsList\":[\"\"],\"responseAttributeMap\":{},\"notEnforcedUrls\":[\"\"],\"sessionAttributeMap\":{},\"notEnforcedUrlsRegex\":false,\"invertNotEnforcedUrls\":false,\"notEnforcedIps\":[\"\"]},\"globalWebAgentConfig\":{\"agentDebugLevel\":\"Error\",\"secretLabelIdentifier\":null,\"fqdnDefault\":\"testagenturl.com\",\"webSocketConnectionIntervalInMinutes\":30,\"status\":\"Inactive\",\"configurationPollingInterval\":60,\"auditLogLocation\":\"REMOTE\",\"fqdnCheck\":false,\"amLbCookieEnable\":false,\"fqdnMapping\":{},\"accessDeniedUrl\":null,\"resetIdleTime\":false,\"ssoOnlyMode\":false,\"auditAccessType\":\"LOG_NONE\",\"agentgroup\":null,\"notificationsEnabled\":true,\"agentUriPrefix\":\"http://testagenturl.com:8080/amagent\",\"disableJwtAudit\":false,\"jwtName\":\"am-auth-jwt\",\"repositoryLocation\":\"centralized\",\"cdssoRootUrl\":[\"agentRootURL=http://testagenturl.com:8080/\"],\"agentConfigChangeNotificationsEnabled\":true,\"jwtAuditWhitelist\":null},\"_id\":\"frodo-test-web-agent2\",\"_type\":{\"_id\":\"WebAgent\",\"name\":\"Web Agents\",\"collection\":true}},{\"miscWebAgentConfig\":{\"anonymousUserId\":\"anonymous\",\"profileAttributesCookieMaxAge\":300,\"urlJsonResponse\":[\"\"],\"caseInsensitiveUrlComparison\":true,\"compositeAdviceRedirect\":false,\"compositeAdviceEncode\":false,\"addCacheControlHeader\":false,\"anonymousUserEnabled\":false,\"invalidUrlRegex\":null,\"ignorePathInfo\":false,\"invertUrlJsonResponse\":false,\"statusCodeJsonResponse\":202,\"headerJsonResponse\":{},\"encodeSpecialCharsInCookies\":false,\"gotoParameterName\":\"g[...]
