{
  "log": {
    "_recordingName": "ResourceTypeOps/deleteResourceTypeByName()/1: Delete existing resource type by name [FrodoTestResourceType8 - 84f7b719-cbd4-4b82-8170-6c230f2973be]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dec128f33060a02e4942d3a52639c578",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3866f47b-f4ad-4dde-aa07-9158abb62da9"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..YEOUZyvoRFK0LLzC_M6Z_g.yz8KRC90Agz0fpXxyO9z2claaLYhYRtx_p[...]
