{
  "log": {
    "_recordingName": "ResourceTypeOps/deleteResourceTypeByName()/1: Delete existing resource type by name [FrodoTestResourceType8 - 84f7b719-cbd4-4b82-8170-6c230f2973be]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dec128f33060a02e4942d3a52639c578",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dc2d8531-8da4-4d14-98e0-8aa544ea6257"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_sortKeys",
              "value": "name"
            },
            {
              "name": "_queryFilter",
              "value": "name eq \"FrodoTestResourceType8\" AND name eq \"^(?!Delegation Service$).*\""
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes?_sortKeys=name&_queryFilter=name%20eq%20%22FrodoTestResourceType8%22%20AND%20name%20eq%20%22%5E%28%3F%21Delegation%20Service%24%29.%2A%22"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 575,
            "text": "{\"result\":[{\"uuid\":\"84f7b719-cbd4-4b82-8170-6c230f2973be\",\"name\":\"FrodoTestResourceType8\",\"description\":\"Frodo Test Resource Type Eight\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":1696091874737,\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":1696091874737}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":0}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=1.0,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dc2d8531-8da4-4d14-98e0-8aa544ea6257"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      },
      {
        "_id": "cf39bdfa79e5411b758a8648a613c14b",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dc2d8531-8da4-4d14-98e0-8aa544ea6257"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
 [...]
