{
  "log": {
    "_recordingName": "Saml2Ops/deleteRawSaml2Provider()/1: Delete raw hosted provider 'iSPAzure'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "beeb6f29c5773863e8663c787936c085",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-8725f72b-53b7-4ad9-834d-e3c0f46e07e5"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/federation/entityproviders/saml2/iSPAzure"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6557,
            "text": "{\"_id\":\"iSPAzure\",\"_rev\":\"-1111917062\",\"metadata\":\"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\" standalone=\\\"yes\\\"?>\\n<EntityDescriptor entityID=\\\"iSPAzure\\\" xmlns=\\\"urn:oasis:names:tc:SAML:2.0:metadata\\\" xmlns:query=\\\"urn:oasis:names:tc:SAML:metadata:ext:query\\\" xmlns:mdattr=\\\"urn:oasis:names:tc:SAML:metadata:attribute\\\" xmlns:saml=\\\"urn:oasis:names:tc:SAML:2.0:assertion\\\" xmlns:xenc=\\\"http://www.w3.org/2001/04/xmlenc#\\\" xmlns:xenc11=\\\"http://www.w3.org/2009/xmlenc11#\\\" xmlns:alg=\\\"urn:oasis:names:tc:SAML:metadata:algsupport\\\" xmlns:x509qry=\\\"urn:oasis:names:tc:SAML:metadata:X509:query\\\" xmlns:ds=\\\"http://www.w3.org/2000/09/xmldsig#\\\">\\n    <SPSSODescriptor protocolSupportEnumeration=\\\"urn:oasis:names:tc:SAML:2.0:protocol\\\">\\n        <SingleLogoutService Binding=\\\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\\\" Location=\\\"https://idc.scheuber.io/am/SPSloRedirect/metaAlias/alpha/iSPAzure\\\" ResponseLocation=\\\"https://idc.scheuber.io/am/SPSloRedirect/metaAlias/alpha/iSPAzure\\\"/>\\n        <SingleLogoutService Binding=\\\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\\\" Location=\\\"https://idc.scheuber.io/am/SPSloPOST/metaAlias/alpha/iSPAzure\\\" ResponseLocation=\\\"https://idc.scheuber.io/am/SPSloPOST/metaAlias/alpha/iSPAzure\\\"/>\\n        <SingleLogoutService Binding=\\\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\\\" Location=\\\"https://idc.scheuber.io/am/SPSloSoap/metaAlias/alpha/iSPAzure\\\"/>\\n        <ManageNameIDService Binding=\\\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\\\" Location=\\\"https://idc.scheuber.io/am/SPMniRedirect/metaAlias/alpha/iSPAzure\\\" ResponseLocation=\\\"https://idc.scheuber.io/am/SPMniRedirect/metaAlias/alpha/iSPAzure\\\"/>\\n        <ManageNameIDService Binding=\\\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\\\" Location=\\\"https://idc.scheuber.io/am/SPMniPOST/metaAlias/alpha/iSPAzure\\\" ResponseLocation=\\\"https://idc.scheuber.io/am/SPMniPOST/metaAlias/alpha/iSPAzure\\\"/>\\n        <ManageNameIDService Binding=\\\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\\\" Location=\\\"https://idc.scheuber.io/am/SPMniSoap/metaAlias/alpha/iSPAzure\\\" ResponseLocation=\\\"https://idc.scheuber.io/am/SPMniSoap/metaAlias/alpha/iSPAzure\\\"/>\\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:persistent</NameIDFormat>\\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</NameIDFormat>\\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</NameIDFormat>\\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified</NameIDFormat>\\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName</NameIDFormat>\\n        <NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos</NameIDFormat>\\n        <NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIDFormat>\\n        <AssertionConsumerService index=\\\"0\\\" isDefault=\\\"true\\\" Binding=\\\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact\\\" Location=\\\"https://idc.scheuber.io/am/AuthConsumer/metaAlias/alpha/iSPAzure\\\"/>\\n        <AssertionConsumerService index=\\\"1\\\" isDefault=\\\"false\\\" Binding=\\\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\\\" Location=\\\"https://idc.scheuber.io/am/AuthConsumer/metaAlias/alpha/iSPAzure\\\"/>\\n        <AssertionConsumerService index=\\\"2\\\" isDefault=\\\"false\\\" Binding=\\\"urn:oasis:names:tc:SAML:2.0:bindings:PAOS\\\" Location=\\\"https://idc.scheuber.io/am/Consumer/ECP/metaAlias/alpha/iSPAzure\\\"/>\\n    </SPSSODescriptor>\\n</EntityDescriptor>\\n\",\"entityConfig\":\"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\" standalone=\\\"yes\\\"?>\\n<EntityConfig entityID=\\\"iSPAzure\\\" hosted=\\\"true\\\" xmlns=\\\"urn:sun:fm:SAML:2.0:entityconfig\\\" xmlns:ns5=\\\"urn:oasis:names:tc:SAML:2.0:metadata\\\" xmlns:query=\\\"urn:oasis:names:tc:SAML:metadata:ext:query\\\" xmlns:mdattr=\\\"urn:oasis:names:tc:SAML:metadata:attribute\\\" xmlns:saml=\\\"urn:oasis:names:tc:SAML:2.0:assertion\\\" xmlns:xenc=\\\"http://www.w3.org/2001/04/xmlenc#\\\" xmlns:xenc11=\\\"http://www.w3.org/2009/xmlenc11#\\\" xmlns:alg=\\\"urn:oasis:names:tc:SAML:metadata:algsupport\\\" xmlns:x509qry=\\\"urn:oasis:names:tc:SAML:metadata:X509:query\\\" xmlns:ds=\\\"http://www.w3.org/2000/09/xmldsig#\\\">\\n    <SPSSOConfig metaAlias=\\\"/alpha/iSPAzure\\\">\\n        <Attribute name=\\\"spAuthncontextMapper\\\">\\n            <Value>com.sun.identity.saml2.plugins.DefaultSPAuthnContextMapper</Value>\\n        </Attribute>\\n        <Attribute name=\\\"attributeMap\\\">\\n            <Value>http://schemas.microsoft.com/identity/claims/displayname=cn</Value>\\n            <Value>http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname=givenName</Value>\\n            <Value>http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname=sn</Value>\\n            <Value>http://schemas.xmlsoap.org/ws/2005/05/identity/claims/e[...]
