{
  "log": {
    "_recordingName": "IgaCertificationTemplateOps/exportCertificationTemplate()/2: Export non-existing certification template",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f79a70d540e614e2d22231ef43647f76",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/certification/template/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 80,
            "text": "{\"message\":\"Cannot find template with id 11111111-1111-1111-1111-111111111111.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"50-szuAf1mYmIAH8KtZnpaQsGpMum8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "0bcd9fea-e55d-4711-ace0-213692795d0e"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 99,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
