{
  "log": {
    "_recordingName": "ScriptOps/exportScript()/1: Export script by id c9cb4b1e-1cd3-4e5b-8f56-140f83ba9f6d",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ec64897940c7448084aef829cffabdc2",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d78fdee0-d401-455d-ada8-e7412eee133a"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..fmaVtdUkIs1cig8UkT4VRw.cn_tEAKLbK9MVMGOm2kwzz6uRb840HUO2B[...]
