{
  "log": {
    "_recordingName": "IdmConfigOps/createConfigEntity()/2: Create a config entity 'emailTemplate/FrodoTestConfigEntity6' and wait for completion",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c3032514ebe2996320ee8bb4be87d8c4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-701d3914-f0b6-44ea-b3f6-126e356bba10"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestConfigEntity6"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 55,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Not Found\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-701d3914-f0b6-44ea-b3f6-126e356bba10"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 45,
      },
      {
        "_id": "bc5b50cc34c99273e56629d514f28acc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-701d3914-f0b6-44ea-b3f6-126e356bba10"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Six\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "queryString": [
            {
              "name": "waitForCompletion",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestConfigEntity6?waitForCompletion=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 398,
            "[...]
