{
  "log": {
    "_recordingName": "PolicySetOps/importPolicySets()/1: Import all policy sets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f3a078bfa09a0bce625ef15a91d60f69",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0cded1b1-ba2b-4eed-bb78-6fd509c770aa"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..t2dFq82o1q1ZugXkx8pfRQ.mbxJ4V-bPGmHoAnYxXhRi[...]
