{
  "log": {
    "_recordingName": "JourneyOps/getJourneys()/1: Get all journeys",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cc968d4ca98755f27cb44bad450498ad",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c181a5b4-c576-4214-b51f-245f214a9d22"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 29006,
            "text": "{\"result\":[{\"_id\":\"j10\",\"_rev\":\"-661574281\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[]\"},\"entryNodeId\":\"c91d626e-1156-41bd-b1fb-d292f640fba6\",\"innerTreeOnly\":false,\"nodes\":{\"300feda0-3248-49a9-b60f-01df802b2229\":{\"connections\":{\"true\":\"c7fcf7ae-1ab5-474b-b5b0-272e10468fbd\"},\"displayName\":\"level\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":395,\"y\":345.015625},\"40afb384-e9b6-4dcb-acde-04de109474c8\":{\"connections\":{\"true\":\"c7fcf7ae-1ab5-474b-b5b0-272e10468fbd\"},\"displayName\":\"shared\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":393,\"y\":259.015625},\"8d7d64ee-da20-461f-a2ca-206b7479dd67\":{\"connections\":{\"true\":\"c7fcf7ae-1ab5-474b-b5b0-272e10468fbd\"},\"displayName\":\"level\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":598,\"y\":173.015625},\"97ef9d96-99e7-4d2d-b6c6-4177b5397ead\":{\"connections\":{\"true\":\"8d7d64ee-da20-461f-a2ca-206b7479dd67\"},\"displayName\":\"shared\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":392,\"y\":173.015625},\"c7fcf7ae-1ab5-474b-b5b0-272e10468fbd\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"displayName\":\"nest\",\"nodeType\":\"InnerTreeEvaluatorNode\",\"x\":816,\"y\":233.015625},\"c91d626e-1156-41bd-b1fb-d292f640fba6\":{\"connections\":{\"level only\":\"300feda0-3248-49a9-b60f-01df802b2229\",\"none\":\"c7fcf7ae-1ab5-474b-b5b0-272e10468fbd\",\"shared and level\":\"97ef9d96-99e7-4d2d-b6c6-4177b5397ead\",\"shared only\":\"40afb384-e9b6-4dcb-acde-04de109474c8\"},\"displayName\":\"mode\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":167,\"y\":210.015625}},\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":1236,\"y\":145},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":1236,\"y\":253},\"startNode\":{\"x\":50,\"y\":250}},\"enabled\":true},{\"_id\":\"j01\",\"_rev\":\"330004949\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[]\"},\"entryNodeId\":\"7e948aee-86d8-4d5a-87ad-381e92cc8d02\",\"innerTreeOnly\":false,\"nodes\":{\"11042c8d-df98-48ec-9d04-dc8c4b5752f4\":{\"connections\":{\"true\":\"827c1624-3ce9-412d-a5fa-134b142e56a9\"},\"displayName\":\"level\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":598,\"y\":173.015625},\"381eb241-8369-49fa-a403-d120b81c9b2a\":{\"connections\":{\"true\":\"11042c8d-df98-48ec-9d04-dc8c4b5752f4\"},\"displayName\":\"shared\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":392,\"y\":173.015625},\"7e948aee-86d8-4d5a-87ad-381e92cc8d02\":{\"connections\":{\"level only\":\"ea25afc0-3e7b-4600-a235-3b6c02f6e76a\",\"none\":\"827c1624-3ce9-412d-a5fa-134b142e56a9\",\"shared and level\":\"381eb241-8369-49fa-a403-d120b81c9b2a\",\"shared only\":\"8e79b708-c1b2-4e87-870a-b23819bd77a4\"},\"displayName\":\"mode\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":167,\"y\":210.015625},\"827c1624-3ce9-412d-a5fa-134b142e56a9\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"displayName\":\"nest\",\"nodeType\":\"InnerTreeEvaluatorNode\",\"x\":816,\"y\":233.015625},\"8e79b708-c1b2-4e87-870a-b23819bd77a4\":{\"connections\":{\"true\":\"827c1624-3ce9-412d-a5fa-134b142e56a9\"},\"displayName\":\"shared\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":393,\"y\":259.015625},\"ea25afc0-3e7b-4600-a235-3b6c02f6e76a\":{\"connections\":{\"true\":\"827c1624-3ce9-412d-a5fa-134b142e56a9\"},\"displayName\":\"level\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":395,\"y\":345.015625}},\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":1236,\"y\":145},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":1236,\"y\":253},\"startNode\":{\"x\":50,\"y\":250}},\"enabled\":true},{\"_id\":\"j00\",\"_rev\":\"-398006678\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[]\"},\"entryNodeId\":\[...]
