{
  "log": {
    "_recordingName": "JourneyOps/getJourneys()/1: Get all journeys",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cc968d4ca98755f27cb44bad450498ad",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f0cebd67-079c-4000-b07b-a3dbf73ea559"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 21090,
            "text": "{\"result\":[{\"_id\":\"ResetPassword\",\"_rev\":\"1107667975\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{},\"entryNodeId\":\"0ae0593b-887e-48f4-92b3-69c5a6aa76e0\",\"nodes\":{\"0ae0593b-887e-48f4-92b3-69c5a6aa76e0\":{\"connections\":{\"outcome\":\"73d83a7f-452e-47a0-ba47-593a483d2e11\"},\"displayName\":\"Page Node\",\"nodeType\":\"PageNode\",\"x\":210,\"y\":127.5},\"273557b0-0791-418a-95e2-c8d7aaa3a31a\":{\"connections\":{\"outcome\":\"9c84ee8f-2493-44a6-a99c-ada43e933fae\"},\"displayName\":\"Email Suspend Node\",\"nodeType\":\"EmailSuspendNode\",\"x\":702,\"y\":162.5},\"73d83a7f-452e-47a0-ba47-593a483d2e11\":{\"connections\":{\"false\":\"273557b0-0791-418a-95e2-c8d7aaa3a31a\",\"true\":\"273557b0-0791-418a-95e2-c8d7aaa3a31a\"},\"displayName\":\"Identify Existing User\",\"nodeType\":\"IdentifyExistingUserNode\",\"x\":455,\"y\":137},\"9c84ee8f-2493-44a6-a99c-ada43e933fae\":{\"connections\":{\"outcome\":\"dbae03a7-208a-4a27-b089-ef2c6fd6cbe8\"},\"displayName\":\"Page Node\",\"nodeType\":\"PageNode\",\"x\":944,\"y\":127.5},\"dbae03a7-208a-4a27-b089-ef2c6fd6cbe8\":{\"connections\":{\"FAILURE\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"PATCHED\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"displayName\":\"Patch Object\",\"nodeType\":\"PatchObjectNode\",\"x\":1189,\"y\":137}},\"description\":\"Reset Password Tree\",\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":1419,\"y\":80},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":1419,\"y\":230},\"startNode\":{\"x\":70,\"y\":155}},\"enabled\":true},{\"_id\":\"ForgottenUsername\",\"_rev\":\"906006051\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Self-Service\\\"]\"},\"entryNodeId\":\"154bbf72-7928-4541-9e81-e6a42b7cd5ce\",\"nodes\":{\"154bbf72-7928-4541-9e81-e6a42b7cd5ce\":{\"connections\":{\"outcome\":\"c06aa309-4a0b-49e2-a3a9-bc13de0f87d1\"},\"displayName\":\"Page Node\",\"nodeType\":\"PageNode\",\"x\":139,\"y\":146},\"40e67f58-e027-4588-80dc-72c728ca1646\":{\"connections\":{\"outcome\":\"d50c645e-e980-407e-b79e-870cb099f123\"},\"displayName\":\"Email Suspend Node\",\"nodeType\":\"EmailSuspendNode\",\"x\":563,\"y\":193},\"c06aa309-4a0b-49e2-a3a9-bc13de0f87d1\":{\"connections\":{\"false\":\"40e67f58-e027-4588-80dc-72c728ca1646\",\"true\":\"40e67f58-e027-4588-80dc-72c728ca1646\"},\"displayName\":\"Identify Existing User\",\"nodeType\":\"IdentifyExistingUserNode\",\"x\":324,\"y\":152},\"d50c645e-e980-407e-b79e-870cb099f123\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"displayName\":\"Inner Tree Evaluator\",\"nodeType\":\"InnerTreeEvaluatorNode\",\"x\":767,\"y\":188}},\"description\":\"Forgotten Username Tree\",\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":970,\"y\":149},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":982,\"y\":252},\"startNode\":{\"x\":50,\"y\":25}},\"enabled\":true},{\"_id\":\"UpdatePassword\",\"_rev\":[...]
