{
  "log": {
    "_recordingName": "IgaCertificationTemplateOps/exportCertificationTemplateByName()/2: Export non-existing certification template with unknown name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e4d33ea7697e805c7844e3b760135b58",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"unknownName\"}}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/certification/template/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 66,
            "text": "{\"result\":[],\"searchAfterKey\":null,\"totalCount\":0,\"resultCount\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"42-6WyYF1p6hZFqH61y+4aiRN1wKRM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "e43d9f94-02e5-4450-a43a-e1546c633f7f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 105,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
