{
  "log": {
    "_recordingName": "NodeOps/readNodes()/1: Read nodes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "671d56ece38c62c6c181cc74ba3add84",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2957292b-70a9-4761-a97d-903714daa683"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 40846,
            "text": "{\"result\":[{\"usernameAttribute\":\"userName\",\"validateInput\":false,\"_id\":\"7a351800-fb7e-4145-903c-388554747556\",\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"usernameAttribute\":\"userName\",\"validateInput\":true,\"_id\":\"7fcaf48e-a754-4959-858b-05b2933b825f\",\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"usernameAttribute\":\"userName\",\"validateInput\":false,\"_id\":\"7354982f-57b6-4b04-9ddc-f1dd1e1e07d0\",\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"interval\":\"AT\",\"identityAttribute\":\"userName\",\"amount\":3,\"_id\":\"8afdaec3-275e-4301-bb53-34f03e6a4b29\",\"_type\":{\"_id\":\"LoginCountDecisionNode\",\"name\":\"Login Count Decision\",\"collection\":true},\"_outcomes\":[{\"id\":\"true\",\"displayName\":\"True\"},{\"id\":\"false\",\"displayName\":\"False\"}]},{\"identityAttribute\":\"mail\",\"identifier\":\"userName\",\"_id\":\"21b8ddf3-0203-4ae1-ab05-51cf3a3a707a\",\"_type\":{\"_id\":\"IdentifyExistingUserNode\",\"name\":\"Identify Existing User\",\"collection\":true},\"_outcomes\":[{\"id\":\"true\",\"displayName\":\"True\"},{\"id\":\"false\",\"displayName\":\"False\"}]},{\"identityAttribute\":\"mail\",\"identifier\":\"userName\",\"_id\":\"bf9ea8d5-9802-4f26-9664-a21840faac23\",\"_type\":{\"_id\":\"IdentifyExistingUserNode\",\"name\":\"Identify Existing User\",\"collection\":true},\"_outcomes\":[{\"id\":\"true\",\"displayName\":\"True\"},{\"id\":\"false\",\"displayName\":\"False\"}]},{\"identityResource\":\"managed/alpha_user\",\"_id\":\"ad5dcbb3-7335-49b7-b3e7-7d850bb88237\",\"_type\":{\"_id\":\"CreateObjectNode\",\"name\":\"Create Object\",\"collection\":true},\"_outcomes\":[{\"id\":\"CREATED\",\"displayName\":\"Created\"},{\"id\":\"FAILURE\",\"displayName\":\"Failed\"}]},{\"nodes\":[{\"_id\":\"7354982f-57b6-4b04-9ddc-f1dd1e1e07d0\",\"nodeType\":\"ValidatedUsernameNode\",\"displayName\":\"Platform Username\"},{\"_id\":\"0c80c39b-4813-4e67-b4fb-5a0bba85f994\",\"nodeType\":\"ValidatedPasswordNode\",\"displayName\":\"Platform Password\"}],\"pageDescription\":{\"en\":\"New here? <a href=\\\"#/service/Registration\\\">Create an account</a><br><a href=\\\"#/service/ForgottenUsername\\\">Forgot username?</a><a href=\\\"#/service/ResetPassword\\\"> Forgot password?</a>\"},\"pageHeader\":{\"en\":\"Sign In\"},\"_id\":\"a12bc72f-ad97-4f1e-a789-a1fa3dd566c8\",\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"nodes\":[{\"_id\":\"a566e474-99f3-46e4-9e70-682402bfaa84\",\"nodeType\":\"ChoiceCollectorNode\",\"displayName\":\"Choice Collector\"}],\"pageDescription\":{},\"stage\":\"{\\\"ChoiceCallback\\\":[{\\\"id\\\":\\\"a566e474-99f3-46e4-9e70-682402bfaa84\\\",\\\"displayType\\\":\\\"radio\\\"}]}\",\"pageHeader\":{},\"_id\":\"5d6cd20e-5074-43de-8832-fddd95fb078e\",\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true},\"_outcomes\":[{\"id\":\"one\",\"displayName\":\"one\"},{\"id\":\"two\",\"displayName\":\"two\"},{\"id\":\"three\",\"displayName\":\"three\"}]},{\"nodes\":[{\"_id\":\"7fcaf48e-a754-4959-858b-05b2933b825f\",\"nodeType\":\"ValidatedUsernameNode\",\"displayName\":\"Platform Username\"},{\"_id\":\"d3ce2036-1523-4ce8-b1a2-895a2a036667\",\"nodeType\":\"AttributeCollectorNode\",\"displayName\":\"Attribute Collector\"},{\"_id\":\"3d8709a1-f09f-4d1f-8094-2850e472c1db\",\"nodeType\":\"ValidatedPasswordNode\",\"displayName\":\"Platform Password\"},{\"_id\":\"120c69d3-90b4-4ad4-b7af-380e8b119340\",\"nodeType\":\"KbaCreateNode\",\"displayName\":\"KBA Definition\"},{\"_id\":\"b4a0e915-c15d-4b83-9c9d-18347d645976\",\"nodeType\":\"AcceptTermsAndConditionsNode\",\"displayName\":\"Accept Terms and Conditions\"}],\"pageDescription\":{\"en\":\"Signing up is fast and easy.<br>Already have an account? <a href='#/service/Login'>Sign In</a>\"},\"stage\":\"{\\\"ValidatedCreatePasswordCallback\\\":[{\\\"id\\\":\\\"3d8709a1-f09f-4d1f-8094-2850e472c1db\\\",\\\"confirmPassword\\\":true,\\\"policyDisplayCheckmark\\\":true}]}\",\"pageHeader\":{\"en\":\"Sign Up\"},\"_id\":\"0c091c49-f3af-48fb-ac6f-07fba0499dd6\",\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"nodes\":[{\"_id\":\"0a042e10-b22e-4e02-86c4-65e26e775f7a\",\"nodeType\":\"AttributeCollectorNode\",\"displayName\":\"Attribute Collector\"}],\"pageDescription\":{},\"pageHeader\":{\"en\":\"Please select your preferences\"},\"_id\":\"a5aecad8-854a-4ed5-b719-ff6[...]
