{
  "log": {
    "_recordingName": "NodeApi/version-aware node api/reads existing versioned node [ValidatedUsernameNode v2.0]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7a09a14e90e1a8824437fcfd26a197b8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=3.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedUsernameNode/2.0?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 458,
            "text": "{\"result\":[{\"_id\":\"f74e82e2-72ab-4a1a-9188-655622794a37\",\"_rev\":\"-1460424714\",\"usernameAttribute\":\"userName\",\"prepopulate\":false,\"validateInput\":false,\"autocompleteValues\":[],\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true,\"version\":\"2.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=3.0, resource=3.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 59,
      },
      {
        "_id": "f3eea9234f15c3745aed3de1a981c54b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=3.0"
            },
  [...]
