{
  "log": {
    "_recordingName": "ConfigOps/Cloud Tests/exportFullConfiguration()/4: Export only alpha realm config with string arrays, decoding variables, including journey coordinates and default scripts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fc71be44855f4e764537c68893e9a626",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-69ff07c3-c6e5-4d1b-9b90-5ed2ac625e30"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/realms/?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 420,
            "text": "{\"result\":[{\"_id\":\"Lw\",\"_rev\":\"-345738000\",\"parentPath\":null,\"active\":true,\"name\":\"/\",\"aliases\":[]},{\"_id\":\"L2FscGhh\",\"_rev\":\"362268810\",\"parentPath\":\"/\",\"active\":true,\"name\":\"alpha\",\"aliases\":[]},{\"_id\":\"L2JyYXZv\",\"_rev\":\"480875699\",\"parentPath\":\"/\",\"active\":true,\"name\":\"bravo\",\"aliases\":[]}],\"resultCount\":3,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.0,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-69ff07c3-c6e5-4d1b-9b90-5ed2ac625e30"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 227,
      },
      {
        "_id": "1ee245d6a72b8aeb85a5c7986e8ba2f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-69ff07c3-c6e5-4d1b-9b90-5ed2ac625e30"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/applicationtypes?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1767,
            "text": "{\"result\":[{\"_id\":\"umaApplicationType\",\"name\":\"umaApplicationType\",\"applicationClassName\":\"com.sun.identity.entitlement.Application\",\"actions\":{},\"saveIndex\":\"org.forgerock.openam.uma.UmaPolicySaveIndex\",\"searchIndex\":\"org.forgerock.openam.uma.UmaPolicySearchIndex\",\"resourceComparator\":\"org.forgerock.openam.uma.UmaPolicyResourceMatcher\"},{\"_id\":\"authenticationApplicationType\",\"name\":\"authenticationApplicationType\",\"applicationClassName\":\"com.sun.identity.entitlement.Application\",\"actions\":{},\"saveIndex\":\"org.forgerock.openam.entitlement.indexsimple.SimpleSaveIndex\",\"searchIndex\":\"org.forgerock.openam.entitlement.indexwildcardonly.WildcardOnlySearchIndex\",\"resourceComparator\":\"org.forgerock.openam.entitlement.indexwildcardonly.WildcardOnlyResourceMatcher\"},{\"_id\":\"sunAMDelegationService\",\"name\":\"sunAMDelegationService\",\"applicationClassName\":\"com.sun.identity.entitlement.Application\",\"actions\":{\"READ\":true,\"MODIFY\":true,\"DELEGATE\":true},\"saveIndex\":\"com.sun.identity.entitlement.opensso.DelegationResourceNameIndexGenerator\",\"searchIndex\":\"com.sun.identity.entitlement.opensso.DelegationResourceNameSplitter\",\"resourceComparator\":\"com.sun.identity.entitlement.RegExResourceName\"},{\"_id\":\"iPlanetAMWebAgentService\",\"name\":\"iPlanetAMWebAgentService\",\"applicationClassName\":\"com.sun.identity.entitlement.Application\",\"actions\":{\"HEAD\":true,\"DELETE\":true,\"POST\":true,\"GET\":true,\"OPTIONS\":true,\"PUT\":true,\"PATCH\":true},\"saveIndex\":\"org.forgerock.openam.entitlement.indextree.TreeSaveIndex\",\"searchIndex\":\"org.forgerock.openam.entitlement.indextree.TreeSearchIndex\",\"resourceComparator\":\"com.sun.identity.entitlement.URLResourceName\"}],\"resultCount\":4,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":0}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=[...]
