{
  "log": {
    "_recordingName": "ConfigOps/Cloud Tests/exportFullConfiguration()/4: Export only alpha realm config with string arrays, decoding variables, including journey coordinates and default scripts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "38a4f12ab8d8f567f084e4dbf8055523",
        "request": {
          "headers": [
          {
            "name": "accept",
            "value": "application/json, text/plain, */*"
          },
          {
            "name": "content-type",
            "value": "application/json"
          },
          {
            "name": "user-agent",
            "value": "@rockcarver/frodo-lib/3.0.1"
          },
          {
            "name": "x-forgerock-transactionid",
            "value": "frodo-0e650ca2-c69f-41ec-aa5b-05bf62034516"
          },
          {
            "name": "accept-api-version",
            "value": "protocol=2.1,resource=2.0"
          },
          {
            "name": "authorization",
            "value": "Bearer <bearer token>"
          },
          {
            "name": "accept-encoding",
            "value": "gzip, compress, deflate, br"
          },
          {
            "name": "host",
            "value": "openam-frodo-dev.forgeblocks.com"
          }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV"
        },
        "response": {
          "content": {
          "mimeType": "application/json;charset=UTF-8",
          "size": 247,
          "text": "{\"_id\":\"ESV\",\"_rev\":\"325689269\",\"project\":\"&{google.project.id}\",\"expiryDurationSeconds\":600,\"serviceAccount\":\"default\",\"secretFormat\":\"PEM\",\"_type\":{\"_id\":\"GoogleSecretManagerSecretStoreProvider\",\"name\":\"Google Secret Manager\",\"collection\":true}}"
          },
          "headers": [
          {
            "name": "x-frame-options",
            "value": "SAMEORIGIN"
          },
          {
            "name": "content-security-policy-report-only",
            "value": "frame-ancestors 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline'"
          },
          {
            "name": "x-content-type-options",
            "value": "nosniff"
          },
          {
            "name": "cache-control",
            "value": "privat[...]
