{
  "log": {
    "_recordingName": "RawConfigOps/importRawConfig()/2: importRawConfig openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ea3e109d0e7fc224418bcf2afc70ea14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ba652515-18a6-4f1e-b6c7-98c9e5811271"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"FrodoTestEmailTemplate2\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Two\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>This is your one-time password:</h3><h4>{{object.description}}</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"One-Time Password for login\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/FrodoTestEmailTemplate2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 290,
            "text": "{\"_id\":\"FrodoTestEmailTemplate2\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Two\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>This is your one-time password:</h3><h4>{{object.description}}</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"One-Time Password for login\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ba652515-18a6-4f1e-b6c7-98c9e5811271"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
