{
  "log": {
    "_recordingName": "ServiceAccountOps/isServiceAccountsFeatureAvailable()/1: Check tenant supporting service accounts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6639d91896bd39bab9016b77c410c288",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-501f48eb-b632-4378-a674-18e2416fd083"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-service-accounts.forgeblocks.com/feature?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 88,
            "text": "{\"result\":[{\"_id\":\"service-accounts\",\"installedVersion\":\"1\",\"availableVersions\":[\"1\"]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"58-FdBLAyLmKuW5sUJb0LrEZjXB2Og\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-501f48eb-b632-4378-a674-18e2416fd083"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
