{
  "log": {
    "_recordingName": "ServiceAccountOps/isServiceAccountsFeatureAvailable()/1: Check tenant supporting service accounts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "302a65939a8e5e60e91c8e99186ecd29",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bf587528-aa27-4d54-8e42-800fa0139fb6"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "authIndexType",
              "value": "service"
            },
            {
              "name": "authIndexValue",
              "value": "FRServiceAccountInternal"
            }
          ],
          "url": "https://openam-service-accounts.forgeblocks.com/am/json/realms/root/authenticate?authIndexType=service&authIndexValue=FRServiceAccountInternal"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Login failure\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bf587528-aa27-4d54-8e42-800fa0139fb6"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 100,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
