{
  "log": {
    "_recordingName": "info/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f5f7634d-e136-4647-8b86-942e83eae494"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "6ac6499e9da2071",
              "value": "s3Jxv0wxx0kvSdPzVkUqbE1tlsQ.*AAJTSQACMDIAAlNLABxoaWpIMVA2em5pc1ZHdkR0YjV5LytXc1VUc3c9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&scope=fr:idm:* fr:idc:esv:*&response_type=code&client_id=idmAdminClient&csrf=s3Jxv0wxx0kvSdPzVkUqbE1tlsQ.*AAJTSQACMDIAAlNLABxoaWpIMVA2em5pc1ZHdkR0YjV5LytXc1VUc3c9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=7UBQ-TmoWjbzuQxOytOs1JT3ttqM1mDeIYnC7scui4w&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=vPyBxtr2Z2fZICX41Qc84QnaQCQ&iss=https%3A%2F%2Fopenam-frodo-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f5f7634d-e136-4647-8b86-942e83eae494"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 708,
      },
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f5f7634d-e136-4647-8b86-942e83eae494"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"[...]
