{
  "log": {
    "_recordingName": "info/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-37b77f67-1c5b-411e-863d-7795fb9d6d35"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "6ac6499e9da2071",
              "value": "sCrARyTQf5HI_QubbJRas3fK8N0.*AAJTSQACMDIAAlNLABxZYTZUY2dTV3UxdHZENG13ZUZ3RFJCVGU2RDg9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&scope=openid fr:idm:* fr:idc:esv:*&response_type=code&client_id=idmAdminClient&csrf=sCrARyTQf5HI_QubbJRas3fK8N0.*AAJTSQACMDIAAlNLABxZYTZUY2dTV3UxdHZENG13ZUZ3RFJCVGU2RDg9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=g6ldqI1ILFuw310bBXgDmeL1KaAjzenedq-qGtNFexo&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=nE7QvffhgaKsV4VdtZO3ziCEhuI&iss=https%3A%2F%2Fopenam-frodo-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-37b77f67-1c5b-411e-863d-7795fb9d6d35"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 153,
      },
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-37b77f67-1c5b-411e-863d-7795fb9d6d35"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"[...]
