{
  "log": {
    "_recordingName": "SecretsOps/exportSecret()/2: Export secret2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "60e7fd918145cfd79397752e40c8b6b2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..EtbaSNSwmBfRS6W04O0dZg.ZTJBQGW-GAFyuST9aewFu8BsckmZ-Ht8_PhOV5mMituOcC1461rlFY131RmFLs4_CXoNUFHCNEIrK3sVa5I6bl3sRdprqGhHS49YXa46OqylMVn29ZUTXKIUV8RBAPMEj2igA0N4Dwz4K-zvgz4LjjOsccE5aOCXKXTkvTdsf9FkiKt0dUTpwWfQ7GZWO8RCurVVSTdJQ-HHmGCFc8XAdu2U913RomSglJvkizuttAiQW5fCinXLg4iV_Z-_Ln4G7kyteNG12bVj8BfSpIG_o16XomVoGYiOQE1kX4rwWh92XrwnDO5nUjX3gDANgnrNAvga7Lu2u7j3MWKzY0KQzMM1YLNJ6lGtuFrl8LiKD2Ng42oTXrO9JDUPwPBt_EkdUn_UCmIRZefB1QB96_hTOCtmtXtV_66REMuuoOLJhaSbn-uEcwSi-tnkywGoV-fNI8KFLwYBY7ROYqQkKhs7_hHMpnugeeGpbr0dzVCMGPO_vLgFuTMXAkEdsCKm8ugosqv8vMmPOq6IMbjYs7joBFTV_Q21lL4gtOBARVAuxiDoleJDjwuW8n3XxeS_2CO15YSDlW1WGFApIURxRLkr_g_qSS7MmyXTt5345eDmuRHzp3tvaVQ50iV0EcYMZcImbFzUTLlh3Ob9VFIyHB2gL1aTZhznjIM_Xfqz87j0pSOWtwvFWNorbgeer_180e9W9QuLPxRFk6UznMnZu3SZ5IB_SL6B-DF9owcFF3WxSMRQEeJwQVUoEE45nNlOPKJ78-DvW8D-0mpPI1mutdPKUEa7XRHDM2cA6eovBZHxXuPByzp0SEewkDDZ9m-1KnZHTMdUIeYNmqcewHsgjcdcb2V2e-iEPwCnhIBypJspVxE6c4p0zZhaIBCAClF7lbHyDjyvlSrWVii4ehVvsXLbuFkEs9fo9Zt5xW-IQ9alZYl86prShzzQeTlHzhNtQ8KSITd2f_nygeNHgi2-WwvTaHVohWkfK7yE7vaa_kBitOugcFADOrCUzQK_2Kmsl_2_akMAap_OzdjhLjPpQWDCpqG1XE1eNBiRnFXk4Ad4co0.Nug7EPkkF16OW9rpWRv3dw"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 263,
            "text": "{\"_id\":\"esv-frodo-test-secret-2\",\"activeVersion\":\"1\",\"description\":\"description2\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-10-24T15:31:54.872Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":false}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
