{
  "log": {
    "_recordingName": "VariablesOps/updateVariableDescription()/2: Do not update variable21 description when no changes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "234084a5feb8dabdf4ea078d9dd33f94",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-21"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 225,
            "text": "{\"_id\":\"esv-frodo-test-variable-21\",\"description\":\"description21\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-09-21T21:15:18.576331Z\",\"lastChangedBy\":\"Frodo-SA-1783448612033\",\"loaded\":false,\"valueBase64\":\"dmFsdWUyMQ==\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 270,
      },
      {
        "_id": "234084a5feb8dabdf4ea078d9dd33f94",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "G[...]
