{
  "log": {
    "_recordingName": "ResourceTypeOps/exportResourceType()/1: Export existing resource type by uuid [0c2b73b2-f18f-4634-85ec-14dc71f1b216 - FrodoTestResourceType9]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7449f0c549e22aeb423a3f8a95499dd9",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/0c2b73b2-f18f-4634-85ec-14dc71f1b216"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 437,
            "text": "{\"uuid\":\"0c2b73b2-f18f-4634-85ec-14dc71f1b216\",\"name\":\"FrodoTestResourceType9\",\"description\":\"Frodo Test Resource Type Nine\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":1696091864214,\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":1696091864214}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1696091865225\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
