{
  "log": {
    "_recordingName": "ResourceTypeOps/exportResourceType()/1: Export existing resource type by uuid [0c2b73b2-f18f-4634-85ec-14dc71f1b216 - FrodoTestResourceType9]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7449f0c549e22aeb423a3f8a95499dd9",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6492064b-3527-4296-94f5-5efa18ec87cb"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..Uqx-UxwQLKywBtUoUMfTyw.VQUxG6mNLuX9OHIMERgvlzkpOoERAkGhDd[...]
