{
  "log": {
    "_recordingName": "JourneyOps/exportJourneys()/1: Export journeys w/o dependencies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cc968d4ca98755f27cb44bad450498ad",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0a529e1e-9749-4122-bed0-720efd56dbcf"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 25033,
            "text": "{\"result\":[{\"_id\":\"ResetPassword\",\"_rev\":\"131679680\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Password Reset\\\"]\"},\"entryNodeId\":\"19e48430-f47b-4ef5-a8d7-42d09de63174\",\"innerTreeOnly\":false,\"nodes\":{\"160b706c-266a-4f09-9edb-08308f95674c\":{\"connections\":{\"outcome\":\"f24d2e17-c523-4197-b137-90b027e9e711\"},\"displayName\":\"Page Node\",\"nodeType\":\"PageNode\",\"x\":643,\"y\":50},\"19e48430-f47b-4ef5-a8d7-42d09de63174\":{\"connections\":{\"outcome\":\"a38fc3d5-4773-4172-b624-5b541965deab\"},\"displayName\":\"Page Node\",\"nodeType\":\"PageNode\",\"x\":103,\"y\":50},\"a38fc3d5-4773-4172-b624-5b541965deab\":{\"connections\":{\"false\":\"f1c4c6a1-b13d-4644-9d10-7f7a3c719414\",\"true\":\"f1c4c6a1-b13d-4644-9d10-7f7a3c719414\"},\"displayName\":\"Identify Existing User\",\"nodeType\":\"IdentifyExistingUserNode\",\"x\":271,\"y\":21},\"f1c4c6a1-b13d-4644-9d10-7f7a3c719414\":{\"connections\":{\"outcome\":\"160b706c-266a-4f09-9edb-08308f95674c\"},\"displayName\":\"Email Suspend Node\",\"nodeType\":\"EmailSuspendNode\",\"x\":453,\"y\":66},\"f24d2e17-c523-4197-b137-90b027e9e711\":{\"connections\":{\"FAILURE\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"PATCHED\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"displayName\":\"Patch Object\",\"nodeType\":\"PatchObjectNode\",\"x\":819,\"y\":61}},\"description\":\"Reset Password Tree\",\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":970,\"y\":79},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":981,\"y\":147},\"startNode\":{\"x\":25,\"y\":25}},\"enabled\":true},{\"_id\":\"ForgottenUsername\",\"_rev\":\"-706128645\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Username Reset\\\"]\"},\"entryNodeId\":\"28ecb51a-6495-436e-a0b2-f11888072075\",\"innerTreeOnly\":false,\"nodes\":{\"28ecb51a-6495-436e-a0b2-f11888072075\":{\"connections\":{\"outcome\":\"d82415c8-66bd-41f8-9224-15a1e724f1c6\"},\"displayName\":\"Page Node\",\"nodeType\":\"PageNode\",\"x\":139,\"y\":146},\"40cd436a-6090-416c-b523-932e82a38619\":{\"connections\":{\"outcome\":\"aae774bb-dd4a-4d60-b80d-c3481b4cdb6f\"},\"displayName\":\"Email Suspend Node\",\"nodeType\":\"EmailSuspendNode\",\"x\":563,\"y\":193},\"aae774bb-dd4a-4d60-b80d-c3481b4cdb6f\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"displayName\":\"Inner Tree Evaluator\",\"nodeType\":\"InnerTreeEvaluatorNode\",\"x\":767,\"y\":188},\"d82415c8-66bd-41f8-9224-15a1e724f1c6\":{\"connections\":{\"false\":\"40cd436a-6090-416c-b523-932e82a38619\",\"true\":\"40cd436a-6090-416c-b523-932e82a38619\"},\"displayName\":\"Identify Existing User\",\"nodeType\":\"IdentifyExistingUserNode\",\"x\":324,\"y\":152}},\"description\":\"Forgotten Username Tree\",\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":970,\"y\":149},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":982,\"y\":252},\"startNode\":{\"x\":50,\"y\":25}},\"enabled\":true},{\"_id\":\"j01\",\"_rev\":\"41789699\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[]\"},\"entryNodeId\":\"b9c26251-9d4d-4499-b8e9-518f35111dbf\",\"innerTreeOnly\":false,\"nodes\":{\"7e975947-efba-4a50-97ea-7cbe3fbf7416\":{\"connections\":{\"true\":\"aa97f870-d95e-4861-b756-64b6423dd7da\"},\"displayName\":\"level\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":395,\"y\":345.015625},\"aa97f870-d95e-4861-b756-64b6423dd7da\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"displayName\":\"nest\",\"nodeType\":\"InnerTreeEvaluatorNode\",\"x\":816,\"y\":233.015625},\"b9c26251-9d4d-4499-b8e9-518f35111dbf\":{\"connections\":{\"level only\":\"7e975947-efba-4a50-97ea-7cbe3fbf7416\",\"none\":\"aa97f870-d95e-4861-b756-64b6423dd7da\",\"shared and level\":\"fa62ae77-1e86-4939-a773-e428259fac97\",\"shared only\":\"ba0ed11d-850f-4b4a-81bc-0d4ad07736df\"},\"displayName\":\"mode\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":167,\"y\":210.015625},\"ba0ed11d-850f-4b4a-81bc-0d4ad07736df\":{\"connections\":{\"true\":\"aa97f870-d95e-4861-b756-64b6423dd7da\"},\"displayName\":\"shared\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":393,\"y\":259.015625},\"d2c7ef78-6b25-40d6-b58e-6ddca3c1f787\":{\"connections\":{\"true\":\"aa97f870-d95e-4861-b756-64b6423dd7da\"},\"displayName\":\"level\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":598,\"y\":173.015625},\"fa62ae77-1e86-4939-a773-e428259fac97\":{\"connections\":{\"true\":\"d2c7ef78-6b25-40d6-b58e-6ddca3c1f787\"},\"displayName\":\"shared\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":392,\"y\":173.015625}},\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":1236,\"y\":145},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":1236,\"y\":253},\"startNode\":{\"x\":50,\"y\":250}},\"enabled\":true},{\"_id\":\"UpdatePassword\",\"_rev\":\"-101796263\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Passwo[...]
