{
  "log": {
    "_recordingName": "ResourceTypeOps/readResourceType()/1: Get existing resource type by uuid [7d0b246e-d6fc-4c90-b8f8-dcfb99187cb2 - FrodoTestResourceType1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "452480c801de90af45ec6b710d775c41",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/7d0b246e-d6fc-4c90-b8f8-dcfb99187cb2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 436,
            "text": "{\"uuid\":\"7d0b246e-d6fc-4c90-b8f8-dcfb99187cb2\",\"name\":\"FrodoTestResourceType1\",\"description\":\"Frodo Test Resource Type One\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":1696091863171,\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":1696091863171}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1696091864602\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
