{
  "log": {
    "_recordingName": "TreeApi/putTree()/2: Put invalid tree [trailing data]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2bf94d49ce5e8da096e936de7d604d93",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-103faeed-5c60-461f-a4be-658019990a4e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "\"{\\\"entryNodeId\\\":\\\"e301438c-0bd0-429c-ab0c-66126501069a\\\",\\\"nodes\\\":{},\\\"staticNodes\\\":{},\\\"description\\\":\\\"invalid tree def\\\",\\\"identityResource\\\":\\\"managed/alpha_user\\\",\\\"uiConfig\\\":{\\\"categories\\\":\\\"[]\\\"}}\\ntrailing data\""
          },
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/Invalid"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 132,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"The request could not be processed because the provided content is not a JSON object\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-103faeed-5c60-461f-a4be-658019990a4e"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 33,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
