{
  "log": {
    "_recordingName": "TreeApi/putTree()/2: Put invalid tree [trailing data]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "716425a07b1726809607d7021037a16d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7faf970f-890e-4f88-8c05-bffc43e17a7a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "\"{\\\"_id\\\":\\\"Invalid\\\",\\\"entryNodeId\\\":\\\"e301438c-0bd0-429c-ab0c-66126501069a\\\",\\\"nodes\\\":{},\\\"staticNodes\\\":{},\\\"description\\\":\\\"invalid tree def\\\",\\\"identityResource\\\":\\\"managed/alpha_user\\\",\\\"uiConfig\\\":{\\\"categories\\\":\\\"[]\\\"}}\\ntrailing data\""
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/Invalid"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 517,
            "text": "{\"Strict-Transport-Security\":\"max-age=31536000; includeSubDomains; preload;\",\"code\":400,\"reason\":\"Bad Request\",\"message\":\"The request could not be processed because the provided content is not valid JSON\",\"detail\":\"\\\"{\\\\\\\"_id\\\\\\\":\\\\\\\"Invalid\\\\\\\",\\\\\\\"entryNodeId\\\\\\\":\\\\\\\"e301438c-0bd0-429c-ab0c-66126501069a\\\\\\\",\\\\\\\"nodes\\\\\\\":{},\\\\\\\"staticNodes\\\\\\\":{},\\\\\\\"description\\\\\\\":\\\\\\\"invalid tree def\\\\\\\",\\\\\\\"identityResource\\\\\\\":\\\\\\\"managed/alpha_user\\\\\\\",\\\\\\\"uiConfig\\\\\\\":{\\\\\\\"categories\\\\\\\":\\\\\\\"[]\\\\\\\"}}\\\\ntrailing data\\\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"205-PbHJ4mqrT7BrUC/0U+uPFG4uNTw\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7faf970f-890e-4f88-8c05-bffc43e17a7a"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 73,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
