{
  "log": {
    "_recordingName": "TreeApi/putTree()/2: Put invalid tree [trailing data]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a8b1e7f421753cb0fea5394b3e26dd6c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ca1f41e7-c750-4c47-8da3-b3887acc30d0"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "\"{\\n  \\\"entryNodeId\\\": \\\"e301438c-0bd0-429c-ab0c-66126501069a\\\",\\n  \\\"nodes\\\": {},\\n  \\\"staticNodes\\\": {},\\n  \\\"description\\\": \\\"invalid tree def\\\",\\n  \\\"identityResource\\\": \\\"managed/alpha_user\\\",\\n  \\\"uiConfig\\\": {\\n      \\\"categories\\\": \\\"[]\\\"\\n  }\\n}\\ntrailing data\""
          },
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/Invalid"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 132,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"The request could not be processed because the provided content is not a JSON object\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ca1f41e7-c750-4c47-8da3-b3887acc30d0"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 38,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
