{
  "log": {
    "_recordingName": "IgaSodPolicyOps/exportPolicy()/2: Export non-existing policy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4d29fb8e5e8fd0af29b5bf7b719e0c30",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 78,
            "text": "{\"message\":\"Cannot find policy with id: 11111111-1111-1111-1111-111111111111\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4e-VQS+o/sfSxtJyd/WGbs9ooQbpsU\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "0820becb-26b5-432a-bff5-88c8571898f9"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 219,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
