{
  "log": {
    "_recordingName": "IgaSodPolicyRuleOps/deletePolicyRule()/2: Delete non-existing policy rule by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "77e163c10494dd163e95bcb0cf2df65f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/rule/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 87,
            "text": "{\"message\":\"Policy rule with id: 11111111-1111-1111-1111-111111111111 does not exist.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"57-03m0usSiqCLutXtWFsbYPTkxlOI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a365377c-979e-4502-9d6a-f6307248c9f4"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 139,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
