{
  "log": {
    "_recordingName": "SecretsOps/importSecret()/3: Do not import secret if no changes made",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "60e7fd918145cfd79397752e40c8b6b2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 251,
            "text": "{\"_id\":\"esv-frodo-test-secret-2\",\"activeVersion\":\"1\",\"description\":\"description2\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-09-22T14:43:29.831236Z\",\"lastChangedBy\":\"Frodo-SA-1783448612033\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 196,
      },
      {
        "_id": "60e7fd918145cfd79397752e40c8b6b2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "G[...]
