{
  "log": {
    "_recordingName": "ResourceTypeOps/updateResourceType()/1: Update existing resource type [cef1897f-1be5-4025-beed-a155605e2f83 - FrodoTestResourceType5]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d01439401b8a2f2d8c662f136f8be9a8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uuid\":\"cef1897f-1be5-4025-beed-a155605e2f83\",\"name\":\"FrodoTestResourceType5\",\"description\":\"Frodo Test Resource Type Five\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/cef1897f-1be5-4025-beed-a155605e2f83"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 437,
            "text": "{\"uuid\":\"cef1897f-1be5-4025-beed-a155605e2f83\",\"name\":\"FrodoTestResourceType5\",\"description\":\"Frodo Test Resource Type Five\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":1696091863728,\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":1696091865079}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-248276a0-fcf4-4372-8632-bd393117aae8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 132,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
