{
  "log": {
    "_recordingName": "ResourceTypeOps/updateResourceType()/1: Update existing resource type [cef1897f-1be5-4025-beed-a155605e2f83 - FrodoTestResourceType5]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d01439401b8a2f2d8c662f136f8be9a8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2d9bca02-b6b7-428b-8f86-b94a81612f94"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..6hQckJejuCUoC7YCj2oBuA.k21aJO8aJ1kNiHiCVNxH3[...]
