{
  "log": {
    "_recordingName": "AgentOps/exportIdentityGatewayAgents()/1: Export gateway agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fcc396b658a463f5eb6568d38e2d731f",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-195702d5-6ea7-4c3b-85cb-8823d7dbfd85"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2256,
            "text": "{\"result\":[{\"_id\":\"FrodoOpsTestGatewayAgent1\",\"_rev\":\"1234909308\",\"igTokenIntrospection\":\"Realm_Subs\",\"status\":\"Active\",\"igCdssoRedirectUrls\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/forgerock/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/prometheus/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redirect\",\"https://ig.mytestrun.com/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\"],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}},{\"_id\":\"FrodoOpsTestGatewayAgent2\",\"_rev\":\"2103771118\",\"igTokenIntrospection\":\"Realm_Subs\",\"status\":\"Active\",\"igCdssoRedirectUrls\":[],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}},{\"_id\":\"FrodoOpsTestGatewayAgent7\",\"_rev\":\"2103771111\",\"igTokenIntrospection\":\"Realm_Subs\",\"status\":\"Active\",\"igCdssoRedirectUrls\":[],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"[...]
