{
  "log": {
    "_recordingName": "EnvCSRsApi/updateCSR()/2: Update non-existing CSR - error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "76d98a24ec18251c802606b90b42d987",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"certificate\":\"no-certificate\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/csrs/csr-does-not-exist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "f7abfe8f-b603-4a08-bf01-36578857fcc2/0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 71,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
