{
  "log": {
    "_recordingName": "IgaRequestFormOps/deleteRequestForm()/2: Delete non-existing request form by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "361737c89ec1f06f52cfdb4ce9a74af2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "objectId co \"\" and formId eq \"11111111-1111-1111-1111-111111111111\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=formId%20eq%20%2211111111-1111-1111-1111-111111111111%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"totalCount\":0,\"resultCount\":0,\"result\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-iotyA6VuHDnFn3by3ivfMq6YeCA\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "9411acb1-2993-49fe-bd84-49ec3c9c41e2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 135,
      },
      {
        "_id": "15fa5cccb509ce9c537344df91a0af71",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestForms/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Request Form 11111111-1111-1111-1111-111111111111 doesn't exist\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-mt++CDPuuTF9hp6qw6rOgREJ7Vc\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "c252250a-c7df-4096-9430-df2c3b959267"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 104,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
