{
  "log": {
    "_recordingName": "CirclesOfTrustOps/importCirclesOfTrust()/3: Import existing and new circles of trust (filtered by entity providers)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "54c5959fa697111ab81bada4a7f8294e",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ab81237f-9cb3-47ad-9284-f3cbd01b9764"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1133,
            "text": "{\"result\":[{\"_id\":\"c2FsZXMtSURQ\",\"_rev\":\"1148132743\",\"entityId\":\"sales-IDP\",\"location\":\"hosted\",\"roles\":[\"identityProvider\"]},{\"_id\":\"ZW5naW5lZXJpbmctSURQ\",\"_rev\":\"824626824\",\"entityId\":\"engineering-IDP\",\"location\":\"hosted\",\"roles\":[\"identityProvider\"]},{\"_id\":\"aHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzExZmZhOWMtNTk3Mi00NzEzLWFjZTMtNjg4Yzk3MzI2MTRhLw\",\"_rev\":\"761336767\",\"entityId\":\"https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/\",\"location\":\"remote\",\"roles\":[\"identityProvider\"]},{\"_id\":\"Y29tcGFueS1JRFA\",\"_rev\":\"920033637\",\"entityId\":\"company-IDP\",\"location\":\"hosted\",\"roles\":[\"identityProvider\"]},{\"_id\":\"YmVuZWZpdHMtSURQ\",\"_rev\":\"1104456615\",\"entityId\":\"benefits-IDP\",\"location\":\"hosted\",\"roles\":[\"identityProvider\"]},{\"_id\":\"aVNQQXp1cmU\",\"_rev\":\"2065843986\",\"entityId\":\"iSPAzure\",\"location\":\"hosted\",\"roles\":[\"serviceProvider\"]},{\"_id\":\"dXJuOmZlZGVyYXRpb246TWljcm9zb2Z0T25saW5l\",\"_rev\":\"-1154647349\",\"entityId\":\"urn:federation:MicrosoftOnline\",\"location\":\"remote\",\"roles\":[\"serviceProvider\"]}],\"resultCount\":7,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":7,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ab81237f-9cb3-47ad-9284-f3cbd01b9764"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65,
      },
      {
        "_id": "b99c0b053badc3bee559d76455d722b9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ab81237f-9cb3-47ad-9284-f3cbd01b9764"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"AzureCOT\",\"_type\":{\"_id\":\"circlesoftrust\",\"collection\":true,\"name\":\"Circle of Trust\"},\"status\":\"active\",\"trustedProviders\":[\"iSPAzure|saml2\",\"urn:federation:MicrosoftOnline|saml2\",\"https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/|saml2\",\"SPAzure|saml2\",\"https://idc.scheuber.io/am/saml2/IDPAzure|saml2\"]}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/federation/circlesoftrust/?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 90,
            "text": "{\"code\":409,\"reason\":\"Conflict\",\"message\":\"Unable to save config: Service already exists\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ab81237f-9cb3-47ad-9284-f3cbd01b9764"
            }
          ],
          "status[...]
