{
  "log": {
    "_recordingName": "ScriptOps/deleteScriptByName()/1: delete script by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a8164adca1e0bf44ebac017fc5d0f3eb",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ee96d45c-53fa-47c1-826f-a7fa93acec65"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..rJeuF3EnnVbE69gg9OUdsg.krFoGTo0Ijtz5pHSZ0MU-r0KhlOwLP6yi-[...]
