{
  "log": {
    "_recordingName": "AuthenticateApi/step()/1: Single step login journey 'PasswordGrant'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "09a1c7af2686654eda123eb866e7fdb0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f210367f-c755-4ea1-9840-b144afadf619"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "vscheuber@gmail.com"
            },
            {
              "name": "x-openam-password",
              "value": "Password1!"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "authIndexType",
              "value": "service"
            },
            {
              "name": "authIndexValue",
              "value": "PasswordGrant"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/authenticate?authIndexType=service&authIndexValue=PasswordGrant"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 205,
            "text": "{\"tokenId\":\"S4aBkinY3L0Sh2B4jD3vml16N_c.*AAJTSQACMDIAAlNLABxXbzVnNXZvc092aS8rcUIydVhCMXVDQmNUNWc9AAR0eXBlAANDVFMAAlMxAAIwMQ..*\",\"successUrl\":\"https://idc.scheuber.io/enduser/?realm=alpha\",\"realm\":\"/alpha\"}"
          },
            {
              "domain": "openam-volker-dev.forgeblocks.com",
              "httpOnly": true,
              "name": "4ad7d57003aee4f",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "S4aBkinY3L0Sh2B4jD3vml16N_c.*AAJTSQACMDIAAlNLABxXbzVnNXZvc092aS8rcUIydVhCMXVDQmNUNWc9AAR0eXBlAANDVFMAAlMxAAIwMQ..*"
            },
            {
              "domain": ".scheuber.io",
              "httpOnly": true,
              "name": "4ad7d57003aee4f",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "S4aBkinY3L0Sh2B4jD3vml16N_c.*AAJTSQACMDIAAlNLABxXbzVnNXZvc092aS8rcUIydVhCMXVDQmNUNWc9AAR0eXBlAAN[...]
