{
  "log": {
    "_recordingName": "NodeOps/readNode()/1: Read existing node",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7a249b03c479f8c8057e50c533791298",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-193adbdf-127c-407a-9b61-70370c08ee40"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedUsernameNode/67693475-3a58-4e38-bcc6-037b3fe46a58"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 275,
            "text": "{\"_id\":\"67693475-3a58-4e38-bcc6-037b3fe46a58\",\"_rev\":\"1964272313\",\"usernameAttribute\":\"userName\",\"validateInput\":false,\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1964272313\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-193adbdf-127c-407a-9b61-70370c08ee40"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 58,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
