{
  "log": {
    "_recordingName": "NodeApi/createCustomNode()/1: Create custom node",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6779d5a8def50c2a744c600e057a7b6c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21a47d0e-f8d4-4542-978c-06e67383be15"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"a6063fb2f5dc42dd9772bedc93898bd8-1\",\"serviceName\":\"a6063fb2f5dc42dd9772bedc93898bd8\",\"displayName\":\"ALU - TEST\",\"description\":\"Simple ALU that performs basic binary math operations. Expects an \\\"x\\\" and \\\"y\\\" value on the shared state, and will produce a new \\\"z\\\" value on the shared state as output.\",\"outcomes\":[\"Success\"],\"outputs\":[\"z\"],\"inputs\":[\"x\",\"y\"],\"script\":\"var SCRIPT_OUTCOMES = {\\n    SUCCESS: 'Success'\\n};\\n\\nvar OPERATORS = {\\n    ADD: \\\"ADD\\\",\\n    SUBTRACT: \\\"SUBTRACT\\\",\\n    MULTIPLY: \\\"MULTIPLY\\\",\\n    DIVIDE: \\\"DIVIDE\\\"\\n}\\n\\nfunction main() {\\n    var a = Number(properties.a);\\n    var b = Number(properties.b);\\n    switch (properties.operator) {\\n        case OPERATORS.ADD:\\n            nodeState.putShared(\\\"z\\\", a + b);\\n            break;\\n        case OPERATORS.SUBTRACT:\\n            nodeState.putShared(\\\"z\\\", a - b);\\n            break;\\n        case OPERATORS.MULTIPLY:\\n            nodeState.putShared(\\\"z\\\", a * b);\\n            break;\\n        case OPERATORS.DIVIDE:\\n            if (b == 0) throw new Error(\\\"Cannot divide by 0\\\");\\n            nodeState.putShared(\\\"z\\\", a / b);\\n            break;\\n        default: throw new Error(\\\"Unknown operator.\\\");\\n    }\\n    action.goTo(SCRIPT_OUTCOMES.SUCCESS);\\n}\\n\\nmain();\\n\",\"errorOutcome\":true,\"tags\":[\"math\",\"utilities\"],\"properties\":{\"operator\":{\"title\":\"Operator\",\"description\":\"The operation to perform.\",\"type\":\"STRING\",\"required\":true,\"defaultValue\":\"ADD\",\"options\":{\"ADD\":\"+\",\"MULTIPLY\":\"*\",\"SUBTRACT\":\"-\",\"DIVIDE\":\"/\"},\"multivalued\":false}}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1569,
            "text": "{\"_id\":\"a6063fb2f5dc42dd9772bedc93898bd8-1\",\"_rev\":\"249944700\",\"serviceName\":\"a6063fb2f5dc42dd9772bedc93898bd8\",\"displayName\":\"ALU - TEST\",\"description\":\"Simple ALU that performs basic binary math operations. Expects an \\\"x\\\" and \\\"y\\\" value on the shared state, and will produce a new \\\"z\\\" value on the shared state as output.\",\"outcomes\":[\"Success\"],\"outputs\":[\"z\"],\"inputs\":[\"x\",\"y\"],\"script\":\"var SCRIPT_OUTCOMES = {\\n    SUCCESS: 'Success'\\n};\\n\\nvar OPERATORS = {\\n    ADD: \\\"ADD\\\",\\n    SUB[...]
