{
  "log": {
    "_recordingName": "Saml2Ops/importSaml2Providers()/2: Import providers no deps",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2af1a339660694d34bc7169448c18b7c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-025ab1eb-8650-4154-a903-a21f85c8a241"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQQXp1cmU\",\"_rev\":\"1637076051\",\"entityId\":\"https://idc.scheuber.io/am/saml2/IDPAzure\",\"identityProvider\":{\"assertionContent\":{\"signingAndEncryption\":{\"requestResponseSigning\":{\"authenticationRequest\":false,\"artifactResolve\":false,\"logoutRequest\":false,\"logoutResponse\":false,\"manageNameIdRequest\":false,\"manageNameIdResponse\":false},\"encryption\":{\"nameIdEncryption\":false},\"secretIdAndAlgorithms\":{}},\"nameIdFormat\":{\"nameIdFormatList\":[\"urn:oasis:names:tc:SAML:2.0:nameid-format:persistent\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:transient\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName\"],\"nameIdValueMap\":[{\"key\":\"urn:oasis:names:tc:SAML:2.0:nameid-format:persistent\",\"value\":\"mail\",\"binary\":false},{\"key\":\"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress\",\"value\":\"mail\",\"binary\":false}]},\"authenticationContext\":{\"authenticationContextMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAuthnContextMapper\",\"authContextItems\":[{\"contextReference\":\"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport\",\"key\":\"service\",\"value\":\"Login\",\"level\":0}]},\"assertionTime\":{\"notBeforeTimeSkew\":600,\"effectiveTime\":600},\"basicAuthentication\":{\"enabled\":false},\"assertionCache\":{\"enabled\":false}},\"assertionProcessing\":{\"attributeMapper\":{\"attributeMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAttributeMapper\",\"attributeMap\":[{\"samlAttribute\":\"IDPEmail\",\"localAttribute\":\"mail\",\"binary\":false},{\"samlAttribute\":\"UOPClassID\",\"localAttribute\":\"UOPClassID\",\"binary\":false}]},\"accountMapper\":{\"accountMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAccountMapper\",\"disableNameIdPersistence\":true},\"localConfiguration\":{\"authUrl\":\"\"}},\"services\":{\"metaAlias\":\"/alpha/IDPAzure\",\"serviceAttributes\":{\"artifactResolutionService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/ArtifactResolver/metaAlias/alpha/IDPAzure\"}],\"singleLogoutService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/IDPSloRedirect/metaAlias/alpha/IDPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPSloRedirect/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/IDPSloPOST/metaAlias/alpha/IDPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPSloPOST/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/IDPSloSoap/metaAlias/alpha/IDPAzure\"}],\"nameIdService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/IDPMniRedirect/metaAlias/alpha/IDPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPMniRedirect/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/IDPMniPOST/metaAlias/alpha/IDPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPMniPOST/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/IDPMniSoap/metaAlias/alpha/IDPAzure\"}],\"singleSignOnService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/SSORedirect/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/SSOPOST/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/SSOSoap/metaAlias/alpha/IDPAzure\"}]},\"nameIdMapping\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/NIMSoap/metaAlias/alpha/IDPAzure\"}],\"assertionIdRequest\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/AIDReqSoap/IDPRole/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:URI\",\"location\":\"https://idc.scheuber.io/am/AIDReqUri/IDPRole/metaAlias/alpha/IDPAzure\"}]},\"advanced\":{\"saeConfiguration\":{\"idpUrl\":\"https://idc.scheuber.io/am/idpsaehandler/metaAlias/alpha/IDPAzure\"},\"ecpConfiguration\":{\"idpSessionMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPECPSessionMapper\"},\"sessionSynchronization\":{\"enabled\":false},\"idpFinderImplementation\":{\"enableProxyIdpFinderForAllSps\":false},\"relayStateUrlList\":{},\"idpAdapter\":{\"idpAdapterScript\":\"85523e71-2d77-4577-b078-6f9674cc54e2\"}}}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2/hosted/?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 123,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"The Meta Alias \\\"/alpha/IDPAzure\\t\\\" already exists under realm \\\"/alpha\\\".\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-025ab1eb-8650-4154-a903-a21f85c8a241"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 111,
      },
      {
        "_id": "6825d1b798850d83f0e165c9fbd1b104",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-025ab1eb-8650-4154-a903-a21f85c8a241"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
 [...]
