{
  "log": {
    "_recordingName": "IgaGlossaryOps/updateGlossarySchema()/2: Update non-existing glossary schema",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "21816800e42595a6c4fd2c200070b0e2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"testInteger\",\"description\":\"Test Integer Description\",\"displayName\":\"Test Integer Display Name\",\"type\":\"integer\",\"objectType\":\"/openidm/managed/assignment\",\"isMultiValue\":true,\"enumeratedValues\":[{\"text\":1,\"value\":0},{\"text\":2,\"value\":1},{\"text\":3,\"value\":2}],\"searchable\":false,\"allowedValues\":[0,1,2],\"id\":\"16c42f91-43a0-4b89-8ece-0221df554aa4\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 69,
            "text": "{\"message\":\"Cannot read properties of undefined (reading '_source')\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"45-ZwTS0orWoDYmkvIr8+eny8IwvAo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 94,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
