{
  "log": {
    "_recordingName": "EnvCertificatesApi/getCertificate()/1: Get existing certificate - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "df0951c2654846ee50702a1052d3a8b9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-663eca03-10c3-4ad2-96b8-6ab83c4aea2d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 378,
            "text": "{\"active\":false,\"expireTime\":\"2025-08-01T22:01:54Z\",\"id\":\"ccrt-663eca03-10c3-4ad2-96b8-6ab83c4aea2d\",\"issuer\":\"CN=frodo-dev1.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev1.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-01T22:01:54Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "8cf40c10-dc05-40f6-846f-c7cedc4c8701/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 78,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
