{
  "log": {
    "_recordingName": "StartupOps/Phase 2/applyUpdates()/1: Apply updates and wait for completion",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "701e5d48c4fb8ab58936f4e55b27b465",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/startup"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 26,
            "text": "{\"restartStatus\":\"ready\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "575aaae6-9b61-41a0-9865-fadb22ddbd45"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 257,
      },
      {
        "_id": "780c072ae487ecf3639e0672ad0ded04",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": []
          },
          "queryString": [
            {
              "name": "_action",
              "value": "restart"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/startup?_action=restart"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 31,
            "text": "{\"restartStatus\":\"restarting\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "0cef4f3b-404a-4f93-9ce6-eff4431c2ae9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 218,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
