{
  "log": {
    "_recordingName": "AgentOps/readAgentByTypeAndId()/3: Read agent by type 'FrodoOpsTestWebAgent1' (WebAgent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fb688455998291e8f0fcef6b29afc931",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a6cda95-61ab-4c69-b61e-d299885e8f92"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/WebAgent/FrodoOpsTestWebAgent1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6619,
            "text": "{\"_id\":\"FrodoOpsTestWebAgent1\",\"_rev\":\"-56934604\",\"miscWebAgentConfig\":{\"anonymousUserId\":{\"inherited\":false,\"value\":\"anonymous\"},\"profileAttributesCookieMaxAge\":{\"inherited\":false,\"value\":300},\"urlJsonResponse\":{\"inherited\":false,\"value\":[\"\"]},\"caseInsensitiveUrlComparison\":{\"inherited\":false,\"value\":true},\"compositeAdviceRedirect\":{\"inherited\":false,\"value\":false},\"compositeAdviceEncode\":{\"inherited\":false,\"value\":false},\"addCacheControlHeader\":{\"inherited\":false,\"value\":true},\"anonymousUserEnabled\":{\"inherited\":false,\"value\":false},\"invalidUrlRegex\":{\"inherited\":false},\"ignorePathInfo\":{\"inherited\":false,\"value\":false},\"invertUrlJsonResponse\":{\"inherited\":false,\"value\":false},\"statusCodeJsonResponse\":{\"inherited\":false,\"value\":202},\"headerJsonResponse\":{\"inherited\":false,\"value\":{}},\"encodeSpecialCharsInCookies\":{\"inherited\":false,\"value\":false},\"gotoParameterName\":{\"inherited\":false,\"value\":\"goto\"},\"encodeUrlSpecialCharacters\":{\"inherited\":false,\"value\":false},\"mineEncodeHeader\":{\"inherited\":false,\"value\":0},\"profileAttributesCookiePrefix\":{\"inherited\":false,\"value\":\"HTTP_\"}},\"advancedWebAgentConfig\":{\"overrideRequestHost\":{\"inherited\":false,\"value\":true},\"pdpSkipPostUrl\":{\"inherited\":false,\"value\":[\"\"]},\"pdpStickySessionValue\":{\"inherited\":false},\"postDataPreservation\":{\"inherited\":false,\"value\":false},\"hostnameToIpAddress\":{\"inherited\":false,\"value\":[]},\"showPasswordInHeader\":{\"inherited\":false,\"value\":false},\"overrideRequestProtocol\":{\"inherited\":false,\"value\":true},\"clientIpHeader\":{\"inherited\":false},\"replayPasswordKey\":{\"inherited\":false},\"customProperties\":{\"inherited\":false,\"value\":[]},\"postDataCachePeriod\":{\"inherited\":false,\"value\":10},\"retainSessionCache\":{\"inherited\":false,\"value\":false},\"pdpJavascriptRepost\":{\"inherited\":false,\"value\":false},\"pdpStickySessionMode\":{\"inherited\":false,\"value\":\"OFF\"},\"overrideRequestPort\":{\"inherited\":false,\"value\":true},\"apacheAuthDirectives\":{\"inherited\":false},\"clientHostnameHeader\":{\"inherited\":false},\"fragmentRedirectEnabled\":{\"inherited\":false,\"value\":false},\"pdpStickySessionCookieName\":{\"inherited\":false},\"logonAndImpersonation\":{\"inherited\":false,\"value\":false}},\"ssoWebAgentConfig\":{\"cookieResetList\":{\"inherited\":false,\"value\":[\"\"]},\"cdssoRedirectUri\":{\"inherited\":false,\"value\":\"agent/cdsso-oauth2\"},\"persistentJwtCookie\":{\"inherited\":false,\"value\":false},\"secureCookies\":{\"inherited\":false,\"value\":false},\"acceptSsoToken\":{\"inherited\":false,\"value\":false},\"cookieResetOnRedirect\":{\"inherited\":false,\"value\":false},\"sameSite\":{\"inherited\":false},\"cdssoCookieDomain\":{\"inherited\":false,\"value\":[\"\"]},\"cookieResetEnabled\":{\"inherited\":false,\"value\":false},\"cookieName\":{\"inherited\":false,\"value\":\"iPlanetDirectoryPro\"},\"multivaluePreAuthnCookie\":{\"inherited\":false,\"value\":false},\"httpOnly\":{\"inherited\":false,\"value\":true}},\"amServicesWebAgent\":{\"policyClockSkew\":{\"inherited\":false,\"value\":0},\"enableLogoutRegex\":{\"inherited\":false,\"value\":false},\"policyEvaluationRealm\":{\"inherited\":false,\"value\":\"/alpha\"},\"fetchPoliciesFromRootResource\":{\"inherited\":false,\"value\":false},\"logoutUrlRegex\":{\"inherited\":false},\"conditionalLoginUrl\":{\"inherited\":false,\"value\":[\"mytestrun.com|https://idc.scheuber.io:443/am/oauth2/authorize?realm=/alpha\"]},\"customLoginMode\":{\"inherited\":false,\"value\":0},\"invalidateLogoutSession\":{\"inherited\":false,\"value\":true},\"logoutResetCookies\":{\"inherited\":false,\"value\":[\"\"]},\"logoutRedirectUrl\":{\"inherited\":false},\"regexConditionalLoginUrl\":{\"inherited\":false,\"value\":[\"\"]},\"policyCachePollingInterval\":{\"inherited\":false,\"value\":3},\"regexConditionalLoginPattern\":{\"inherited\":false,\"value\":[\"\"]},\"logoutRedirectDisabled\":{\"inherited\":false,\"value\":false},\"retrieveClientHostname\":{\"inherited\":false,\"value\":false},\"applicationLogoutUrls\":{\"inherited\":false,\"value\":[\"\"]},\"userIdParameterType\":{\"inherited\":false,\"value\":\"session\"},\"publicAmUrl\":{\"inherited\":false},\"userIdParameter\":{\"inherited\":false,\"value\":\"UserToken\"},\"amLoginUrl\":{\"inherited\":false,\"value\":[\"https://idc.scheuber.io/login?realm=/alpha\"]},\"policyEvaluationApplication\":{\"inherited\":false,\"value\":\"apps\"},\"amLogoutUrl\":{\"inherited\":false,\"value\":[\"https://idc.scheuber.io:443/am/UI/Logout\"]},\"ssoCachePollingInterval\":{\"inherited\":false,\"value\":3}},\"applicationWebAgentConfig\":{\"profileAttributeFetchMode\":{\"inherited\":false,\"value\":\"NONE\"},\"clientIpValidation\":{\"inherited\":false,\"value\":false},\"notEnforcedIpsRegex\":{\"inherited\":false,\"value\":false},\"continuousSecurityCookies\":{\"inherited\":false,\"value\":{}},\"fetchAttributesForNotEnforcedUrls\":{\"inherited\":false,\"value\":false},\"ignorePathInfoForNotEnforcedUrls\":{\"inherited\":false,\"value\":true},\"responseAttributeFetchMode\":{\"inherited\":false,\"value\":\"NONE\"},\"attributeMultiValueSeparator\":{\"inherited\":false,\"value\":\"|\"},\"profileAttributeMap\":{\"inherited\":false,\"value\":{}},\"sessionAttributeFetchMode\":{\"inherited\":false,\"value\":\"NONE\"},\"continuousSecurityHeaders\":{\"inherited\":false,\"value\":{}},\"notEnforcedIpsList\":{\"inherited\":false,\"value\":[\"\"]},\"responseAttributeMap\":{\"inherited\":false,\"value\":{}},\"notEnforcedUrls\":{\"inherited\":false,\"value\":[\"\",\"https://apps.mytestrun.com/app1/*\"]},\"sessionAttributeMap\":{\"inherited\":false,\"value\":{}},\"notEnforcedUrlsRegex\":{\"inherited\":false,\"value\":false},\"invertNotEnforcedUrls\":{\"inherited\":false,\"value\":false},\"notEnforcedIps\":{\"inherited\":false,\"value\":[\"\"]}},\"globalWebAgentConfig\":{\"repositoryLocation\":\"centralized\",\"agentDebugLevel\":{\"inherited\":false,\"value\":\"Info\"},\"fqdnDefault\":{\"inherited\":false,\"value\":\"apps.mytestrun.com\"},\"webSocketConnectionIntervalInMinutes\":{\"inherited\":false,\"value\":30},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"configurationPollingInterval\":{\"inherited\":false,\"value\":60},\"auditLogLocation\":{\"inherited\":false,\"value\":\"ALL\"},\"fqdnCheck\":{\"inherited\":false,\"value\":false},\"amLbCookieEnable\":{\"inherited\":false,\"value\":false},\"fqdnMapping\":{\"inherited\":false,\"value\":{}},\"accessDeniedUrl\":{\"inherited\":false},\"resetIdleTime\":{\"inherited\":false,\"value\":false},\"ssoOnlyMode\":{\"inherited\":false,\"value\":false},\"auditAccessType\":{\"inherited\":false,\"value\":\"LOG_BOTH\"},\"notificationsEnabled\":{\"inherited\":false,\"value\":true},\"agentUriPrefix\":{\"inherited\":false,\"value\":\"https://apps.mytestrun.com:443/amagent\"},\"disableJwtAudit\":{\"inherited\":false,\"value\":false},\"jwtName\":{\"inherited\":false,\"value\":\"am-auth-jwt\"},\"cdssoRootUrl\":{\"inherited\":false,\"value\":[\"agentRootURL=https://apps.mytestrun.com:443/\"]},\"agentConfigChangeNotificationsEnabled\":{\"inherited\":false,\"value\":true},\"jwtAuditWhitelist\":{\"inherited\":false}},\"_type\":{\"_id\":\"WebAgent\",\"name\":\"Web Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-56934604\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a6cda95-61ab-4c69-b61e-d299885e8f92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 80,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
