{
  "log": {
    "_recordingName": "PolicyOps/getPolicy()/1: Get existing policy [FrodoTestPolicy1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "08af297ecfad20e657e8c4ac0f287315",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c36578b4-1837-40da-9541-ae0fdd04207d"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..NfIprH-ngiwsMUv_lgObpw.JUgmwc3yomgypvrs9KhgQ03U4wHFnW5Q_yO1xw9agP26Xav[...]
