{
  "log": {
    "_recordingName": "ThemeOps/updateThemes()/2: Update 1 and add 1 bravo themes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8491b762ea9e0d6de34b91e8d5d97a4d",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21330d3f-5cb4-46e6-98dc-5997f7930ebe"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..jVD_ozaDkQOAu4owPJWhNQ.YD3q81LXQH81Zax2B5p4-HF3UJLsXcPksIB1BJ7cu1PSfusFYNnDKR7AvgwmLkZVaHQn4auuKSj-VYaYZUKLGPJQVBQaAZHkzXu1TdhN4efZFEK02M4yLFg5VitF1iQrRHtkhglqFjoZ0xkSkjtcRNg-AsLLt94JbXHtBl3Wd0Mk3rB-TqrdezC8-v2jYgPUeIUnHENzb6KBMljFl7Ux858uZoxWmRYV_JFKkZ_UDAFnrJli92hmrI6YbDPNo7eRs47YeIcWmVRjUAMYicFDuB99HgfbO_K-6PHRZJIxd8S69eAkPr3-nV2iXeRa6zgL0M1UR3jf_-fU6RAhRHinylvFb0g7VMofPZG_Lf63JM5IDEK1LSLk774rg66EzPRzbv_r_CfFgyytnxt52J-op4_pSEqJHXfZ-tA6mklttw4f35pm4j8kZVq7W7il89kxCLht_UrjB_mYQX1UUFBTL2Ch0YJASNy5wdM-U84jPego4MnqofWmG9WpBI4dKxP_wY__jsl3WGjXhsUZDNSUMXquPlOmae5XbKq-4OJ0UDGDdbPA0eAEJqFc-hLcfmZUu3ctvoTOqBrNrbaY3-oW3SMH1q1y3MqiurZWumDL-ZdMXnQHPfYKIqDwhLdqjk8_0g0oPCzTEqGKPZSbEv2cbp4hywW4cdWnMLbkTstTndfRTwdIjkFfYmR1Q5M0PbppjLGU7PxfsLBJBxd6c04CA_mUGAUqq1qWaU75-JxhkhSHCO1Xil6C2pwea_wgdkrQQv4K8FgXJ0j7PI8ldYdkBo1XYYtarIYsDD3-MSko7lGg0RNCGRmVd6-tzcVVt0tvZZyg8StRFgWEBdUa2KauPOdU75M_K9uBWdwoWjiZZCIR4NhAcfSxNACEFFfszWADbrWfoFJA-n3-e66bINyujwBkDRs5ss-mbKvE2C4qc4yjbXlQsmwIW9BuHNfxZk2-sGolGxtGBFuNvDPRbBWyEkRwApBy-DkURVFpEs1mf4WzziEViYEyoG9ZnMPDZ9x1WiaRfUxs7EIaXqhz0OtzbX4diXOxu2AwMwBzf5HHQJk.oi1BOjc1RLBLTNfLWVDEGw"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/ui/themerealm"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 9325,
            "text": "{\"_id\":\"ui/themerealm\",\"realm\":{\"alpha\":[{\"accountFooter\":\"<div class=\\\"d-flex justify-content-center py-4 w-100\\\"><span class=\\\"pr-1\\\">© 2021</span>\\n<a href=\\\"#\\\" target=\\\"_blank\\\" class=\\\"text-body\\\">My Company, Inc</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Privacy Policy</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Terms & Conditions</a></div>\",\"accountFooterEnabled\":false,\"accountPageSections\":{\"accountControls\":{\"enabled\":false},\"accountSecurity\":{\"enabled\":true,\"subsections\":{\"password\":{\"enabled\":true},\"securityQuestions\":{\"enabled\":false},\"twoStepVerification\":{\"enabled\":true},\"username\":{\"enabled\":true}}},\"consent\":{\"enabled\":false},\"oauthApplications\":{\"enabled\":false},\"personalInformation\":{\"enabled\":true},\"preferences\":{\"enabled\":false},\"social\":{\"enabled\":false},\"trustedDevices\":{\"enabled\":true}},\"backgroundColor\":\"#FFFFFF\",\"backgroundImage\":\"\",\"bodyText\":\"#000000\",\"buttonRounded\":\"0\",\"dangerColor\":\"#f7685b\",\"favicon\":\"\",\"isDefault\":false,\"journeyFooter\":\"<div class=\\\"d-flex justify-content-center py-4 w-100\\\"><span class=\\\"pr-1\\\">© 2021</span>\\n<a href=\\\"#\\\" target=\\\"_blank\\\" class=\\\"text-body\\\">My Company, Inc</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Privacy Policy</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Terms & Conditions</a></div>\",\"journeyFooterEnabled\":false,\"journeyHeader\":\"<div class=\\\"d-flex justify-content-center py-4 flex-grow-1\\\">Header Content</div>\",\"journeyHeaderEnabled\":false,\"journeyJustifiedContent\":\"\",\"journeyJustifiedContentEnabled\":false,\"journeyLayout\":\"card\",\"journeyTheaterMode\":false,\"linkActiveColor\":\"#000000\",\"linkColor\":\"#000000\",\"linkedTrees\":[],\"logo\":\"https://cdn.forgerock.com/platform/themes/contrast/logo-contrast.svg\",\"logoAltText\":\"Contrast\",\"logoEnabled\":true,\"logoHeight\":\"72\",\"logoProfile\":\"data:image/svg+xml,%0A%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.3477 13.5664H43.9438C43.5192 12.6317 43.0319 11.734 42.4905 10.8711H24.3477V13.5664Z' fill='black'/%3E%3Cpath d='M24.3477 8.17578H40.5261C39.6996 7.2052 38.7974 6.30182 37.8224 5.48047H24.3477V8.17578Z' fill='black'/%3E%3Cpath d='M24.3477 40.5195H37.8224C38.7975 39.6982 39.6996 38.7948 40.5261 37.8242H24.3477V40.5195Z' fill='black'/%3E%3Cpath d='M24.3477 2.78516H33.8482C31.0136 1.27039 27.7313 0.198195 24.3477 0V2.78516Z' fill='black'/%3E%3Cpath d='M24.3477 18.957H45.6208C45.4566 18.0405 45.2557 17.1372 44.9856 16.2617H24.3477V18.957Z' fill='black'/%3E%3Cpath d='M24.3477 21.6523V24.3477H45.9317C45.958 23.8992 46 23.4549 46 23C46 22.5451 45.958 22.1008 45.9317 21.6523H24.3477Z' fill='black'/%3E%3Cpath d='M0 23C0 35.1781 9.64778 45.2964 21.6523 46V0C9.64778 0.703566 0 10.8219 0 23Z' fill='black'/%3E%3Cpath d='M24.3477 46C27.7313 45.8018 31.0136 44.7296 33.8482 43.2148H24.3477V46Z' fill='black'/%3E%3Cpath d='M45.6208 27.043H24.3477V29.7383H44.9857C45.2557 28.8628 45.4566 27.9595 45.6208 27.043V27.043Z' fill='black'/%3E%3Cpath d='M24.3477 35.1289H42.4905C43.0319 34.266 43.5192 33.3683 43.9438 32.4336H24.3477V35.1289Z' fill='black'/%3E%3C/svg%3E%0A\",\"logoProfileAltText\":\"Contrast\",\"logoProfileCollapsed\":\"data:image/svg+xml,%0A%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.3477 13.5664H43.9438C43.5192 12.6317 43.0319 11.734 42.4905 10.8711H24.3477V13.5664Z' fill='black'/%3E%3Cpath d='M24.3477 8.17578H40.5261C39.6996 7.2052 38.7974 6.30182 37.8224 5.48047H24.3477V8.17578Z' fill='black'/%3E%3Cpath d='M24.3477 40.5195H37.8224C38.7975 39.6982 39.6996 38.7948 40.5261 37.8242H24.3477V40.5195Z' fill='black'/%3E%3Cpath d='M24.3477 2.78516H33.8482C31.0136 1.27039 27.7313 0.198195 24.3477 0V2.78516Z' fill='black'/%3E%3Cpath d='M24.3477 18.957H45.6208C45.4566 18.0405 45.2557 17.1372 44.9856 16.2617H24.3477V18.957Z' fill='black'/%3E%3Cpath d='M24.3477 21.6523V24.3477H45.9317C45.958 23.8992 46 23.4549 46 23C46 22.5451 45.958 22.1008 45.9317 21.6523H24.3477Z' fill='black'/%3E%3Cpath d='M0 23C0 35.1781 9.64778 45.2964 21.6523 46V0C9.64778 0.703566 0 10.8219 0 23Z' fill='black'/%3E%3Cpath d='M24.3477 46C27.7313 45.8018 31.0136 44.7296 33.8482 43.2148H24.3477V46Z' fill='black'/%3E%3Cpath d='M45.6208 27.043H24.3477V29.7383H44.9857C45.2557 28.8628 45.4566 27.9595 45.6208 27.043V27.043Z' fill='black'/%3E%3Cpath d='M24.3477 35.1289H42.4905C43.0319 34.266 43.5192 33.3683 43.9438 32.4336H24.3477V35.1289Z' fill='black'/%3E%3C/svg%3E%0A\",\"logoProfileCollapsedAltText\":\"\",\"logoProfileCollapsedHeight\":\"22\",\"logoProfileHeight\":\"22\",\"name\":\"Contrast\",\"pageTitle\":\"#23282e\",\"primaryColor\":\"#000000\",\"primaryOffColor\":\"#000000\",\"profileBackgroundColor\":\"#FFFFFF\",\"profileMenuHighlightColor\":\"#FFFFFF\",\"profileMenuHoverColor\":\"#FFFFFF\",\"profileMenuHoverTextColor\":\"#000000\",\"profileMenuTextHighlightColor\":\"#455469\",\"secondaryColor\":\"#69788b\",\"textColor\":\"#ffffff\",\"_id\":\"84bbd22e-6def-459f-91c9-4c9aa4e0bec0\"},{\"_id\":\"a5420670-bae8-4ad6-9595-8477f6bca2c7\",\"accountCardBackgroundColor\":\"#ffffff\",\"accountCardHeaderColor\":\"#23282e\",\"accountCardInnerBorderColor\":\"#e7eef4\",\"accountCardInputBackgroundColor\":\"#ffffff\",\"accountCardInputBorderColor\":\"#c0c9d5\",\"accountCardInputLabelColor\":\"#5e6d82\",\"accountCardInputSelectColor\":\"#e4f4fd\",\"accountCardInputTextColor\":\"#23282e\",\"accountCardOuterBorderColor\":\"#e7eef4\",\"accountCardShadow\":3,\"accountCardTabActiveBorderColor\":\"#109cf1\",\"accountCardTabActiveColor\":\"#e4f4fd\",\"accountCardTextColor\":\"#5e6d82\",\"accountFooter\":\"<div class=\\\"d-flex justify-content-center py-4 w-100\\\"><span class=\\\"pr-1\\\">© 2021</span>\\n<a href=\\\"#\\\"target=\\\"_blank\\\"class=\\\"text-body\\\">My Company, Inc</a><a href=\\\"#\\\"target=\\\"_blank\\\"style=\\\"color:#0000ee\\\"class=\\\"pl-3 text-body\\\">Privacy Policy</a><a href=\\\"#\\\"target=\\\"_blank\\\"style=\\\"color:#0000ee\\\"class=\\\"pl-3 text-body\\\">Terms & Conditions</a></div>\",\"accountFooterEnabled\":false,\"accountNavigationBackgroundColor\":\"#ffffff\",\"accountNavigationTextColor\":\"#455469\",\"accountNavigationToggleBorderColor\":\"#e7eef4\",\"accountPageSections\":{\"accountControls\":{\"enabled\":true},\"accountSecurity\":{\"enabled\":true,\"subsections\":{\"password\":{\"enabled\":true},\"securityQuestions\":{\"enabled\":true},\"twoStepVerification\":{\"enabled\":true},\"username\":{\"enabled\":true}}},\"consent\":{\"enabled\":true},\"oauthApplications\":{\"enabled\":true},\"personalInformation\":{\"enabled\":true},\"preferences\":{\"enabled\":true},\"social\":{\"enabled\":true},\"trustedDevices\":{\"enabled\":true}},\"accountTableRowHoverColor\":\"#f6f8fa\",\"backgroundColor\":\"#324054\",\"backgroundImage\":\"https://pbs.twimg.com/media/EX_c_ZiVcAABUz9.jpg\",\"bodyText\":\"#23282e\",\"boldLinks\":false,\"buttonRounded\":\"4\",\"dangerColor\":\"#f7685b\",\"favicon\":\"https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c04a0286-ea69-445d-9d2b-a05a67af92b9/d9skivx-86eab94e-a3b9-49fa-b1d1-da73642fe550.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MwNGEwMjg2LWVhNjktNDQ1ZC05ZDJiLWEwNWE2N2FmOTJiOVwvZDlza2l2eC04NmVhYjk0ZS1hM2I5LTQ5ZmEtYjFkMS1kYTczNjQyZmU1NTAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.y2v-qONWeg4d4dY28BjLxknae_xnCh6vA2LkE96rdlY\",\"fontFamily\":\"Open Sans\",\"isDefault\":true,\"journeyCardBackgroundColor\":\"#ffffff\",\"journeyCardShadow\":3,\"journeyCardTextColor\":\"#5e6d82\",\"journeyCardTitleColor\":\"#23282e\",\"journeyFooter\":\"<div class=\\\"d-flex justify-content-center py-4 w-100\\\"><span class=\\\"pr-1\\\">© 2021</span>\\n<a href=\\\"#\\\"target=\\\"_blank\\\"class=\\\"text-body\\\">My Company, Inc</a><a href=\\\"#\\\"target=\\\"_blank\\\"style=\\\"color:#0000ee\\\"class=\\\"pl-3 text-body\\\">Privacy Policy</a><a href=\\\"#\\\"target=\\\"_blank\\\"style=\\\"color:#0000ee\\\"class=\\\"pl-3 text-body\\\">Terms & Conditions</a></div>\",\"journeyFooterEnabled\":false,\"journeyHeader\":\"<div class=\\\"d-flex justify-content-center py-4 flex-grow-1\\\">Header Content</div>\",\"journeyHeaderEnabled\":false,\"journeyInputBackgroundColor\":\"#ffffff\",\"journeyInputBorderColor\":\"#c0c9d5\",\"journeyInputLabelColor\":\"#5e6d82\",\"journeyInputSelectColor\":\"#e4f4fd\",\"journeyInputTextColor\":\"#23282e\",\"journeyJustifiedContent\":\"\",\"journeyJustifiedContentEnabled\":false,\"journeyLayout\":\"card\",\"journeyTheaterMode\":false,\"linkActiveColor\":\"#0A6EAB\",\"linkColor\":\"#109CF1\",\"linkedTrees\":[],\"logo\":\"https://upload.wikimedia.org/wikipedia/commons/b/bd/The_Expanse_logo.png\",\"logoAltText\":\"TransUnion\",\"logoEnabled\":true,\"logoHeight\":\"40\",\"logoProfile\":\"https://upload.wikimedia.org/wikipedia/commons/b/bd/The_Expanse_logo.png\",\"logoProfileAltText\":\"TransUnion\",\"logoProfileCollapsed\":\"\",\"logoProfileCollapsedAltText\":\"\",\"logoProfileCollapsedHeight\":\"24\",\"logoProfileHeight\":\"40\",\"name\":\"Expanse\",\"pageTitle\":\"#23282e\",\"primaryColor\":\"#324054\",\"primaryOffColor\":\"#242E3C\",\"profileBackgroundColor\":\"#FFFFFF\",\"profileMenuHighlightColor\":\"#f3f5f8\",\"profileMenuHoverColor\":\"#109cf1\",\"profileMenuHoverTextColor\":\"#ffffff\",\"profileMenuTextHighlightColor\":\"#D81B1B\",\"secondaryColor\":\"#69788b\",\"switchBackgroundColor\":\"#c0c9d5\",\"textColor\":\"#FFFFFF\",\"topBarBackgroundColor\":\"#ffffff\",\"topBarBorderColor\":\"#e7eef4\",\"topBarHeaderColor\":\"#23282e\",\"topBarTextColor\":\"#69788b\"}]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21330d3f-5cb4-46e6-98dc-5997f7930ebe"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 48,
      },
      {
        "_id": "b0dc05cad2b01324efa6ec7a74ee6946",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21330d3f-5cb4-46e6-98dc-5997f7930ebe"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMj[...]
