{
  "log": {
    "_recordingName": "ThemeOps/deleteThemes()/4: Delete all themes in non-existent realm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8491b762ea9e0d6de34b91e8d5d97a4d",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-01202a7d-8c81-4078-94cc-79c456bbcd41"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/ui/themerealm"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"_id\":\"ui/themerealm\",\"realm\":{\"/\":[],\"alpha\":[],\"bravo\":[]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-01202a7d-8c81-4078-94cc-79c456bbcd41"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 44,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
