{
  "log": {
    "_recordingName": "SecretsOps/updateSecretDescription()/2: Do not update secret description when no changes are made",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "90c7a532c20a75a0de225d9d730bc043",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-17"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 253,
            "text": "{\"_id\":\"esv-frodo-test-secret-17\",\"activeVersion\":\"1\",\"description\":\"description17\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-09-22T14:49:42.644518Z\",\"lastChangedBy\":\"Frodo-SA-1783448612033\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 244,
      },
      {
        "_id": "90c7a532c20a75a0de225d9d730bc043",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "G[...]
