{
  "log": {
    "_recordingName": "IgaWorkflowOps/deleteDraftWorkflow()/1: Delete existing draft workflow by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4dbfc6eefbe715eec379dba1d2053ded",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/workflow/testWorkflow4/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 67,
            "text": "{\"message\":\"Definition with id:testWorkflow4 deleted successfully\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"43-giHJ72YZNmK5Bv4ZO65AKqq47qw\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "7e247608-2133-419e-9e5a-de8128fb4120"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 876,
      },
      {
        "_id": "978923321104aeac19b9f093c04de34a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "(objectId sw \"workflow/testWorkflow4\")"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=%28objectId%20sw%20%22workflow%2FtestWorkflow4%22%29&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 262,
            "text": "{\"totalCount\":1,\"resultCount\":1,\"result\":[{\"formId\":\"fa1a5e72-d803-4879-bc2a-07a5da3d8ee9\",\"objectId\":\"workflow/testWorkflow4/node/approvalTask-7e33e73d6763\",\"metadata\":{\"modifiedDate\":\"2026-02-20T21:31:19.905Z\",\"createdDate\":\"2026-02-20T21:30:16.769316561Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"106-CNXjnpidZLK3F59+N9txuJjKCh8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "43488610-b7a1-4ce7-8874-8a9e4ca06f54"
            }
          ],
          "status": 200,[...]
