{
  "log": {
    "_recordingName": "TelemetryOps/Telemetry lifecycle/Import, export, update, read, and delete OTLP exporter by category",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8e65e5c72834741c1f74d412d782d386",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"frodo-test-otlp-1\",\"endpoint\":\"https://example.com/v1/logs\",\"sources\":[\"am-access\"],\"type\":\"HTTP\",\"encoding\":\"JSON\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry/otlp/frodo-test-otlp-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 124,
            "text": "{\"encoding\":\"JSON\",\"endpoint\":\"https://example.com/v1/logs\",\"id\":\"frodo-test-otlp-1\",\"sources\":[\"am-access\"],\"type\":\"HTTP\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 738,
      },
      {
        "_id": "57bf757514e1f173e18a166243bfc9a2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/telemetry"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 147,
            "text": "{\"otlp\":[{\"encoding\":\"JSON\",\"endpoint\":\"https://example.com/v1/logs\",\"id\":\"frodo-test-otlp-1\",\"sources\":[\"am-access\"],\"type\":\"HTTP\"}],\"splunk\":[]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 344,
      },
      {
 [...]
