{
  "log": {
    "_recordingName": "NodeOps/readNodesByType()/1: Read nodes of type SelectIdPNode",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "96d537daeb9357f933c5d2cbacf04b6d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2957292b-70a9-4761-a97d-903714daa683"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/SelectIdPNode?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1018,
            "text": "{\"result\":[{\"_id\":\"228a44d5-fd78-4278-8999-fdd470ea7ebf\",\"_rev\":\"-1175277026\",\"includeLocalAuthentication\":true,\"filteredProviders\":[],\"identityAttribute\":\"mail\",\"passwordAttribute\":\"password\",\"offerOnlyExisting\":false,\"_type\":{\"_id\":\"SelectIdPNode\",\"name\":\"Select Identity Provider\",\"collection\":true},\"_outcomes\":[{\"id\":\"socialAuthentication\",\"displayName\":\"Social Authentication\"},{\"id\":\"localAuthentication\",\"displayName\":\"Local Authentication\"}]},{\"_id\":\"038f9b2a-36b2-489b-9e03-386c9a62ea21\",\"_rev\":\"-409686295\",\"includeLocalAuthentication\":true,\"filteredProviders\":[],\"identityAttribute\":\"mail\",\"passwordAttribute\":\"password\",\"offerOnlyExisting\":false,\"_type\":{\"_id\":\"SelectIdPNode\",\"name\":\"Select Identity Provider\",\"collection\":true},\"_outcomes\":[{\"id\":\"socialAuthentication\",\"displayName\":\"Social Authentication\"},{\"id\":\"localAuthentication\",\"displayName\":\"Local Authentication\"}]}],\"resultCount\":2,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2957292b-70a9-4761-a97d-903714daa683"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
