{
  "log": {
    "_recordingName": "IdmSystemOps/readAvailableSystems()/1: Read available systems",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cb67393c6b38295ffc2b05c4e4f105ff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "test"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system?_action=test"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1918,
            "text": "[{\"name\":\"SecureREST\",\"enabled\":false,\"config\":\"config/provisioner.openicf/SecureREST\",\"connectorRef\":{\"connectorHostRef\":\"rcsdocker\",\"bundleVersion\":\"1.5.20.5\",\"bundleName\":\"org.forgerock.openicf.connectors.scriptedrest-connector\",\"connectorName\":\"org.forgerock.openicf.connectors.scriptedrest.ScriptedRESTConnector\"},\"displayName\":\"Scripted REST Connector\",\"objectTypes\":[\"__ALL__\"],\"error\":\"connector not available\",\"ok\":false},{\"name\":\"AD\",\"enabled\":true,\"config\":\"config/provisioner.openicf/AD\",\"connectorRef\":{\"connectorHostRef\":\"rcsdocker\",\"bundleVersion\":\"1.5.20.5\",\"bundleName\":\"org.forgerock.openicf.connectors.ldap-connector\",\"connectorName\":\"org.identityconnectors.ldap.LdapConnector\"},\"displayName\":\"LDAP Connector\",\"objectTypes\":[\"__ALL__\",\"account\",\"group\"],\"ok\":true},{\"name\":\"ASREST\",\"enabled\":false,\"config\":\"config/provisioner.openicf/ASREST\",\"connecto[...]
