{
  "log": {
    "_recordingName": "IgaWorkflowOps/exportWorkflow()/3: Export non-existing workflow",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d093f84021cbdcaa61ba749e095eff72",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/workflow/11111111-1111-1111-1111-111111111111/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 82,
            "text": "{\"message\":\"Workflow with id: 11111111-1111-1111-1111-111111111111 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"52-gucag4r1XTjvlxdqQ0C7A8YBlwI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "550411f4-a9a7-4d65-a645-3d78690a3b26"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 374,
      },
      {
        "_id": "b05cf59f3eae167de17f8155c33eb3d7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/workflow/11111111-1111-1111-1111-111111111111/published"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 82,
            "text": "{\"message\":\"Workflow with id: 11111111-1111-1111-1111-111111111111 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"52-gucag4r1XTjvlxdqQ0C7A8YBlwI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "97ece838-d783-40c4-aa89-e5d6f810325e"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 352,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
