{
  "log": {
    "_recordingName": "EnvCustomDomainsOps/verifyCNAME()/1: Verify CNAME for custom domain frodo.mytestrun.com - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "550669b79c32a1680c8b6d5277beacce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"frodo.mytestrun.com\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "verify"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/custom-domains?_action=verify"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "4fd751b0-f279-4eed-ae4d-c06a9de26cd0/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 46,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
