{
  "log": {
    "_recordingName": "SecretsApi/getSecret()/1: Get existing secret: esv-frodo-test-secret1",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1a84cc7ae3aa7ef7ff89565ad1eb4846",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 285,
            "text": "{\"_id\":\"esv-frodo-test-secret1\",\"activeVersion\":\"3\",\"description\":\"Frodo Test Secret One Description\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-01-20T04:38:09.879245Z\",\"lastChangedBy\":\"6bac97fb-0665-4ba9-b66c-1cf70e074d72\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 140,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
