{
  "log": {
    "_recordingName": "StartupOps/Phase 1/checkForUpdates()/1: Check for updates",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "554e50b0a97fed943f123c01f0fa6760",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1023,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-test\",\"activeVersion\":\"3\",\"description\":\"test\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-04-13T17:24:40.840844Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"3\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-2\",\"activeVersion\":\"2\",\"description\":\"\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-04-15T20:02:34.484574Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"2\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-3\",\"activeVersion\":\"3\",\"description\":\"\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-04-15T20:05:34.35818Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"3\",\"useInPlaceholders\":true},{\"_id\":\"esv-test-4\",\"activeVersion\":\"1\",\"description\":\"\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-04-16T17:05:35.720334Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}],\"resultCount\":4,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "693180bd-c33b-439c-979b-1cdbe52a606c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 180,
      },
      {
        "_id": "49c64431f90c263c4e22873dcf498dcb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 920,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-test-variable\",\"description\":\"test\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-03-25T21:11:19.814977Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"valueBase64\":\"dGVzdA==\"},{\"_id\":\"esv-test-variable-3\",\"description\":\"\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-04-15T19:21:33.037658Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"valueBase64\":\"dGVzdA==\"},{\"_id\":\"esv-test-variable-4\",\"description\":\"\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-04-15T19:23:26.107957Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"valueBase64\":\"dGVzdA==\"},{\"_id\":\"esv-test-variable-5\",\"description\":\"\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-04-16T17:05:51.444072Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"valueBase64\":\"dGVzdA==\"}],\"resultCount\":4,\"totalPagedResults\":-1,\"totalPagedResultsPolicy\":\"NONE\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "b68eed67-5b75-469a-b958-1e0a4dad9a79"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 273,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
