{
  "log": {
    "_recordingName": "SecretsApi/getSecretVersions()/1: Get versions of existing secret: esv-frodo-test-secret1",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f2d53fc8820d33fddd0fb3738dfbc2a9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret1/versions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 273,
            "text": "[{\"createDate\":\"2023-09-30T19:38:27.648Z\",\"loaded\":false,\"status\":\"ENABLED\",\"version\":\"3\"},{\"createDate\":\"2023-09-30T19:38:27.024Z\",\"loaded\":false,\"status\":\"DISABLED\",\"version\":\"2\"},{\"createDate\":\"2023-09-30T19:38:26.647Z\",\"loaded\":false,\"status\":\"ENABLED\",\"version\":\"1\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 235,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
