{
  "log": {
    "_recordingName": "SecretsApi/getSecrets()/1: Get all secrets - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "554e50b0a97fed943f123c01f0fa6760",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 3062,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-frodo-test-secret1\",\"activeVersion\":\"3\",\"description\":\"Frodo Test Secret One Description\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-01-20T04:38:09.879245Z\",\"lastChangedBy\":\"6bac97fb-0665-4ba9-b66c-1cf70e074d72\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true},{\"_id\":\"esv-frodo-test-secret2\",\"activeVersion\":\"3\",\"description\":\"Frodo Test Secret Two Description\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-01-20T04:38:11.944536Z\",\"lastChangedBy\":\"6bac97fb-0665-4ba9-b66c-1cf70e074d72\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true},{\"_id\":\"esv-frodo-test-secret3\",\"activeVersion\":\"1\",\"description\":\"Frodo Test Secret Three Description\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-01-20T04:3[...]
