{
  "log": {
    "_recordingName": "SecretsApi/getSecrets()/1: Get all secrets - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "554e50b0a97fed943f123c01f0fa6760",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2053,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":-1,\"result\":[{\"_id\":\"esv-admin-token\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2022-08-11T22:32:38.056Z\",\"lastChangedBy\":\"8efaa5b6-8c98-4489-9b21-ee41f5589ab7\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-admin-token-1999386457729\",\"activeVersion\":\"1\",\"description\":\"Long-lived admin token\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-05-14T01:07:41.970Z\",\"lastChangedBy\":\"8d9723a9-a439-4cbf-beb4-30e52811789d\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true},{\"_id\":\"esv-frodo-test-secret1\",\"activeVersion\":\"3\",\"description\":\"Frodo Test Secret One Description\",\"encoding\":\"generic\",\"lastChangeDate\":\"2023-09-30T19:38:28.408Z[...]
