{
  "log": {
    "_recordingName": "VariablesOps/updateVariable()/1: Update existing variable14 (pre-encoded)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4aecb641c12cb2122f72bce85bf1df5a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"dmFsdWUxNA==\",\"description\":\"description14\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-14"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 225,
            "text": "{\"_id\":\"esv-frodo-test-variable-14\",\"description\":\"description14\",\"expressionType\":\"string\",\"lastChangeDate\":\"2024-07-05T15:22:11.105605Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"valueBase64\":\"dmFsdWUxNA==\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 504,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
