{
  "log": {
    "_recordingName": "AgentApi/deleteAgentByTypeAndId()/1: Delete IdentityGatewayAgent 'FrodoTestGatewayAgent3'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "70777a00fe07e51cf81456212bd23637",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2c7e2730-376c-4dbc-a393-b1a8fcf9b954"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/FrodoTestGatewayAgent3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 304,
            "text": "{\"_id\":\"FrodoTestGatewayAgent3\",\"_rev\":\"899690511\",\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"899690511\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2c7e2730-376c-4dbc-a393-b1a8fcf9b954"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 79,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
