{
  "log": {
    "_recordingName": "info/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "251003828bf23336fa53493b58e58bd7",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f5f7634d-e136-4647-8b86-942e83eae494"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/info"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 268,
            "text": "{\"immutable\":false,\"locked\":false,\"region\":\"us-central1\",\"tier\":\"other\",\"warning_message_html\":\"\",\"message_box_title\":\"\",\"message_box_html\":\"\",\"message_variant\":\"\",\"config_promotion_done\":false,\"placeholder_management\":\"SRE\",\"placeholder_management_migration_date\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"10c-FosIoGR+bbAadU227u4h5HSOkg4\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f5f7634d-e136-4647-8b86-942e83eae494"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 638,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
