{
  "log": {
    "_recordingName": "ThemeOps/deleteThemes()/3: Delete all root themes (encore)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8491b762ea9e0d6de34b91e8d5d97a4d",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-01202a7d-8c81-4078-94cc-79c456bbcd41"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/ui/themerealm"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 3237,
            "text": "{\"_id\":\"ui/themerealm\",\"realm\":{\"/\":[{\"accountCardBackgroundColor\":\"#ffffff\",\"accountCardHeaderColor\":\"#23282e\",\"accountCardInnerBorderColor\":\"#e7eef4\",\"accountCardInputBackgroundColor\":\"#ffffff\",\"accountCardInputBorderColor\":\"#c0c9d5\",\"accountCardInputLabelColor\":\"#5e6d82\",\"accountCardInputSelectColor\":\"#e4f4fd\",\"accountCardInputTextColor\":\"#23282e\",\"accountCardOuterBorderColor\":\"#e7eef4\",\"accountCardShadow\":3,\"accountCardTabActiveColor\":\"#e4f4fd\",\"accountCardTabActiveBorderColor\":\"#109cf1\",\"accountCardTextColor\":\"#5e6d82\",\"accountFooter\":\"<div class=\\\"d-flex justify-content-center py-4 w-100\\\"><span class=\\\"pr-1\\\">© 2022</span>\\n<a href=\\\"#\\\" target=\\\"_blank\\\" class=\\\"text-body\\\">My Company, Inc</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Privacy Policy</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Terms & Conditions</a></div>\",\"accountFooterEnabled\":false,\"accountNavigationBackgroundColor\":\"#ffffff\",\"accountNavigationTextColor\":\"#455469\",\"accountNavigationToggleBorderColor\":\"#e7eef4\",\"accountTableRowHoverColor\":\"#f6f8fa\",\"backgroundColor\":\"#324054\",\"backgroundImage\":\"\",\"buttonRounded\":5,\"favicon\":\"https://cdn.forgerock.com/platform/themes/starter/logo-starter.svg\",\"fontFamily\":\"Open Sans\",\"journeyCardBackgroundColor\":\"#ffffff\",\"journeyCardShadow\":3,\"journeyCardTextColor\":\"#5e6d82\",\"journeyCardTitleColor\":\"#23282e\",\"journeyFooter\":\"<div class=\\\"d-flex justify-content-center py-4 w-100\\\"><span class=\\\"pr-1\\\">© 2022</span>\\n<a href=\\\"#\\\" target=\\\"_blank\\\" class=\\\"text-body\\\">My Company, Inc</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Privacy Policy</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Terms & Conditions</a></div>\",\"journeyFooterEnabled\":false,\"journeyHeader\":\"<div class=\\\"d-flex justify-content-center py-4 flex-grow-1\\\">Header Content</div>\",\"journeyHeaderEnabled\":false,\"journeyInputBackgroundColor\":\"#ffffff\",\"journeyInputBorderColor\":\"#c0c9d5\",\"journeyInputLabelColor\":\"#5e6d82\",\"journeyInputSelectColor\":\"#e4f4fd\",\"journeyInputTextColor\":\"#23282e\",\"journeyTheaterMode\":false,\"journeyJustifiedContent\":\"\",\"journeyJustifiedContentEnabled\":false,\"journeyLayout\":\"card\",\"linkActiveColor\":\"#004067\",\"linkColor\":\"#0070b3\",\"linkedTrees\":[],\"logo\":\"https://cdn.forgerock.com/platform/themes/starter/logo-starter.svg\",\"logoAltText\":\"Logo\",\"logoEnabled\":true,\"logoHeight\":\"56\",\"logoProfile\":\"https://cdn.forgerock.com/platform/themes/starter/logo-starter-full.svg\",\"logoProfileAltText\":\"Logo\",\"logoProfileCollapsed\":\"https://cdn.forgerock.com/platform/themes/starter/logo-starter.svg\",\"logoProfileCollapsedAltText\":\"Logo\",\"logoProfileHeight\":\"24\",\"primaryColor\":\"#324054\",\"primaryOffColor\":\"#242E3C\",\"profileBackgroundColor\":\"#ffffff\",\"profileMenuHighlightColor\":\"#f6f8fa\",\"profileMenuTextHighlightColor\":\"#455469\",\"profileMenuHoverColor\":\"#f6f8fa\",\"profileMenuHoverTextColor\":\"#455469\",\"textColor\":\"#ffffff\",\"topBarBackgroundColor\":\"#ffffff\",\"topBarBorderColor\":\"#e7eef4\",\"topBarHeaderColor\":\"#23282e\",\"topBarTextColor\":\"#69788b\",\"_id\":\"d6636b33-111b-40f2-870d-f4dcb7281e43\",\"isDefault\":false,\"name\":\"Starter Theme\"}],\"alpha\":[],\"bravo\":[]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-01202a7d-8c81-4078-94cc-79c456bbcd41"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47,
      },
      {
        "_id": "8a2f8aa33b9a0b6d8c1054fb83b6a180",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-01202a7d-8c81-4078-94cc-79c456bbcd41"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"ui/themerealm\",\"realm\":{\"/\":[],\"alpha\":[],\"bravo\":[]}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/ui/themerealm"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"_id\":\"ui/themerealm\",\"realm\":{\"/\":[],\"alpha\":[],\"bravo\":[]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-01202a7d-8c81-4078-94cc-79c456bbcd41"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
