{
  "log": {
    "_recordingName": "EnvSSOCookieConfigOps/readSSOCookieConfig()/1: Read SSO Cookie Config - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "83c49960fd73c896036bb92e409dbfc9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/sso-cookie"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "{\"name\":\"myCustomTestCookieName\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ff3ee853-b53b-442b-8bc6-26481c61067a/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
