{
  "log": {
    "_recordingName": "VariablesApi/putVariable()/6: Create new int variable: esv-frodo-test-variable9 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b7c0421d2fe7b9ff472fb1aa226ee244",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"MTIzNDU=\",\"description\":\"Frodo Test Variable Nine (int) Description\",\"expressionType\":\"int\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable9"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 256,
            "text": "{\"_id\":\"esv-frodo-test-variable9\",\"description\":\"Frodo Test Variable Nine (int) Description\",\"expressionType\":\"int\",\"lastChangeDate\":\"2023-09-30T19:40:56.615Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"MTIzNDU=\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1113,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
