{
  "log": {
    "_recordingName": "NodeApi/getNodesByType()/1: Get all page nodes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6c4b201bd227379f7322cbe609fb773f",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7fb35a85-023e-46b5-9721-3d7d185056e9"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/PageNode?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 76889,
            "text": "{\"result\":[{\"_id\":\"1aea363f-d8d2-4711-b88d-d58fff92dbae\",\"_rev\":\"1383926743\",\"nodes\":[{\"_id\":\"7c7faeaf-13c2-43ed-bec2-13d08abf44dd\",\"nodeType\":\"ScriptedDecisionNode\",\"displayName\":\"Remove Button\"}],\"pageDescription\":{\"en\":\"Your session has been flagged as high risk. Please use a different device from a different location to register for our services. Thank you!\"},\"pageHeader\":{\"en\":\"High Risk Alert! Access blocked.\"},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true},\"_outcomes\":[{\"id\":\"true\",\"displayName\":\"true\"}]},{\"_id\":\"e79fc9c0-ed2c-4612-a6ce-14c09debce74\",\"_rev\":\"2142631288\",\"nodes\":[{\"_id\":\"5e70753d-09be-4be0-99c2-2658a278ebdf\",\"nodeType\":\"ValidatedPasswordNode\",\"displayName\":\"Password\"}],\"pageDescription\":{\"en_us\":\"Please provide your password to change your username.\"},\"pageHeader\":{\"en\":\"Validate Access\"},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"_id\":\"0478adf2-4302-481c-8d51-a2a5e14a154e\",\"_rev\":\"-722133129\",\"nodes\":[{\"_id\":\"e10b0ec2-f156-4a79-a13f-3bed45563cff\",\"nodeType\":\"ValidatedUsernameNode\",\"displayName\":\"Username\"}],\"pageDescription\":{},\"pageHeader\":{},\"_type\"[...]
