{
  "log": {
    "_recordingName": "NodeApi/getNodesByType()/1: Get all page nodes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6c4b201bd227379f7322cbe609fb773f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/PageNode?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6740,
            "text": "{\"result\":[{\"_id\":\"d018fcd1-4e22-4160-8c41-63bee51c9cb3\",\"_rev\":\"46692388\",\"nodes\":[{\"_id\":\"21a99653-a7a7-47ee-b650-f493a84bba09\",\"nodeType\":\"ValidatedPasswordNode\",\"nodeVersion\":\"1.0\",\"displayName\":\"Platform Password\"}],\"pageDescription\":{\"en\":\"Enter new password\"},\"pageHeader\":{\"en\":\"Update Password\"},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"_id\":\"20237b34-26cb-4a0b-958f-abb422290d42\",\"_rev\":\"-1115887389\",\"nodes\":[{\"_id\":\"fe2962fc-4db3-4066-8624-553649afc438\",\"nodeType\":\"ValidatedPasswordNode\",\"nodeVersion\":\"1.0\",\"displayName\":\"Platform Password\"}],\"pageDescription\":{\"en\":\"Enter current password\"},\"pageHeader\":{\"en\":\"Verify Existing Password\"},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\"[...]
