{
  "log": {
    "_recordingName": "NodeApi/getNodesByType()/1: Get all page nodes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6c4b201bd227379f7322cbe609fb773f",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a17956a8-ed35-4434-90a1-a8d44298b7b0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/PageNode?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1792,
            "text": "{\"result\":[{\"_id\":\"40987a9a-c424-44d0-8114-d9676fcdfabd\",\"_rev\":\"-534750227\",\"nodes\":[{\"_id\":\"67a6be4e-d889-4a99-82a3-1ae6cc0f6e95\",\"nodeType\":\"UsernameCollectorNode\",\"displayName\":\"Username Collector\"},{\"_id\":\"11a3d180-7f6e-4c67-8a92-d65c5e55b52a\",\"nodeType\":\"PasswordCollectorNode\",\"displayName\":\"Password Collector\"}],\"pageDescription\":{},\"pageHeader\":{},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"_id\":\"312d01e8-e81d-4676-b238-790378652453\",\"_rev\":\"917022897\",\"nodes\":[{\"_id\":\"e52781ce-4590-434c-89fa-576992444327\",\"nodeType\":\"OathTokenVerifierNode\",\"displayName\":\"OATH Token Verifier\"}],\"pageDescription\":{},\"pageHeader\":{\"en\":\"Risk is medium, we need to challenge the user with MFA\"},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true},\"_outcomes\":[{\"id\":\"successOutcome\",\"displayName\":\"Success\"},{\"id\":\"failureOutcome\",\"displayName\":\"Failure\"},{\"id\":\"notRegisteredOutcome\",\"displayName\":\"Not registered\"}]},{\"_id\":\"36e9463a-c225-4a5e-92a3-fe1f639c0bd4\",\"_rev\":\"352959464\",\"nodes\":[{\"_id\":\"333ea1b8-256c-4386-b487-04a48ec07ece\",\"nodeType\":\"UsernameCollectorNode\",\"displayName\":\"Username Collector\"},{\"_id\":\"059d696e-20ae-43d9-9360-c3638f3eaf29\",\"nodeType\":\"PasswordCollectorNode\",\"displayName\":\"Password Collector\"}],\"pageDescription\":{},\"pageHeader\":{},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"_id\":\"0338c239-b427-4202-a6b9-f5376f19b15a\",\"_rev\":\"-1969136528\",\"nodes\":[],\"pageDescription\":{},\"pageHeader\":{},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true},\"_outcomes\":[]}],\"resultCount\":4,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a17956a8-ed35-4434-90a1-a8d44298b7b0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
