{
  "log": {
    "_recordingName": "PolicySetOps/deletePolicySet()/1: Delete existing policy set [FrodoTestPolicySet7]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "39986b95299a3eab26a0f816f388e9e5",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a97832c2-fc63-4cc8-ae83-dd66c82402a9"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/applications/FrodoTestPolicySet7"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "etag",
              "value": "\"0\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a97832c2-fc63-4cc8-ae83-dd66c82402a9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 79,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
