{
  "log": {
    "_recordingName": "PolicySetOps/deletePolicySet()/1: Delete existing policy set [FrodoTestPolicySet7]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "39986b95299a3eab26a0f816f388e9e5",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-48105302-e556-4060-a1aa-21d47cffdaf4"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..b3c4JJ83hD0kcFBc7UnQOg.tU1dOUljfPgvyvr-Q1IJWaO86yOKC1t-i_[...]
