{
  "log": {
    "_recordingName": "JourneyOps/importJourney()/2: Import journey 'FrodoTestJourney5' w/ dependencies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3cf0bca719c02f5772c5c178b5d58b4d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a843ee19-4093-47ca-9053-e3e1adb0aaec"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..oLBvZ51gcMyZ4zK4YumNWQ.0pCF0W6ix-rhhKaAqxjGn[...]
