{
  "log": {
    "_recordingName": "EnvCSRsApi/getCSR()/2: Get non-existing CSR - error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9b56e91061dfa5edddb17caa3c4ed90c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/csrs/esv-does-not-exist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "027893b3-16d1-47a2-b3c9-15fbc3971097/0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 69,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
