{
  "log": {
    "_recordingName": "TreeApi/putTree()/4: Put invalid tree [no entry node]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "61e9913a79bc786a2a0415edcd3c6ce1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f6becdd5-131b-41da-9efd-87a4678c0c19"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"nodes\":{},\"staticNodes\":{},\"description\":\"invalid tree def\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[]\"}}"
          },
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/Invalid"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 96,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"Node with ID entryNodeId must exist in the tree.\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f6becdd5-131b-41da-9efd-87a4678c0c19"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 35,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
