{
  "log": {
    "_recordingName": "TreeApi/putTree()/4: Put invalid tree [no entry node]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c704f46251946c272ac973036cf709a0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ca1f41e7-c750-4c47-8da3-b3887acc30d0"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\n  \"nodes\": {},\n  \"staticNodes\": {},\n  \"description\": \"invalid tree def\",\n  \"identityResource\": \"managed/alpha_user\",\n  \"uiConfig\": {\n    \"categories\": \"[]\"\n  }\n}"
          },
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/Invalid"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 96,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"Node with ID entryNodeId must exist in the tree.\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ca1f41e7-c750-4c47-8da3-b3887acc30d0"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 38,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
