{
  "log": {
    "_recordingName": "IgaGlossaryOps/createGlossarySchema()/1: Create Glossary Schema Export Template",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "45c44345fdf65551bee40987654562d8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"testRole\",\"description\":\"Test Role Description\",\"displayName\":\"Test Role Display Name\",\"type\":\"managedObject\",\"objectType\":\"/openidm/managed/assignment\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":false,\"allowedValues\":[],\"managedObjectType\":\"/openidm/managed/role\",\"id\":\"undefined\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 331,
            "text": "{\"name\":\"testRole\",\"description\":\"Test Role Description\",\"displayName\":\"Test Role Display Name\",\"type\":\"managedObject\",\"objectType\":\"/openidm/managed/assignment\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":false,\"allowedValues\":[],\"managedObjectType\":\"/openidm/managed/role\",\"id\":\"271c3863-034a-4f1b-9d6e-48206b969871\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"14b-QOYnc1M2eMamxPW3bWpLDxZTjaA\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 880,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
