{
  "log": {
    "_recordingName": "ResourceTypeOps/importResourceTypes()/2: Import all changed resource types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7449f0c549e22aeb423a3f8a95499dd9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/0c2b73b2-f18f-4634-85ec-14dc71f1b216"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 437,
            "text": "{\"uuid\":\"0c2b73b2-f18f-4634-85ec-14dc71f1b216\",\"name\":\"FrodoTestResourceType9\",\"description\":\"Frodo Test Resource Type Nine\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true},\"createdBy\":\"id=9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064,ou=user,ou=am-config\",\"creationDate\":1788909639342,\"lastModifiedBy\":\"id=9f7b6b8b-6ab5-45b3-aad5-5bda19eb3064,ou=user,ou=am-config\",\"lastModifiedDate\":1788909639342}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      },
      {
        "_id": "0a3f7db9d33f72a125366ab191388341",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uuid\":\"0c2b73b2-f18f-4634-85ec-14dc71f1b216\",\"name\":\"FrodoTestResourceType9\",\"description\":\"test new description\",\"patterns\":[\"pattern2://*:*/*?*\",\"pattern1://*:*/*\"],\"actions\":{\"action2\":true,\"action1\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/0c2b73b2-f18f-4634-85ec-14dc71f1b216"
        },
        "response": {
          "content[...]
