{
  "log": {
    "_recordingName": "JourneyOps/exportJourney()/3: Export journey 'FrodoTestJourney3' w/ dependencies and w/o coordinates",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "79b0909ea887375721f9522d457e821e",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-05711d9b-8357-4f23-8add-0b1ee16fe49d"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..aDSHRUyzNDuRTzrDWtFajg.MzrrHPEmcGlqZKi8vJuSU3kYGga1NvVGHI[...]
