{
  "log": {
    "_recordingName": "EnvCertificatesOps/isCertificateLive()/1: Check if existing active certificate is already live - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e1f2c8460c7c6dc8706b4235b2931740",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-8181cca4-4f8d-48b0-a522-a2c1de4bc7f0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 378,
            "text": "{\"active\":true,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-8181cca4-4f8d-48b0-a522-a2c1de4bc7f0\",\"issuer\":\"CN=frodo-dev11.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev11.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "2f81176f-a339-4c45-aacc-1c550b92d429/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 64,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
