{
  "log": {
    "_recordingName": "JourneyOps/disableJourney()/1: Disable enabled journey 'FrodoTestJourney8'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "283296fe9e9873f2e284521d3a591167",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestJourney8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 880,
            "text": "{\"_id\":\"FrodoTestJourney8\",\"_rev\":\"2013582348\",\"identityResource\":\"managed/alpha_user\",\"entryNodeId\":\"b20da99f-e162-4b03-be45-13379995867f\",\"innerTreeOnly\":false,\"description\":\"Frodo test journey\",\"noSession\":false,\"mustRun\":false,\"enabled\":false,\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"nodes\":{\"b20da99f-e162-4b03-be45-13379995867f\":{\"x\":210,\"y\":109,\"connections\":{\"outcome\":\"277c21a5-1474-45f9-aa8c-b39eaffc1b2b\"},\"nodeType\":\"PageNode\",\"displayName\":\"Login Page\"},\"277c21a5-1474-45f9-aa8c-b39eaffc1b2b\":{\"x\":455,\"y\":137.5,\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"nodeType\":\"DataStoreDecisionNode\",\"displayName\":\"Validate Credentials\"}},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":155},\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":692,\"y\":230},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":692,\"y\":80}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"2013582348\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      },
      {
        "_id": "d63aa9efc8ee63edb4bcc0d6f46ba2f6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-de0e0430-3dc2-4b08-ba8e-a5b078a16684"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"FrodoTestJourney8\",\"identityResource\":\"managed/alpha_user\",\"entryNodeId\":\"b20da99f-e162-4b03-be45-13379995867f\",\"innerTreeOnly\":false,\"description\":\"Frodo test journey\",\"noSession\":false,\"mustRun\":false,\"enabled\":false,\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"nodes\":{\"b20da99f-e162-4b03-be45-13379995867f\":{\"x\":210,\"y\":109,\"connections\":{\"outcome\":\"277c21a5-1474-45f9-aa8c-b39eaffc1b2b\"},\"nodeType\[...]
