{
  "log": {
    "_recordingName": "JourneyOps/disableJourney()/1: Disable enabled journey 'FrodoTestJourney8'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "283296fe9e9873f2e284521d3a591167",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c181a5b4-c576-4214-b51f-245f214a9d22"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestJourney8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 847,
            "text": "{\"_id\":\"FrodoTestJourney8\",\"_rev\":\"-1975989323\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"entryNodeId\":\"b20da99f-e162-4b03-be45-13379995867f\",\"innerTreeOnly\":false,\"nodes\":{\"b20da99f-e162-4b03-be45-13379995867f\":{\"x\":210,\"y\":109,\"connections\":{\"outcome\":\"277c21a5-1474-45f9-aa8c-b39eaffc1b2b\"},\"nodeType\":\"PageNode\",\"displayName\":\"Login Page\"},\"277c21a5-1474-45f9-aa8c-b39eaffc1b2b\":{\"x\":455,\"y\":137.5,\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"nodeType\":\"DataStoreDecisionNode\",\"displayName\":\"Validate Credentials\"}},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":155},\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":692,\"y\":230},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":692,\"y\":80}},\"description\":\"Frodo test journey\",\"enabled\":false}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1975989323\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c181a5b4-c576-4214-b51f-245f214a9d22"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 50,
      },
      {
        "_id": "6eb3e924bf1455d9356fa57a25a88d27",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c181a5b4-c576-4214-b51f-245f214a9d22"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"FrodoTestJourney8\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Frodo\\\",\\\"Prototype\\\"]\"},\"entryNodeId\":\"b20da99f-e162-4b03-be45-13379995867f\",\"innerTreeOnly\":false,\"nodes\":{\"b20da99f-e162-4b03-be45-13379995867f\":{\"x\":210,\"y\":109,\"connections\":{\"outcome\":\"277c21a5-1474-45f9-aa8c-b39eaffc1b2b\"},\"nodeType\":\"PageNode\",\"displayName\":\"Login Page\"},\"277c21a5-1474-45f9-aa8c-b39eaffc1b2b\":{\"x\":[...]
