{
  "log": {
    "_recordingName": "IdpOps/updateSocialIdentityProvider()/1: Update social provider FrodoTestIdp3",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4ce708137768fde03bcf66cd8ba4e418",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7c81521a-fd08-4712-b440-87715058a64f"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..rEhh5tnp4OUddauqRsitVQ.MqMgci7g2v7kzNmfYTN5f[...]
