{
  "log": {
    "_recordingName": "Saml2Ops/getSaml2ProviderMetadata()/2: Get metadata for remote provider 'https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9137eb3433e8f4638739ff74152b58c3",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1e6211a5-b57e-4c56-9504-4e900b0eaaff"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..ZLQmMfEjXz81Oo3E96b2eQ.TWCuruggpiaAvHoIXY0hCOAxZbWNgudaFg[...]
