{
  "log": {
    "_recordingName": "AgentOps/deleteWebAgents()/1: Delete all web agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3ac6eabf917f838ac5403b0b6ef1e88a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6d8b13c9-8a68-4259-abc8-603220b7bdde"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..ZQ6rTHYfQSty4CL5gyoBeg.eLCvjA8aMoRWuj6B8g7O4tK8qNfK1hjP1A[...]
