{
  "log": {
    "_recordingName": "EnvCertificatesApi/getCertificates()/1: Get all certificates - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "81c5f06a12b432acb919a43c7ab0c1d7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1136,
            "text": "[{\"active\":false,\"expireTime\":\"2025-08-01T22:01:54Z\",\"id\":\"ccrt-47fe3bf4-f788-4f9c-a7e4-ecdf710eb20d\",\"issuer\":\"CN=frodo-dev2.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev2.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-01T22:01:54Z\"},{\"active\":false,\"expireTime\":\"2025-08-01T22:01:54Z\",\"id\":\"ccrt-663eca03-10c3-4ad2-96b8-6ab83c4aea2d\",\"issuer\":\"CN=frodo-dev1.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev1.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-01T22:01:54Z\"},{\"active\":false,\"expireTime\":\"2025-08-01T22:01:54Z\",\"id\":\"ccrt-e04aa493-b822-4765-8cb2-0e45d32a91d8\",\"issuer\":\"CN=frodo-dev3.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev3.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-01T22:01:54Z\"}]"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "7da423c7-ed6c-4f30-bb82-f841df45ab97/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 90,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
