{
  "log": {
    "_recordingName": "PolicySetOps/exportPolicySets()/1: Export all policy sets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6c28db473956c916f36338201b5c11ed",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-47bd3c40-4157-4b0b-ad3b-48fca56147c7"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..gsVlGhBsyMleNyUQGMDGAw.5rYAm03uSu5FXPsANe7eObFb2EZ90RhrjH[...]
