{
  "log": {
    "_recordingName": "VariablesApi/deleteVariable()/1: Delete existing variable: esv-frodo-test-variable3 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "da3ae847cdbac60d659dbc4082c16e5f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 290,
            "text": "{\"_id\":\"esv-frodo-test-variable3\",\"description\":\"Frodo Test Variable Three Description\",\"expressionType\":\"string\",\"lastChangeDate\":\"2023-09-30T19:40:47.274Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"RnJvZG8gVGVzdCBWYXJpYWJsZSBUaHJlZSBWYWx1ZQ==\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3074,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
