{
  "log": {
    "_recordingName": "ResourceTypeOps/deleteResourceType()/1: Delete existing resource type [3d66c934-9bab-4363-973b-f5502245decc - FrodoTestResourceType7]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "68b6218ca19ae2b5f66aed238e81df52",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3866f47b-f4ad-4dde-aa07-9158abb62da9"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..YEOUZyvoRFK0LLzC_M6Z_g.yz8KRC90Agz0fpXxyO9z2claaLYhYRtx_p[...]
