{
  "log": {
    "_recordingName": "ResourceTypeOps/deleteResourceType()/1: Delete existing resource type [3d66c934-9bab-4363-973b-f5502245decc - FrodoTestResourceType7]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "68b6218ca19ae2b5f66aed238e81df52",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dc2d8531-8da4-4d14-98e0-8aa544ea6257"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/resourcetypes/3d66c934-9bab-4363-973b-f5502245decc"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"0\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dc2d8531-8da4-4d14-98e0-8aa544ea6257"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
