{
  "log": {
    "_recordingName": "NodeApi/deleteNode()/2: Delete non-existing node [00000000-0000-0000-0000-000000000000 - PageNode]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "81bdb374a328436152a96f112b66101e",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a17956a8-ed35-4434-90a1-a8d44298b7b0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/PageNode/00000000-0000-0000-0000-000000000000"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 55,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Not Found\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a17956a8-ed35-4434-90a1-a8d44298b7b0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 62,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
