{
  "log": {
    "_recordingName": "IgaCertificationTemplateOps/exportCertificationTemplates()/2: Export existing certification templates without dependencies and without event templates",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ca39113408cd256656a60d9515b34095",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "queryString",
              "value": ""
            },
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/certification/template?queryString=&pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15901,
            "text": "{\"result\":[{\"status\":\"active\",\"name\":\"phh-entitlement-assignment-certification\",\"description\":\"Entitlements Review - All Applications\",\"isEventBased\":false,\"stagingEnabled\":true,\"skipInactiveCertifiers\":false,\"allowSelfCertification\":false,\"selfCertificationRule\":\"none\",\"enableForward\":true,\"enableReassign\":true,\"reassignPermissions\":{\"certify\":true,\"comment\":true,\"claim\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"exceptionDuration\":14,\"allowBulkCertify\":false,\"allowPartialSignoff\":true,\"remediationRule\":\"BasicRevocation\",\"initializeRule\":\"\",\"finalizeRule\":\"\",\"certificationType\":\"entitlement\",\"ownerId\":\"managed/user/6b21c283-d491-4fd9-8322-898c171c7018\",\"stageDuration\":14,\"expirationAction\":null,\"expirationActionDelay\":0,\"expirationReassignee\":null,\"stages\":[{\"certifierType\":\"entitlementOwner\",\"certifierId\":null,\"certifierScript\":null,\"certifierPath\":null}],\"defaultCertifierId\":\"managed/user/6b21c283-d491-4fd9-8322-898c171c7018\",\"assignmentNotification\":\"emailTemplate/certificationAssigned\",\"assignmentNotificationIncludeManager\":false,\"reassignNotification\":\"emailTemplate/certificationReassigned\",\"expirationNotification\":null,\"reminderNotification\":null,\"reminderFrequency\":0,\"escalationNotification\":null,\"escalationFrequency\":null,\"escalationOwner\":null,\"remediationDelay\":0,\"targetFilter\":{\"type\":[\"entitlementGrant\",\"ResourceGrant\"],\"user\":{\"operator\":\"ALL\",\"operand\":[]},\"application\":{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"authoritative\",\"targetValue\":false}},\"memberOfOrg\":[],\"entitlement\":{\"operator\":\"ALL\",\"operand\":[]},\"decision\":{\"operator\":\"ALL\",\"operand\":[]}},\"excludeConditionalAccess\":true,\"excludeRoleBasedAccess\":true,\"requireJustification\":{\"revoke\":true,\"exceptionAllowed\":true},\"uiConfig\":{\"columnConfig\":{\"entitlements\":[\"user.user\",\"application.application\",\"entitlement.entitlement\",\"account.account\",\"review.flags\",\"review.comments\"]}},\"events\":{\"assignment\":{\"notification\":\"emailTemplate/certificationAssigned\"},\"reassign\":{\"notification\":\"emailTemplate/certificationReassigned\"}},\"ownerInfo\":{\"givenName\":\"Parent\",\"id\":\"6b21c283-d491-4fd9-8322-898c171c7018\",\"mail\":\"pholderness+poadmin@trivir.com\",\"sn\":\"Admin\",\"userName\":\"phh-parent-org-admin\"},\"defaultCertifierInfo\":{\"givenName\":\"Parent\",\"id\":\"6b21c283-d491-4fd9-8322-898c171c7018\",\"mail\":\"pholderness+poadmin@trivir.com\",\"sn\":\"Admin\",\"userName\":\"phh-parent-org-admin\"},\"id\":\"ae1381d5-cfad-4374-b3dc-075605b1036d\",\"scheduleId\":\"templateScheduleae1381d5cfad4374b3dc075605b1036d\",\"metadata\":{\"modifiedDate\":\"2025-12-19T22:30:24.617Z\",\"createdDate\":\"2025-12-18T18:46:21.120859941Z\"}},{\"status\":\"pending\",\"name\":\"test_certification_2\",\"description\":\"Test certification template description\",\"isEventBased\":false,\"stagingEnabled\":false,\"skipInactiveCertifiers\":false,\"allowSelfCertification\":true,\"selfCertificationRule\":\"restricted\",\"enableForward\":true,\"enableReassign\":true,\"reassignPermissions\":{\"certify\":true,\"comment\":true,\"claim\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"exceptionDuration\":730,\"allowBulkCertify\":true,\"allowPartialSignoff\":true,\"remediationRule\":\"BasicRevocation\",\"initializeRule\":\"\",\"finalizeRule\":\"\",\"certificationType\":\"entitlement\",\"ownerId\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"stageDuration\":1095,\"expirationAction\":\"reassign\",\"expirationActionDelay\":0,\"expirationReassignee\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"stages\":[{\"certifierType\":\"user\",\"certifierId\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"certifierScript\":null,\"certifierPath\":null,\"certifierInfo\":{\"givenName\":\"Preston\",\"id\":\"0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"mail\":\"test@test.com\",\"sn\":\"Test\",\"userName\":\"PrestonIGATestUser\"}}],\"defaultCertifierId\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"assignmentNotification\":\"emailTemplate/FrodoTestEmailTemplate1\",\"assignmentNotificationIncludeManager\":false,\"reassignNotification\":\"emailTemplate/FrodoTestEmailTemplate1\",\"expirationNotification\":\"emailTemplate/FrodoTestEmailTemplate1\",\"reminderNotification\":\"emailTemplate/FrodoTestEmailTemplate1\",\"reminderFrequency\":1095,\"escalationNotification\":\"emailTemplate/FrodoTestEmailTemplate1\",\"escalationFrequency\":1095,\"escalationOwner\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"remediationDelay\":1825,\"targetFilter\":{\"type\":[\"entitlementGrant\",\"ResourceGrant\"],\"user\":{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"id\",\"targetValue\":\"{{IGA_PARAM_userId_IGA_PARAM}}\"}},\"application\":{\"operator\":\"OR\",\"operand\":[]},\"account\":{\"operator\":\"ALL\",\"operand\":[]},\"memberOfOrg\":[],\"entitlement\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"CONTAINS\",\"operand\":{\"targetName\":\"glossary.description\",\"targetValue\":\"a\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.entitlementType\",\"targetValue\":\"b\"}},{\"operator\":\"OR\",\"operand\":[{\"operator\":\"STARTS_WITH\",\"operand\":{\"targetName\":\"displayName\",\"targetValue\":\"c\"}},{\"operator\":\"OR\",\"operand\":[{\"operator\":\"ENDS_WITH\",\"operand\":{\"targetName\":\"glossary.parentEntitlement\",\"targetValue\":\"d\"}}]}]}]},\"role\":{\"operator\":\"OR\",\"operand\":[{\"operator\":\"EXISTS\",\"operand\":{\"targetName\":\"glossary.Test User\",\"targetValue\":\"managed/user/645363b3-7cbb-47a3-bf93-d96c59c387d9\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.Test User\",\"targetValue\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\"}},{\"operator\":\"NOT\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.Test User\",\"targetValue\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db[...]
