{
  "log": {
    "_recordingName": "github",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d27795557f744bbef1aae5b9b53d94c9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/repos/rockcarver/frodo-cli/releases"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 343666,
            "text": "[{\"url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/88317351\",\"assets_url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/88317351/assets\",\"upload_url\":\"https://uploads.github.com/repos/rockcarver/frodo-cli/releases/88317351/assets{?name,label}\",\"html_url\":\"https://github.com/rockcarver/frodo-cli/releases/tag/v0.19.4\",\"id\":88317351,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"site_admin\":false},\"node_id\":\"RE_kwDOH1LPHs4FQ52n\",\"tag_name\":\"v0.19.4\",\"target_commitish\":\"main\",\"name\":\"0.19.4\",\"draft\":false,\"prerelease\":false,\"created_at\":\"2023-01-09T14:48:20Z\",\"published_at\":\"2023-01-09T14:48:55Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/assets/91040208\",\"id\":91040208,\"node_id\":\"RA_kwDOH1LPHs4FbSnQ\",\"name\":\"CHANGELOG.md\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"site_admin\":false},\"content_type\":\"text/markdown\",\"state\":\"uploaded\",\"size\":37640,\"download_count\":1,\"created_at\":\"2023-01-09T14:48:56Z\",\"updated_at\":\"2023-01-09T14:48:56Z\",\"browser_download_url\":\"https://github.com/rockcarver/frodo-cli/releases/download/v0.19.4/CHANGELOG.md\"},{\"url\":\"https://api.github.com/repos/rockcarver/frodo-cli/releases/assets/91040364\",\"id\":91040364,\"node_id\":\"RA_kwDOH1LPHs4FbSps\",\"name\":\"frodo-linux-0.19.4.zip\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/[...]
