{
  "log": {
    "_recordingName": "ForgeRockUtils/getRealmsForExport/1: Get Realms in Export Format",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb697468085abfef6b608e5d514d9750",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dcc1f9a0-7c2f-4b87-ac95-2ea729101a41"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/realms/?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1962,
            "text": "{\"result\":[{\"_id\":\"Lw\",\"_rev\":\"1024858941\",\"parentPath\":null,\"active\":true,\"name\":\"/\",\"aliases\":[\"openam-frodo-dev.classic.com\",\"am-config\"]},{\"_id\":\"L3Rlc3QtcmVhbG0td2l0aC1kYXNoZXM\",\"_rev\":\"370641471\",\"parentPath\":\"/\",\"active\":true,\"name\":\"test-realm-with-dashes\",\"aliases\":[]},{\"_id\":\"L3Rlc3Q\",\"_rev\":\"1983000027\",\"parentPath\":\"/\",\"active\":true,\"name\":\"test\",\"aliases\":[]},{\"_id\":\"L3Rlc3QvcmVhbG0\",\"_rev\":\"-28313219\",\"parentPath\":\"/test\",\"active\":true,\"name\":\"realm\",\"aliases\":[]},{\"_id\":\"L3Rlc3QvcmVhbG0vd2l0aA\",\"_rev\":\"19[...]
