{
  "log": {
    "_recordingName": "SecretStoreOps/Cloud Tests/createSecretStoreMapping()/1: Create secret store mapping",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0a6e64c1e0242e2b864ce4a9c13458d9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV/mappings/am.services.oauth2.oidc.signing.EDDSA"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 55,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Not Found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 106,
      },
      {
        "_id": "9404fcf0bd1ebc9b54644b22a62dd5b1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"am.services.oauth2.oidc.signing.EDDSA\",\"secretId\":\"am.services.oauth2.oidc.signing.EDDSA\",\"aliases\":[\"esv-test-signing-cert\"]}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV/mappings?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 215,
            "text": "{\"_id\":\"am.services.oauth2.oidc.signing.EDDSA\",\"_rev\":\"77842068\",\"secretId\":\"am.services.oauth2.oidc.signing.EDDSA\",\"aliases\":[\"esv-test-signing-cert\"],\"_type\":{\"_id\":\"mappings\",\"name\":\"Mappings\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"77842068\""
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV/mappings/am.services.oauth2.oidc.signing.EDDSA"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 230,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
