{
  "log": {
    "_recordingName": "VariablesApi/putVariable()/2: Create new variable: esv-frodo-test-variable4 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "784067c96b1d9254f8156c00dd64c3a9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..nBwK03rn-ZRGE9AdS2Ip4A.XQ53J3mBnM3Z8VDO9urJEXXrj7_9thz6h5NNScdiPkb8MiyBJnq7dyMhfU88dFVzJUy8PBMOYFsClXLwWFGLZbT8Pzxnnq88YP4IG5Ka9rwTXn-2mLcV7H6Njs1Dzu_IgWa6YHe6m9ODhxRbEeTBZazfeZoT95WdVF4kM2azOPxjO1naM4dIb9UI5_4_h-3ibxmhik6qP0dWU3af-A-mMR2KxdOqT1s3ynkdQwf-1M0lZSDNbUBw_Stp76z5lS7o1Tmv243ptOBjRCihbbqbPpuvsRVGO7MqT42FHuEn-qwmtLXe4IM1g1J_9e7wgduSeMJsUZA3TU-c32DX4bqlNP-vwLie-hapA4u_6W0G_gsf2gv2QhXTuI3owlYIYETsYsTKX_FWe0gl40GE3yOQkYBJ4qxET1yrLr6EI2HOYSSumi6imkwZVChOJ_phqduamXjuNKGMxhXiplrRHEaJDM_V9prYPyXXgcBp1ln50ZkGJQhtfkryBR4Nt-R5sPJWskxBOHTG-2iUB3Kk4QkHGjd-1eQuwf8ovbogHBFO4xKDEfjVvyoeQu0vCtMLON1-bj3iQXqWWU23ZMPUYIYDgacCYMNKR90Uiy5jjHzbte3tcotmg8EczG9FbRc8tL2KTGMleRbYQTvxCrK6dPqf-7imq66dgS4Fxv9z9Wlb_iL1p0BpBE2xGSPigqlRSYOYcnZjq0lfq9KlV9wGojKgL9Zlu1UFZPe_Iy1VNLjZ3foTK4OydS_ekU_97WuDtwXJIQUkN3wCWL-7_WdtZR8Fh6qeXRb6XH8ddgRoOF8Dh9DWusYROV8m2CFAKjZCfS8jpIl8VtTUWXK3zlQixdvfSn-SL7m9rtr3HlfX6e8pn-13PC2b_2q2Qxn2ofEttK1dUXgVAK-uwoDroPdGI3yx1RieasAihEFZtx4ZcP682Uop67-Vip7dUmG7lKKMgK7URrjr2MBEk-tkgKa6hpWPmEpzyskm3zy09l0B81jtXHJiUZtbs28C_uWw2gR3cUGx0Xx7kvYLsYnQyECEBhXFk1sNYIHqXZ-eXW3qpUs5Fok.XBhgfXZNSME6ljMf0DC1qA"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"RnJvZG8gVGVzdCBWYXJpYWJsZSBGb3VyIFZhbHVl\",\"description\":\"Frodo Test Variable Four Description\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108,
            "text": "{\"code\":400,\"message\":\"Variable type required; expressionType cannot be empty when creating new variables\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 194,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
