{
  "log": {
    "_recordingName": "EnvCertificatesOps/isCertificateLive()/1: Check if existing inactive certificate is still live - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5ccb4092b3bd6f8b95212d883dda931e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-b0bf8790-4333-401a-84b3-b54782fd0fe2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 382,
            "text": "{\"active\":false,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-b0bf8790-4333-401a-84b3-b54782fd0fe2\",\"issuer\":\"CN=frodo-dev11a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev11a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "73b6058f-3745-4751-bec2-243a0aaa3939/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 58,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
