{
  "log": {
    "_recordingName": "IdmConfigOps/importConfigEntities()/3: ImportConfigEntities with env replacement and entitiesToImport options",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "654793650f7466c2b0c9469c7c604907",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-def6398b-4483-4b6e-b702-cfeae1e02ca5"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template One\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>Click to reset your password</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Password reset link</a></h4>\",\"fr\":\"<h3>Cliquez pour réinitialiser votre mot de passe</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Mot de passe lien de réinitialisation</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Reset your password\",\"fr\":\"Réinitialisez votre mot de passe\"}},\"id\":\"emailTemplate/FrodoTestConfigEntity1\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestConfigEntity1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 563,
            "text": "{\"_id\":\"emailTemplate/FrodoTestConfigEntity1\",\"data\":{\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template One\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>Click to reset your password</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Password reset link</a></h4>\",\"fr\":\"<h3>Cliquez pour réinitialiser votre mot de passe</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Mot de passe lien de réinitialisation</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Reset your password\",\"fr\":\"Réinitialisez votre mot de passe\"}},\"id\":\"emailTemplate/FrodoTestConfigEntity1\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-def6398b-4483-4b6e-b702-cfeae1e02ca5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 359,
      },
      {
        "_id": "63cc421e8ee1137aeb9fee09d3bb1fba",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-def6398b-4483-4b6e-b702-cfeae1e02ca5"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
