{
  "log": {
    "_recordingName": "email/template-export/0_template-id/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ac31ccceb288fe104fb927288dc7c001",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-28afd447-b587-4f83-a0be-90fd1b4a1930"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..yU3LYIBeblnf9GeFuLu0KA.Y5lBmYc5m8MtUC7OL6qiVqVjAamuzakPUB_E2vm9S-0l_tHmVxM7Xdcd2uwpICwjEfPu-CdJncZDyvZTSLCPi3lEYWTWLsIhHAXu0lhrxTFMkqgwYxQ2j8Lqr0Pu1pmP54v8cHccd8rje1YxrbEVayWVKVjE5bcXTAZHw6R1aLKduOPkQUxzYuvH90-i0hXgeBeC5sZTuHIpbms6EDeLzD2GdllKPxd_LdJpQLgkFOF6XULr199u0l2VlMnJlOxvr2yBJuWGLUcTh_z8SUyCcrJUa2PBqrM1gGanAgXzIbPl9EQufodDDnLvc7XGcnSBMOfj1HCl7IbRpmyvcTZDng6ts__BuwAYo-nWrbwwfcEqUYnz94I3rvymS9OAvNiaP8MlG7iDwQtFEJ1fwYw4tFkMf_xsuHr2t4aiGmcAr1uQcQqc3kO7_scTC2NmDHWQYbbnhCeqx_AvhOtDKZkPpV5CTECOe4D0b-YxN8fgikg9ynQF_BvkicVINpC-u0_dMaUoQvVQgGJoYwiUr510bYP-0v26IU2aMJZwbwUfhv4wdTeeg4dgs_xsXsv6BFhqkGZYGObAJ5mo_Ll7ReaJDaRyF1iN7OZ-PEMWSfH0tvfbIBNlnqfFbkWHZyEUK01xg0htyuB9WVgxDGHNYCp0pGt_deculnNiaTNRPWwBgw5IMmLOCCxXq3mY_u9WMLo3jE52rbCSsVpJBrjhXjl157qM0e6szUatkl25UFQSdSbMdbF9kj5UqtQp-dSZa6ZMpZMhe06PFC3EL5v1uY66jZe8CWaFjrTK7r3WqE-cZsuwwkhHJ3KMwpjCTJOG71EgL-RiOHO_4C5AF79PHvKmArg81A1qLLsY76IYs8r55ozAkWh9bwl2FzHddBJ-HYj-4qe9O6k4RA_a54JFtO8Em5LBSq6eV4D2lNRotB5hRHMDWtOOvpgXdSaarsRDBoPrtkHp1-qBHHU4NFxg6P-d4VFNUyq72P_poSM5KuNBNip4uxah1kOmDWN9ifEPvunJ-pR0TYLLrCGfJWEwa1JJHjrrz-ru-0NurDhF8a5ADJg.ETgKmcEnyo9kNQo-bPh7FA"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/b672336b-41ef-428d-ae4a-e0c082875377?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1045,
            "text": "{\"_id\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"_rev\":\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\",\"accountStatus\":\"active\",\"name\":\"frodo-test\",\"description\":\"Frodo Test\",\"scopes\":[\"fr:am:*\",\"fr:idm:*\",\"fr:idc:esv:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"8lN2UVDDHchL_gIYS5lAiEVAVocyqWHmqBPwPkd22NRMLetczaVSH2UQHoQu7SSKeAtojVJUYuxRtGPfGNExZurTy3CRlzpaNa67B6jyunycPHnyNked0ceFGfjD9c6e0b97L5wqwk2YNVVMGa9c1m8R9HWk2kg9lRwlZE_piwTM9bw8tuWfL1A2-fTDQB2PZSgGGz86jG1RGMY7dnafVKIX3HbW98xOxOwqIRz607IQr-NFia5zjTltpJjR1qOlEFmdHqGTGCnFcHxeJWmKOWcDM4WmfWcgK3zR9Br-aZoDTl8RMAths30Pc1pe_dl5OepxCYQ7b0BXg0zQaYcx5G5ZcNR3ldjDNfpiXg1viWjEBiwiCg7gkYksBu0aFHX2pc4KKHKcyIeD0sbhaLSK3JXhI1TJvm7rwyX1wsRKmMTGTZMxYJlADZufKKd-Jg7k2_iwP3WUJxdgkJsgvLj7ZbTf5Paz7_FLeSajjtGPu6hGSWV8uOGgRgcnJgz3DP2S9qfHI7nKswtgwFdjbOMK39iNjU8PI-cOaaVKQcH88xBCu1bpCX1MIVvZ5arQF783qasj9bBB4t27gKXOauIr-sXMUI6_L7CQ7IqWld8VvNWKReMMqiRQV9huEEV1chCFzZI_aEW82fDC9dRbFXG-w92PhPPVbNznWsrhO1aPxA8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dac6d6c0-9ef5-4725-b8df-772785c9040e-4798\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-28afd447-b587-4f83-a0be-90fd1b4a1930"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 81,
      },
      {
        "_id": "97658fca6f836c82c8976deba2363ae7",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-28afd447-b587-4f83-a0be-90fd1b4a1930"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMj[...]
