{
  "log": {
    "_recordingName": "PolicySetOps/getPolicySets()/1: Get all policy sets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6c28db473956c916f36338201b5c11ed",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0cded1b1-ba2b-4eed-bb78-6fd509c770aa"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..t2dFq82o1q1ZugXkx8pfRQ.mbxJ4V-bPGmHoAnYxXhRil2WQDju2fAniv[...]
