{
  "log": {
    "_recordingName": "Saml2Ops/readSaml2ProviderStubs()/1: Read saml2 provider stubs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "54c5959fa697111ab81bada4a7f8294e",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ec883bf7-d00c-4025-b294-fe7de8ff8b69"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 841,
            "text": "{\"result\":[{\"_id\":\"aHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzExZmZhOWMtNTk3Mi00NzEzLWFjZTMtNjg4Yzk3MzI2MTRhLw\",\"_rev\":\"761336767\",\"entityId\":\"https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/\",\"location\":\"remote\",\"roles\":[\"identityProvider\"]},{\"_id\":\"aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQRmVkbGV0\",\"_rev\":\"-514203039\",\"entityId\":\"https://idc.scheuber.io/am/saml2/IDPFedlet\",\"location\":\"hosted\",\"roles\":[\"identityProvider\"]},{\"_id\":\"aVNQQXp1cmU\",\"_rev\":\"2065843986\",\"entityId\":\"iSPAzure\",\"location\":\"hosted\",\"roles\":[\"serviceProvider\"]},{\"_id\":\"dXJuOmZlZGVyYXRpb246TWljcm9zb2Z0T25saW5l\",\"_rev\":\"-1154647349\",\"entityId\":\"urn:federation:MicrosoftOnline\",\"location\":\"remote\",\"roles\":[\"serviceProvider\"]}],\"resultCount\":4,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":4,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ec883bf7-d00c-4025-b294-fe7de8ff8b69"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 61,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
