{
  "log": {
    "_recordingName": "EnvCSRsApi/deleteCSR()/2: Delete non-existing CSR - error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bdfbfe4c5b48d6af99ee0f118dad50b0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/csrs/csr-does-not-exist"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "94c44e73-b7c1-467f-a764-1d8c948a90fe/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
