{
  "log": {
    "_recordingName": "VariablesApi/putVariable()/1: Create new variable with default type (string): esv-frodo-test-variable4 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "617acf31a4f0991dd962fd0691ce2d36",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"RnJvZG8gVGVzdCBWYXJpYWJsZSBGb3VyIFZhbHVl\",\"description\":\"Frodo Test Variable Four Description\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 285,
            "text": "{\"_id\":\"esv-frodo-test-variable4\",\"description\":\"Frodo Test Variable Four Description\",\"expressionType\":\"string\",\"lastChangeDate\":\"2023-09-30T19:40:52.990Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"RnJvZG8gVGVzdCBWYXJpYWJsZSBGb3VyIFZhbHVl\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 958,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
