{
  "log": {
    "_recordingName": "IgaSodPolicyRuleOps/importPolicyRule()/4: Import all",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f7dcab7b9c07c2dfd7ba5daaf0194f32",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"this is a test policy rule\",\"active\":true,\"policyRuleOwner\":{\"givenName\":\"Dallin\",\"id\":\"managed/user/5068da35-7971-4f11-becf-ba716b6aadb9\",\"mail\":\"test@mail.com\",\"sn\":\"sevy\",\"userName\":\"Dallin\"},\"scanTypes\":{\"preventative\":true,\"detective\":true},\"decisionOptions\":{\"exception\":true,\"allow\":true,\"remediate\":true},\"maxExceptionDuration\":90,\"remediation\":{\"schemas\":[\"grantRemoval\"]},\"mitigatingControl\":\"\",\"correctionAdvice\":\"\",\"documentationUrl\":\"\",\"violationOwner\":{\"givenName\":\"Dallin\",\"id\":\"managed/user/5068da35-7971-4f11-becf-ba716b6aadb9\",\"mail\":\"test@mail.com\",\"sn\":\"sevy\",\"userName\":\"Dallin\"},\"violationLifecycle\":{\"workflow\":{\"action\":\"do_nothing\"},\"expiration\":{\"expires\":false},\"exception\":{\"justificationCheck\":true}},\"violationOwnerType\":\"user\",\"userFilter\":{\"operator\":\"ALL\",\"operand\":[]},\"ruleDefinition\":[{\"type\":[\"entitlementGrant\"],\"operator\":\"OR\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"entitlement.displayName\",\"targetValue\":\"aicGroup1\"}}]},{\"type\":[\"entitlementGrant\"],\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"entitlement.displayName\",\"targetValue\":\"aicGroup2\"}}]}],\"riskScore\":0,\"ruleDefinitionTags\":[\"targetName=entitlement.displayName&targetValue=aicGroup1\",\"targetValue=aicGroup1&targetName=entitlement.displayName\",\"targetName=entitlement.displayName&targetValue=aicGroup2\",\"targetValue=aicGroup2&targetName=entitlement.displayName\"],\"name\":\"frodo`-test-rule-existing\",\"id\":\"b0000000-0000-0000-0000-000000000002\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/rule?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 70,
            "text": "{\"message\":[\"Name must be different from the existing policy rules.\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"46-/ITAS089AcqfrtTagD4Uy19EKJI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "d4a2420a-07e6-493b-b756-995e8adf45f2"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 186,
      },
      {
        "_id": "74f2c8d1936334cc1d3a6a76b651bfae",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"[...]
