{
  "log": {
    "_recordingName": "IgaSodPolicyRuleOps/updatePolicyRules()/2: Update non-existing policy rule",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cdd1b45a9ade6d9f214efbaf1cdea39a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"this is a test policy rule\",\"active\":true,\"policyRuleOwner\":{\"givenName\":\"Dallin\",\"id\":\"managed/user/5068da35-7971-4f11-becf-ba716b6aadb9\",\"mail\":\"test@mail.com\",\"sn\":\"sevy\",\"userName\":\"Dallin\"},\"scanTypes\":{\"preventative\":true,\"detective\":true},\"decisionOptions\":{\"exception\":true,\"allow\":true,\"remediate\":true},\"maxExceptionDuration\":90,\"remediation\":{\"schemas\":[\"grantRemoval\"]},\"mitigatingControl\":\"\",\"correctionAdvice\":\"\",\"documentationUrl\":\"\",\"violationOwner\":{\"givenName\":\"Dallin\",\"id\":\"managed/user/5068da35-7971-4f11-becf-ba716b6aadb9\",\"mail\":\"test@mail.com\",\"sn\":\"sevy\",\"userName\":\"Dallin\"},\"violationLifecycle\":{\"workflow\":{\"action\":\"do_nothing\"},\"expiration\":{\"expires\":false},\"exception\":{\"justificationCheck\":true}},\"violationOwnerType\":\"user\",\"userFilter\":{\"operator\":\"ALL\",\"operand\":[]},\"ruleDefinition\":[{\"type\":[\"entitlementGrant\"],\"operator\":\"OR\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"entitlement.displayName\",\"targetValue\":\"aicGroup1\"}}]},{\"type\":[\"entitlementGrant\"],\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"entitlement.displayName\",\"targetValue\":\"aicGroup2\"}}]}],\"riskScore\":0,\"ruleDefinitionTags\":[\"targetName=entitlement.displayName&targetValue=aicGroup1\",\"targetValue=aicGroup1&targetName=entitlement.displayName\",\"targetName=entitlement.displayName&targetValue=aicGroup2\",\"targetValue=aicGroup2&targetName=entitlement.displayName\"],\"name\":\"frodo`-test-rule-existing\",\"id\":\"11111111-1111-1111-1111-111111111111\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/rule/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 87,
            "text": "{\"message\":\"Policy rule with id: 11111111-1111-1111-1111-111111111111 does not exist.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"57-03m0usSiqCLutXtWFsbYPTkxlOI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "d66e21d4-774f-4cf8-9652-5fb31c6aeefd"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 142,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
