{
  "log": {
    "_recordingName": "AgentOps/importIdentityGatewayAgents()/1: Import all gateway agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ff93bb2c4dfcd1ecfcf998c6670819bf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-195702d5-6ea7-4c3b-85cb-8823d7dbfd85"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"userpassword\":null,\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redirect\",\"https://ig.mytestrun.com/prometheus/cdsso/redirect\",\"https://ig.mytestrun.com/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/forgerock/cdsso/redirect\"]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/FrodoOpsTestGatewayAgent4"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 761,
            "text": "{\"_id\":\"FrodoOpsTestGatewayAgent4\",\"_rev\":\"-1479989528\",\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redir[...]
