{
  "log": {
    "_recordingName": "IgaEventOps/exportEvent()/1: Export existing event by ID with dependencies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ba7480c67c9e78fcfed1247a3a5c234d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/event/8dd57f38-99ee-4fd6-9cd0-183239ea0aec"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 8629,
            "text": "{\"action\":{\"type\":\"certification\",\"template\":{\"status\":\"active\",\"name\":\"test_event_certification_2\",\"description\":\"Test certification template description\",\"isEventBased\":false,\"stagingEnabled\":false,\"skipInactiveCertifiers\":false,\"allowSelfCertification\":true,\"selfCertificationRule\":\"restricted\",\"enableForward\":true,\"enableReassign\":true,\"reassignPermissions\":{\"certify\":true,\"comment\":true,\"claim\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"exceptionDuration\":730,\"allowBulkCertify\":true,\"allowPartialSignoff\":true,\"remediationRule\":\"BasicRevocation\",\"initializeRule\":\"\",\"finalizeRule\":\"\",\"certificationType\":\"identity\",\"ownerId\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"stageDuration\":1095,\"expirationAction\":\"reassign\",\"expirationActionDelay\":0,\"expirationReassignee\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"stages\":[{\"certifierType\":\"user\",\"certifierId\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"certifierScript\":null,\"certifierPath\":null,\"certifierInfo\":{\"givenName\":\"Preston\",\"id\":\"0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"mail\":\"test@test.com\",\"sn\":\"Test\",\"userName\":\"PrestonIGATestUser\"}}],\"defaultCertifierId\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"assignmentNotification\":\"emailTemplate/FrodoTestEmailTemplate1\",\"assignmentNotificationIncludeManager\":false,\"reassignNotification\":\"emailTemplate/FrodoTestEmailTemplate1\",\"expirationNotification\":\"emailTemplate/FrodoTestEmailTemplate1\",\"reminderNotification\":\"emailTemplate/FrodoTestEmailTemplate1\",\"reminderFrequency\":1095,\"escalationNotification\":\"emailTemplate/FrodoTestEmailTemplate1\",\"escalationFrequency\":1095,\"escalationOwner\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"remediationDelay\":1825,\"targetFilter\":{\"type\":[\"accountGrant\",\"entitlementGrant\",\"roleMembership\",\"AccountGrant\",\"ResourceGrant\"],\"user\":{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"id\",\"targetValue\":\"{{IGA_PARAM_userId_IGA_PARAM}}\"}},\"application\":{\"operator\":\"OR\",\"operand\":[]},\"account\":{\"operator\":\"ALL\",\"operand\":[]},\"memberOfOrg\":[],\"entitlement\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"CONTAINS\",\"operand\":{\"targetName\":\"glossary.description\",\"targetValue\":\"a\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.entitlementType\",\"targetValue\":\"b\"}},{\"operator\":\"OR\",\"operand\":[{\"operator\":\"STARTS_WITH\",\"operand\":{\"targetName\":\"displayName\",\"targetValue\":\"c\"}},{\"operator\":\"OR\",\"operand\":[{\"operator\":\"ENDS_WITH\",\"operand\":{\"targetName\":\"glossary.parentEntitlement\",\"targetValue\":\"d\"}}]}]}]},\"role\":{\"operator\":\"OR\",\"operand\":[{\"operator\":\"EXISTS\",\"operand\":{\"targetName\":\"glossary.Test User\",\"targetValue\":\"managed/user/645363b3-7cbb-47a3-bf93-d96c59c387d9\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.Test User\",\"targetValue\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\"}},{\"operator\":\"NOT\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.Test User\",\"targetValue\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db[...]
