{
  "log": {
    "_recordingName": "IgaSodPolicyOps/deletePolicy()/1: Delete existing policy by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "12cf9b4ac6caa1762a2dba2a0af0eaa0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"frodo-test-delete-by-id\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_queryFilter=name%20eq%20%22frodo-test-delete-by-id%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 642,
            "text": "{\"result\":[{\"name\":\"frodo-test-delete-by-id\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"1f2df36f-7fec-4bf2-bb9b-ccfd5791d126\",\"scheduleId\":\"policySchedulea2222222222222222222222222222222\",\"metadata\":{\"modifiedDate\":\"2026-06-08T16:57:52.985288004Z\",\"createdDate\":\"2026-06-08T16:57:52.98528696Z\"}}],\"searchAfterKey\":[\"1f2df36f-7fec-4bf2-bb9b-ccfd5791d126\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"282-dteLgT6b06SkTJPqpwEOAvY0Vdg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ec2b7dd5-0281-4385-a868-309779efa27e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155,
      },
      {
        "_id": "45a3bb1d0d4bc7d5cf111ce49aa589a9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/1f2df3[...]
