{
  "log": {
    "_recordingName": "NodeApi/getNodeTypes()/1: Get all node types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5e08f8a31f4bafce625d25e10216721c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getAllTypes"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes?_action=getAllTypes"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 66688,
            "text": "{\"result\":[{\"_id\":\"ADDecisionNode\",\"name\":\"AD Decision\",\"collection\":true,\"tags\":[\"basic authn\",\"basic authentication\"],\"metadata\":{\"tags\":[\"basic authn\",\"basic authentication\"]},\"help\":\"Verifies that the provided username and password values exist in a specified Active Directory store, and whether they are expired or locked out.\"},{\"_id\":\"AcceptTermsAndConditionsNode\",\"name\":\"Accept Terms and Conditions\",\"collection\":true,\"tags\":[\"identity management\"],\"metadata\":{\"tags\":[\"identity management\"]},\"help\":\"Prompts the user to accept or reject the currently active Terms and Conditions.\"},{\"_id\":\"AccountActiveDecisionNode\",\"name\":\"Account Active Dec[...]
