{
  "log": {
    "_recordingName": "NodeApi/getNodeTypes()/1: Get all node types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5e08f8a31f4bafce625d25e10216721c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7fb35a85-023e-46b5-9721-3d7d185056e9"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getAllTypes"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes?_action=getAllTypes"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 24027,
            "text": "{\"result\":[{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true,\"tags\":[\"identity management\"],\"help\":\"Prompts the user to enter their username and stores the input in a configurable state attribute for platform nodes to consume.\"},{\"_id\":\"RemoveSessionPropertiesNode\",\"name\":\"Remove Session Properties\",\"collection\":true,\"tags\":[\"utilities\"],\"help\":\"Removes the specified properties from a user's session data.\"},{\"_id\":\"product-WriteFederationInformationNode\",\"name\":\"Write Federation Information\",\"collection\":true,\"tags\":[\"social\",\"federation\"],\"help\":\"Links [...]
