{
  "log": {
    "_recordingName": "NodeApi/getNodeTypes()/1: Get all node types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5e08f8a31f4bafce625d25e10216721c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a17956a8-ed35-4434-90a1-a8d44298b7b0"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getAllTypes"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes?_action=getAllTypes"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 40198,
            "text": "{\"result\":[{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true,\"tags\":[\"identity management\"],\"metadata\":{\"tags\":[\"identity management\"]},\"help\":\"Prompts the user to enter their username and stores the input in a configurable state attribute for platform nodes to consume.\"},{\"_id\":\"ThreatMetrixUpdateReviewNode\",\"name\":\"ThreatMetrix Update Review\",\"collection\":true,\"tags\":[\"marketplace\",\"trustnetwork\",\"risk-assessment\",\"adaptive-authentication\",\"ThreatMetrix\",\"LexisNexis\"],\"metadata\":{\"tags\":[\"marketplace\",\"trustnetwork\",\"risk-assessment\",\"adaptive-authentication\",\"ThreatMetrix\",\"LexisNexis\"]},\"h[...]
