{
  "log": {
    "_recordingName": "PolicyOps/exportPoliciesByPolicySet()/1: Export all policies in policy set FrodoTestPolicySet1 w/o deps",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c5b112e10863b426e232c7526be0513d",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f6099de3-8d79-4ac5-b316-785c61c90543"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "applicationName eq \"FrodoTestPolicySet1\""
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/policies?_queryFilter=applicationName%20eq%20%22FrodoTestPolicySet1%22"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6579,
            "text": "{\"result\":[{\"_id\":\"FrodoTestPolicy1\",\"_rev\":\"1696091289261\",\"name\":\"FrodoTestPolicy1\",\"active\":true,\"description\":\"Frodo Test Policy\",\"resources\":[\"*://*:*/forgerock/app2/*\",\"*://*:*/app2/*\"],\"applicationName\":\"FrodoTestPolicySet1\",\"actionValues\":{\"GET\":true},\"subject\":{\"type\":\"AuthenticatedUsers\"},\"condition\":{\"type\":\"AND\",\"conditions\":[{\"type\":\"Script\",\"scriptId\":\"62f18ede-e5e7-4a7b-8b73-1b02fcbd241a\"},{\"type\":\"AuthenticateToService\",\"authenticateToService\":\"TxAuthz\"},{\"type\":\"OR\",\"conditions\":[{\"type\":\"Session\",\"maxSessionTime\":5,\"terminateSession\":false},{\"type\":\"OAuth2Scope\",\"requiredScopes\":[\"openid\"]},{\"type\":\"Script\",\"scriptId\":\"729ee140-a4e9-43af-b358-d60eeda13cc3\"},{\"type\":\"NOT\",\"condition\":{\"type\":\"Script\",\"scriptId\":\"729ee140-a4e9-43af-b358-d60eeda13cc3\"}}]}]},\"resourceTypeUuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\",\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":\"2023-09-30T16:28:09.261Z\",\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":\"2023-09-30T16:28:09.261Z\"},{\"_id\":\"FrodoTestPolicy5\",\"_rev\":\"1696091289595\",\"name\":\"FrodoTestPolicy5\",\"active\":true,\"description\":\"Frodo Test Policy\",\"resources\":[\"*://*:*/forgerock/app2/*\",\"*://*:*/app2/*\"],\"applicationName\":\"FrodoTestPolicySet1\",\"actionValues\":{\"GET\":true},\"subject\":{\"type\":\"AuthenticatedUsers\"},\"condition\":{\"type\":\"AND\",\"conditions\":[{\"type\":\"Script\",\"scriptId\":\"62f18ede-e5e7-4a7b-8b73-1b02fcbd241a\"},{\"type\":\"Authent[...]
