{
  "log": {
    "_recordingName": "PoliciesApi/getPoliciesByPolicySet()/1: Get policies in existing policy set [FrodoTestPolicySet1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c5b112e10863b426e232c7526be0513d",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-398a7306-17af-4bce-86ca-3893e7daaa8f"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..huC1wJqFlXsS4qtUV4TjcQ.GgJs9lJjY8SQBSWoDeyvEEbRGEodLwrghbnAFO0zadIkAmQ[...]
