{
  "log": {
    "_recordingName": "IgaGlossaryOps/readGlossarySchemaByNameAndObjectType()/2: Read non-existing glossary schema with unknown name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "78d51ae15eb49e830d96c049d42abf26",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"unknownName\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"objectType\",\"targetValue\":\"/openidm/managed/role\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 66,
            "text": "{\"result\":[],\"searchAfterKey\":null,\"totalCount\":0,\"resultCount\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"42-6WyYF1p6hZFqH61y+4aiRN1wKRM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-18930fe6-89df-4860-a3f6-13fdcff86505"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 101,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
