{
  "log": {
    "_recordingName": "SecretsOps/importSecrets()/2: Import all secrets (secret10 and secret11) including active values",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b0b4599bafc176bebd9045a0cf0681d5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-95ecd434-b217-4a81-a4f0-6fbb0e21c668"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..FfilPLRJGp5uTMSIIpSFjA.UQd9ydTPp7xi7iOFBtoxyyvGCIPJt82xLFGNKvTS0cnQtbmSWI5o43XZ_Vl-XXED1ij78iYfsHzIiq7ZWPEYsep7_InkspVQvDjNMTpBJCixU98ST0pB9QmQB_9_UuIVM5eeAZbblPR0svGFEyju3PN6R6hWVCyncDd_UCScgNj34L9Jh_1MwB3seGNpCoWuSO0_fi6fvr2tnJZReAry8nthv70cT0dsc3GC7233AReulHrntnLCLbQGEUoQ_bBcTFsdHEtjMzu9RyhvyQF33mvvVUB3-Egstb6OcSK06-LqwoMrBOISn44ertRsmJuXBinFSavOFk_dTKxSEMoUWIjrhodIhqEtv-OZEN17qxiCpclsfHr6s-A1-cp8ywnDQPEzntO3gOh8l034jXyLkpiX3vfaIfbmpKIwTq6MoeEmEkLd82tCS90QBppajhjo4c0oncNgCGIWyRhabccvf5bcp0UzTvf_-HEy3VH6k05b9kEYMNLJPCrI2xdklIqL08lm0VlzQDgQRU-5ofDSfiVneGnd2jn6h7AvJ2PLrt997xnFH6ZregrvjTc7g9YwimevD1Ajxwpbp2GEus6p36DIQaEyMIOanh3sfOq-uh3lBMHa8WeJ4-7b9OH4OTT4SpU6X742D66qLTA5Uqevjama4WDJ_QnPKyn_D9Ne2Lv9wnv4HxXSCUgO_q3_vI8JpMHgqc3XOeLaKArYUOj0sGWxiE5HPjEznVv6XZfx3qYFnHAYTcig6jcnUkYfd4ler59x7TX6lZrcXFeEsfEcxoITnKFWnYWmqQmfEruIAsce553i4pUCbUV7qCBSaBF3caEYlzorHu82vcFsjiECqiXsqQxO4uqK2FemPt0KOe4r20Sx0LcdoNH5URXZwttQqdIUDr-JB5CrNGCQjP5Tcviu2wVb1D15u_iV14r6sUHzVZwN9AT4vQK81iLJYlrh79iSpJnUB_OU2hsfMM25F7NnLQnBAY5gsIUp4rRjn1ekzQphbwZ4JrymBGsTi1nN3oIYCsQ2vq63enVU6C6CPB9VQIbMYbPeE4Bk9R8K1cc.S-s8f4LVypfA6V4pNyPpaw"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"text/javascript\",\"globals\":{\"map\":{\"esv-frodo-test-secret-10\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"SZ8gU3fq5dGlbhPgd7kT3Q==\",\"iv\":\"KCOai4hfGovwyrSswB9mow==\",\"keySize\":16,\"mac\":\"lJdfWa1DkNkxcHBMfqlXuw==\",\"purpose\":\"idm.password.encryption\",\"salt\":\"bqeoBikq1SB1c+ThqqQDaw==\",\"stableId\":\"openidm-sym-default\"}}},\"esv-frodo-test-secret-11\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"Sxb6VWMMUCQ/qBmYB08kCA==\",\"iv\":\"7rayASsrtPPg+VAojLADdQ==\",\"keySize\":16,\"mac\":\"nx2l6Sx4k8nk3DDVXb5rqQ==\",\"purpose\":\"idm.password.encryption\",\"salt\":\"i4CP2IeVdFR9vTXvs69/RA==\",\"stableId\":\"openidm-sym-default\"}}}}},\"source\":\"Object.keys(map).forEach(function(key) {          map[key] = openidm.decrypt(map[key]);        });        map\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "eval"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/script?_action=eval"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 75,
            "text": "{\"esv-frodo-test-secret-11\":\"value11\",\"esv-frodo-test-secret-10\":\"value10\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-95ecd434-b217-4a81-a4f0-6fbb0e21c668"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 51,
      },
      {
        "_id": "5950f3e9f8f2a0cb0d55615e3353d3f7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..F[...]
