{
  "log": {
    "_recordingName": "SecretsOps/importSecrets()/2: Import all secrets (secret10 and secret11) including active values",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b0b4599bafc176bebd9045a0cf0681d5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-efb68b13-bb06-4748-918f-9d392103a132"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"text/javascript\",\"globals\":{\"map\":{\"esv-frodo-test-secret-10\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"SZ8gU3fq5dGlbhPgd7kT3Q==\",\"iv\":\"KCOai4hfGovwyrSswB9mow==\",\"keySize\":16,\"mac\":\"lJdfWa1DkNkxcHBMfqlXuw==\",\"purpose\":\"idm.password.encryption\",\"salt\":\"bqeoBikq1SB1c+ThqqQDaw==\",\"stableId\":\"openidm-sym-default\"}}},\"esv-frodo-test-secret-11\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"Sxb6VWMMUCQ/qBmYB08kCA==\",\"iv\":\"7rayASsrtPPg+VAojLADdQ==\",\"keySize\":16,\"mac\":\"nx2l6Sx4k8nk3DDVXb5rqQ==\",\"purpose\":\"idm.password.encryption\",\"salt\":\"i4CP2IeVdFR9vTXvs69/RA==\",\"stableId\":\"openidm-sym-default\"}}}}},\"source\":\"Object.keys(map).forEach(function(key) {          map[key] = openidm.decrypt(map[key]);        });        map\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "eval"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/script?_action=eval"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 75,
            "text": "{\"esv-frodo-test-secret-11\":\"value11\",\"esv-frodo-test-secret-10\":\"value10\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-efb68b13-bb06-4748-918f-9d392103a132"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 46,
      },
      {
        "_id": "5950f3e9f8f2a0cb0d55615e3353d3f7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"dmFsdWUxMA==\",\"description\":\"description10\",\"encoding\":\"generic\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-10"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 256,
            "text": "{\"_id\":\"esv-frodo-test-secret-10\",\"activeVersion\":\"1\",\"description\":\"description10\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-07-05T15:27:04.066835952Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 835,
      },
      {
        "_id": "b1e70b47185bf6b3fe1f60eec246beed",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
[...]
