{
  "log": {
    "_recordingName": "SecretsOps/importSecrets()/2: Import all secrets (secret10 and secret11) including active values",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bc761993f6c2e062517151c9da9d1748",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"text/javascript\",\"globals\":{\"map\":{\"esv-frodo-test-secret-10\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"ePa7/BK3Xv+/YmAzj8vopg==\",\"iv\":\"w2uGgvI+InA5xHonjitsdQ==\",\"keySize\":16,\"mac\":\"oHxlJxYoLyPuNxCqRAUkTg==\",\"purpose\":\"idm.password.encryption\",\"salt\":\"jMG49hF4oQV7hE5Di+aQEA==\",\"stableId\":\"openidm-sym-default\"}}},\"esv-frodo-test-secret-11\":{\"$crypto\":{\"type\":\"x-simple-encryption\",\"value\":{\"cipher\":\"AES/CBC/PKCS5Padding\",\"data\":\"adhWJWnBVDMNOGhn72Qk+w==\",\"iv\":\"BaVkWOvzJIJ2fDNAOGhJxA==\",\"keySize\":16,\"mac\":\"Djv4HusTLCcvvgHn/QXRXw==\",\"purpose\":\"idm.password.encryption\",\"salt\":\"x60sruU/Y31tOgqLmYTNbA==\",\"stableId\":\"openidm-sym-default\"}}}}},\"source\":\"Object.keys(map).forEach(function(key) {          map[key] = openidm.decrypt(map[key]);        });        map\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "eval"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/script?_action=eval"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 83,
            "text": "{\"esv-frodo-test-secret-11\":\"placeholder\",\"esv-frodo-test-secret-10\":\"placeholder\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      },
      {
        "_id": "f1bc49ec64dd9931d8e9bda150623837",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-10"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 248,
            "text": "{\"_id\":\"esv-frodo-test-secret-10\",\"activeVersion\":\"1\",\"description\":\"description10\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-09-09T23:57:33.358204Z\",\"lastChangedBy\":\"phales@trivir.com\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 415,
      },
      {
        "_id": "f1bc49ec64dd9931d8e9bda150623837",
        "request": {
          "headers": [
            {
  [...]
