{
  "log": {
    "_recordingName": "EnvCertificatesApi/getCertificate()/2: Get non-existing certificate - error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "04fc6b18ca99e828cee5738c582c59fc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/esv-does-not-exist"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a13c9a56-dd39-4bc7-b1dc-f98bd1a6a56c/0"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 66,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
