{
  "log": {
    "_recordingName": "SecretsApi/createNewVersionOfSecret()/2: Create new version of non-existing secret: esv-does-not-exist - error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "705a9d00bc16f5064996ee609e87e040",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"RnJvZG8gTm9uLUV4aXN0aW5nIFRlc3QgU2VjcmV0IFZhbHVlIFZlcnNpb24gMg==\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-does-not-exist/versions?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 57,
            "text": "{\"code\":404,\"message\":\"Failed to create secret version\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 143,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
