{
  "log": {
    "_recordingName": "ServiceOps/exportServices()/1: Export Global Services",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "00c59a598bc0a39925dcd05b5e05295b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21d7b25a-5487-4161-a37a-005faa69c97d"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/services?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 244,
            "text": "{\"result\":[{\"enabled\":true,\"_id\":\"CorsService\",\"_type\":{\"_id\":\"CorsService\",\"name\":\"CORS Service\",\"collection\":false}},{\"defaults\":{\"assignedDashboard\":[]},\"_id\":\"dashboard\",\"_type\":{\"_id\":\"dashboard\",\"name\":\"Dashboard\",\"collection\":false}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 49,
      },
      {
        "_id": "880e1d131d59635dd44ee69bbc1be2b2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21d7b25a-5487-4161-a37a-005faa69c97d"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/services/CorsService"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 115,
            "text": "{\"_id\":\"\",\"_rev\":\"515901845\",\"enabled\":true,\"_type\":{\"_id\":\"CorsService\",\"name\":\"CORS Service\",\"collection\":false}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"515901845\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
 [...]
