{
  "log": {
    "_recordingName": "IgaRequestTypeOps/readRequestType()/2: Read non-existing request type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9525cda58faddc3206ded9bb6cc6c1e6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestTypes/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 43,
            "text": "{\"message\":\"Request Type Id doesn't exist\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2b-5CB7pTnjCSdIyewaE93BqvJ0WcQ\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "cdad85f8-99ec-4e63-a4d8-2d13155892a5"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 101,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
