{
  "log": {
    "_recordingName": "NodeApi/version-aware node api/reads versioned node schema [ValidatedUsernameNode v2.0]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "93f642f3a4ed61449f85326b60f490e0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=3.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "schema"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedUsernameNode/2.0?_action=schema"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1049,
            "text": "{\"type\":\"object\",\"properties\":{\"validateInput\":{\"title\":\"Validate username\",\"description\":\"Check IDM policy against this username and return any policy failures as errors.\",\"propertyOrder\":100,\"type\":\"boolean\",\"exampleValue\":\"\",\"default\":false},\"usernameAttribute\":{\"title\":\"Username Attribute\",\"description\":\"The name of the attribute in the IDM object that stores the username.\",\"propertyOrder\":200,\"type\":\"string\",\"exampleValue\":\"\",\"default\":\"userName\"},\"prepopulate\":{\"title\":\"Prepopulate Username\",\"description\":\"If true, the input field is prepopulated with the 'username' value if present in the node state.\",\"propertyOrder\":300,\"type\":\"boolean\",\"exampleValue\":\"\",\"default\":false},\"autocompleteValues\":{\"title\":\"Autocomplete Values\",\"description\":\"If set, the input field will provide autocomplete suggestions based on these values, as per HTML 5 specifications.\",\"propertyOrder\":400,\"items\":{\"type\":\"string\"},\"type\":\"array\",\"exampleValue\":\"\",\"default\":[]}},\"required\":[\"validateInput\",\"usernameAttribute\",\"prepopulate\",\"autocompleteValues\"]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=3.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 78,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
