{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/exportAIAgents()/1: Export all AI agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e4775da436905de001af7c8a6784cfe5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6a6a113d-799d-422c-91da-da45df713e57"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 31028,
            "text": "{\"result\":[{\"_id\":\"FrodoOpsTestAIAgent2\",\"_rev\":\"2114255590\",\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"validateScopePluginType\":\"PROVIDER\",\"tokenEncryptionEnabled\":false,\"enableApplicationContext\":false,\"acceptAudienceParametersInTokenExchangeRequests\":false,\"evaluateScopePluginType\":\"PROVIDER\",\"oidcMayActScript\":\"[Empty]\",\"oidcClaimsScript\":\"[Empty]\",\"scopesPolicySet\":\"oauth2Scopes\",\"accessTokenModificationPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"useForceAuthnForMaxAge\":false,\"oidcClaimsPluginType\":\"PROVIDER\",\"providerOverridesEnabled\":false,\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"statelessTokensEnabled\":false,\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"oidcClaimsClass\":null,\"remoteConsentServiceId\":null,\"enableRemoteConsent\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"customLoginUrlTemplate\":null,\"accessTokenModifierClass\":null,\"usePolicyEngineForScope\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"overrideableOIDCClaims\":[],\"accessTokenMayActScript\":\"[Empty]\",\"evaluateScopeScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"accessTokenModificationScript\":\"[Empty]\",\"issueRefreshTokenOnRefreshedToken\":true,\"validateScopeScript\":\"[Empty]\"},\"advancedOAuth2ClientConfig\":{\"logoUri\":[],\"subjectType\":\"public\",\"clientUri\":[],\"tokenExchangeAuthLevel\":0,\"responseTypes\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"],\"mixUpMitigation\":false,\"customProperties\":[],\"javascriptOrigins\":[],\"policyUri\":[],\"softwareVersion\":null,\"tosURI\":[],\"sectorIdentifierUri\":null,\"tokenEndpointAuthMethod\":\"client_secret_basic\",\"refreshTokenGracePeriod\":0,\"isConsentImplied\":false,\"softwareIdentity\":null,\"grantTypes\":[\"authorization_code\"],\"allowedResourceServerAudienceValues\":[],\"require_pushed_authorization_requests\":false,\"descriptions\":[],\"requestUris\":[],\"name\":[],\"contacts\":[],\"updateAccessToken\":null,\"acceptedJwtIssuers\":[],\"introspectionPolicySets\":[],\"treeName\":\"[Empty]\"},\"signEncOAuth2ClientConfig\":{\"tokenEndpointAuthSigningAlgorithm\":\"RS256\",\"idTokenEncryptionEnabled\":false,\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\",\"requestParameterSignedAlg\":null,\"authorizationResponseSigningAlgorithm\":\"RS256\",\"clientJwtPublicKey\":null,\"idTokenPublicEncryptionKey\":null,\"mTLSSubjectDN\":null,\"jwkStoreCacheMissCacheTime\":60000,\"jwkSet\":null,\"idTokenEncryptionMethod\":\"A128CBC-HS256\",\"jwksUri\":null,\"tokenIntrospectionEncryptedResponseAlg\":\"RSA-OAEP-256\",\"authorizationResponseEncryptionMethod\":null,\"userinfoResponseFormat\":\"JSON\",\"mTLSCertificateBoundAccessTokens\":false,\"publicKeyLocation\":\"jwks_uri\",\"tokenIntrospectionResponseFormat\":\"JSON\",\"requestParameterEncryptedEncryptionAlgorithm\":\"A128CBC-HS256\",\"userinfoSignedResponseAlg\":null,\"idTokenEncryptionAlgorithm\":\"RSA-OAEP-256\",\"requestParameterEncryptedAlg\":null,\"authorizationResponseEncryptionAlgorithm\":null,\"mTLSTrustedCert\":null,\"jwksCacheTimeout\":3600000,\"userinfoEncryptedResponseAlg\":null,\"idTokenSignedResponseAlg\":\"RS256\",\"tokenIntrospectionSignedResponseAlg\":\"RS256\",\"userinfoEncryptedResponseEncryptionAlgorithm\":\"A128CBC-HS256\"},\"coreOAuth2ClientConfig\":{\"secretLabelIdentifier\":null,\"status\":\"Active\",\"clientName\":[],\"clientType\":\"Confidential\",\"loopbackInterfaceRedirection\":false,\"defaultScopes\":[],\"agentgroup\":null,\"refreshTokenLifetime\":0,\"scopes\":[],\"accessTokenLifetime\":0,\"redirectionUris\":[],\"authorizationCodeLifetime\":0},\"coreOpenIDClientConfig\":{\"claims\":[],\"backchannel_logout_uri\":null,\"defaultAcrValues\":[],\"jwtTokenLifetime\":0,\"defaultMaxAgeEnabled\":false,\"clientSessionUri\":null,\"defaultMaxAge\":600,\"postLogoutRedirectUri\":[],\"backchannel_logout_session_required\":false},\"aiAgentIdentityAttributes\":{\"_id\":\"a558e950-3a86-4cb6-a3d3-bbbbbbbbbbbb\",\"_rev\":\"f90619f5-dd2d-48dd-9107-83847f2351e6-42983\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent2\",\"name\":\"Frodo Test AI Agent 2\",\"description\":\"Test AI agent 2 for Frodo unit tests.\",\"customAttributes\":null},\"aiAgentIdentityUid\":\"a558e950-3a86-4cb6-a3d3-bbbbbbbbbbbb\",\"coreUmaClientConfig\":{\"claimsRedirectionUris\":[]},\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}},{\"_id\":\"FrodoOpsTestAIAgent1\",\"_rev\":\"1903884026\",\"aiAgentIdentityAttributes\":{\"_id\":\"63d324ec-78c6-4c84-a629-aaaaaaaaaaaa\",\"_rev\":\"f90619f5-dd2d-48dd-9107-83847f2351e6-42944\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent1\",\"name\":\"Frodo Test AI Agent 1\",\"description\":\"Test AI agent 1 for Frodo unit tests.\",\"customAttributes\":null},\"aiAgentIdentityUid\":\"63d324ec-78c6-4c84-a629-aaaaaaaaaaaa\",\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":tr[...]
