{
  "log": {
    "_recordingName": "AgentOps/exportAgent()/2: Export agent 'FrodoOpsTestJavaAgent1' (J2EEAgent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "77510ec3f126388e42f2a2e6f1daa9ef",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bcf5bff9-c936-4fe9-927a-10e5a5afe096"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0.._aoAWFLj2_tH071eSf2ziQ.nJA-sERK8NzhrZbwZbOGoS5ckASUkXdOIo[...]
