{
  "log": {
    "_recordingName": "SecretsApi/getVersionOfSecret()/1: Get version 2 of existing secret: esv-frodo-test-secret1",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4cc14969a04f6817732e762aaa214df4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret1/versions/2"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 94,
            "text": "{\"createDate\":\"2024-01-20T04:38:08.638165Z\",\"loaded\":false,\"status\":\"DISABLED\",\"version\":\"2\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 207,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
