{
  "log": {
    "_recordingName": "IgaSodPolicyOps/importPolicy()/3: Import by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f5b9ab2eff604b39f4e72ae1fdd5cb6e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"frodo-test-delete-by-name\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"a3333333-3333-3333-3333-333333333333\",\"scheduleId\":\"policySchedulea3333333333333333333333333333333\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 435,
            "text": "{\"name\":\"frodo-test-delete-by-name\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"c565179e-e85b-458b-845f-9fdfb4056ff1\",\"scheduleId\":\"policySchedulea3333333333333333333333333333333\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1b3-ntGAgyMr+x9G6I7sEH36pySKZDY\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "74049eba-9e11-43f3-90ed-b7a41698d198"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 2002,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
