{
  "log": {
    "_recordingName": "MappingOps/createMapping()/1: Should create sync mapping",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6e9b2f10aede12892b2cd5ccd64a725a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-601a2e61-7255-4fc6-b6c9-9a2135901e20"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/sync"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 10199,
            "text": "{\"_id\":\"sync\",\"mappings\":[{\"_id\":\"sync/managedBravo_user_managedBravo_user\",\"consentRequired\":false,\"displayName\":\"managedBravo_user_managedBravo_user\",\"icon\":null,\"name\":\"managedBravo_user_managedBravo_user\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[],\"source\":\"managed/bravo_user\",\"syncAfter\":[],\"target\":\"managed/bravo_user\"},{\"_id\":\"sync/managedAlpha_application_managedBravo_application\",\"consentRequired\":true,\"displayName\":\"Test Application Mapping\",\"icon\":null,\"name\":\"managedAlpha_application_managedBravo_application\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[{\"source\":\"authoritative\",\"target\":\"_id\"}],\"source\":\"managed/alpha_application\",\"sourceQuery\":{\"_queryFilter\":\"(eq \\\"\\\" or eq \\\"\\\")\"},\"syncAfter\":[\"managedBravo_user_managedBravo_user\"],\"target\":\"managed/bravo_application\",\"targetQuery\":{\"_queryFilter\":\"!(eq \\\"\\\")\"}},{\"_id\":\"sync/managedAlpha_user_managedBravo_user\",\"consentRequired\":true,\"displayName\":\"Test Mapping for Frodo\",\"icon\":null,\"name\":\"managedAlpha_user_managedBravo_user\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[{\"condition\":{\"globals\":{},\"source\":\"console.log(\\\"Hello World!\\\");\",\"type\":\"text/javascript\"},\"default\":[\"Default value string\"],\"source\":\"accountStatus\",\"target\":\"applications\",\"transform\":{\"globals\":{},\"source\":\"console.log(\\\"hello\\\");\",\"type\":\"text/javascript\"}}],\"source\":\"managed/alpha_user\",\"syncAfter\":[\"managedBravo_user_managedBravo_user\",\"managedAlpha_application_managedBravo_application\"],\"target\":\"managed/bravo_user\"},{\"_id\":\"sync/managedBravo_user_managedAlpha_user\",\"consentRequired\":false,\"displayName\":\"Frodo test mapping\",\"icon\":null,\"name\":\"managedBravo_user_managedAlpha_user\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[],\"source\":\"managed/bravo_user\",\"syncAfter\":[\"managedBravo_user_managedBravo_user\",\"managedAlpha_application_managedBravo_application\",\"managedAlpha_user_managedBravo_user\"],\"target\":\"managed/alpha_user\"},{\"_id\":\"sync/AlphaUser2GoogleApps\",\"consentRequired\":false,\"correlationQuery\":[{\"expressionTree\":{\"all\":[\"__NAME__\"]},\"file\":\"ui/correlateTreeToQueryFilter.js\",\"linkQualifier\":\"default\",\"mapping\":\"AlphaUser2GoogleApps\",\"type\":\"text/javascript\"}],\"displayName\":\"AlphaUser2GoogleApps\",\"enableSync\":{\"$bool\":\"&{esv.gac.enable.mapping}\"},\"icon\":null,\"name\":\"AlphaUser2GoogleApps\",\"onCreate\":{\"globals\":{},\"source\":\"target.orgUnitPath = \\\"/NewAccounts\\\";\",\"type\":\"text/javascript\"},\"onUpdate\":{\"globals\":{},\"source\":\"//testing1234\\ntarget.givenName = oldTarget.givenName;\\ntarget.familyName = oldTarget.familyName;\\ntarget.__NAME__ = oldTarget.__NAME__;\",\"type\":\"text/javascript\"},\"policies\":[{\"action\":\"EXCEPTION\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"UNLINK\",\"situation\":\"SOURCE_MISSING\"},{\"action\":{\"globals\":{},\"source\":\"// Timing Constants\\nvar ATTEMPT = 6; // Number of attempts to find the Google user.\\nvar SLEEP_TIME = 500; // Milliseconds betwee[...]
