{
  "log": {
    "_recordingName": "IgaRequestFormOps/deleteRequestFormByName()/1: Delete existing request form by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1ecab38c6ef075c847ae9f39cf9b61d0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"test_request_form_6\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestForms?_queryFilter=name%20eq%20%22test_request_form_6%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 398,
            "text": "{\"totalCount\":1,\"resultCount\":1,\"result\":[{\"id\":\"1707266d-fd8d-4794-bce1-3cfde2016bca\",\"name\":\"test_request_form_6\",\"type\":\"lcmRequest\",\"description\":\"This is a test lcm request form\",\"categories\":{\"applicationType\":null,\"objectType\":null,\"operation\":\"create\",\"lcmType\":\"user\"},\"form\":{},\"metadata\":{\"modifiedDate\":\"2026-02-20T22:50:54.613425439Z\",\"createdDate\":\"2026-02-20T22:50:54.613423486Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"18e-finePH8fApWkpdzqM2YHyoibbaY\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "6e1deffb-7922-4187-bcc4-e82f4dc5e58c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 120,
      },
      {
        "_id": "0fde25b48345fa344907df71669bd089",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "formId eq \"1707[...]
