{
  "log": {
    "_recordingName": "IgaRequestFormOps/deleteRequestFormByName()/1: Delete existing request form by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1ecab38c6ef075c847ae9f39cf9b61d0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"test_request_form_6\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestForms?_queryFilter=name%20eq%20%22test_request_form_6%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 396,
            "text": "{\"totalCount\":1,\"resultCount\":1,\"result\":[{\"id\":\"1707266d-fd8d-4794-bce1-3cfde2016bca\",\"name\":\"test_request_form_6\",\"type\":\"lcmRequest\",\"description\":\"This is a test lcm request form\",\"categories\":{\"applicationType\":null,\"objectType\":null,\"operation\":\"create\",\"lcmType\":\"user\"},\"form\":{},\"metadata\":{\"modifiedDate\":\"2026-01-30T18:49:14.91961263Z\",\"createdDate\":\"2026-01-30T18:49:14.91961135Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"18c-2HAocPqe5UkJIcwKNzX8hlG2rco\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "de9fb5b9-cc7c-4b65-81bd-d0cc8df34314"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 144,
      },
      {
        "_id": "0fde25b48345fa344907df71669bd089",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "objectId co \"\" and formId eq \"1707266d-fd8d-4794-bce1-3cfde2016bca\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=formId%20eq%20%221707266d-fd8d-4794-bce1-3cfde2016bca%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 416,
            "text": "{\"totalCount\":2,\"resultCount\":2,\"result\":[{\"formId\":\"1707266d-fd8d-4794-bce1-3cfde2016bca\",\"objectId\":\"lcm/user/create\",\"metadata\":{\"modifiedDate\":\"2026-01-30T18:49:16.568358147Z\",\"createdDate\":\"2026-01-30T18:49:16.568357007Z\"}},{\"formId\":\"1707266d-fd8d-4794-bce1-3cfde2016bca\",\"objectId\":\"lcm/user/update\",\"metadata\":{\"modifiedDate\":\"2026-01-30T18:49:15.606953011Z\",\"createdDate\":\"2026-01-30T18:49:15.60695158Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1a0-wWHylEK9SduLekSy9OfcG57zymo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "3963dbfd-3fd2-460e-b6e0-b7fe1acdf825"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 196,
      },
      {
        "_id": "d9704554aec30b28b1e202bc01c2263b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"formId\":\"1707266d-fd8d-4794-bce1-3cfde2016bca\",\"objectId\":\"lcm/user/create\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "unassign"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestFormAssignments?_action=unassign"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
        [...]
