{
  "log": {
    "_recordingName": "IdmConfigOps/readConfigEntitiesByType()/1: Read config entity by type (emailTemplate)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "857c6e71808efc895fae3b4ebe9eef08",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-dd8f0cf2-4058-458b-b867-086647240388"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..0beHBgmnzRtkVTVTfJelUA.qCWpYvFWTwYAQAfk5_rB0-37AWo7wEOb0Sl1FB2M2bccwIm3Qr2BNHdfg7m9LtVCybvcOZlATOAKzTrGIzrIcdmTqCGK1rYRoed0r-C2ZHO3ZKivcvRxlxfW-g6WWsItN5CfOt9m1IPA9wllGz120QGcPQqby5TxkY4YM5nNhABn0tiZq5LrGO4BDnoSJi6TJCWe2mVjheg-2rp41KNw53n4HXd_1mWDRfy5oYhnCqUv2CSgMu7F5Fh_PjLwCcdVVvyZP3Ry0B7HgKXiStjeI3L4XxKKfcpQusD3xrdejRwe-GdPMPNCxHVN1gi0bWM5gNs1_psRYXnV_IuNkPjQPVYaU5FV-CkTha0LBy0yTNqWUE805Dd5ucEFyT0c1e76k9LGX2IDsTHP6RRCKbgGSinYCaJ1gI3qouBDGDSCrXtIQRB_6fYLotPkDvGs_VFIt0s9NGcr8Qfwi18-RWfovWpOPzNf_4o0kOb42vJed2tqZxl8zXduJ-bz5xtgUC0d4faK2XehD_2APKukfsTxB4AimGLH0IWMv_fskiws-D74-LaqyuVoxqDA4DRzSbpKbZTFC4g5gzN8KyVsNIUyPTI7OT38UmLJ-R9Tuc8kUNGBqmQulEGC2VXMDectOhpW2Em_nL78SFuO0nRqiKtvCaaLlO9RCTnPaXgqsAInlcPghhRpRnJpwYIh6IURd2d8u5GrfNkdO1Ocr4stXyvbUjJlngFtK9EXc2X_-5YLFd_XvRUCTGLRiidjZqAnxz7LHw3wrCRGlwmDOEBaZ99jtevVMK8R-yClzOtJFKYpLZ-3oowhDDBu0Rng4Vo1VCPKJsBg8X5LR-XR1k_fUNdEpPEpYidlDwlqkNsO9lmlzurQ-989AtyM3o5iYIHaYfrW8eYB5wE-GacOEj528ppHCxyIscX9XwA4ZlDEuElxhc29AhqvwJj-vRglGLY0Gx3UoC_R04bDMUHhwvnvCAACjw8xGta0JoCj4_ygMrf-lwSPMjuNYUh__mPRvUd-tWkA67evekz7d8hu2E9aqn93MZPvrFiqvGnCe0RF3Jv1xN8.ZDv3AdyNe0xcrdK5VKzruA"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id sw 'emailTemplate'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config?_queryFilter=_id%20sw%20%27emailTemplate%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 14650,
            "text": "{\"result\":[{\"_id\":\"emailTemplate/activation\",\"defaultLocale\":\"en\",\"displayName\":\"Activation\",\"emailTemplate\":{},\"enabled\":true,\"from\":\"\\\"ForgeRock Identity Cloud Team\\\" <saas@forgerock.com>\",\"html\":{\"en\":\"<div class=\\\"content\\\"><p>Welcome {{object.givenName}}.</p><p>Your username is '{{object.userName}}'.</p></div>\"},\"message\":{\"en\":\"<html><head></head><body style=\\\"background-color: #324054; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; margin: 0 auto; padding: 48px; width: 235px;\\\"><p>Welcome {{object.givenName}}.</p><p>Your username is '{{object.userName}}'.</p></div></body></html>\"},\"mimeType\":\"text/html\",\"styles\":\"body {\\n\\tbackground-color: #324054;\\n\\tcolor: #455469;\\n\\tpadding: 60px;\\n\\ttext-align: center\\n}\\n\\na {\\n\\ttext-decoration: none;\\n\\tcolor: #109cf1;\\n}\\n\\n.content {\\n\\tbackground-color: #fff;\\n\\tborder-radius: 4px;\\n\\tmargin: 0 auto;\\n\\tpadding: 48px;\\n\\twidth: 235px\\n}\\n\",\"subject\":{\"en\":\"Your J.P. Morgan account has been activated\"},\"templateId\":\"activation\"},{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"html\":{\"en\":\"<html><body>{{#if object.userName}}<p>Your username is '{{object.userName}}'.</p>{{else}}If you received this email in error, please disregard.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Click here to login</a></p></body></html>\",\"fr\":\"<html><body>{{#if object.userName}}<p>Votre nom d'utilisateur est '{{object.userName}}'.</p>{{else}}Si vous avez reçu cet e-mail par erreur, veuillez ne pas en tenir compte.{{/if}}<p><a href=\\\"{{object.resumeURI}}\\\">Cliquez ici pour vous connecter</a></p></body></html>\"},\"message\":{\"en\":\"<html><head></head><body style=\\\"background-color: #324054; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; m[...]
