{
  "log": {
    "_recordingName": "NodeOps/readNodesByType()/1: Read nodes of type ValidatedUsernameNode",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f455cd5ce72a1febec9526dd8ae20f10",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/ValidatedUsernameNode?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1933,
            "text": "{\"result\":[{\"_id\":\"2eaad2f9-5c4b-405f-bf3f-1e99bdc0d018\",\"_rev\":\"113138234\",\"usernameAttribute\":\"userName\",\"validateInput\":false,\"autocompleteValues\":[],\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"_id\":\"f74e82e2-72ab-4a1a-9188-655622794a37\",\"_rev\":\"319277755\",\"usernameAttribute\":\"userName\",\"validateInput\":false,\"autocompleteValues\":[],\"_type\":{\"_id\":\"ValidatedUsernameNode\",\"name\":\"Platform Username\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"_id\":\"ca2e615c-2436-448a-81de-5341d2b67daa\",\"_rev\":\"235934640\",\"usernameAttribute\":\"userName\",\"validateInput\":false,\"autocomple[...]
