{
  "log": {
    "_recordingName": "PolicyOps/readPolicy()/1: Get existing policy [FrodoTestPolicy1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "08af297ecfad20e657e8c4ac0f287315",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f6099de3-8d79-4ac5-b316-785c61c90543"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/policies/FrodoTestPolicy1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1073,
            "text": "{\"_id\":\"FrodoTestPolicy1\",\"_rev\":\"1696091289261\",\"name\":\"FrodoTestPolicy1\",\"active\":true,\"description\":\"Frodo Test Policy\",\"resources\":[\"*://*:*/forgerock/app2/*\",\"*://*:*/app2/*\"],\"applicationName\":\"FrodoTestPolicySet1\",\"actionValues\":{\"GET\":true},\"subject\":{\"type\":\"AuthenticatedUsers\"},\"condition\":{\"type\":\"AND\",\"conditions\":[{\"type\":\"Script\",\"scriptId\":\"62f18ede-e5e7-4a7b-8b73-1b02fcbd241a\"},{\"type\":\"AuthenticateToService\",\"authenticateToService\":\"TxAuthz\"},{\"type\":\"OR\",\"conditions\":[{\"type\":\"Session\",\"maxSessionTime\":5,\"terminateSession\":false},{\"type\":\"OAuth2Scope\",\"requiredScopes\":[\"openid\"]},{\"type\":\"Script\",\"scriptId\":\"729ee140-a4e9-43af-b358-d60eeda13cc3\"},{\"type\":\"NOT\",\"condition\":{\"type\":\"Script\",\"scriptId\":\"729ee140-a4e9-43af-b358-d60eeda13cc3\"}}]}]},\"resourceTypeUuid\":\"76656a38-5f8e-401b-83aa-4ccb74ce88d2\",\"lastModifiedBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"lastModifiedDate\":\"2023-09-30T16:28:09.261Z\",\"createdBy\":\"id=b672336b-41ef-428d-ae4a-e0c082875377,ou=user,ou=am-config\",\"creationDate\":\"2023-09-30T16:28:09.261Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "etag",
              "value": "\"1696091289261\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f6099de3-8d79-4ac5-b316-785c61c90543"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 60,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
