{
  "log": {
    "_recordingName": "EnvCustomDomainsOps/updateCustomDomains()/1: Update custom domains - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "72f9a12ddaf74e54b34d55b7ca33734e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"domains\":[\"frodo.mytestrun.com\",\"frodo.mytest.run\"]}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/custom-domains/alpha"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"domains\":[\"frodo.mytestrun.com\",\"frodo.mytest.run\"]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ee0cf88c-40eb-4a6f-a36e-46124dd04897/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 495,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
