{
  "log": {
    "_recordingName": "IdmSystemOps/testConnectorServers()/1: Test connector servers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "21daada82227f33a642b02a035f98c37",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-031ccd0e-2857-4e7c-9152-3cb9ab198c33"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "testConnectorServers"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system?_action=testConnectorServers"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 202,
            "text": "{\"openicf\":[{\"name\":\"rcscluster\",\"type\":\"remoteConnectorClientsGroup\",\"ok\":true},{\"name\":\"rcsdocker\",\"type\":\"remoteConnectorClient\",\"ok\":true},{\"name\":\"rcs2\",\"type\":\"remoteConnectorClient\",\"ok\":false}]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-031ccd0e-2857-4e7c-9152-3cb9ab198c33"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 84,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
