{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/exportAgent()/1: Export agent 'FrodoOpsTestGatewayAgent1' (IdentityGatewayAgent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9ea66ba3eb5c16b5d5a5d0813390337a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c8616ad-a53d-4cff-a147-a926536f9546"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id eq 'FrodoOpsTestGatewayAgent1'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents?_queryFilter=_id%20eq%20%27FrodoOpsTestGatewayAgent1%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 853,
            "text": "{\"result\":[{\"_id\":\"FrodoOpsTestGatewayAgent1\",\"_rev\":\"-347955262\",\"secretLabelIdentifier\":null,\"igTokenIntrospection\":\"Realm_Subs\",\"igCdssoLoginUrlTemplate\":null,\"status\":\"Active\",\"igCdssoRedirectUrls\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redirect\",\"https://ig.mytestrun.com/prometheus/cdsso/redirect\",\"https://ig.mytestrun.com/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/forgerock/cdsso/redirect\"],\"agentgroup\":null,\"userpassword\":null,\"_type\":\"IdentityGatewayAgent\"}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=2.0, resource=2.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c8616ad-a53d-4cff-a147-a926536f9546"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 247,
      },
      {
        "_id": "46a3ab1ad36fed1727dd40c6664ec648",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c8616ad-a53d-4cff-a147-a926536f9546"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/FrodoOpsTestGatewayAgent1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 850,
            "text": "{\"_id\":\"FrodoOpsTestGatewayAgent1\",\"_rev\":\"1997142121\",\"secretLabelIdentifier\":{\"inherited\":false},\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"igCdssoLoginUrlTemplate\":{\"inherited\":false},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redirect\",\"https://ig.mytestrun.com/prometheus/cdsso/redirect\",\"https://ig.mytestrun.com/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/forgerock/cdsso/redirect\"]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"1997142121\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c8616ad-a53d-4cff-a147-a926536f9546"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 63,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
