{
  "log": {
    "_recordingName": "JourneyOps/exportJourneys()/2: Export journeys w/ dependencies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cc968d4ca98755f27cb44bad450498ad",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e4b88a59-43fc-422e-9b99-467ee9540b23"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 40698,
            "text": "{\"result\":[{\"_id\":\"ResetPassword\",\"_rev\":\"-501795106\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Password Reset\\\"]\"},\"entryNodeId\":\"cc3e1ed2-25f1-47bf-83c6-17084f8b2b2b\",\"innerTreeOnly\":false,\"nodes\":{\"06c97be5-7fdd-4739-aea1-ecc7fe082865\":{\"connections\":{\"outcome\":\"e4c752f9-c625-48c9-9644-a58802fa9e9c\"},\"displayName\":\"Email Suspend Node\",\"nodeType\":\"EmailSuspendNode\",\"x\":453,\"y\":66},\"21b8ddf3-0203-4ae1-ab05-51cf3a3a707a\":{\"connections\":{\"false\":\"06c97be5-7fdd-4739-aea1-ecc7fe082865\",\"true\":\"06c97be5-7fdd-4739-aea1-ecc7fe082865\"},\"displayName\":\"Identify Existing User\",\"nodeType\":\"IdentifyExistingUserNode\",\"x\":271,\"y\":21},\"989f0bf8-a328-4217-b82b-5275d79ca8bd\":{\"connections\":{\"FAILURE\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"PATCHED\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"displayName\":\"Patch Object\",\"nodeType\":\"PatchObjectNode\",\"x\":819,\"y\":61},\"cc3e1ed2-25f1-47bf-83c6-17084f8b2b2b\":{\"connections\":{\"outcome\":\"21b8ddf3-0203-4ae1-ab05-51cf3a3a707a\"},\"displayName\":\"Page Node\",\"nodeType\":\"PageNode\",\"x\":103,\"y\":50},\"e4c752f9-c625-48c9-9644-a58802fa9e9c\":{\"connections\":{\"outcome\":\"989f0bf8-a328-4217-b82b-5275d79ca8bd\"},\"displayName\":\"Page Node\",\"nodeType\":\"PageNode\",\"x\":643,\"y\":50}},\"description\":\"Reset Password Tree\",\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":970,\"y\":79},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":981,\"y\":147},\"startNode\":{\"x\":25,\"y\":25}},\"mustRun\":false,\"enabled\":true},{\"_id\":\"j10\",\"_rev\":\"751431822\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[]\"},\"entryNodeId\":\"c91d626e-1156-41bd-b1fb-d292f640fba6\",\"innerTreeOnly\":false,\"nodes\":{\"300feda0-3248-49a9-b60f-01df802b2229\":{\"connections\":{\"true\":\"c7fcf7ae-1ab5-474b-b5b0-272e10468fbd\"},\"displayName\":\"level\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":395,\"y\":345.015625},\"40afb384-e9b6-4dcb-acde-04de109474c8\":{\"connections\":{\"true\":\"c7fcf7ae-1ab5-474b-b5b0-272e10468fbd\"},\"displayName\":\"shared\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":393,\"y\":259.015625},\"8d7d64ee-da20-461f-a2ca-206b7479dd67\":{\"connections\":{\"true\":\"c7fcf7ae-1ab5-474b-b5b0-272e10468fbd\"},\"displayName\":\"level\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":598,\"y\":173.015625},\"97ef9d96-99e7-4d2d-b6c6-4177b5397ead\":{\"connections\":{\"true\":\"8d7d64ee-da20-461f-a2ca-206b7479dd67\"},\"displayName\":\"shared\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":392,\"y\":173.015625},\"c7fcf7ae-1ab5-474b-b5b0-272e10468fbd\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"displayName\":\"nest\",\"nodeType\":\"InnerTreeEvaluatorNode\",\"x\":816,\"y\":233.015625},\"c91d626e-1156-41bd-b1fb-d292f640fba6\":{\"connections\":{\"level only\":\"300feda0-3248-49a9-b60f-01df802b2229\",\"none\":\"c7fcf7ae-1ab5-474b-b5b0-272e10468fbd\",\"shared and level\":\"97ef9d96-99e7-4d2d-b6c6-4177b5397ead\",\"shared only\":\"40afb384-e9b6-4dcb-acde-04de109474c8\"},\"displayName\":\"mode\",\"nodeType\":\"ScriptedDecisionNode\",\"x\":167,\"y\":210.015625}},\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":1236,\"y\":145},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":1236,\"y\":253},\"startNode\":{\"x\":50,\"y\":250}},\"mustRun\":false,\"enabled\":true},{\"_id\":\"ForgottenUsername\",\"_rev\":\"1703131230\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[\\\"Username Reset\\\"]\"},\"entryNodeId\":\"5e2a7c95-94af-4b23-8724-deb13853726a\",\"innerTreeOnly\":false,\"nodes\":{\"5e2a7c95-94af-4b23-8724-deb13853726a\":{\"connections\":{\"outcome\":\"bf9ea8d5-9802-4f26-9664-a21840faac23\"},\"displayName\":\"Page Node\",\"nodeType\":\"PageNode\",\"x\":0,\"y\":0},\"b93ce36e-1976-4610-b24f-8d6760b5463b\":{\"connections\":{\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\"},\"displayName\":\"Inner Tree Evaluator\",\"nodeType\":\"InnerTreeEvaluatorNode\",\"x\":0,\"y\":0},\"bf9ea8d5-9802-4f26-9664-a21840faac23\":{\"connections\":{\"false\":\"d9a79f01-2ce3-4be2-a28a-975f35c3c8ca\",\"true\":\"d9a79f01-2ce3-4be2-a28a-975f35c3c8ca\"},\"displayName\":\"Identify Existing User\",\"nodeType\":\"IdentifyExistingUserNode\",\"x\":0,\"y\":0},\"d9a79f01-2ce3-4be2-a28a-975f35c3c8ca\":{\"connections\":{\"outcome\":\"b93ce36e-1976-4610-b24f-8d6760b5463b\"},\"displayName\":\"Email Suspend Node\",\"nodeType\":\"EmailSuspendNode\",\"x\":0,\"y\":0}},\"description\":\"Forgotten Username Tree\",\"staticNodes\":{\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":970,\"y\":149},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":982,\"y\":252},\"startNode\":{\"x\":50,\"y\":25}},\"mustRun\":false,\"enabled\":true},{\"_id\":\"UpdatePassword\",\"_rev\":\"-1067190791\",\"identityResource\":\"man[...]
