{
  "log": {
    "_recordingName": "IgaWorkflowOps/importWorkflows()/3: Import all",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8d878c71bed78b5a5318177c64a3e432",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a1ddb49b-d0ff-4f64-967e-06645357f1b2"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"emailTemplate/FrodoTestEmailTemplate1\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template One\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>Click to reset your password</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Password reset link</a></h4>\",\"fr\":\"<h3>Cliquez pour réinitialiser votre mot de passe</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Mot de passe lien de réinitialisation</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Reset your password\",\"fr\":\"Réinitialisez votre mot de passe\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestEmailTemplate1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 511,
            "text": "{\"_id\":\"emailTemplate/FrodoTestEmailTemplate1\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template One\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<h3>Click to reset your password</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Password reset link</a></h4>\",\"fr\":\"<h3>Cliquez pour réinitialiser votre mot de passe</h3><h4><a href=\\\"{{object.resumeURI}}\\\">Mot de passe lien de réinitialisation</a></h4>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Reset your password\",\"fr\":\"Réinitialisez votre mot de passe\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a1ddb49b-d0ff-4f64-967e-06645357f1b2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 108,
      },
      {
        "_id": "76ff3e2631d4c6ff2fad1f5c0e4f5eff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a1ddb49b-d0ff-4f64-967e-06645357f1b2"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
