{
  "log": {
    "_recordingName": "EnvCertificatesOps/deleteCertificate()/3: Force delete existing active and live certificate - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "296f2b6a73f47660e05c19345801758c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-031423ec-ac94-42c4-a92c-c56792d61f3f"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 376,
            "text": "{\"active\":true,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-031423ec-ac94-42c4-a92c-c56792d61f3f\",\"issuer\":\"CN=frodo-dev7.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev7.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "e6c63d6e-e6cc-446e-8c92-885da098680c/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 72,
      },
      {
        "_id": "d052dfbc916ed841932e8d6120f48561",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-031423ec-ac94-42c4-a92c-c56792d61f3f"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 377,
            "text": "{\"active\":false,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-031423ec-ac94-42c4-a92c-c56792d61f3f\",\"issuer\":\"CN=frodo-dev7.m[...]
