{
  "log": {
    "_recordingName": "TreeApi/putTree()/3: Put invalid tree [invalid attribute]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ef74276d6ac4174b6e7b12e230cb40e9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4ef8b313-44ce-4b6d-952d-da6187f2858e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"entryNodeId\":\"e301438c-0bd0-429c-ab0c-66126501069a\",\"nodes2\":{},\"staticNodes\":{},\"description\":\"invalid tree def\",\"identityResource\":\"managed/alpha_user\",\"uiConfig\":{\"categories\":\"[]\"}}"
          },
          "queryString": [],
          "url": "https://openam-volker-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/Invalid"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 197,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"Invalid attribute specified.\",\"detail\":{\"validAttributes\":[\"description\",\"enabled\",\"entryNodeId\",\"identityResource\",\"nodes\",\"staticNodes\",\"uiConfig\"]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-4ef8b313-44ce-4b6d-952d-da6187f2858e"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 35,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
