{
  "log": {
    "_recordingName": "IdpOps/exportSocialIdentityProvider()/1: Export social provider FrodoTestIdp1",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f403c414204898428169f781b6348757",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6a174885-53fc-4ba1-bfa3-d0ea4c7127f6"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/services/SocialIdentityProviders?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 14211,
            "text": "{\"result\":[{\"clientId\":\"297338177925-mho17cgnm540s2gre8h27feb6sbs1msd.apps.googleusercontent.com\",\"pkceMethod\":\"S256\",\"wellKnownEndpoint\":\"https://accounts.google.com/.well-known/openid-configuration\",\"jwtEncryptionMethod\":\"NONE\",\"authorizationEndpoint\":\"https://accounts.google.com/o/oauth2/v2/auth\",\"jwtEncryptionAlgorithm\":\"NONE\",\"issuerComparisonCheckType\":\"EXACT\",\"encryptJwtRequestParameter\":false,\"scopeDelimiter\":\" \",\"scopes\":[\"openid\",\"profile\",\"email\"],\"issuer\":\"https://accounts.google.com\",\"userInfoResponseType\":\"JSON\",\"acrValues\":[],\"encryptedIdTokens\":false,\"enabled\":true,\"jwtRequestParameterOption\":\"NONE\",\"authenticationIdKey\":\"sub\",\"uiConfig\":{\"buttonClass\":\"\",\"buttonCustomStyle\":\"background-color: #fff; color: #757575; border-color: #ddd;\",\"buttonCustomStyleHover\":\"color: #6d6d6d; background-color: #eee; border-color: #ccc;\",\"buttonDisplayName\":\"Google\",\"buttonImage\":\"images/g-logo.png\",\"iconBackground\":\"#4184f3\",\"iconClass\":\"fa-google\",\"iconFontColor\":\"white\"},\"privateKeyJwtExpTime\":600,\"revocationCheckOptions\":[],\"enableNativeNonce\":true,\"transform\":\"58d29080-4563-480b-89bb-1e7719776a21\",\"userInfoEndpoint\":\"https://www.googleapis.com/oauth2/v3/userinfo\",\"jwtSigningAlgorithm\":\"NONE\",\"redirectURI\":\"https://idc.scheuber.io/login\",\"clientAuthenticationMethod\":\"CLIENT_SECRET_POST\",\"responseMode\":\"DEFAULT\",\"useCustomTrustStore\":false,\"tokenEndpoint\":\"https://www.googleapis.com/oauth2/v4/token\",\"_id\":\"google\",\"_type\":{\"_id\":\"googleConfig\",\"name\":\"Client configuration for Google.\",\"collection\":true}},{\"clientId\":\"297318173925-mho17cgnm550s2gre7h27feb6sbs2msd.apps.googleusercontent.com\",\"pkceMethod\":\"S256\",\"wellKnownEndpoint\":\"https://accounts.google.com/.well-known/openid-configuration\",\"jwtEncryptionMethod\":\"NONE\",\"authorizationEndpoint\":\"https://accounts.google.com/o/oauth2/v2/auth\",\"jwtEncryptionAlgorithm\":\"NONE\",\"issuerComparisonCheckType\":\"EXACT\",\"encryptJwtRequestParameter\":false,\"scopeDelimiter\":\" \",\"scopes\":[\"openid\",\"profile\",\"email\"][...]
