{
  "log": {
    "_recordingName": "ConfigOps/Cloud Tests/exportFullConfiguration()/5: Export only global config with string arrays, decoding variables, including journey coordinates and default scripts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cee51132a7193d5394b226be6da617dd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-187b32ff-6faf-4b8f-bdd3-d691defc688e"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 33589,
            "text": "{\"result\":[{\"_id\":\"c6063fb2f5dc42dd9772bedc93898bd8-1\",\"_rev\":\"855360523\",\"serviceName\":\"c6063fb2f5dc42dd9772bedc93898bd8\",\"displayName\":\"ALU\",\"description\":\"Simple ALU that performs basic binary math operations. Expects an \\\"x\\\" and \\\"y\\\" value on the shared state, and will produce a new \\\"z\\\" value on the shared state as output.\",\"outcomes\":[\"Success\"],\"outputs\":[\"z\"],\"inputs\":[\"x\",\"y\"],\"script\":\"var SCRIPT_OUTCOMES = {\\n    SUCCESS: 'Success'\\n};\\n\\nvar OPERATORS = {\\n    ADD: \\\"ADD\\\",\\n    SUBTRACT: \\\"SUBTRACT\\\",\\n    MULTIPLY: \\\"MULTIPLY\\\",\\n    DIVIDE: \\\"DIVIDE\\\"\\n}\\n\\nfunction main() {\\n    var a = Number(properties.a);\\n    var b = Number(properties.b);\\n    switch (properties.operator) {\\n        case OPERATORS.ADD:\\n            nodeState.putShared(\\\"z\\\", a + b);\\n            break;\\n        case OPERATORS.SUBTRACT:\\n            nodeState.putShared(\\\"z\\\", a - b);\\n            break;\\n        case OPERATORS.MULTIPLY:\\n            nodeState.putShared(\\\"z\\\", a * b);\\n            break;\\n        case OPERATORS.DIVIDE:\\n            if (b == 0) throw new Error(\\\"Cannot divide by 0\\\");\\n            nodeState.putShared(\\\"z\\\", a / b);\\n            break;\\n        default: throw new Error(\\\"Unknown operator.\\\");\\n    }\\n    action.goTo(SCRIPT_OUTCOMES.SUCCESS);\\n}\\n\\nmain();\\n\",\"errorOutcome\":true,\"tags\":[\"math\",\"utilities\"],\"properties\":{\"operator\":{\"title\":\"Operator\",\"description\":\"The operation to perform.\",\"type\":\"STRING\",\"required\":true,\"defaultValue\":\"ADD\",\"options\":{\"ADD\":\"+\",\"MULTIPLY\":\"*\",\"SUBTRACT\":\"-\",\"DIVIDE\":\"/\"},\"multivalued\":false}}},{\"_id\":\"e5ad0110c8ee4dafaae983003cd05d4a-1\",\"_rev\":\"-2070743967\",\"serviceName\":\"e5ad0110c8ee4dafaae983003cd05d4a\",\"displayName\":\"Generate JWT\",\"description\":\"Generate a signed JWT using the HMAC SHA-256 algorithm.\",\"outcomes\":[\"True\",\"False\"],\"outputs\":[],\"inputs\":[],\"script\":\"var aud = properties.audience;\\nvar iss = properties.issuer;\\nvar validity = properties.validity;\\nvar esv = properties.signingkey;\\n\\nvar signingkey = systemEnv.getProperty(esv);\\n\\nvar username = nodeState.get(\\\"username\\\");\\n\\nvar data = {\\n  jwtType:\\\"SIGNED\\\",\\n  jwsAlgorithm: \\\"HS256\\\",\\n  issuer: iss,\\n  subject: username,\\n  audience: aud,\\n  type: \\\"JWT\\\",\\n  validityMinutes: validity,\\n  signingKey: signingkey\\n};\\n\\nvar jwt = jwtAssertion.generateJwt(data);\\n\\nif (jwt !== null && jwt.length > 0) {\\n  nodeState.putShared(\\\"assertionJwt\\\" , jwt);\\n  action.goTo(\\\"True\\\");\\n} else {\\n  action.goTo(\\\"False\\\");\\n}\\n\",\"errorOutcome\":true,\"tags\":[\"Utilities\",\"utilities\"],\"properties\":{\"audience\":{\"title\":\"Audience\",\"description\":\"The audience (aud) claim\",\"type\":\"STRING\",\"required\":true,\"multivalued\":false},\"issuer\":{\"title\":\"Issuer\",\"description\":\"The issuer (iss) claim\",\"type\":\"STRING\",\"required\":true,\"multivalued\":false},\"signingkey\":{\"title\":\"HMAC Signing Key\",\"description\":\"The secret label for the HMAC signing key\",\"type\":\"STRING\",\"required\":true,\"defaultValue\":\"esv.signing.key\",\"multivalued\":false},\"validity\":{\"title\":\"Validity (minutes)\",\"description\":\"\",\"type\":\"NUMBER\",\"required\":true,\"defaultValue\":5,\"multivalued\":false}}},{\"_id\":\"ef81b1a52c914710b3388caebfe7233a-1\",\"_rev\":\"1859562163\",\"serviceName\":\"ef81b1a52c914710b3388caebfe7233a\",\"displayName\":\"Display Callback\",\"description\":\"Displays custom callback to the page\",\"outcomes\":[\"outcome\"],\"outputs\":[],\"inputs\":[],\"script\":\"var SCRIPT_OUTCOMES = {\\n    OUTCOME: 'outcome'\\n};\\n\\nvar CALLBACKS = [...]
