{
  "log": {
    "_recordingName": "ConfigOps/Cloud Tests/exportFullConfiguration()/5: Export only global config with string arrays, decoding variables, including journey coordinates and default scripts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fc71be44855f4e764537c68893e9a626",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-69ff07c3-c6e5-4d1b-9b90-5ed2ac625e30"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/realms/?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 420,
            "text": "{\"result\":[{\"_id\":\"Lw\",\"_rev\":\"-345738000\",\"parentPath\":null,\"active\":true,\"name\":\"/\",\"aliases\":[]},{\"_id\":\"L2FscGhh\",\"_rev\":\"362268810\",\"parentPath\":\"/\",\"active\":true,\"name\":\"alpha\",\"aliases\":[]},{\"_id\":\"L2JyYXZv\",\"_rev\":\"480875699\",\"parentPath\":\"/\",\"active\":true,\"name\":\"bravo\",\"aliases\":[]}],\"resultCount\":3,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.0,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-69ff07c3-c6e5-4d1b-9b90-5ed2ac625e30"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 128,
      },
      {
        "_id": "33c52e4ceb99b07961cc4718e320cd5c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-69ff07c3-c6e5-4d1b-9b90-5ed2ac625e30"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 695,
            "text": "{\"_id\":\"*\",\"_rev\":\"-1623615830\",\"domains\":[\"openam-frodo-dev.forgeblocks.com\",\"frodo-dev.com\",\"test-frodo.com\"],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[\"fr-idm-uuid\"],\"cloudOnlyFeaturesEnabled\":true,\"oauth2AIAgentsEnabled\":true}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "etag",
              "value": "\"-1623615830\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-69ff07c3-c6e5-4d1b-9b90-5ed[...]
