{
  "log": {
    "_recordingName": "IgaEventOps/deleteEventByName()/1: Delete existing event by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "badf809ee1f81cb50b3825149ae7543b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"test_event_7\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/event?_queryFilter=name%20eq%20%22test_event_7%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1554,
            "text": "{\"result\":[{\"action\":{\"type\":\"orchestration\",\"name\":\"workflowId2\",\"parameters\":{\"var1\":\"val1\",\"var2\":\"val2\",\"var3\":\"val3\"}},\"name\":\"test_event_7\",\"condition\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"contains\":{\"search_string\":{\"literal\":\"a\"},\"in_string\":\"user.before.city\"}},{\"not_contains\":{\"search_string\":{\"literal\":\"b\"},\"in_string\":\"user.after.city\"}},{\"equals\":{\"right\":{\"literal\":\"c\"},\"left\":\"user.before.city\"}},{\"not_equals\":{\"right\":{\"literal\":\"d\"},\"left\":\"user.after.city\"}},{\"starts_with\":{\"prefix\":{\"literal\":\"e\"},\"value\":\"user.before.city\"}},{\"ends_with\":{\"suffix\":{\"literal\":\"f\"},\"value\":\"user.after.city\"}},{\"not_equals\":{\"left\":\"user.before.city\",\"right\":\"user.after.city\"}},{\"equals\":{\"left\":\"user.before.city\",\"right\":\"user.after.city\"}},{\"and\":[{\"gte\":{\"right\":{\"literal\":1},\"left\":\"user.before.frIndexedInteger1\"}},{\"gt\":{\"right\":{\"literal\":2},\"left\":\"user.after.frIndexedInteger1\"}},{\"lte\":{\"right\":{\"literal\":3},\"left\":\"user.before.frIndexedInteger1\"}},{\"lt\":{\"right\":{\"literal\":4},\"left\":\"user.after.frIndexedInteger1\"}}]}]}},\"description\":\"Test event description\",\"entityType\":\"user\",\"mutationType\":\"create\",\"owners\":[{\"id\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"givenName\":\"Preston\",\"mail\":\"test@test.com\",\"sn\":\"Test\",\"userName\":\"PrestonIGATestUser\"}],\"status\":\"active\",\"id\":\"96fbbf9c-dd1c-47a8-86b6-b2981dc9d41f\",\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-02-11T00:14:04.963423034Z\",\"createdDate\":\"2026-02-11T00:14:04.963420981Z\"}}],\"searchAfterKey\":[\"96fbbf9c-dd1c-47a8-86b6-b2981dc9d41f\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"612-n6jp7XlWiaiGNwW1EjlKK9K5Bcg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "6494ce20-650f-4099-b27c-135e31ac88e0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160,
      },
      {
        "_id": "1407f0f980bc469f7329ea63badc4653",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "D[...]
