{
  "log": {
    "_recordingName": "AgentOps/getJavaAgents()/1: Get java agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "58e82498bfa5079883e52d1a0b52b452",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-195702d5-6ea7-4c3b-85cb-8823d7dbfd85"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/J2EEAgent?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 20527,
            "text": "{\"result\":[{\"_id\":\"FrodoOpsTestJavaAgent1\",\"_rev\":\"542636718\",\"ssoJ2EEAgentConfig\":{\"encodeCookies\":false,\"cookieResetDomains\":{},\"authExchangeUri\":null,\"authExchangeCookieName\":null,\"setCookieInternalMap\":{},\"excludedUserAgentsList\":[],\"cdssoRedirectUri\":\"/agent/post-authn-redirect\",\"cookieResetPaths\":{},\"cdssoSecureCookies\":false,\"acceptSsoTokenEnabled\":false,\"acceptSsoTokenDomainList\":[\"\"],\"cdssoDomainList\":[\"\"],\"setCookieAttributeMap\":{},\"cookieResetEnabled\":false,\"cookieResetNames\":[\"\"],\"acceptIPDPCookie\":false,\"httpOnly\":true},\"amServicesJ2EEAgent\":{\"urlPolicyEnvPostParameters\":[\"\"],\"policyEvaluationRealm\":\"/\",\"authServiceHost\":\"openam-volker-dev.forgeblocks.com\",\"policyNotifications\":true,\"conditionalLoginUrl\":[\"\"],\"customLoginEnabled\":false,\"legacyLoginUrlList\":[\"\"],\"agentAdviceEncode\":false,\"authServicePort\":443,\"urlPolicyEnvGetParameters\":[\"\"],\"restrictToRealm\":{},\"urlPolicyEnvJsessionParameters\":[\"\"],\"amLoginUrl\":[],\"conditionalLogoutUrl\":[\"\"],\"authServiceProtocol\":\"https\",\"policyEvaluationApplication\":\"iPlanetAMWebAgentService\",\"authSuccessRedirectUrl\":false,\"overridePolicyEvaluationRealmEnabled\":false},\"applicationJ2EEAgentConfig\":{\"profileAttributeFetchMode\":\"NONE\",\"notEnforcedUris\":[\"\"],\"notEnforcedIpsCacheEnabled\":true,\"logoutIntrospection\":false,\"invertNotEnforcedUris\":false,\"cookieAttributeUrlEncoded\":true,\"cookieAttributeMultiValueSeparator\":\"|\",\"notEnforcedRuleCompoundSeparator\":\"|\",\"logoutRequestParameters\":{},\"resourceAccessDeniedUri\":{},\"continuousSecurityCookies\":{},\"responseAttributeFetchMode\":\"NONE\",\"notEnforcedUrisCacheEnabled\":true,\"headerAttributeDateFormat\":\"EEE, d MMM yyyy hh:mm:ss z\",\"profileAttributeMap\":{},\"sessionAttributeFetchMode\":\"NONE\",\"continuousSecurityHeaders\":{},\"responseAttributeMap\":{},\"notEnforcedUrisCacheSize\":1000,\"invertNotEnforcedIps\":false,\"sessionAttributeMap\":{},\"clientIpValidationRange\":{},\"notEnforcedIpsCacheSize\":1000,\"clientIpValidationMode\":{\"\":\"OFF\"},\"notEnforcedFavicon\":true,\"logoutEntryUri\":{},\"notEnforcedIps\":[\"\"],\"applicationLogoutUris\":{}},\"globalJ2EEAgentConfig\":{\"userTokenName\":\"UserToken\",\"fqdnDefault\":\"openam-volker-dev.forgeblocks.com\",\"recheckAmUnavailabilityInSeconds\":5,\"httpSessionBinding\":true,\"webSocketConnectionIntervalInMinutes\":30,\"localAuditLogRotation\":false,\"filterMode\":{\"\":\"ALL\"},\"debugLogfileRotationSize\":52428800,\"status\":\"Active\",\"debugLevel\":\"error\",\"lbCookieName\":\"amlbcookie\",\"auditLogLocation\":\"REMOTE\",\"lbCookieEnabled\":false,\"userPrincipalFlag\":false,\"fqdnCheck\":false,\"preAuthCookieMaxAge\":300,\"localAuditRotationSize\":52428800,\"fqdnMapping\":{},\"debugLogfileRotationMinutes\":-1,\"loginAttemptLimit\":0,\"auditAccessType\":\"LOG_NONE\",\"redirectAttemptLimitCookieName\":\"amFilterRDParam\",\"debugLogfileRetentionCount\":-1,\"configurationReloadInterval\":0,\"agentgroup\":null,\"debugLogfileSuffix\":\"-yyyy.MM.dd-HH.mm.ss\",\"userAttributeName\":\"employeenumber\",\"localAuditLogfileRetentionCount\":-1,\"customResponseHeader\":{},\"redirectAttemptLimit\":0,\"userMappingMode\":\"USER_ID\",\"jwtName\":\"am-auth-jwt\",\"repositoryLocation\":\"centralized\",\"loginAttemptLimitCookieName\":\"amFilterParam\",\"cdssoRootUrl\":[\"agentRootURL=https://openam-volker-dev.forgeblocks.com:443/\"],\"agentConfigChangeNotificationsEnabled\":true,\"debugLogfilePrefix\":null,\"preAuthCookieName\":\"amFilterCDSSORequest\"},\"advancedJ2EEAgentConfig\":{\"postDataStickySessionKeyValue\":null,\"xssDetectionRedirectUri\":{},\"postDataCacheTtlMin\":5,\"jwtCacheSize\":5000,\"postDataPreservation\":false,\"policyCacheSize\":5000,\"postDataPreserveCacheEntryMaxEntries\":1000,\"postDataPreserveCacheEntryMaxTotalSizeMb\":-1,\"ssoExchangeCacheSize\":100,\"sessionCacheTTL\":15,\"idleTimeRefreshWindow\":1,\"ssoExchangeCacheTTL\":5,\"possibleXssCodeElements\":[\"\"],\"alternativeAgentPort\":null,\"policyClientPollingInterval\":3,\"missingPostDataPreservationEntryUri\":[\"\"],\"alternativeAgentProtocol\":null,\"clientIpHeader\":null,\"jwtCacheTTL\":30,\"customProperties\":[],\"policyCachePerUser\":50,\"expiredSessionCacheTTL\":20,\"fragmentRelayUri\":null,\"postDataStickySessionMode\":\"URL\",\"alternativeAgentHostname\":null,\"expiredSessionCacheSize\":500,\"clientHostnameHeader\":null,\"monitoringToCSV\":false},\"miscJ2EEAgentConfig\":{\"legacyUserAgentList\":[\"Mozilla/4.7*\"],\"loginReasonMap\":{},\"authFailReasonParameterRemapper\":{},\"agent302RedirectStatusCode\":200,\"loginReasonParameterName\":null,\"gotoUrl\":null,\"localeLanguage\":\"en\",\"authFailReasonParameterName\":null,\"unwantedHttpUrlParams\":[\"\"],\"agent302RedirectContentType\":\"application/json\",\"agent302RedirectEnabled\":true,\"legacyUserAgentSupport\":false,\"wantedHttpUrlParams\":[\"\"],\"ignorePathInfo\":false,\"agent302RedirectInvertEnabled\":false,\"wantedHttpUrlRegexParams\":[\"\"],\"localeCountry\":\"US\",\"agent302RedirectHttpData\":\"{redirect:{requestUri:%REQUEST_URI%,requestUrl:%REQUEST_URL%,targetUrl:%TARGET%}}\",\"agent302RedirectNerList\":[\"\"],\"legacyRedirectUri\":\"/agent/sunwLegacySupportURI\",\"portCheckFile\":\"PortCheckContent.txt\",\"authFailReasonUrl\":null,\"gotoParameterName\":\"goto\",\"portCheckSetting\":{\"443\":\"https\"},\"unwantedHttpUrlRegexParams\":[\"\"],\"portCheckEnabled\":false},\"_type\":{\"_id\":\"J2EEAgent\",\"name\":\"J2EE Agents\",\"collection\":true}},{\"_id\":\"FrodoOpsTestJavaAgent7\",\"_rev\":\"-1751269054\",\"ssoJ2EEAgentConfig\":{\"encodeCookies\":false,\"cookieResetDomains\":{},\"authExchangeUri\":null,\"authExchangeCookieName\":null,\"setCookieInternalMap\":{},\"excludedUserAgentsList\":[],\"cdssoRedirectUri\":\"/agentapp/post-authn-redirect\",\"cookieResetPaths\":{},\"cdssoSecureCookies\":false,\"acceptSsoTokenEnabled\":false,\"acceptSsoTokenDomainList\":[\"\"],\"cdssoDomainList\":[\"\"],\"setCookieAttributeMap\":{},\"cookieRes[...]
