{
  "log": {
    "_recordingName": "IgaEventOps/readEvents()/1: Read existing events",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d63d7c1193b2c59fcf24932dbdd339c7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/event?_queryFilter=true&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 32745,
            "text": "{\"result\":[{\"action\":{\"type\":\"orchestration\",\"name\":\"workflowId2\",\"parameters\":{\"var1\":\"val1\",\"var2\":\"val2\",\"var3\":\"val3\"}},\"name\":\"test_event_7\",\"condition\":{\"version\":\"v2\",\"filter\":{\"or\":[{\"contains\":{\"search_string\":{\"literal\":\"a\"},\"in_string\":\"user.before.city\"}},{\"not_contains\":{\"search_string\":{\"literal\":\"b\"},\"in_string\":\"user.after.city\"}},{\"equals\":{\"right\":{\"literal\":\"c\"},\"left\":\"user.before.city\"}},{\"not_equals\":{\"right\":{\"literal\":\"d\"},\"left\":\"user.after.city\"}},{\"starts_with\":{\"prefix\":{\"literal\":\"e\"},\"value\":\"user.before.city\"}},{\"ends_with\":{\"suffix\":{\"literal\":\"f\"},\"value\":\"user.after.city\"}},{\"not_equals\":{\"left\":\"user.before.city\",\"right\":\"user.after.city\"}},{\"equals\":{\"left\":\"user.before.city\",\"right\":\"user.after.city\"}},{\"and\":[{\"gte\":{\"right\":{\"literal\":1},\"left\":\"user.before.frIndexedInteger1\"}},{\"gt\":{\"right\":{\"literal\":2},\"left\":\"user.after.frIndexedInteger1\"}},{\"lte\":{\"right\":{\"literal\":3},\"left\":\"user.before.frIndexedInteger1\"}},{\"lt\":{\"right\":{\"literal\":4},\"left\":\"user.after.frIndexedInteger1\"}}]}]}},\"description\":\"Test event description\",\"entityType\":\"user\",\"mutationType\":\"create\",\"owners\":[{\"id\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"givenName\":\"Preston\",\"mail\":\"test@test.com\",\"sn\":\"Test\",\"userName\":\"PrestonIGATestUser\"}],\"status\":\"active\",\"id\":\"96fbbf9c-dd1c-47a8-86b6-b2981dc9d41f\",\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-02-11T00:14:04.963423034Z\",\"createdDate\":\"2026-02-11T00:14:04.963420981Z\"}},{\"action\":{\"type\":\"orchestration\",\"name\":\"BasicApplicationGrant\",\"parameters\":{}},\"name\":\"asdf\",\"condition\":{\"version\":\"v2\",\"filter\":{}},\"description\":\"\",\"entityType\":\"user\",\"mutationType\":\"create\",\"owners\":[{\"id\":\"managed/user/645363b3-7cbb-47a3-bf93-d96c59c387d9\",\"givenName\":\"Colton\",\"mail\":\"cparry@trivir.com\",\"sn\":\"Parry\",\"userName\":\"ColtonIGATestUser\"}],\"status\":\"active\",\"id\":\"190dc17f-8aaa-434f-ba6d-b12d895b2b33\",\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-02-10T19:34:33.16495918Z\",\"createdDate\":\"2026-02-10T19:34:33.16495642Z\"}},{\"action\":{\"type\":\"certification\",\"template\":{\"status\":\"active\",\"name\":\"test_event_certification_1\",\"description\":\"Test certification template description\",\"isEventBased\":false,\"stagingEnabled\":false,\"skipInactiveCertifiers\":false,\"allowSelfCertification\":true,\"selfCertificationRule\":\"restricted\",\"enableForward\":true,\"enableReassign\":true,\"reassignPermissions\":{\"certify\":true,\"comment\":true,\"claim\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"exceptionDuration\":730,\"allowBulkCertify\":true,\"allowPartialSignoff\":true,\"remediationRule\":\"BasicRevocation\",\"initializeRule\":\"\",\"finalizeRule\":\"\",\"certificationType\":\"identity\",\"ownerId\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"stageDuration\":1095,\"expirationAction\":\"reassign\",\"expirationActionDelay\":0,\"expirationReassignee\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"stages\":[{\"certifierType\":\"user\",\"certifierId\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"certifierScript\":null,\"certifierPath\":null,\"certifierInfo\":{\"givenName\":\"Preston\",\"id\":\"0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"mail\":\"test@test.com\",\"sn\":\"Test\",\"userName\":\"PrestonIGATestUser\"}}],\"defaultCertifierId\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"assignmentNotification\":null,\"assignmentNotificationIncludeManager\":false,\"reassignNotification\":null,\"expirationNotification\":null,\"reminderNotification\":null,\"reminderFrequency\":1095,\"escalationNotification\":null,\"escalationFrequency\":1095,\"escalationOwner\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"remediationDelay\":1825,\"targetFilter\":{\"type\":[\"accountGrant\",\"entitlementGrant\",\"roleMembership\",\"AccountGrant\",\"ResourceGrant\"],\"user\":{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"id\",\"targetValue\":\"{{IGA_PARAM_userId_IGA_PARAM}}\"}},\"application\":{\"operator\":\"OR\",\"operand\":[]},\"account\":{\"operator\":\"ALL\",\"operand\":[]},\"memberOfOrg\":[],\"entitlement\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"CONTAINS\",\"operand\":{\"targetName\":\"glossary.description\",\"targetValue\":\"a\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.entitlementType\",\"targetValue\":\"b\"}},{\"operator\":\"OR\",\"operand\":[{\"operator\":\"STARTS_WITH\",\"operand\":{\"targetName\":\"displayName\",\"targetValue\":\"c\"}},{\"operator\":\"OR\",\"operand\":[{\"operator\":\"ENDS_WITH\",\"operand\":{\"targetName\":\"glossary.parentEntitlement\",\"targetValue\":\"d\"}}]}]}]},\"role\":{\"operator\":\"OR\",\"operand\":[{\"operator\":\"EXISTS\",\"operand\":{\"targetName\":\"glossary.Test User\",\"targetValue\":\"managed/user/645363b3-7cbb-47a3-bf93-d96c59c387d9\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.Test User\",\"targetValue\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\"}},{\"operator\":\"NOT\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"glossary.Test User\",\"targetValue\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db[...]
