{
  "log": {
    "_recordingName": "SecretsOps/createSecret()/2: Create base64hmac encoded secret: esv-frodo-test-secret-5 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "10455317c4455875c1aea923aeb9a6a8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..1PnuzrtdTDeS2335cLdilw.NRXA9Ov1_muUSu7VEAsgRWIB1G1q9gnDSGGes51vTpDQvhchC4rYB2bAWZQtsKZh_lnMW-EgbsZe_GGCy0B3GAeiPURri6qvrJ-E_PsZ1WC7Fu0pUtlQMmGRhKso4Pub6EEvJPACQtYqw5YoAGeKKC5KkcoJ05zMm54zgjKwQZg0njSqYOW8_8SQq37f2JLJDdVd1yPubYA_rnpqDH7L5218zNooXi0WxP7tr4x-mSiRZkkfb9aWZkaPa4PI-wKiSNIMNHElG4aB-odyIyeTUNhU2_DXdgnv5YWD0drC9tvUFaiPzlqVXjp5TrTn0f_MHvQOJZlwLIlat6ct5aWgH9AczC8UuRJRInamHEuIyQyN1Vmk9OVTA2-RmP5a3jvygQDosOVBnaTJ-UXHJAkBrf17rXmqxnszloUcRE8XIZlzV5TIzMoUVM9EIzZxqptLAqwfm2ME-L-qKJ7JOQZhNEr6y-08qRxsKATQOH82LYHakUvNpwWklQjYTMc8bbhIMcbjeDNUYCKooX6hfvtv4CSgT4n1huhZnpyB7ghj0Qf1l0cpxN5njFdD-0KS7yVBA1ZqcSjqEKtJlfi454ruCeeyXtBgybrJcRdp_vGMakaxJIqVfD5GPtktyFrDqFczbDnkoVXYnQIIIAX2KHtv_lHbgW4p7c8T-2qJElaWbE6jZkHLSg99bv8xJZ-FCaP0nD6wfGCZ_2GWkic0nZpxV5X2YI7AJTp4kK-zSG7iARAdDipCWKgt__xiQ2BiSTS5ABf9SMnccb03Jj-GAYXZ0Q_joVCblOvY0n67z8OPaU-EV3laSPXesmh0qn1I-1SX_yTiBdB8W8KGLWCE9D6J43hWEDB1JoVO3-Els7ZgZvJjWMmC15k36-9FC1vn1InZaF5uuZ5w1jwFAzehlAw509luOHhXqu7TRy4KISkVoSswPy97nOnSPbcf4XffliOMaMw2AYu-sHQqWU7FlqeihAr1ufGUPKhyd-GoXU2y0cEmydzwywMMzX05LyYK0P9fxBztTikXKgU5mw2XgiQVFpAHBGOKUUCbevLLgwZfWZA.jnF0HSlv6nD-UxrFwt9BwQ"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"MG5iVkdrck5uSW00bzVXS3pZUy9kTDMvZW8vazlFblNCSDJRT09tNWRMTT0=\",\"description\":\"description5\",\"encoding\":\"base64hmac\",\"useInPlaceholders\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 258,
            "text": "{\"_id\":\"esv-frodo-test-secret-5\",\"activeVersion\":\"1\",\"description\":\"description5\",\"encoding\":\"base64hmac\",\"lastChangeDate\":\"2024-06-27T02:32:40.673004073Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":false}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 939,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
