{
  "log": {
    "_recordingName": "SecretsOps/createSecret()/2: Create base64hmac encoded secret: esv-frodo-test-secret-5 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "10455317c4455875c1aea923aeb9a6a8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"MG5iVkdrck5uSW00bzVXS3pZUy9kTDMvZW8vazlFblNCSDJRT09tNWRMTT0=\",\"description\":\"description5\",\"encoding\":\"base64hmac\",\"useInPlaceholders\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 258,
            "text": "{\"_id\":\"esv-frodo-test-secret-5\",\"activeVersion\":\"1\",\"description\":\"description5\",\"encoding\":\"base64hmac\",\"lastChangeDate\":\"2024-07-05T15:27:07.424356345Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":true,\"loadedVersion\":\"1\",\"useInPlaceholders\":false}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 642,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
