{
  "log": {
    "_recordingName": "EnvCertificatesApi/deleteCertificate()/1: Delete existing certificate - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ac892c24f3bd9eb16887bac5f94bfdaf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-e04aa493-b822-4765-8cb2-0e45d32a91d8"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "7beb85b2-b14f-4a3f-9972-a94d5238537d/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1622,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
