{
  "log": {
    "_recordingName": "SecretsOps/pruneVersionsOfSecret()/3: Prune all versions except loaded and deactivated of secret",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dc86179e256fa4e720e8658952acbb35",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-15"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "{\"_id\":\"esv-frodo-test-secret-15\",\"activeVersion\":\"7\",\"description\":\"description15\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-08-13T16:37:49.615221Z\",\"lastChangedBy\":\"Frodo-SA-1783448612033\",\"loaded\":true,\"loadedVersion\":\"7\",\"useInPlaceholders\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 147,
      },
      {
        "_id": "7892e8a94ecedfe03e9c99453b52e7db",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-15/versions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 658,
            "text": "[{\"createDate\":\"2026-08-13T16:37:48.43574Z\",\"loaded\":false,\"status\":\"ENABLED\",\"version\":\"7\"},{\"createDate\":\"2026-08-13T16:37:46.481104Z\",\"loaded\":false,\"status\":\"DESTROYED\",\"version\":\"6\"},{\"createDate\":\"2026-08-13T16:37:44.439673Z\",\"loaded\":false,\"status\":\"DESTROYED\",\"version\":\"5\"},{\"createDate\":\"2026-08-13T16:37:42.464281Z\",\"loaded\":false,\"status\":\"DISABLED\",\"version\":\"4\"},{\"createDate\":\"2026-08-13T16:37:40.533726Z\",\"loaded\":false,\"status\":\"DISABL[...]
