{
  "log": {
    "_recordingName": "CirclesOfTrustOps/importCirclesOfTrust()/1: Import circles of trust",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "10400d1997b31087d725e9cf65ab5dd8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d729de9d-ae51-4036-bcf5-024ae96f16f5"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"2f04818d-561e-4f8a-82e8-af2426112138\",\"_type\":{\"_id\":\"circlesoftrust\",\"collection\":true,\"name\":\"Circle of Trust\"},\"status\":\"active\",\"trustedProviders\":[]}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/federation/circlesoftrust/?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 183,
            "text": "{\"_id\":\"2f04818d-561e-4f8a-82e8-af2426112138\",\"_rev\":\"-1164170555\",\"trustedProviders\":[],\"status\":\"active\",\"_type\":{\"_id\":\"circlesoftrust\",\"name\":\"Circle of Trust\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-1164170555\""
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/federation/circlesoftrust/2f04818d-561e-4f8a-82e8-af2426112138"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d729de9d-ae51-4036-bcf5-024ae96f16f5"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 167,
      },
      {
        "_id": "b99c0b053badc3bee559d76455d722b9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d729de9d-ae51-4036-bcf5-024ae96f16f5"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
 [...]
