{
  "log": {
    "_recordingName": "NodeApi/version-aware node api/reads existing versioned container node [PageNode v2.0]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "66ebd006b1a56a914b8effcee2abe6f1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=3.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes/PageNode/2.0?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3365,
            "text": "{\"result\":[{\"_id\":\"084c3d2d-7d47-4f2e-81d1-57961d496939\",\"_rev\":\"1257906332\",\"nodes\":[{\"_id\":\"2c8f0d12-c373-4a25-9a30-b3184888d163\",\"nodeType\":\"designer-4b76e2122a0541498f380072cd115683\",\"nodeVersion\":\"1.0\",\"displayName\":\"Debug\"}],\"pageDescription\":{},\"pageHeader\":{\"en\":\"HIGH\"},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true,\"version\":\"2.0\"},\"_outcomes\":[{\"id\":\"2c8f0d12-c373-4a25-9a30-b3184888d163-outcome\",\"displayName\":\"outcome\"}]},{\"_id\":\"37f190ea-fa18-4d44-941b-4e5ac325f394\",\"_rev\":\"-1221766302\",\"nodes\":[{\"_id\":\"8835fe59-3988-4121-8b15-ad16a7049d7a\",\"nodeType\":\"designer-4b76e2122a0541498f380072cd115683\",\"nodeVersion\":\"1.0\",\"displayName\":\"Debug\"}],\"pageDescription\":{},\"pageHeader\":{\"en\":\"MEDIUM\"},\"_type\":{\"_id\":\"PageNode\",\"name\":\"Page Node\",\"collection\":true,\"version\":\"2.0\"},\"_outcomes\":[{\"i[...]
