{
  "log": {
    "_recordingName": "PolicyOps/deletePolicy()/1: Delete existing policy [FrodoTestPolicy7]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "40fd35dfaaf3bdc267a34f0b5dcb81cc",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-093d406a-40bc-41fe-bb7a-5aae161b06d0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..X_o9KnI1XCYwqQl4O_VQaA.sALF42zfAiJBTG4JiPdMkMWgxGaDRtMSU-mGbLLpTFU15h9[...]
