{
  "log": {
    "_recordingName": "PolicyOps/deletePolicy()/1: Delete existing policy [FrodoTestPolicy7]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "40fd35dfaaf3bdc267a34f0b5dcb81cc",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c6b8881f-ce27-412d-9491-4f4a8fb135a7"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/policies/FrodoTestPolicy7"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 37,
            "text": "{\"_id\":\"FrodoTestPolicy7\",\"_rev\":\"0\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "etag",
              "value": "\"0\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-c6b8881f-ce27-412d-9491-4f4a8fb135a7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 76,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
