{
  "log": {
    "_recordingName": "PolicyOps/deletePolicy()/1: Delete existing policy [FrodoTestPolicy7]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "40fd35dfaaf3bdc267a34f0b5dcb81cc",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9efbe257-ae4c-4c7d-b8f8-01047ecd0974"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..eC_f723-3_XzrL1_TEC3RA.TwvA83_JL5MQFHTuOIE_x4bs8RMxnEfi2YCu1JfPqF7zMZC[...]
