{
  "log": {
    "_recordingName": "SecretStoreOps/Cloud Tests/importSecretStores()/1: Import ESV secret store",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "38a4f12ab8d8f567f084e4dbf8055523",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 247,
            "text": "{\"_id\":\"ESV\",\"_rev\":\"325689269\",\"project\":\"&{google.project.id}\",\"expiryDurationSeconds\":600,\"serviceAccount\":\"default\",\"secretFormat\":\"PEM\",\"_type\":{\"_id\":\"GoogleSecretManagerSecretStoreProvider\",\"name\":\"Google Secret Manager\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"325689269\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 57,
      },
      {
        "_id": "fd8bff16994e23ef672e1c02e1cd32ea",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV/mappings?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 342,
            "text": "{\"result\":[{\"_id\":\"am.services.oauth2.oidc.signing.EDDSA\",\"_rev\":\"1919880477\",\"secretId\":\"am.services.oauth2.oidc.signing.EDDSA\",\"aliases\":[\"esv-test\"],\"_type\":{\"_id\":\"mappings\",\"name\":\"Mappings\",\"collection\":true}}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 55,
      },
      {
        "_id": "9fa3ac969a4d66392ba2804423a401fe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"am.services.oauth2.oidc.signing.EDDSA\",\"_rev\":\"1919880477\",\"secretId\":\"am.services.oauth2.oidc.signing.EDDSA\",\"aliases\":[\"esv-test\"],\"_type\":{\"_id\":\"mappings\",\"name\":\"Mappings\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider/ESV/mappings/am.services.oauth2.oidc.signing.EDDSA"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 128,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"Invalid attribute specified.\",\"detail\":{\"validAttributes\":[\"aliases\",\"secretId\"]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 62,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
