{
  "log": {
    "_recordingName": "EmailTemplateOps/updateEmailTemplate()/1: Create email template 'FrodoTestEmailTemplate3'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e8c013af1659956860b1f962501eda1f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3186c238-e421-481d-ad0d-3a903c16dc6f"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Three\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestEmailTemplate3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 401,
            "text": "{\"_id\":\"emailTemplate/FrodoTestEmailTemplate3\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Three\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/emailTemplate/FrodoTestEmailTemplate3"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3186c238-e421-481d-ad0d-3a903c16dc6f"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 57,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
