{
  "log": {
    "_recordingName": "EmailTemplateOps/updateEmailTemplate()/1: Create email template 'FrodoTestEmailTemplate3'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e8c013af1659956860b1f962501eda1f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f8025236-435c-48b1-8cb7-fbd321903902"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..DfRgUTTbHGPqsuDcnUlZ6w.I6Duz9uXvvLZ79bBjNTv_2A10pIgNEGoX7sWVIHaCmEjsD8qbD2hEm7lUKqmv4p19hJ068sJsSkXyQ9cby-_FKg61j0ify7qa3Z1ORk-_h9Vvz_C0mg9RNDGmGvFlcoO8LfYReMkIDqeAVTK5BgV8xr9x5gq9syf3VoPs_-l9cPmVUKjst1UEQRGq8pQD0Yglszq9ReInn2qJoOUVEi4iI0ktiMu3p3fGXGngDkkE_cDKDK3Se1tYZWw72z0reJLq6L7elzZc_mrgCOiwWyqRIu-x-UiyVoPIVPBB7mmGJyaqJNq7CjuZ46h8QnUHCH6QQZtBlysPKVGzO_UmLee9hPKEOGupRXCVaZQPAXrRCqPsNiBJ6r-PfB9i_ht7MJ-bwrUmgvotKbF1kyZyyQjZNQVLxHKlIASnzPSG2OmQF0PsjRqWQ4gupDfOPDlQzgDzvwCcf3mrTCuGRFP0gmuXgTazm48ljnVUPoUA7p74D9TR_McN4KBv5azgpyB1jgdIgN7I5ipxDt8QGDURsZAax6SOj49cTbmKuHLv1p8nT93pgalgu7u00BrQUVq5xbCKiPT_9CeQCCNBYSTQRrJZRXVKd8YdGfSTzwHEQr9c1LbvO4COLpI6AL3HkJMRM_yGjSFwRa8NOT_tRcrlxySt1rLVifmiWLMyFhhrz4ulHALDBgAXRCRMTT3dQwwmmrpmiKohZ9mTfhQpyEhNM-eyKUp0yyjJwShlJlAiD2bWqmwAwM61Iqx4JWkwPt5Q_MONITpQe2iW9uktX1mkSg_DCfLE5B1sDXH5duzZEnRrhlVbfEZc5ff7uBraKZOS60vZ62ExG6-wq12jNmR8Cm0sCU73jmFr1-kzDYNIj3SY8VFQa3vNrXLMdeM_dRzcc7tdgT8NFpZJRqO6B5uppNPkBrw0SwIvp9e4IRAHurJJR-2hmgjX-AmlElKhX0dcmw3B0F01SOcT8qVWgdAviaPOR-RX7bZVUBFLwc6vkTotOfcVYH2TUUmgmPdsidaQZf8FBniYxsYRZVGH5B72p60UFprFEULYI-CfrnkIQQk-6g._Z3WIHlFNfRlQ0zOrQlNlA"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Three\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/FrodoTestEmailTemplate3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 401,
            "text": "{\"_id\":\"emailTemplate/FrodoTestEmailTemplate3\",\"defaultLocale\":\"en\",\"displayName\":\"Frodo Test Email Template Three\",\"enabled\":true,\"from\":\"\",\"message\":{\"en\":\"<html><body><h3>You started a login or profile update that requires MFA. </h3><h4><a href=\\\"{{object.resumeURI}}\\\">Click to Proceed</a></h4></body></html>\"},\"mimeType\":\"text/html\",\"subject\":{\"en\":\"Multi-Factor Email for Identity Cloud login\"}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/openidm/config/emailTemplate/emailTemplate/FrodoTestEmailTemplate3"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-f8025236-435c-48b1-8cb7-fbd321903902"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 57,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
