{
  "log": {
    "_recordingName": "IgaRequestTypeOps/updateRequestType()/2: Update non-existing request type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "857db260b829ba246a6a95dd5cd9d4d8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"displayName\":\"test_request_type_2\",\"description\":\"This is a test request type\",\"id\":\"11111111-1111-1111-1111-111111111111\",\"notModifiableProperties\":[],\"workflow\":{\"id\":\"testWorkflow\"},\"schemas\":{\"common\":[{\"_meta\":{\"type\":\"system\",\"displayName\":\"commonRequest\",\"properties\":{\"justification\":{\"isRequired\":false,\"isInternal\":true,\"display\":{\"name\":\"Justification\",\"isVisible\":true,\"order\":3,\"description\":\"The reason for the request\"}},\"externalRequestId\":{\"isRequired\":false,\"isInternal\":true,\"isChangable\":false,\"display\":{\"name\":\"External Request ID\",\"isVisible\":true,\"order\":4,\"description\":\"The external ID for the request\"}},\"requestIdPrefix\":{\"isRequired\":false,\"isInternal\":true,\"display\":{\"name\":\"Request ID prefix\",\"isVisible\":true,\"order\":5,\"description\":\"Prefix for the request ID\"}},\"isDraft\":{\"isRequired\":false,\"isInternal\":true},\"priority\":{\"isRequired\":false,\"display\":{\"name\":\"Priority\",\"isVisible\":true,\"order\":6,\"description\":\"The priority of the reqeust\"},\"text\":{\"defaultValue\":\"low\"}},\"expiryDate\":{\"isRequired\":false,\"isInternal\":true,\"display\":{\"name\":\"Request expiration date\",\"isVisible\":true,\"order\":7,\"description\":\"User provided date on which the request will cancel\"}},\"context\":{\"isRequired\":false,\"isInternal\":true,\"isMultiValue\":false,\"display\":{\"name\":\"Context\",\"isVisible\":true,\"order\":1,\"description\":\"The context of the request\"}},\"workflowId\":{\"isRequired\":false,\"isInternal\":true,\"isChangable\":false,\"display\":{\"name\":\"BPMN workflow ID\",\"isVisible\":true,\"order\":7,\"description\":\"The ID key of the BPMN workflow\"}},\"startDate\":{\"isRequired\":false,\"isInternal\":true,\"display\":{\"name\":\"Start date\",\"isVisible\":true,\"order\":8,\"description\":\"Start date of the grant\"}},\"endDate\":{\"isRequired\":false,\"isInternal\":true,\"display\":{\"name\":\"End date\",\"isVisible\":true,\"order\":8,\"description\":\"End date of the grant\"}},\"blob\":{\"isRequired\":false,\"isInternal\":true}}},\"properties\":{\"justification\":{\"type\":\"text\"},\"externalRequestId\":{\"type\":\"text\"},\"requestIdPrefix\":{\"type\":\"text\"},\"isDraft\":{\"type\":\"boolean\"},\"priority\":{\"type\":\"text\"},\"expiryDate\":{\"type\":\"text\"},\"context\":{\"type\":\"object\"},\"workflowId\":{\"type\":\"text\"},\"startDate\":{\"type\":\"text\"},\"endDate\":{\"type\":\"text\"},\"blob\":{\"type\":\"object\"}}}],\"custom\":[{\"_meta\":{\"type\":\"system\",\"properties\":{\"stringOne\":{\"display\":{\"name\":\"String 1\",\"isVisible\":true,\"order\":1},\"isRequired\":true,\"isInternal\":false,\"isMultiValue\":true},\"stringTwo\":{\"display\":{\"name\":\"String 2\",\"isVisible\":true,\"order\":2},\"isRequired\":false,\"isInternal\":false,\"isMultiValue\":false},\"numberOne\":{\"display\":{\"name\":\"Number 1\",\"isVisible\":true,\"order\":3},\"isRequired\":true,\"isInternal\":false,\"isMultiValue\":true},\"numberTwo\":{\"display\":{\"name\":\"Number 2\",\"isVisible\":true,\"order\":4},\"isRequired\":false,\"isInternal\":false,\"isMultiValue\":false},\"booleanOne\":{\"display\":{\"name\":\"Boolean 1\",\"isVisible\":true,\"order\":5},\"isRequired\":true,\"isInternal\":false,\"isMultiValue\":true},\"booleanTwo\":{\"display\":{\"name\":\"Boolean 2\",\"isVisible\":true,\"order\":6},\"isRequired\":false,\"isInternal\":false,\"isMultiValue\":false},\"objectOne\":{\"display\":{\"name\":\"Object 1\",\"isVisible\":true,\"order\":7},\"isRequired\":true,\"isInternal\":false,\"isMultiValue\":true},\"objectTwo\":{\"display\":{\"name\":\"Object 2\",\"isVisible\":true,\"order\":8},\"isRequired\":false,\"isInternal\":false,\"isMultiValue\":false}}},\"properties\":{\"stringOne\":{\"type\":\"text\"},\"stringTwo\":{\"type\":\"text\"},\"numberOne\":{\"type\":\"number\"},\"numberTwo\":{\"type\":\"number\"},\"booleanOne\":{\"type\":\"boolean\"},\"booleanTwo\":{\"type\":\"boolean\"},\"objectOne\":{\"type\":\"object\"},\"objectTwo\":{\"type\":\"object\"}}}]},\"custom\":true,\"validation\":{\"source\":\"//Example validation script\\nvar validation = {\\\"errors\\\" : [], \\\"comments\\\" : []};\\nif (\\n  systemSettings.settings.requireRequestJustification === true\\n  && (request.common.justification == undefined\\n  || request.common.justification.trim() == '')) {\\n  validation.errors.push(\\\"Justification is required\\\");\\n}\\nvalidation;\"}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestTypes/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 43,
            "text": "{\"message\":\"Request Type Id doesn't exist\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2b-5CB7pTnjCSdIyewaE93BqvJ0WcQ\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "926671eb-f7b5-46b6-b852-554847c647d7"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 171,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
