{
  "log": {
    "_recordingName": "EnvCertificatesOps/readCertificates()/1: Read all certificates - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "81c5f06a12b432acb919a43c7ab0c1d7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4920,
            "text": "[{\"active\":true,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-031423ec-ac94-42c4-a92c-c56792d61f3f\",\"issuer\":\"CN=frodo-dev7.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev7.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"},{\"active\":true,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-065f0531-2444-4e80-b1ed-9f6fdb2ccf8c\",\"issuer\":\"CN=frodo-dev10.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev10.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"},{\"active\":true,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt[...]
