{
  "log": {
    "_recordingName": "SecretsOps/pruneVersionsOfSecret()/1: Prune all versions of secret",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1e34fc2f3b01b329b2a6aa272282252a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-12"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 253,
            "text": "{\"_id\":\"esv-frodo-test-secret-12\",\"activeVersion\":\"7\",\"description\":\"description12\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-08-13T16:37:09.505032Z\",\"lastChangedBy\":\"Frodo-SA-1783448612033\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 162,
      },
      {
        "_id": "eeee73f6fa18144884ba75092ef41ae4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-12/versions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 659,
            "text": "[{\"createDate\":\"2026-08-13T16:37:08.458416Z\",\"loaded\":false,\"status\":\"ENABLED\",\"version\":\"7\"},{\"createDate\":\"2026-08-13T16:37:06.537381Z\",\"loaded\":false,\"status\":\"DESTROYED\",\"version\":\"6\"},{\"createDate\":\"2026-08-13T16:37:04.633672Z\",\"loaded\":false,\"status\":\"DESTROYED\",\"version\":\"5\"},{\"createDate\":\"2026-08-13T16:37:02.641178Z\",\"loaded\":false,\"status\":\"DISABLED\",\"version\":\"4\"},{\"createDate\":\"2026-08-13T16:37:00.469111Z\",\"loaded\":false,\"status\":\"DISAB[...]
