{
  "log": {
    "_recordingName": "EnvContentSecurityPolicyOps/updateReportOnlyContentSecurityPolicy()/1: Set report-only content security policy - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "732e0f63a17ffed8ab33d120a7518c32",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":true,\"directives\":{\"frame-ancestors\":[\"'self'\"],\"referrer\":[\"'no-referrer'\",\"'none-when-downgrade'\",\"'origin'\",\"'origin-when-cross-origin'\",\"'unsafe-url'\"],\"sandbox\":[\"'allow-forms'\",\"'allow-same-origin'\",\"'allow-scripts'\",\"'allow-top-navigation'\",\"'allow-popups'\",\"'allow-pointer-lock'\"],\"script-src\":[\"'self'\",\"'unsafe-eval'\",\"'unsafe-inline'\"]}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/content-security-policy/report-only"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 359,
            "text": "{\"active\":true,\"directives\":{\"frame-ancestors\":[\"'self'\"],\"referrer\":[\"'no-referrer'\",\"'none-when-downgrade'\",\"'origin'\",\"'origin-when-cross-origin'\",\"'unsafe-url'\"],\"sandbox\":[\"'allow-forms'\",\"'allow-same-origin'\",\"'allow-scripts'\",\"'allow-top-navigation'\",\"'allow-popups'\",\"'allow-pointer-lock'\"],\"script-src\":[\"'self'\",\"'unsafe-eval'\",\"'unsafe-inline'\"]}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "f3b62c4d-f2d4-4b91-9f2a-6adcce80e277/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 104,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
