{
  "log": {
    "_recordingName": "EsvCountOps/getEsvCount()/1: Get ESV count",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d5b9f243cc1b91b4961ea648409f7755",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/count"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 30,
            "text": "{\"secrets\":16,\"variables\":14}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 120,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
