{
  "log": {
    "_recordingName": "IdmSystemOps/authenticateSystemObject()/1: Authenticate system object (AD user 'frodo1')",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5b8f3c108cd12a74ec34013e9a15dd87",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"username\":\"frodo1\",\"password\":\"Password\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "authenticate"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__?_action=authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 46,
            "text": "{\"_id\":\"c7e5b163-8d81-4d45-9e11-171d617c9cb4\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7a2085cc-84b8-4195-93e8-399d8ec9bf12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 107,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
