{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/exportAgents()/1: Export all agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "38c6b8f9cf2529728ebd21c7023cd093",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c8616ad-a53d-4cff-a147-a926536f9546"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/2.2_Agent?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 307,
            "text": "{\"result\":[{\"_id\":\"my-policy-agent\",\"_rev\":\"-504717871\",\"cdssoRootUrl\":[],\"description\":null,\"status\":\"Active\",\"_type\":{\"_id\":\"2.2_Agent\",\"name\":\"Policy Agents\",\"collection\":true}}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=2.0, resource=2.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c8616ad-a53d-4cff-a147-a926536f9546"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 114,
      },
      {
        "_id": "fcc396b658a463f5eb6568d38e2d731f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-5c8616ad-a53d-4cff-a147-a926536f9546"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4269,
            "text": "{\"result\":[{\"_id\":\"FrodoOpsTestGatewayAgent2\",\"_rev\":\"-1901768341\",\"secretLabelIdentifier\":null,\"igTokenIntrospection\":\"Realm_Subs\",\"igCdssoLoginUrlTemplate\":null,\"status\":\"Active\",\"igCdssoRedirectUrls\":[],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}},{\"_id\":\"cdsso-ig-agent\",\"_rev\":\"-1524382492\",\"secretLabelIdentifier\":null,\"igCdssoLoginUrlTemplate\":null,\"igTokenIntrospection\":\"Realm_Subs\",\"status\":\"Active\",\"igCdssoRedirectUrls\":[\"https://volker-demo.encore.forgerock.com:443/apps/hrlite/redirect\",\"https://volker-demo.encore.forgerock.com/apps/hrlite/redirect\",\"https://volker-demo.encore.forgerock.com:443/apps/[...]
