{
  "log": {
    "_recordingName": "IgaSodPolicyOps/readPolicyByName()/1: Read existing policy by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "47f56d0d9afdb9d6547079e2e8808bc4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"frodo-test-existing\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy?_queryFilter=name%20eq%20%22frodo-test-existing%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 638,
            "text": "{\"result\":[{\"name\":\"frodo-test-existing\",\"description\":\"this is a test policy\",\"policyOwner\":{\"givenName\":\"Frodo\",\"id\":\"managed/user/0ece145b-1467-4cac-b472-f8f34dfaeef3\",\"mail\":\"test@mail.com\",\"sn\":\"Test\",\"userName\":\"frodo-test\"},\"policyRuleIds\":[\"df95d487-a251-458d-8299-14f2b131264c\"],\"policyRuleNames\":[\"test rule\"],\"active\":true,\"id\":\"4cffe7a0-e766-475a-8363-96d67d45b08a\",\"scheduleId\":\"policySchedulea1111111111111111111111111111111\",\"metadata\":{\"modifiedDate\":\"2026-06-08T16:57:47.124482991Z\",\"createdDate\":\"2026-06-08T16:57:47.12447938Z\"}}],\"searchAfterKey\":[\"4cffe7a0-e766-475a-8363-96d67d45b08a\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"27e-2LOiy6ZHCGPH7M8c/JAnOhIEhHQ\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "83e4512a-2ec9-4e78-bff1-e357bdaf27d5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 146,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
