{
  "log": {
    "_recordingName": "ResourceTypesApi/getResourceTypeByName()/2: Get non-existing resource type by name [DoesNotExist]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "24a00ca04bd162db359b85635cdddcc2",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-145e5f25-778d-4e8e-b549-0807bd8d3fa7"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..lKK4YSUC_X7OV-9asUOiog.jUyZnKjlPMFOwxtPkBUlD5fiiCdVTuB9TJ[...]
