{
  "log": {
    "_recordingName": "EnvCertificatesOps/activateCertificate()/1: Activate existing certificate - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "452a3477d719a9221988673d72cca037",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-b3729622-714a-4e57-9630-7bf88b016678"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 377,
            "text": "{\"active\":true,\"expireTime\":\"2025-08-06T02:48:27Z\",\"id\":\"ccrt-b3729622-714a-4e57-9630-7bf88b016678\",\"issuer\":\"CN=frodo-dev8.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev8.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:27Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ac0c2e07-ba0f-4200-bcf1-ff705dfd3816/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 134,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
