{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/deleteAgent()/2: Delete agent 'FrodoOpsTestJavaAgent8' (J2EEAgent)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c58d5468550592a077f6f260db32f16a",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-70f3234e-ec3d-4a59-a4d3-2c737bee3fb2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id eq 'FrodoOpsTestJavaAgent8'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents?_queryFilter=_id%20eq%20%27FrodoOpsTestJavaAgent8%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 5210,
            "text": "{\"result\":[{\"_id\":\"FrodoOpsTestJavaAgent8\",\"_rev\":\"-1773039576\",\"ssoJ2EEAgentConfig\":{\"encodeCookies\":false,\"cookieResetDomains\":{},\"authExchangeUri\":null,\"authExchangeCookieName\":null,\"setCookieInternalMap\":{},\"excludedUserAgentsList\":[],\"cdssoRedirectUri\":\"/agentapp/post-authn-redirect\",\"cookieResetPaths\":{},\"cdssoSecureCookies\":false,\"acceptSsoTokenEnabled\":false,\"acceptSsoTokenDomainList\":[\"\"],\"cdssoDomainList\":[\"\"],\"setCookieAttributeMap\":{},\"cookieResetEnabled\":false,\"cookieResetNames\":[\"\"],\"acceptIPDPCookie\":false,\"httpOnly\":true},\"amServicesJ2EEAgent\":{\"urlPolicyEnvPostParameters\":[\"\"],\"policyEvaluationRealm\":\"/alpha\",\"authServiceHost\":\"openam-volker-dev.forgeblocks.com\",\"policyNotifications\":true,\"conditionalLoginUrl\":[\"|?realm=/alpha\"],\"customLoginEnabled\":false,\"legacyLoginUrlList\":[\"\"],\"agentAdviceEncode\":false,\"authServicePort\":443,\"urlPolicyEnvGetParameters\":[\"\"],\"restrictToRealm\":{},\"urlPolicyEnvJsessionParameters\":[\"\"],\"amLoginUrl\":[],\"conditionalLogoutUrl\":[\"\"],\"authServiceProtocol\":\"https\",\"policyEvaluationApplication\":\"apps\",\"authSuccessRedirectUrl\":false,\"overridePolicyEvaluationRealmEnabled\":false},\"applicationJ2EEAgentConfig\":{\"profileAttributeFetchMode\":\"NONE\",\"notEnforcedUris\":[\"\"],\"notEnforcedIpsCacheEnabled\":true,\"logoutIntrospection\":false,\"invertNotEnforcedUris\":false,\"cookieAttributeUrlEncoded\":true,\"cookieAttributeMultiValueSeparator\":\"|\",\"notEnforcedRuleCompoundSeparator\":\"|\",\"logoutRequestParameters\":{},\"resourceAccessDeniedUri\":{},\"continuousSecurityCookies\":{},\"responseAttributeFetchMode\":\"NONE\",\"notEnforcedUrisCacheEnabled\":true,\"headerAttributeDateFormat\":\"EEE, d MMM yyyy hh:mm:ss z\",\"profileAttributeMap\":{},\"sessionAttributeFetchMode\":\"NONE\",\"continuousSecurityHeaders\":{},\"responseAttributeMap\":{},\"notEnforcedUrisCacheSize\":1000,\"invertNotEnforcedIps\":false,\"sessionAttributeMap\":{},\"clientIpValidationRange\":{},\"notEnforcedIpsCacheSize\":1000,\"clientIpValidationMode\":{\"\":\"OFF\"},\"notEnforcedFavicon\":true,\"logoutEntryUri\":{},\"notEnforcedIps\":[\"\"],\"applicationLogoutUris\":{}},\"globalJ2EEAgentConfig\":{\"userTokenName\":\"UserToken\",\"fqdnDefault\":\"apps2.mytestrun.com\",\"recheckAmUnavailabilityInSeconds\":5,\"httpSessionBinding\":true,\"userpassword\":null,\"webSocketConnectionIntervalInMinutes\":30,\"localAuditLogRotation\":false,\"filterMode\":{\"\":\"URL_POLICY\"},\"debugLogfileRotationSize\":52428800,\"status\":\"Active\",\"debugLevel\":\"message\",\"lbCookieName\":\"amlbcookie\",\"auditLogLocation\":\"ALL\",\"lbCookieEnabled\":false,\"userPrincipalFlag\":false,\"fqdnCheck\":false,\"preAuthCookieMaxAge\":300,\"localAuditRotationSize\":52428800,\"fqdnMapping\":{},\"debugLogfileRotationMinutes\":-1,\"loginAttemptLimit\":0,\"auditAccessType\":\"LOG_NONE\",\"redirectAttemptLimitCookieName\":\"amFilterRDParam\",\"debugLogfileRetentionCount\":-1,\"configurationReloadInterval\":10,\"agentgroup\":null,\"debugLogfileSuffix\":\"-yyyy.MM.dd-HH.mm.ss\",\"userAttributeName\":\"uid\",\"localAuditLogfileRetentionCount\":-1,\"customResponseHeader\":{},\"redirectAttemptLimit\":0,\"userMappingMode\":\"USER_ID\",\"jwtName\":\"am-auth-jwt\",\"repositoryLocation\":\"centralized\",\"loginAttemptLimitCookieName\":\"amFilterParam\",\"cdssoRootUrl\":[\"agentRootURL=http://localhost:8080/\",\"agentRootURL=https://apps2.mytestrun.com:443/\"],\"agentConfigChangeNotificationsEnabled\":false,\"debugLogfilePrefix\":null,\"preAuthCookieName\":\"amFilterCDSSORequest\"},\"advancedJ2EEAgentConfig\":{\"postDataStickySessionKeyValue\":null,\"xssDetectionRedirectUri\":{},\"postDataCacheTtlMin\":5,\"jwtCacheSize\":5000,\"postDataPreservation\":false,\"policyCacheSize\":5000,\"postDataPreserveCacheEntryMaxEntries\":1000,\"postDataPreserveCacheEntryMaxTotalSizeMb\":-1,\"ssoExchangeCacheSize\":100,\"sessionCacheTTL\":15,\"idleTimeRefreshWindow\":1,\"ssoExchangeCacheTTL\":5,\"possibleXssCodeElements\":[\"\"],\"alternativeAgentPort\":null,\"policyClientPollingInterval\":3,\"missingPostDataPreservationEntryUri\":[\"\"],\"alternativeAgentProtocol\":null,\"clientIpHeader\":null,\"jwtCacheTTL\":30,\"customProperties\":[],\"policyCachePerUser\":50,\"expiredSessionCacheTTL\":20,\"fragmentRelayUri\":null,\"postDataStickySessionMode\":\"URL\",\"alternativeAgentHostname\":null,\"expiredSessionCacheSize\":500,\"clientHostnameHeader\":null,\"monitoringToCSV\":false},\"miscJ2EEAgentConfig\":{\"legacyUserAgentList\":[\"Mozilla/4.7*\"],\"loginReasonMap\":{},\"authFailReasonParameterRemapper\":{},\"agent302RedirectStatusCode\":200,\"loginReasonParameterName\":null,\"gotoUrl\":null,\"localeLanguage\":\"en\",\"authFailReasonParameterName\":null,\"unwantedHttpUrlParams\":[\"\"],\"agent302RedirectContentType\":\"application/json\",\"agent302RedirectEnabled\":true,\"legacyUserAgentSupport\":false,\"wantedHttpUrlParams\":[\"\"],\"ignorePathInfo\":false,\"agent302RedirectInvertEnabled\":false,\"wantedHttpUrlRegexParams\":[\"\"],\"localeCountry\":\"US\",\"agent302RedirectHttpData\":\"{redirect:{requestUri:%REQUEST_URI%,requestUrl:%REQUEST_URL%,targetUrl:%TARGET%}}\",\"agent302RedirectNerList\":[\"\"],\"legacyRedirectUri\":\"/app1/sunwLegacySupportURI\",\"portCheckFile\":\"PortCheckContent.txt\",\"authFailReasonUrl\":null,\"gotoParameterName\":\"goto\",\"portCheckSetting\":{\"443\":\"https\"},\"unwantedHttpUrlRegexParams\":[\"\"],\"portCheckEnabled\":false},\"_type\":\"J2EEAgent\"}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-70f3234e-ec3d-4a59-a4d3-2c737bee3fb2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 204,
      },
      {
        "_id": "57e6b0f077baa482196b66a19a4b1922",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-70f3234e-ec3d-4a59-a4d3-2c737bee3fb2"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/J2EEAgent/FrodoOpsTestJavaAgent8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 9183,
            "text": "{\"_id\":\"FrodoOpsTestJavaAgent8\",\"_rev\":\"-1750716182\",\"ssoJ2EEAgentConfig\":{\"encodeCookies\":{\"inherited\":false,\"value\":false},\"cookieResetDomains\":{\"inherited\":false,\"value\":{}},\"authExchangeUri\":{\"inherited\":false},\"authExchangeCookieName\":{\"inherited\":false},\"setCookieInternalMap\":{\"inherited\":false,\"value\":{}},\"excludedUserAgentsList\":{\"inherited\":false,\"value\":[]},\"cdssoRedirectUri\":{\"inherited\":false,\"value\":\"/agentapp/post-authn-redirect\"},\"cookieResetPaths\":{\"inherited\":false,\"value\":{}},\"cdssoSecureCookies\":{\"inherited\":false,\"value\":false},\"[...]
