{
  "log": {
    "_recordingName": "SecretsApi/createNewVersionOfSecret()/1: Create new version of existing secret: esv-frodo-test-secret2 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "66080a6eeb8da4a89921ec1b97278aed",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"RnJvZG8gVGVzdCBTZWNyZXQgVHdvIFZhbHVlIFZlcnNpb24gNA==\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret2/versions?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 93,
            "text": "{\"createDate\":\"2024-01-20T04:38:17.953181Z\",\"loaded\":false,\"status\":\"ENABLED\",\"version\":\"4\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 599,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
