{
  "log": {
    "_recordingName": "AmConfigOps/Classic Tests/exportAmConfigEntities()/8: Export global AM Config Entities",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb697468085abfef6b608e5d514d9750",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7f3e68ad-03ac-425c-86ef-949b6b41dc0c"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/realms/?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 540,
            "text": "{\"result\":[{\"_id\":\"Lw\",\"_rev\":\"492331277\",\"parentPath\":null,\"active\":true,\"name\":\"/\",\"aliases\":[\"localhost\",\"openam-frodo-dev.classic.com\",\"openam\",\"testurl.com\"]},{\"_id\":\"L2ZpcnN0\",\"_rev\":\"1051737267\",\"parentPath\":\"/\",\"active\":true,\"name\":\"first\",\"aliases\":[\"one\",\"dnsfirst\"]},{\"_id\":\"L2ZpcnN0L3NlY29uZA\",\"_rev\":\"-1167290418\",\"parentPath\":\"/first\",\"active\":false,\"name\":\"second\",\"aliases\":[\"secondDNS\",\"second\"]}],\"resultCount\":3,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.0,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
      },
      {
        "_id": "2b170236615f1a0725d65e635326a219",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7f3e68ad-03ac-425c-86ef-949b6b41dc0c"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/authentication/chains"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 158,
            "text": "{\"_id\":\"\",\"_rev\":\"1147129562\",\"dynamic\":{\"authChainConfiguration\":\"[Empty]\"},\"_type\":{\"_id\":\"EMPTY\",\"name\":\"Authentication Configuration\",\"collection\":false}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1147129562\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
      },
      {
        "_id": "70bf31ef32b535a321a001c748b0f61e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7f3e68ad-03ac-425c-86ef-949b6b41dc0c"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/authentication/modules?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 20544,
            "text": "{\"result\":[{\"defaults\":{\"authenticationLevel\":0},\"_id\":\"httpbasic\",\"_type\":{\"_id\":\"httpbasic\",\"name\":\"HTTP Basic\",\"collection\":false}},{\"defaults\":{\"trustAllServerCertificates\":false,\"connectionHeartbeatInterval\":1,\"userSearchAttributes\":[\"uid\"],\"operationTimeout\":0,\"primaryLdapServer\":[\"localhost:50636\"],\"userBindDN\":\"cn=Directory Manager\",\"userSearchStartDN\":[\"dc=openam,dc=forgerock,dc=org\"],\"profileAttributeMappings\":[],\"stopLdapbindAfterInmemoryLockedEnabled\":false,\"returnUserDN\":true,\"secondaryLdapServer\":[],\"connectionHeartbeatTimeUnit\":\"MINUTES\",\"openam-auth-ldap-connection-mode\":\"LDAP\",\"authenticationLevel\":0,\"searchScope\":\"SUBTREE\",\"userProfileRetrievalAttribute\":\"uid\"},\"_id\":\"activedirectory\",\"_type\":{\"_id\":\"activedirectory\",\"name\":\"Active Directory\",\"collection\":false}},{\"defaults\":{\"iprange\":{\"ipRangeScore\":1,\"ipRangeCheckEnabled\":false,\"ipRange\":[\"10.0.0.0/24\"],\"invertIPRangeScoreEnabled\":false},\"knowncookie\":{\"invertKnownCookieScore\":false,\"knownCookieScore\":1,\"createKnownCookieOnSuccessfulLogin\":false,\"knownCookieCheckEnabled\":false},\"iphistory\":{\"ipHistoryCheckEnabled\":false,\"ipHistoryCount\":5,\"ipHistoryScore\":1,\"ipHistoryProfileAttribute\":\"iphistory\",\"saveSuccessfulIP\":false,\"invertIPHistoryScore\":false},\"geolocation\":{\"geolocationScore\":1,\"geolocationCheckEnabled\":false,\"invertGeolocationScore\":false},\"authfailed\":{\"failureScore\":1,\"failedAuthenticationCheckEnabled\":false,\"invertFailureScore\":false},\"attributecheck\":{\"profileRiskAttributeScore\":1,\"invertProfileRiskAttributeScore\":false,\"profileRiskAttributeCheckEnabled\":false},\"lastlogin\":{\"saveLastLoginTimeOnSuccessfulLogin\":false,\"invertTimeSinceLastLoginScore\":false,\"timeSinceLastLoginScore\":1,\"timeSinceLastLoginCheckEnabled\":false},\"general\":{\"authenticationLevel\":0,\"riskThreshold\":1},\"devicecookie\":{\"deviceCookieName\":\"Device\",\"deviceCookieScore\":1,\"invertDeviceCookieScore\":false,\"deviceCookieCheckEnabled\":false,\"saveDeviceCookieValueOnSuccessfulLogin\":false},\"requestheader\":{\"requestHeaderCheckEnabled\":false,\"invertRequestHeaderScore\":false,\"requestHeaderScore\":1}},\"_id\":\"adaptiverisk\",\"_type\":{\"_id\":\"adaptiverisk\",\"name\":\"Adaptive Risk \",\"collection\":false}},{\"defaults\":{\"validAnonymousUsers\":[],\"defaultAnonymousUsername\":\"anonymous\",\"authenticationLevel\":0,\"caseSensitiveUsernameMatchingEnabled\":false},\"_id\":\"anonymous\",\"_type\":{\"_id\":\"anonymous\",\"name\":\"Anonymous\",\"collection\":false}},{\"defaults\":{\"ldapCertificateAttribute\":\"CN\",\"updateCRLsFromDistributionPoint\":true,\"crlMatchingCertificateAttribute\":\"CN\",\"certificateAttributeToProfileMapping\":\"subject CN\",\"userBindDN\":\"cn=Directory Manager\",\"trustedRemoteHosts\":[\"none\"],\"sslEnabled\":false,\"ocspValidationEnabled\":false,\"authenticationLevel\":0,\"cacheCRLsInMemory\":true,\"matchCACertificateToCRL\":false,\"ldapSearchStartDN\":[],\"matchCertificateToCRL\":false,\"matchCertificateInLdap\":false,\"certificateLdapServers\":[\"localhost:50636\"],\"certificateAttributeProfileMappingExtension\":\"none\",\"iplanet-am-auth-cert-gw-cert-preferred\":false},\"_id\":\"certificate\",\"_type\":{\"_id\":\"certificate\",\"name\":\"Certificate\",\"collection\":false}},{\"defaults\":{\"authenticationLevel\":0},\"_id\":\"datastore\",\"_type\":{\"_id\":\"datastore\",\"name\":\"Data Store\",\"collection\":false}},{\"defaults\":{\"useSecureCookie\":true,\"cookieName\":\"session-jwt\",\"enforceClientIP\":false,\"idleTimeout\":5,\"maxLife\":5,\"useHttpOnlyCookie\":true},\"_id\":\"persistentcookie\",\"_type\":{\"_id\":\"persistentcookie\",\"name\":\"Persistent Cookie\",\"collection\":false}},{\"defaults\":{\"authenticationLevel\":0,\"passwordColumn\":\"PASSWORD_COLUMN\",\"password\":null,\"jdbcDriver\":\"com.mysql.jdbc.Driver\",\"jdbcUrl\":\"jdbc:mysql://127.0.0.1:3306/test\",\"username\":\"root\",\"passwordTransformClass\":\"com.sun.identity.authentication.modules.jdbc.ClearTextTransform\",\"connectionType\":\"JNDI\",\"passwordStatement\":\"select PASSWORD_COLUMN from TABLE where USERNAME_COLUMN = ?\",\"connectionPoolJndiName\":\"java:comp/env/jdbc/samplePool\"},\"_id\":\"jdbc\",\"_type\":{\"_id\":\"jdbc\",\"name\":\"JDBC\",\"collection\":false}},{\"defaults\":{\"minimumPasswordLength\":\"8\",\"trustAllServerCertificates\":false,\"connectionHeartbeatInterval\":10,\"userSearchAttributes\":[\"uid\"],\"operationTimeout\":0,\"beheraPasswordPolicySupportEnabled\":true,\"primaryLdapServer\":[\"localhost:50636\"],\"userBindDN\":\"cn=Directory Manager\",\"userSearchStartDN\":[\"dc=openam,dc=forgerock,dc=org\"],\"profileAttributeMappings\":[],\"stopLdapbindAfterInmemoryLockedEnabled\":false,\"returnUserDN\":true,\"secondaryLdapServer\":[],\"connectionHeartbeatTimeUnit\":\"SECONDS\",\"openam-auth-ldap-connection-mode\":\"LDAP\",\"authenticationLevel\":0,\"searchScope\":\"SUBTREE\",\"userProfileRetrievalAttribute\":\"uid\"},\"_id\":\"ldap\",\"_type\":{\"_id\":\"ldap\",\"name\":\"LDAP\",\"collection\":false}},{\"defaults\":{\"baseSearchDN\":[\"dc=openam,dc=forgerock,dc=org\"],\"authenticationLevel\":0,\"msisdnRequestSearchLocations\":[\"searchRequest\",\"searchParam\",\"searchCookie\"],\"returnUserDN\":true,\"userProfileMsisdnAttribute\":\"sunIdentityMSISDNNumber\",\"ldapSslEnabled\":false,\"msisdnUserNamingAttribute\":\"uid\",\"ldapUserBindDN\":\"cn=Directory Manager\",\"msisdnParameterNames\":[],\"ldapProviderUrl\":[\"localhost:50636\"],\"trustedGatewayIPAddresses\":[]},\"_id\":\"msisdn\",\"_type\":{\"_id\":\"msisdn\",\"name\":\"MSISDN\",\"collection\":false}},{\"defaults\":{\"defaultUserStatus\":\"Active\",\"minimumPasswordLength\":8,\"defaultUserRoles\":[],\"authenticationLevel\":0},\"_id\":\"membership\",\"_type\":{\"_id\":\"membership\",\"name\":\"Membership\",\"collection\":false}},{\"defaults\":{\"authenticationLevel\":0},\"_id\":\"windowsnt\",\"_type\":{\"_id\":\"windowsnt\",\"name\":\"Windows NT\",\"collection\":false}},{\"defaults\":{\"mailGatewayClass\":\"org.forgerock.openam.authentication.modules.oauth2.DefaultEmailGatewayImpl\",\"mapToAnonymousUser\":false,\"scope\":\"email,read_stream\",\"userProfileServiceUrl\":\"https://graph.facebook.com/me\",\"ssoProxyUrl\":\"http://localhost:8080/am/oauth2c/OAuthProxy.jsp\",\"authenticationEndpointUrl\":\"https://www.facebook.com/dialog/oauth\",\"createAccount\":true,\"attributeMapperConfiguration\":[\"first_name=givenname\",\"id=facebook-id\",\"email=facebook-email\",\"last_name=facebook-lname\",\"first_name=facebook-fname\",\"name=cn\",\"email=mail\",\"last_name=sn\"],\"accountMapperConfiguration\":[\"id=facebook-id\",\"email=mail\"],\"saveAttributesInSession\":true,\"logoutBehaviour\":\"prompt\",\"anonymousUserName\":\"anonymous\",\"mixUpMitigation\":false,\"smtpHostName\":\"localhost\",\"promptForPassword\":true,\"accountMapperClass\":\"org.forgerock.openam.authentication.modules.common.mapping.JsonAttributeMapper\",\"accountProviderClass\":\"org.forgerock.openam.authentication.modules.common.mapping.DefaultAccountProvider\",\"authenticationLevel\":0,\"accessTokenParameterName\":\"access_token\",\"accessTokenEndpointUrl\":\"https://graph.facebook.com/oauth/access_token\",\"attributeMappingClasses\":[\"org.forgerock.openam.authentication.modules.common.mapping.JsonAttributeMapper\"],\"smtpHostPort\":\"25\",\"smtpFromAddress\":\"info@forgerock.com\"},\"_id\":\"oauth2\",\"_type\":{\"_id\":\"oauth2\",\"name\":\"Legacy OAuth 2.0 / OpenID Connect\",\"collection\":false}},{\"defaults\":{\"kerberosServiceIsinitiator\":true,\"trustedKerberosRealms\":[],\"lookupUserInRealm\":false,\"authenticationLevel\":0,\"returnPrincipalWithDomainName\":false},\"_id\":\"windowsdesktopsso\",\"_type\":{\"_id\":\"windowsdesktopsso\",\"name\":\"Windows Desktop SSO\",\"collection\":false}},{\"defaults\":{\"jwtToLdapAttributeMappings\":[\"sub=uid\",\"email=mail\"],\"useSubClaimIfNoMatch\":false,\"cryptoContextType\":\".well-known/openid-configuration_url\",\"idTokenIssuer\":\"accounts.google.com\",\"cryptoContextValue\":\"https://accounts.google.com/.well-known/openid-configuration\",\"idTokenHeaderName\":\"oidc_id_token\",\"audienceName\":\"example\",\"acceptedAuthorizedParties\":[\"http://www.example.com/authorized/party\",\"AuthorizedPartyExample\"],\"accountProviderClass\":\"org.forgerock.openam.authentication.modules.common.mapping.DefaultAccountProvider\",\"principalMapperClass\":\"org.forgerock.openam.authentication.modules.oidc.JwtAttributeMapper\"},\"_id\":\"openidconnect\",\"_type\":{\"_id\":\"openidconnect\",\"name\":\"OpenID Connect id_token bearer\",\"collection\":false}},{\"defaults\":{\"serverPortNumber\":1645,\"secondaryRadiusServers\":[\"127.0.0.1\"],\"stopRadiusbindAfterInmemoryLockedEnabled\":false,\"authenticationLevel\":0,\"serverTimeout\":3,\"primaryRadiusServers\":[\"127.0.0.1\"],\"healthCheckInterval\":5},\"_id\":\"radius\",\"_type\":{\"_id\":\"radius\",\"name\":\"RADIUS\",\"collection\":false}},{\"defaults\":{\"userProfileEmailAttribute\":\"mail\",\"otpDeliveryMethod\":\"SMS and E-mail\",\"userProfileTelephoneAttribute\":\"telephoneNumber\",\"smtpSslEnabled\":\"SSL\",\"authenticationLevel\":0,\"smtpHostname\":\"smtp.gmail.com\",\"smtpUserPassword\":null,\"smtpHostPort\":465,\"smtpFromAddress\":\"no-reply@openam.org\",\"smtpUsername\":\"opensso.sun\",\"otpValidityDuration\":5,\"otpMaxRetry\":3,\"otpLength\":\"8\",\"autoSendOTP\":false,\"smsGatewayClass\":\"com.sun.identity.authentication.modules.hotp.DefaultSMSGatewayImpl\"},\"_id\":\"hotp\",\"_type\":{\"_id\":\"hotp\",\"name\":\"HOTP\",\"collection\":false}},{\"defaults\":{\"serverConfigPath\":\"/home/prestonhales/am/config/auth/ace/data\",\"authenticationLevel\":0},\"_id\":\"securid\",\"_type\":{\"_id\":\"securid\",\"name\":\"SecurID\",\"collection\":false}},{\"defaults\":{\"totpTimeStepInterval\":30,\"minimumSecretKeyLength\":32,\"frOathOtpMaxRetry\":3,\"totpTimeStepsInWindow\":2,\"hotpWindowSize\":100,\"totpMaximumClockDrift\":5,\"passwordLength\":\"6\",\"truncationOffset\":-1,\"addChecksumToOtpEnabled\":\"False\",\"authenticationLevel\":0,\"oathAlgorithm\":\"HOTP\"},\"_id\":\"authenticatoroath\",\"_type\":{\"_id\":\"authenticatoroath\",\"name\":\"ForgeRock Authenticator (OATH)\",\"collection\":false}},{\"defaults\":{\"authenticationLevel\":0},\"_id\":\"federation\",\"_type\":{\"_id\":\"federation\",\"name\":\"Federation\",\"collection\":false}},{\"defaults\":{\"authenticationLevel\":0},\"_id\":\"sae\",\"_type\":{\"_id\":\"sae\",\"name\":\"SAE\",\"collection\":false}},{\"defaults\":{\"clientScript\":\"[Empty]\",\"serverScript\":\"7e3d7067-d50f-4674-8c76-a3e13a810c33\",\"authenticationLevel\":1,\"clientScriptEnabled\":true},\"_id\":\"scripted\",\"_type\":{\"_id\":\"scripted\",\"name\":\"Scripted Module\",\"collection\":false}},{\"defaults\":{\"clientScript\":\"157298c0-7d31-4059-a95b-eeb08473b7e5\",\"serverScript\":\"703dab1a-1921-4981-98dd-b8e5349d8548\",\"authenticationLevel\":0,\"clientScriptEnabled\":true},\"_id\":\"deviceidmatch\",\"_type\":{\"_id\":\"deviceidmatch\",\"name\":\"Device Id (Match)\",\"collection\":false}},{\"defaults\":{\"maxProfilesAllowed\":5,\"autoStoreProfiles\":false,\"authenticationLevel\":0},\"_id\":\"deviceidsave\",\"_type\":{\"_id\":\"deviceidsave\",\"name\":\"Device Id (Save)\",\"collection\":false}},{\"defaults\":{\"addChecksum\":\"False\",\"forgerock-oath-sharedsecret-implementation-class\":\"org.forgerock.openam.authentication.modules.oath.plugins.DefaultSharedSecretProvider\",\"oathAlgorithm\":\"HOTP\",\"timeStepSize\":30,\"truncationOffset\":-1,\"forgerock-oath-maximum-clock-drift\":0,\"stepsInWindow\":2,\"authenticationLevel\":0,\"oathOtpMaxRetry\":3,\"hotpWindowSize\":100,\"passwordLength\":\"6\",\"minimumSecretKeyLength\":\"32\"},\"_id\":\"oath\",\"_type\":{\"_id\":\"oath\",\"name\":\"OATH\",\"collection\":false}},{\"defaults\":{\"nameIdFormat\":\"urn:oasis:names:tc:SAML:2.0:nameid-format:persistent\",\"entityName\":\"http://\",\"authComparison\":\"exact\",\"sloEnabled\":\"false\",\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact\",\"allowCreate\":\"true\",\"metaAlias\":\"/sp\",\"isPassive\":\"false\",\"reqBinding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"forceAuthn\":\"false\",\"sloRelay\":\"http://\",\"authenticationLevel\":0},\"_id\":\"authSaml\",\"_type\":{\"_id\":\"authSaml\",\"name\":\"SAML2\",\"collection\":false}},{\"defaults\":{\"pushMessage\":\"Login attempt from {{user}} at {{issuer}}\",\"authenticationLevel\":0,\"timeoutInMilliSecconds\":120000},\"_id\":\"authPush\",\"_type\":{\"_id\":\"authPush\",\"name\":\"ForgeRock Authenticator (Push)\",\"collection\":false}},{\"defaults\":{\"issuer\":\"ForgeRock\",\"bgcolour\":\"#519387\",\"appleLink\":\"https://itunes.apple.com/app/forgerock-authenticator/id1038442926\",\"authenticationLevel\":0,\"timeoutInMilliSecconds\":120000,\"googleLink\":\"https://play.google.com/store/apps/details?id=com.forgerock.authenticator\"},\"_id\":\"authPushReg\",\"_type\":{\"_id\":\"authPushReg\",\"name\":\"ForgeRock Authenticator (Push) Registration\",\"collection\":false}},{\"defaults\":{\"authorizedKeys\":\"/home/prestonhales/am/security/keys/amster/authorized_keys\",\"authenticationLevel\":0,\"enabled\":true},\"_id\":\"amster\",\"_type\":{\"_id\":\"amster\",\"name\":\"ForgeRock Amster\",\"collection\":false}},{\"defaults\":{\"accountProvisioning\":{\"accountMapperConfiguration\":[],\"saveAttributesInSession\":true,\"anonymousUserName\":\"anonymous\",\"enableRegistrationService\":false,\"attributeMapperConfiguration\":[],\"attributeMappingClasses\":[],\"promptPasswordFlag\":false,\"accountProviderClass\":\"org.forgerock.openam.authentication.modules.common.mapping.DefaultAccountProvider\",\"mapToAnonymousUser\":false,\"createAccount\":true},\"core\":{\"scope\":[],\"authenticationLevel\":0,\"mixUpMitigation\":false,\"ssoProxyUrl\":\"http://localhost:8080/am/oauth2c/OAuthProxy.jsp\",\"logoutBehaviour\":\"prompt\",\"usesBasicAuth\":true},\"emailSettings\":{\"smtpPort\":\"25\",\"smtpHost\":\"localhost\",\"emailGateway\":\"org.forgerock.openam.authentication.modules.oauth2.DefaultEmailGatewayImpl\"}},\"_id\":\"authSocialOAuth2\",\"_type\":{\"_id\":\"authSocialOAuth2\",\"name\":\"Social Auth OAuth2\",\"collection\":false}},{\"defaults\":{\"accountProvisioning\":{\"accountMapperConfiguration\":[\"id=uid\"],\"saveAttributesInSession\":true,\"anonymousUserName\":\"anonymous\",\"enableRegistrationService\":false,\"attributeMapperConfiguration\":[\"first_name=givenName\",\"first_name=cn\",\"id=uid\",\"last_name=sn\",\"email=mail\"],\"attributeMappingClasses\":[\"org.forgerock.openam.authentication.modules.common.mapping.JsonAttributeMapper|uid|vkontakte-\"],\"promptPasswordFlag\":false,\"accountProviderClass\":\"org.forgerock.openam.authentication.modules.common.mapping.DefaultAccountProvider\",\"mapToAnonymousUser\":false,\"createAccount\":true,\"accountMapperClass\":\"org.forgerock.openam.authentication.modules.common.mapping.JsonAttributeMapper|uid|vkontakte-\"},\"core\":{\"scope\":[\"email\"],\"apiVersion\":\"5.73\",\"subjectProperty\":\"id\",\"ssoProxyUrl\":\"http://localhost:8080/am/oauth2c/OAuthProxy.jsp\",\"authorizeEndpoint\":\"https://oauth.vk.com/authorize\",\"forgerock-am-auth-socialauthvk-auth-level\":0,\"userInfoEndpoint\":\"https://api.vk.com/method/users.get\",\"provider\":\"VKontakte\",\"tokenEndpoint\":\"https://oauth.vk.com/access_token\"},\"emailSettings\":{\"smtpPort\":\"25\",\"smtpHost\":\"localhost\",\"emailGateway\":\"org.forgerock.openam.authentication.modules.oauth2.DefaultEmailGatewayImpl\"}},\"_id\":\"authSocialVk\",\"_type\":{\"_id\":\"authSocialVk\",\"name\":\"Social Auth VKontakte\",\"collection\":false}},{\"defaults\":{\"accountProvisioning\":{\"accountMapperConfiguration\":[\"openid=uid\"],\"saveAttributesInSession\":true,\"anonymousUserName\":\"anonymous\",\"enableRegistrationS[...]
