{
  "log": {
    "_recordingName": "IgaRequestFormOps/exportRequestForm()/2: Export non-existing request form",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e5526d731e01cc9c0450e6cde7dc3f1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestForms/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 62,
            "text": "Object not found with ID: 11111111-1111-1111-1111-111111111111"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3e-gFlMDADnIYEf43u2vkPGaBfLZ0k\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "d061368c-dc9b-40ad-8a9e-26c98b0318be"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 101,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
