{
  "log": {
    "_recordingName": "CirclesOfTrustOps/readCirclesOfTrust()/1: Read circles of trust",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3619e2e0ff736d00202fe0ecf819e30b",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ce1b5c1f-13b7-411c-a806-d596ecdda54a"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/federation/circlesoftrust?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1236,
            "text": "{\"result\":[{\"_id\":\"2f04818d-561e-4f8a-82e8-af2426112138\",\"_rev\":\"-222749816\",\"trustedProviders\":[\"benefits-IDP|saml2\",\"iSPAzure|saml2\"],\"status\":\"active\",\"_type\":{\"_id\":\"circlesoftrust\",\"name\":\"Circle of Trust\",\"collection\":true}},{\"_id\":\"AzureCOT\",\"_rev\":\"-954827061\",\"trustedProviders\":[\"iSPAzure|saml2\",\"urn:federation:MicrosoftOnline|saml2\",\"https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/|saml2\",\"SPAzure|saml2\",\"https://idc.scheuber.io/am/saml2/IDPAzure|saml2\"],\"status\":\"active\",\"_type\":{\"_id\":\"circlesoftrust\",\"name\":\"Circle of Trust\",\"collection\":true}},{\"_id\":\"FR_COT\",\"_rev\":\"-1494750593\",\"trustedProviders\":[\"engineering-IDP|saml2\",\"https://volker-demo.encore.forgerock.com:443/apps/web/company/saml|saml2\",\"company-IDP|saml2\",\"https://volker-demo.encore.forgerock.com:443/apps/web/roles/saml|saml2\",\"https://volker-demo.encore.forgerock.com:443/apps/web/sales/saml|saml2\",\"sales-IDP|saml2\",\"benefits-IDP|saml2\",\"https://volker-demo.encore.forgerock.com:443/apps/web/benefits/saml|saml2\"],\"status\":\"active\",\"_type\":{\"_id\":\"circlesoftrust\",\"name\":\"Circle of Trust\",\"collection\":true}}],\"resultCount\":3,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ce1b5c1f-13b7-411c-a806-d596ecdda54a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 57,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
