{
  "log": {
    "_recordingName": "SecretStoreOps/Classic Tests/createSecretStoreMapping()/0: Create global secret store mapping",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7b04304d422fce962520b6bff948810d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7ddf942c-ab50-4c1f-8be5-654d2e6ff40a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"test-keystore\",\"_type\":{\"_id\":\"KeyStoreSecretStore\",\"collection\":true,\"name\":\"Keystore\"},\"file\":\"/root/am/security/keystores/keystore.jceks\",\"keyEntryPassword\":\"entrypass\",\"leaseExpiryDuration\":5,\"providerName\":\"SunJCE\",\"storePassword\":\"storepass\",\"storetype\":\"JCEKS\"}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/secrets/stores/KeyStoreSecretStore/test-keystore"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 296,
            "text": "{\"_id\":\"test-keystore\",\"_rev\":\"-985219930\",\"storePassword\":\"storepass\",\"providerName\":\"SunJCE\",\"file\":\"/root/am/security/keystores/keystore.jceks\",\"keyEntryPassword\":\"entrypass\",\"leaseExpiryDuration\":5,\"storetype\":\"JCEKS\",\"_type\":{\"_id\":\"KeyStoreSecretStore\",\"name\":\"Keystore\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"-985219930\""
            },
            {
              "name": "location",
              "value": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/secrets/stores/KeyStoreSecretStore/test-keystore"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 135,
      },
      {
        "_id": "59655b02070cd389b1308bdddec9de33",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7ddf942c-ab50-4c1f-8be5-654d2e6ff40a"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"am.uma.resource.labels.mtls.cert\",\"secretId\":\"am.uma.resource.labels.mtls.cert\",\"aliases\":[\"new\",\"new2\",\"new3\"]}"
          },
          "queryString": [],
          "url": "http://openam-frodo-dev.classic.com:8080/am/json/global-config/secrets/stores/KeyStoreSecretStore/test-keystore/mappings/am.uma.resource.labels.mtls.cert"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 202,
            "text": "{\"_id\":\"am.uma.resource.labels.mtls.cert\",\"_rev\":\"-81392722\",\"secretId\":\"am.uma.reso[...]
