{
  "log": {
    "_recordingName": "SecretsApi/putSecret()/1: Create secret: esv-frodo-test-secret4 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3ebe8114f52f6968aff03668f9a616c4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"RnJvZG8gVGVzdCBTZWNyZXQgRm91ciBWYWx1ZQ==\",\"description\":\"Frodo Test Secret Four Description\",\"encoding\":\"generic\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret4"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 288,
            "text": "{\"_id\":\"esv-frodo-test-secret4\",\"activeVersion\":\"1\",\"description\":\"Frodo Test Secret Four Description\",\"encoding\":\"generic\",\"lastChangeDate\":\"2024-01-20T04:38:14.13632315Z\",\"lastChangedBy\":\"6bac97fb-0665-4ba9-b66c-1cf70e074d72\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 537,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
