{
  "log": {
    "_recordingName": "AgentApi/Cloud Tests/deleteAgentByTypeAndId()/4: Delete AIAgent 'FrodoTestAIAgent3'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "343d4c329567ce414ffde526c2bab04b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a5d82190-5c93-41b3-abc6-5980c7debe69"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent/FrodoTestAIAgent3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6199,
            "text": "{\"_id\":\"FrodoTestAIAgent3\",\"_rev\":\"-1744549128\",\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"validateScopePluginType\":\"PROVIDER\",\"tokenEncryptionEnabled\":false,\"enableApplicationContext\":false,\"acceptAudienceParametersInTokenExchangeRequests\":false,\"evaluateScopePluginType\":\"PROVIDER\",\"oidcMayActScript\":\"[Empty]\",\"oidcClaimsScript\":\"[Empty]\",\"scopesPolicySet\":\"oauth2Scopes\",\"accessTokenModificationPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"useForceAuthnForMaxAge\":false,\"oidcClaimsPluginType\":\"PROVIDER\",\"providerOverridesEnabled\":false,\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"statelessTokensEnabled\":false,\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"remoteConsentServiceId\":null,\"enableRemoteConsent\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"usePolicyEngineForScope\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"overrideableOIDCClaims\":[],\"accessTokenMayActScript\":\"[Empty]\",\"evaluateScopeScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"accessTokenModificationScript\":\"[Empty]\",\"issueRefreshTokenOnRefreshedToken\":true,\"validateScopeScript\":\"[Empty]\"},\"advancedOAuth2ClientConfig\":{\"logoUri\":{\"inherited\":false,\"value\":[]},\"subjectType\":{\"inherited\":false,\"value\":\"public\"},\"clientUri\":{\"inherited\":false,\"value\":[]},\"tokenExchangeAuthLevel\":{\"inherited\":false,\"value\":0},\"responseTypes\":{\"inherited\":false,\"value\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"]},\"mixUpMitigation\":{\"inherited\":false,\"value\":false},\"customProperties\":{\"inherited\":false,\"value\":[]},\"javascriptOrigins\":{\"inherited\":false,\"value\":[]},\"policyUri\":{\"inherited\":false,\"value\":[]},\"softwareVersion\":{\"inherited\":false},\"tosURI\":{\"inherited\":false,\"value\":[]},\"sectorIdentifierUri\":{\"inherited\":false},\"tokenEndpointAuthMethod\":{\"inherited\":false,\"value\":\"client_secret_basic\"},\"refreshTokenGracePeriod\":{\"inherited\":false,\"value\":0},\"isConsentImplied\":{\"inherited\":false,\"value\":false},\"softwareIdentity\":{\"inherited\":false},\"grantTypes\":{\"inherited\":false,\"value\":[\"authorization_code\"]},\"allowedResourceServerAudienceValues\":{\"inherited\":false,\"value\":[]},\"require_pushed_authorization_requests\":{\"inherited\":false,\"value\":false},\"descriptions\":{\"inherited\":false,\"value\":[]},\"requestUris\":{\"inherited\":false,\"value\":[]},\"name\":{\"inherited\":false,\"value\":[]},\"contacts\":{\"inherited\":false,\"value\":[]},\"updateAccessToken\":{\"inherited\":false},\"acceptedJwtIssuers\":{\"inherited\":false,\"value\":[]},\"introspectionPolicySets\":{\"inherited\":false,\"value\":[]},\"treeName\":{\"inherited\":false,\"value\":\"[Empty]\"}},\"signEncOAuth2ClientConfig\":{\"tokenEndpointAuthSigningAlgorithm\":{\"inherited\":false,\"value\":\"RS256\"},\"idTokenEncryptionEnabled\":{\"inherited\":false,\"value\":false},\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"requestParameterSignedAlg\":{\"inherited\":false},\"authorizationResponseSigningAlgorithm\":{\"inherited\":false,\"value\":\"RS256\"},\"clientJwtPublicKey\":{\"inherited\":false},\"idTokenPublicEncryptionKey\":{\"inherited\":false},\"mTLSSubjectDN\":{\"inherited\":false},\"jwkStoreCacheMissCacheTime\":{\"inherited\":false,\"value\":60000},\"jwkSet\":{\"inherited\":false},\"idTokenEncryptionMethod\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"jwksUri\":{\"inherited\":false},\"tokenIntrospectionEncryptedResponseAlg\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"authorizationResponseEncryptionMethod\":{\"inherited\":false},\"userinfoResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"mTLSCertificateBoundAccessTokens\":{\"inherited\":false,\"value\":false},\"publicKeyLocation\":{\"inherited\":false,\"value\":\"jwks_uri\"},\"tokenIntrospectionResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"requestParameterEncryptedEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"userinfoSignedResponseAlg\":{\"inherited\":false},\"idTokenEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"requestParameterEncryptedAlg\":{\"inherited\":false},\"authorizationResponseEncryptionAlgorithm\":{\"inherited\":false},\"mTLSTrustedCert\":{\"inherited\":false},\"jwksCacheTimeout\":{\"inherited\":false,\"value\":3600000},\"userinfoEncryptedResponseAlg\":{\"inherited\":false},\"idTokenSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"tokenIntrospectionSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"userinfoEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"}},\"coreOAuth2ClientConfig\":{\"secretLabelIdentifier\":{\"inherited\":false},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"clientName\":{\"inherited\":false,\"value\":[]},\"clientType\":{\"inherited\":false,\"value\":\"Confidential\"},\"loopbackInterfaceRedirection\":{\"inherited\":false,\"value\":false},\"defaultScopes\":{\"inherited\":false,\"value\":[]},\"refreshTokenLifetime\":{\"inherited\":false,\"value\":0},\"scopes\":{\"inherited\":false,\"value\":[]},\"accessTokenLifetime\":{\"inherited\":false,\"value\":0},\"redirectionUris\":{\"inherited\":false,\"value\":[]},\"authorizationCodeLifetime\":{\"inherited\":false,\"value\":0}},\"coreOpenIDClientConfig\":{\"claims\":{\"inherited\":false,\"value\":[]},\"backchannel_logout_uri\":{\"inherited\":false},\"defaultAcrValues\":{\"inherited\":false,\"value\":[]},\"jwtTokenLifetime\":{\"inherited\":false,\"value\":0},\"defaultMaxAgeEnabled\":{\"inherited\":false,\"value\":false},\"clientSessionUri\":{\"inherited\":false},\"defaultMaxAge\":{\"inherited\":false,\"value\":600},\"postLogoutRedirectUri\":{\"inherited\":false,\"value\":[]},\"backchannel_logout_session_required\":{\"inherited\":false,\"value\":false}},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":{\"inherited\":false,\"value\":[]}},\"aiAgentIdentityAttributes\":{\"inherited\":false,\"value\":{\"_id\":\"3387ce4c-70cd-4739-8a66-cccccccccccc\",\"_rev\":\"f90619f5-dd2d-48dd-9107-83847f2351e6-7317\",\"oauth2ClientId\":\"FrodoTestAIAgent3\",\"name\":\"Frodo Test AI Agent 3\",\"description\":\"Test AI agent 3 for Frodo API unit tests.\",\"customAttributes\":null}},\"aiAgentIdentityUid\":{\"inherited\":false,\"value\":\"3387ce4c-70cd-4739-8a66-cccccccccccc\"},\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"-1744549128\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a5d82190-5c93-41b3-abc6-5980c7debe69"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 218,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
