{
  "log": {
    "_recordingName": "IgaRequestFormOps/deleteRequestForm()/1: Delete existing request form by id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "aec6b263b3f95f5c0d2243abe6f6398a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "objectId co \"\" and formId eq \"668de16f-bfc7-4a78-a038-4d23ff99738a\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=formId%20eq%20%22668de16f-bfc7-4a78-a038-4d23ff99738a%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 263,
            "text": "{\"totalCount\":1,\"resultCount\":1,\"result\":[{\"formId\":\"668de16f-bfc7-4a78-a038-4d23ff99738a\",\"objectId\":\"requestType/b3e850f0-60c2-4138-be11-a08b17cde29f\",\"metadata\":{\"modifiedDate\":\"2026-01-30T18:49:13.603969438Z\",\"createdDate\":\"2026-01-30T18:49:13.603968448Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"107-cul55Ia4488WtwbFAUv4vVdX4Y8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a6829183-668c-4957-9c4a-37430b23b322"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 129,
      },
      {
        "_id": "69e4e7e2b633d7fa83d0f6f1a0521236",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"formId\":\"668de16f-bfc7-4a78-a038-4d23ff99738a\",\"objectId\":\"requestType/b3e850f0-60c2-4138-be11-a08b17cde29f\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "unassign"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/requestFormAssignments?_action=unassign"
        },
        "response": {
          "content": {
            "mimeType": "applicati[...]
