{
  "log": {
    "_recordingName": "UserOps/readUserGroups()/1: Read User Groups",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e0dd74c59d16ee0e479208c411ab2188",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ffe554e8-665a-4e7f-9be0-c70861513c21"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=4.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/groups?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 514,
            "text": "{\"result\":[{\"_id\":\"test-group\",\"_rev\":\"-1\",\"realm\":\"/alpha\",\"username\":\"test-group\",\"universalid\":[\"id=test-group,ou=group,o=alpha,ou=services,ou=am-config\"],\"dn\":[\"cn=test-group,ou=groups,o=alpha,o=root,ou=identities\"],\"uniqueMember\":[\"fr-idm-uuid=346459bf-4159-4c4c-b929-f9ff5acc2f53,ou=user,o=alpha,o=root,ou=identities\"],\"cn\":[\"test-group\"],\"objectclass\":[\"top\",\"groupofuniquenames\"]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"NONE\",\"totalPagedResults\":-1,\"remainingPagedResults\":0}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.0,resource=4.1, resource=4.1"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ffe554e8-665a-4e7f-9be0-c70861513c21"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 78,
      },
      {
        "_id": "fd74d91abd5913c96ed2b728b36e3362",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ffe554e8-665a-4e7f-9be0-c70861513c21"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=4.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/groups/test-group"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 949,
            "text": "{\"_id\":\"test-group\",\"_rev\":\"581192241\",\"username\":\"test-group\",\"realm\":\"/alpha\",\"universalid\":[\"id=test-group,ou=group,o=alpha,ou=services,ou=am-config\"],\"members\":{\"uniqueMember\":[\"346459bf-4159-4c4c-b929-f9ff5acc2f53\"]},\"dn\":[\"cn=test-group,ou=groups,o=alpha,o=root,ou=identities\"],\"cn\":[\"test-group\"],\"objectclass\":[\"top\",\"groupofuniquenames\"],\"privileges\":{\"EntitlementRestAccess\":false,\"ApplicationReadAccess\":true,\"ResourceTypeReadAccess\":false,\"PrivilegeRestReadAccess\":true,\"SubjectAttributesReadAccess\":false,\"ApplicationTypesReadAccess\":true,\"PolicyAdmin\":false,\"AgentAdmin\":true,\"SubjectTypesReadAccess\":false,\"LogRead\":true,\"CacheAdmin\":false,\"ConditionTypesReadAccess\":true,\"SessionPropertyModifyAccess\":false,\"LogWrite\":true,\"FederationAdmin\":false,\"PrivilegeRestAccess\":true,\"LogAdmin\":false,\"RealmReadAccess\":true,\"RealmAdmin\":false,\"ApplicationModifyAccess\":true,\"ResourceTypeModifyAccess\":false,\"DecisionCombinersReadAccess\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=4.1"
            },
            {
              "name": "etag",
              "value": "\"581192241\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ffe554e8-665a-4e7f-9be0-c70861513c21"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
