{
  "log": {
    "_recordingName": "SecretsOps/pruneVersionsOfSecret()/3: Prune all versions except deactivated of secret",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "97c132042cc7d4961e5fc9bd4ac4ce6a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-14"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 253,
            "text": "{\"_id\":\"esv-frodo-test-secret-14\",\"activeVersion\":\"7\",\"description\":\"description14\",\"encoding\":\"generic\",\"lastChangeDate\":\"2026-08-13T16:37:36.215896Z\",\"lastChangedBy\":\"Frodo-SA-1783448612033\",\"loaded\":false,\"loadedVersion\":\"\",\"useInPlaceholders\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 134,
      },
      {
        "_id": "2500f1a885dc382b905acd686ec5151a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret-14/versions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 658,
            "text": "[{\"createDate\":\"2026-08-13T16:37:35.533572Z\",\"loaded\":false,\"status\":\"ENABLED\",\"version\":\"7\"},{\"createDate\":\"2026-08-13T16:37:34.078414Z\",\"loaded\":false,\"status\":\"DESTROYED\",\"version\":\"6\"},{\"createDate\":\"2026-08-13T16:37:32.151437Z\",\"loaded\":false,\"status\":\"DESTROYED\",\"version\":\"5\"},{\"createDate\":\"2026-08-13T16:37:30.409444Z\",\"loaded\":false,\"status\":\"DISABLED\",\"version\":\"4\"},{\"createDate\":\"2026-08-13T16:37:29.04609Z\",\"loaded\":false,\"status\":\"DISABL[...]
