{
  "log": {
    "_recordingName": "EnvFederationEnforcementOps/enforceFederationFor()/1: Enforce federation for all - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9aadcdaf74c61300c6fe7f45e6664e78",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"groups\":\"all\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/federation/enforcement"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 17,
            "text": "{\"groups\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "664142c9-9c9b-4965-b19a-c099810e831f/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 103,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
