{
  "log": {
    "_recordingName": "EnvSSOCookieConfigOps/updateSSOCookieConfig()/1: Update custom SSO cookie config - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "812160723e3a3093fd85235e29f71f79",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"myCustomTestCookieName\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/sso-cookie"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "{\"name\":\"myCustomTestCookieName\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a51f8e15-9349-494c-87a7-13479865cbc1/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 111,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
