{
  "log": {
    "_recordingName": "VariablesApi/putVariable()/10: Create new object variable: esv-frodo-test-variable13 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d3adecf7f80bd60f560ede157a0c5ade",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"eyAiYSI6IFt7ICJiIjogeyAiYyI6IDMgfSB9XSB9\",\"description\":\"Frodo Test Variable Thirteen (object) Description\",\"expressionType\":\"object\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable13"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 299,
            "text": "{\"_id\":\"esv-frodo-test-variable13\",\"description\":\"Frodo Test Variable Thirteen (object) Description\",\"expressionType\":\"object\",\"lastChangeDate\":\"2023-09-30T19:41:00.338Z\",\"lastChangedBy\":\"b672336b-41ef-428d-ae4a-e0c082875377\",\"loaded\":false,\"valueBase64\":\"eyAiYSI6IFt7ICJiIjogeyAiYyI6IDMgfSB9XSB9\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 835,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
