{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/importAIAgent()/1: Import AIAgent 'FrodoOpsTestAIAgent7'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8397efdd2051b00f08b1c46192b43387",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent/FrodoOpsTestAIAgent7"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6342,
            "text": "{\"_id\":\"FrodoOpsTestAIAgent7\",\"_rev\":\"-1334625393\",\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"validateScopePluginType\":\"PROVIDER\",\"tokenEncryptionEnabled\":false,\"enableApplicationContext\":false,\"acceptAudienceParametersInTokenExchangeRequests\":false,\"evaluateScopePluginType\":\"PROVIDER\",\"oidcMayActScript\":\"[Empty]\",\"oidcClaimsScript\":\"[Empty]\",\"scopesPolicySet\":\"oauth2Scopes\",\"tlsClientCertificateChainValidationEnabled\":false,\"accessTokenModificationPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"useForceAuthnForMaxAge\":false,\"oidcClaimsPluginType\":\"PROVIDER\",\"providerOverridesEnabled\":false,\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"statelessTokensEnabled\":false,\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"useTokenIntrospectionClaimForJWT\":false,\"remoteConsentServiceId\":null,\"enableRemoteConsent\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"usePolicyEngineForScope\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"overrideableOIDCClaims\":[],\"accessTokenMayActScript\":\"[Empty]\",\"evaluateScopeScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"accessTokenModificationScript\":\"[Empty]\",\"issueRefreshTokenOnRefreshedToken\":true,\"validateScopeScript\":\"[Empty]\"},\"advancedOAuth2ClientConfig\":{\"logoUri\":{\"inherited\":false,\"value\":[]},\"subjectType\":{\"inherited\":false,\"value\":\"public\"},\"clientUri\":{\"inherited\":false,\"value\":[]},\"tokenExchangeAuthLevel\":{\"inherited\":false,\"value\":0},\"responseTypes\":{\"inherited\":false,\"value\":[\"code\",\"token\",\"id_token\",\"code token\",\"token id_token\",\"code id_token\",\"code token id_token\",\"device_code\",\"device_code id_token\"]},\"mixUpMitigation\":{\"inherited\":false,\"value\":false},\"customProperties\":{\"inherited\":false,\"value\":[]},\"tlsCaSecretLabelIdentifier\":{\"inherited\":false},\"javascriptOrigins\":{\"inherited\":false,\"value\":[]},\"policyUri\":{\"inherited\":false,\"value\":[]},\"softwareVersion\":{\"inherited\":false},\"tosURI\":{\"inherited\":false,\"value\":[]},\"sectorIdentifierUri\":{\"inherited\":false},\"tokenEndpointAuthMethod\":{\"inherited\":false,\"value\":\"client_secret_basic\"},\"refreshTokenGracePeriod\":{\"inherited\":false,\"value\":0},\"isConsentImplied\":{\"inherited\":false,\"value\":false},\"softwareIdentity\":{\"inherited\":false},\"grantTypes\":{\"inherited\":false,\"value\":[\"authorization_code\"]},\"allowedResourceServerAudienceValues\":{\"inherited\":false,\"value\":[]},\"require_pushed_authorization_requests\":{\"inherited\":false,\"value\":false},\"descriptions\":{\"inherited\":false,\"value\":[]},\"requestUris\":{\"inherited\":false,\"value\":[]},\"name\":{\"inherited\":false,\"value\":[]},\"contacts\":{\"inherited\":false,\"value\":[]},\"updateAccessToken\":{\"inherited\":false},\"acceptedJwtIssuers\":{\"inherited\":false,\"value\":[]},\"introspectionPolicySets\":{\"inherited\":false,\"value\":[]},\"treeName\":{\"inherited\":false,\"value\":\"[Empty]\"}},\"signEncOAuth2ClientConfig\":{\"tokenEndpointAuthSigningAlgorithm\":{\"inherited\":false,\"value\":\"RS256\"},\"idTokenEncryptionEnabled\":{\"inherited\":false,\"value\":false},\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"requestParameterSignedAlg\":{\"inherited\":false},\"authorizationResponseSigningAlgorithm\":{\"inherited\":false,\"value\":\"RS256\"},\"clientJwtPublicKey\":{\"inherited\":false},\"idTokenPublicEncryptionKey\":{\"inherited\":false},\"mTLSSubjectDN\":{\"inherited\":false},\"jwkStoreCacheMissCacheTime\":{\"inherited\":false,\"value\":60000},\"jwkSet\":{\"inherited\":false},\"idTokenEncryptionMethod\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"jwksUri\":{\"inherited\":false},\"tokenIntrospectionEncryptedResponseAlg\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"authorizationResponseEncryptionMethod\":{\"inherited\":false},\"userinfoResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"mTLSCertificateBoundAccessTokens\":{\"inherited\":false,\"value\":false},\"publicKeyLocation\":{\"inherited\":false,\"value\":\"jwks_uri\"},\"tokenIntrospectionResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"requestParameterEncryptedEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"userinfoSignedResponseAlg\":{\"inherited\":false},\"idTokenEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"requestParameterEncryptedAlg\":{\"inherited\":false},\"authorizationResponseEncryptionAlgorithm\":{\"inherited\":false},\"mTLSTrustedCert\":{\"inherited\":false},\"jwksCacheTimeout\":{\"inherited\":false,\"value\":3600000},\"userinfoEncryptedResponseAlg\":{\"inherited\":false},\"idTokenSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"tokenIntrospectionSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"userinfoEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"}},\"coreOAuth2ClientConfig\":{\"secretLabelIdentifier\":{\"inherited\":false},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"clientName\":{\"inherited\":false,\"value\":[]},\"clientType\":{\"inherited\":false,\"value\":\"Confidential\"},\"loopbackInterfaceRedirection\":{\"inherited\":false,\"value\":false},\"defaultScopes\":{\"inherited\":false,\"value\":[]},\"refreshTokenLifetime\":{\"inherited\":false,\"value\":0},\"scopes\":{\"inherited\":false,\"value\":[]},\"accessTokenLifetime\":{\"inherited\":false,\"value\":0},\"redirectionUris\":{\"inherited\":false,\"value\":[]},\"authorizationCodeLifetime\":{\"inherited\":false,\"value\":0}},\"coreOpenIDClientConfig\":{\"claims\":{\"inherited\":false,\"value\":[]},\"backchannel_logout_uri\":{\"inherited\":false},\"defaultAcrValues\":{\"inherited\":false,\"value\":[]},\"jwtTokenLifetime\":{\"inherited\":false,\"value\":0},\"defaultMaxAgeEnabled\":{\"inherited\":false,\"value\":false},\"clientSessionUri\":{\"inherited\":false},\"defaultMaxAge\":{\"inherited\":false,\"value\":600},\"postLogoutRedirectUri\":{\"inherited\":false,\"value\":[]},\"backchannel_logout_session_required\":{\"inherited\":false,\"value\":false}},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":{\"inherited\":false,\"value\":[]}},\"aiAgentIdentityAttributes\":{\"inherited\":false,\"value\":{\"_id\":\"b5cfbf34-013f-4f52-b576-111111111111\",\"_rev\":\"27871e3e-604d-4869-8695-52f5a21e8c3e-7707\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent7\",\"name\":\"Frodo Test AI Agent 7\",\"description\":\"Test AI agent 7 for Frodo unit tests.\",\"customAttributes\":null}},\"aiAgentIdentityUid\":{\"inherited\":false,\"value\":\"b5cfbf34-013f-4f52-b576-111111111111\"},\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 91,
      },
      {
        "_id": "4f531cc25161646b889b851ae9ebed9b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/schema/managed/alpha_aiagent"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2883,
            "text": "{\"$schema\":\"http://forgerock.org/json-schema#\",\"icon\":\"fa-android\",\"order\":[\"_id\",\"name\",\"description\",\"oauth2ClientId\",\"owners\",\"privileges\",\"customAttributes\"],\"properties\":{\"_id\":{\"description\":\"Agent ID\",\"searchable\":false,\"type\":\"string\",\"userEditable\":false,\"viewable\":true},\"customAttributes\":{\"description\":\"JSON object for arbitrary attributes\",\"order\":[],\"properties\":{},\"searchable\":false,\"title\":\"Custom Attributes\",\"type\":\"object\",\"userEditable\":true,\"viewable\":true},\"description\":{\"description\":\"Agent Description\",\"searchable\":false,\"title\":\"Description\",\"type\":\"string\",\"userEditable\":true,\"viewable\":true},\"name\":{\"description\":\"Agent Name\",\"searchable\":false,\"title\":\"Agent Name\",\"type\":\"string\",\"userEditable\":true,\"viewable\":true},\"oauth2ClientId\":{\"description\":\"ID of the agent's OAuth2 client\",\"returnByDefault\":false,\"searchable\":false,\"title\":\"OAuth2 Client ID\",\"type\":\"string\",\"userEditable\":false,\"viewable\":true},\"owners\":{\"description\":\"Agent Owners\",\"items\":{\"id\":\"urn:jsonschema:org:forgerock:openidm:managed:api:AIAgent:owners:items\",\"notifySelf\":false,\"properties\":{\"_ref\":{\"description\":\"References a relationship from a managed object\",\"type\":\"string\"},\"_refProperties\":{\"description\":\"Supports metadata within the relationship\",\"properties\":{\"_id\":{\"description\":\"_refProperties object ID\",\"propName\":\"_id\",\"required\":false,\"type\":\"string\"}},\"title\":\"Agent Owners Items _refProperties\",\"type\":\"object\"}},\"resourceCollection\":[{\"label\":\"User\",\"notify\":false,\"path\":\"managed/alpha_user\",\"query\":{\"fields\":[\"userName\",\"givenName\",\"sn\"],\"queryFilter\":\"true\",\"sortKeys\":[]}}],\"reverseRelationship\":false,\"title\":\"Agent Owners Items\",\"type\":\"relationship\",\"validate\":true},\"returnByDefault\":false,\"searchable\":false,\"title\":\"Agent Owners\",\"type\":\"array\",\"userEditable\":false,\"viewable\":true},\"privileges\":{\"description\":\"Agent Privileges\",\"items\":{\"id\":\"urn:jsonschema:org:forgerock:openidm:managed:api:AIAgent:privileges:items\",\"notifySelf\":false,\"properties\":{\"_ref\":{\"description\":\"References a relationship from a managed object\",\"type\":\"string\"},\"_refProperties\":{\"description\":\"Supports metadata within the relationship\",\"properties\":{\"_id\":{\"description\":\"_refProperties object ID\",\"propName\":\"_id\",\"required\":false,\"type\":\"string\"}},\"title\":\"Agent Privileges Items _refProperties\",\"type\":\"object\"}},\"resourceCollection\":[{\"label\":\"Agent Privilege\",\"notify\":true,\"path\":\"managed/alpha_aiagentprivilege\",\"query\":{\"fields\":[\"_id\"],\"queryFilter\":\"true\",\"sortKeys\":[]}}],\"reversePropertyName\":\"agent\",\"reverseRelationship\":true,\"title\":\"Agent Privileges Items\",\"type\":\"relationship\",\"validate\":true},\"returnByDefault\":false,\"searchable\":false,\"title\":\"Privileges\",\"type\":\"array\",\"userEditable\":false,\"viewable\":true}},\"required\":[\"name\",\"oauth2ClientId\"],\"title\":\"Alpha realm - AI Agent\",\"type\":\"object\",\"resourceCollection\":\"managed/alpha_aiagent\"}"
          },
          "headers": [
            {
              "name": "content-api-version",[...]
