{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/importAIAgent()/1: Import AIAgent 'FrodoOpsTestAIAgent7'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "44bad03a911dda294d579c36fb2361fe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6a6a113d-799d-422c-91da-da45df713e57"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"aiAgentIdentityAttributes\":{\"inherited\":false,\"value\":{\"_id\":\"b5cfbf34-013f-4f52-b576-111111111111\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent7\",\"name\":\"Frodo Test AI Agent 7\",\"description\":\"Test AI agent 7 for Frodo unit tests.\"}},\"aiAgentIdentityUid\":{\"inherited\":false,\"value\":\"b5cfbf34-013f-4f52-b576-111111111111\"},\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent/FrodoOpsTestAIAgent7"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 505,
            "text": "{\"_id\":\"FrodoOpsTestAIAgent7\",\"_rev\":\"-169559028\",\"aiAgentIdentityAttributes\":{\"inherited\":false,\"value\":{\"_id\":\"b5cfbf34-013f-4f52-b576-111111111111\",\"_rev\":\"f90619f5-dd2d-48dd-9107-83847f2351e6-42946\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent7\",\"name\":\"Frodo Test AI Agent 7\",\"description\":\"Test AI agent 7 for Frodo unit tests.\",\"customAttributes\":null}},\"aiAgentIdentityUid\":{\"inherited\":false,\"value\":\"b5cfbf34-013f-4f52-b576-111111111111\"},\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"-169559028\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6a6a113d-799d-422c-91da-da45df713e57"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 137,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
