{
  "log": {
    "_recordingName": "JourneyOps/exportJourney()/4: Export journey 'FrodoTestJourney12' w/ custom node dependencies",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "56e928cb309b791301a1454f7c6de722",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-76de093e-042b-41eb-b05f-99d10e83f337"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/trees/FrodoTestJourney12"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1172,
            "text": "{\"_id\":\"FrodoTestJourney12\",\"_rev\":\"-268378089\",\"identityResource\":\"managed/alpha_user\",\"entryNodeId\":\"8c4f5d43-d7f8-4ac2-8aae-d38f8f5cb9cb\",\"innerTreeOnly\":false,\"description\":\"Test journey for custom nodes\",\"noSession\":false,\"mustRun\":false,\"enabled\":true,\"transactionalOnly\":false,\"uiConfig\":{\"categories\":\"[]\",\"annotations\":\"{\\\"forNodes\\\":{},\\\"structural\\\":[]}\"},\"nodes\":{\"0fc7e34a-e3b5-4f5d-baea-ffde4ee63a97\":{\"x\":463,\"y\":80,\"connections\":{\"outcome\":\"461a364c-5884-44f6-87d9-ae749cc08f24\"},\"nodeType\":\"PageNode\",\"displayName\":\"Login Page\"},\"8c4f5d43-d7f8-4ac2-8aae-d38f8f5cb9cb\":{\"x\":210,\"y\":161,\"connections\":{\"True\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"False\":\"0fc7e34a-e3b5-4f5d-baea-ffde4ee63a97\"},\"nodeType\":\"designer-session\",\"displayName\":\"Has Session AM\"},\"461a364c-5884-44f6-87d9-ae749cc08f24\":{\"x\":734,\"y\":161,\"connections\":{\"true\":\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\",\"false\":\"e301438c-0bd0-429c-ab0c-66126501069a\"},\"nodeType\":\"DataStoreDecisionNode\",\"displayName\":\"Data Store Decision\"}},\"staticNodes\":{\"startNode\":{\"x\":70,\"y\":188},\"70e691a5-1e33-4ac3-a356-e7b6d60d92e0\":{\"x\":1014,\"y\":102},\"e301438c-0bd0-429c-ab0c-66126501069a\":{\"x\":1014,\"y\":241}}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"-268378089\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-76de093e-042b-41eb-b05f-99d10e83f337"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 109,
      },
      {
        "_id": "8491b762ea9e0d6de34b91e8d5d97a4d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-76de093e-042b-41eb-b05f-99d10e83f337"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config/ui/themerealm"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 84421,
            "text": "{\"_id\":\"ui/themerealm\",\"realm\":{\"alpha\":[{\"_id\":\"abb4efed-ae70-4064-91a7-936be552d6fc\",\"accountFooter\":\"<div class=\\\"d-flex justify-content-center py-4 w-100\\\"><span class=\\\"pr-1\\\">© 2021</span>\\n<a href=\\\"#\\\" target=\\\"_blank\\\" class=\\\"text-body\\\">My Company, Inc</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Privacy Policy</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Terms & Conditions</a></div>\",\"accountFooterEnabled\":false,\"accountPageSections\":{\"accountControls\":{\"enabled\":false},\"accountSecurity\":{\"enabled\":true,\"subsections\":{\"password\":{\"enabled\":true},\"securityQuestions\":{\"enabled\":false},\"twoStepVerification\":{\"enabled\":true},\"username\":{\"enabled\":true}}},\"consent\":{\"enabled\":false},\"oauthApplications\":{\"enabled\":false},\"personalInformation\":{\"enabled\":true},\"preferences\":{\"enabled\":false},\"social\":{\"enabled\":false},\"trustedDevices\":{\"enabled\":true}},\"backgroundColor\":\"#FFFFFF\",\"backgroundImage\":\"\",\"bodyText\":\"#000000\",\"buttonRounded\":\"0\",\"dangerColor\":\"#f7685b\",\"favicon\":\"\",\"isDefault\":false,\"journeyFooter\":\"<div class=\\\"d-flex justify-content-center py-4 w-100\\\"><span class=\\\"pr-1\\\">© 2021</span>\\n<a href=\\\"#\\\" target=\\\"_blank\\\" class=\\\"text-body\\\">My Company, Inc</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Privacy Policy</a><a href=\\\"#\\\" target=\\\"_blank\\\" style=\\\"color: #0000ee\\\" class=\\\"pl-3 text-body\\\">Terms & Conditions</a></div>\",\"journeyFooterEnabled\":false,\"journeyHeader\":\"<div class=\\\"d-flex justify-content-center py-4 flex-grow-1\\\">Header Content</div>\",\"journeyHeaderEnabled\":false,\"journeyJustifiedContent\":\"\",\"journeyJustifiedContentEnabled\":false,\"journeyLayout\":\"card\",\"journeyTheaterMode\":false,\"linkActiveColor\":\"#000000\",\"linkColor\":\"#000000\",\"linkedTrees\":[],\"logo\":\"https://cdn.forgerock.com/platform/themes/contrast/logo-contrast.svg\",\"logoAltText\":\"Contrast\",\"logoEnabled\":true,\"logoHeight\":\"72\",\"logoProfile\":\"data:image/svg+xml,%0A%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.3477 13.5664H43.9438C43.5192 12.6317 43.0319 11.734 42.4905 10.8711H24.3477V13.5664Z' fill='black'/%3E%3Cpath d='M24.3477 8.17578H40.5261C39.6996 7.2052 38.7974 6.30182 37.8224 5.48047H24.3477V8.17578Z' fill='black'/%3E%3Cpath d='M24.3477 40.5195H37.8224C38.7975 39.6982 39.6996 38.7948 40.5261 37.8242H24.3477V40.5195Z' fill='black'/%3E%3Cpath d='M24.3477 2.78516H33.8482C31.0136 1.27039 27.7313 0.198195 24.3477 0V2.78516Z' fill='black'/%3E%3Cpath d='M24.3477 18.957H45.6208C45.4566 18.0405 45.2557 17.1372 44.9856 16.2617H24.3477V18.957Z' fill='black'/%3E%3Cpath d='M24.3477 21.6523V24.3477H45.9317C45.958 23.8992 46 23.4549 46 23C46 22.5451 45.958 22.1008 45.9317 21.6523H24.3477Z' fill='black'/%3E%3Cpath d='M0 23C0 35.1781 9.64778 45.2964 21.6523 46V0C9.64778 0.703566 0 10.8219 0 23Z' fill='black'/%3E%3Cpath d='M24.3477 46C27.7313 45.8018 31.0136 44.7296 33.8482 43.2148H24.3477V46Z' fill='black'/%3E%3Cpath d='M45.6208 27.043H24.3477V29.7383H44.9857C45.2557 28.8628 45.4566 27.9595 45.6208 27.043V27.043Z' fill='black'/%3E%3Cpath d='M24.3477 35.1289H42.4905C43.0319 34.266 43.5192 33.3683 43.9438 32.4336H24.3477V35.1289Z' fill='black'/%3E%3C/svg%3E%0A\",\"logoProfileAltText\":\"Contrast\",\"logoProfileCollapsed\":\"data:image/svg+xml,%0A%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.3477 13.5664H43.9438C43.5192 12.6317 43.0319 11.734 42.4905 10.8711H24.3477V13.5664Z' fill='black'/%3E%3Cpath d='M24.3477 8.17578H40.5261C39.6996 7.2052 38.7974 6.30182 37.8224 5.48047H24.3477V8.17578Z' fill='black'/%3E%3Cpath d='M24.3477 40.5195H37.8224C38.7975 39.6982 39.6996 38.7948 40.5261 37.8242H24.3477V40.5195Z' fill='black'/%3E%3Cpath d='M24.3477 2.78516H33.8482C31.0136 1.27039 27.7313 0.198195 24.3477 0V2.78516Z' fill='black'/%3E%3Cpath d='M24.3477 18.957H45.6208C45.4566 18.0405 45.2557 17.1372 44.9856 16.2617H24.3477V18.957Z' fill='black'/%3E%3Cpath d='M24.3477 21.6523V24.3477H45.9317C45.958 23.8992 46 23.4549 46 23C46 22.5451 45.958 22.1008 45.9317 21.6523H24.3477Z' fill='black'/%3E%3Cpath d='M0 23C0 35.1781 9.64778 45.2964 21.6523 46V0C9.64778 0.703566 0 10.8219 0 23Z' fill='black'/%3E%3Cpath d='M24.3477 46C27.7313 45.8018 31.0136 44.7296 33.8482 43.2148H24.3477V46Z' fill='black'/%3E%3Cpath d='M45.6208 27.043H24.3477V29.7383H44.9857C45.2557 28.8628 45.4566 27.9595 45.6208 27.043V27.043Z' fill='black'/%3E%3Cpath d='M24.3477 35.1289H42.4905C43.0319 34.266 43.5192 33.3683 43.9438 32.4336H24.3477V35.1289Z' fill='black'/%3E%3C/svg%3E%0A\",\"logoProfileCollapsedAltText\":\"\",\"logoProfileCollapsedHeight\":\"22\",\"logoProfileHeight\":\"22\",\"name\":\"Contrast\",\"pageTitle\":\"#23282e\",\"primaryColor\":\"#000000\",\"primaryOffColor\":\"#000000\",\"profileBackgroundColor\":\"#FFFFFF\",\"profileMenuHighlightColor\":\"#FFFFFF\",\"profileMenuHoverColor\":\"#FFFFFF\",\"profileMenuHoverTextColor\":\"#000000\",\"profileMenuTextHighlightColor\":\"#455469\",\"secondaryColor\":\"#69788b\",\"textColor\":\"#ffffff\"},{\"_id\":\"72ef4fcb-aae2-4c78-a050-d0e373c6a175\",\"accountFooter\":\"<footer class=\\\"w-100\\\">\\n            <div class=\\\"d-flex flex-column flex-md-row justify-content-center align-items-center py-4\\\">\\n              <div class=\\\"container w-100\\\">\\n                <div class=\\\"mt-5 py-4 border-top border-darkened\\\">\\n                  <div class=\\\"row\\\" style=\\\"color: #23282e;\\\">\\n                    <div class=\\\"col-4 col-md-3 col-lg-2\\\">\\n                      <h5 style=\\\"font-weight: 600; font-size: 0.9375rem;\\\">Company</h5>\\n                      <ul class=\\\"nav mb-4 flex-column\\\">\\n                        <li class=\\\"nav-item\\\"><a href=\\\"#\\\" class=\\\"nav-link px-0 py-1\\\" target=\\\"_self\\\">About Us</a></li>\\n                        <li class=\\\"nav-item\\\"><a href=\\\"#\\\" class=\\\"nav-link px-0 py-1\\\" target=\\\"_self\\\">Contact Us</a></li>\\n                        <li class=\\\"nav-item\\\"><a href=\\\"#\\\" class=\\\"nav-link px-0 py-1\\\" target=\\\"_self\\\">Privacy &amp; Terms</a></li>\\n                      </ul>\\n                    </div>\\n                    <div cl[...]
