{
  "log": {
    "_recordingName": "RawConfigOps/exportRawConfig()/3: Export raw config environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "08d2dea99990c33037034cf27a34b5ad",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 219,
            "text": "{\"_id\":\"esv-frodo-test-variable-1\",\"description\":\"description1\",\"expressionType\":\"string\",\"lastChangeDate\":\"2026-05-12T16:25:11.016034Z\",\"lastChangedBy\":\"Frodo-SA-1758728043147\",\"loaded\":false,\"valueBase64\":\"dmFsdWUx\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "89d9a853-6cc1-428a-b22b-150f88839924"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 241,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
