{
  "log": {
    "_recordingName": "EnvCertificatesOps/readCertificate()/1: Read existing certificate - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "db0150325767545436430630f7784d59",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-cfa8ea7d-3917-46a4-9b89-a05164b03233"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 378,
            "text": "{\"active\":false,\"expireTime\":\"2025-08-06T02:48:26Z\",\"id\":\"ccrt-cfa8ea7d-3917-46a4-9b89-a05164b03233\",\"issuer\":\"CN=frodo-dev1.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":false,\"subject\":\"CN=frodo-dev1.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T02:48:26Z\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "542422ee-2ae9-4ffa-99e4-ddb4e08521b2/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 259,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
