{
  "log": {
    "_recordingName": "EnvCSRsApi/deleteCSR()/1: Delete existing CSR - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "40b576dc016a9453f9f9a59a8b81ae0c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/csrs/387204c1-0f9b-43bb-a832-e226001d7741"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "7c196e9d-3140-4104-a5e0-6a5ee475c02a/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 449,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
