{
  "log": {
    "_recordingName": "AgentApi/getAgentsByType()/1: Get all gateway agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fcc396b658a463f5eb6568d38e2d731f",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2c7e2730-376c-4dbc-a393-b1a8fcf9b954"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2443,
            "text": "{\"result\":[{\"_id\":\"ajays_client\",\"_rev\":\"-1964176177\",\"igTokenIntrospection\":\"Realm_Subs\",\"status\":\"Active\",\"igCdssoRedirectUrls\":[],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}},{\"_id\":\"FrodoTestGatewayAgent1\",\"_rev\":\"2044815758\",\"igTokenIntrospection\":\"Realm_Subs\",\"status\":\"Active\",\"igCdssoRedirectUrls\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redirect\",\"https://ig.mytestrun.com/prometheus/[...]
