{
  "log": {
    "_recordingName": "AgentApi/getAgentsByType()/1: Get all gateway agents",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fcc396b658a463f5eb6568d38e2d731f",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-371c8ffa-0d4b-4133-864f-c42850d165bd"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1130,
            "text": "{\"result\":[{\"_id\":\"FrodoTestGatewayAgent3\",\"_rev\":\"-24664059\",\"igTokenIntrospection\":\"Realm_Subs\",\"igCdssoLoginUrlTemplate\":null,\"status\":\"Active\",\"igCdssoRedirectUrls\":[],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}},{\"_id\":\"FrodoTestGatewayAgent1\",\"_rev\":\"-463953634\",\"igTokenIntrospection\":\"Realm_Subs\",\"igCdssoLoginUrlTemplate\":null,\"status\":\"Active\",\"igCdssoRedirectUrls\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redirect\",\"https://ig.mytestrun.com/prometheus/cdsso/redirect\",\"https://ig.mytestrun.com/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/forgerock/cdsso/redirect\"],\"agentgroup\":null,\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}],\"resultCount\":2,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":2,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-371c8ffa-0d4b-4133-864f-c42850d165bd"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
