{
  "log": {
    "_recordingName": "ServiceAccountOps/isServiceAccountsFeatureAvailable()/2: Check tenant not supporting service accounts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "302a65939a8e5e60e91c8e99186ecd29",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-176d35f9-9d9b-40a0-b206-26a1bb84046c"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "authIndexType",
              "value": "service"
            },
            {
              "name": "authIndexValue",
              "value": "FRServiceAccountInternal"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/authenticate?authIndexType=service&authIndexValue=FRServiceAccountInternal"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 70,
            "text": "{\"code\":400,\"reason\":\"Bad Request\",\"message\":\"No Configuration found\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-176d35f9-9d9b-40a0-b206-26a1bb84046c"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 41,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
