{
  "log": {
    "_recordingName": "SecretsApi/deleteVersionOfSecret()/1: Delete version 1 of secret: esv-frodo-test-secret2 - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1dd195d94995a2cd26094e71f45850ca",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/secrets/esv-frodo-test-secret2/versions/1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 92,
            "text": "{\"createDate\":\"2023-09-30T19:38:29.451Z\",\"loaded\":false,\"status\":\"DESTROYED\",\"version\":\"1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 627,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
