{
  "log": {
    "_recordingName": "VariablesOps/updateVariable()/3: Update/create non-existing variable16 (pre-encoded)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9fd1042610a9b9611fed374f32bf85cc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"dmFsdWUxNg==\",\"description\":\"description16\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-16"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 228,
            "text": "{\"_id\":\"esv-frodo-test-variable-16\",\"description\":\"description16\",\"expressionType\":\"string\",\"lastChangeDate\":\"2024-07-05T15:22:28.513693686Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"valueBase64\":\"dmFsdWUxNg==\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 760,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
