{
  "log": {
    "_recordingName": "ScriptTypeOps/readScriptTypes()/1: Read ScriptTypes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "459d8d75bb3ed6a525129ece3e8f1c50",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1084c521-2be8-410a-a32d-8c014a0caf7d"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/services/scripting/contexts?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3630,
            "text": "{\"result\":[{\"_id\":\"OAUTH2_ACCESS_TOKEN_MODIFICATION\",\"_rev\":\"479572448\",\"languages\":[\"JAVASCRIPT\",\"GROOVY\"],\"defaultScript\":\"d22f9a0c-426a-4466-b95e-d0f125b0d5fa\",\"_type\":{\"_id\":\"contexts\",\"name\":\"scriptContext\",\"collection\":true}},{\"_id\":\"SAML2_SP_ADAPTER\",\"_rev\":\"-34110702\",\"languages\":[\"JAVASCRIPT\"],\"defaultScript\":\"[Empty]\",\"_type\":{\"_id\":\"contexts\",\"name\":\"scriptContext\",\"collection\":true}},{\"_id\":\"AUTHENTICATION_CLIENT_SIDE\",\"_rev\":\"174804341\",\"languages\":[\"JAVASCRIPT\",\"GROOVY\"],\"defaultScript\":\"[Empty]\",\"_type\":{\"_id\":\"contexts\",\"name\":\"scriptContext\",\"collection\":true}},{\"_id\":\"AUTHENTICATION_TREE_DECISION_NODE\",\"_rev\":\"205440228\",\"languages\[...]
