{
  "log": {
    "_recordingName": "ScriptTypeOps/readScriptTypes()/1: Read ScriptTypes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "459d8d75bb3ed6a525129ece3e8f1c50",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/global-config/services/scripting/contexts?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 8470,
            "text": "{\"result\":[{\"_id\":\"CACHE_LOADER\",\"_rev\":\"648773010\",\"isHidden\":false,\"languages\":[\"JAVASCRIPT\"],\"defaultScript\":\"ac40a394-b3cd-400f-b2aa-b6b2e4a8be8e\",\"_type\":{\"_id\":\"contexts\",\"name\":\"scriptContext\",\"collection\":true}},{\"_id\":\"SAML2_SP_ADAPTER\",\"_rev\":\"-577565005\",\"isHidden\":false,\"languages\":[\"JAVASCRIPT\"],\"defaultScript\":\"[Empty]\",\"_type\":{\"_id\":\"contexts\",\"name\":\"scriptContext\",\"collection\":true}},{\"_id\":\"SCRIPTED_DECISION_NODE\",\"_rev\":\"1150234939\",\"isHidden\":false,\"languages\":[\"JAVASCRIPT\"],\"defaultScript\":\"11e1a3c0-038b-4c16-956a-6c9d89328cff\",\"_type\":{\"_id\":\"contexts\",\"name\":\"scriptContext\",\"collection\":true}},{\"_id\":\"OAUTH2_VALIDATE_S[...]
