{
  "log": {
    "_recordingName": "EnvCertificatesOps/deleteCertificates()/3: Force delete all (active and live) certificates - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "81c5f06a12b432acb919a43c7ab0c1d7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1140,
            "text": "[{\"active\":true,\"expireTime\":\"2025-08-06T03:09:08Z\",\"id\":\"ccrt-19d21025-c2dc-446b-a1bb-2ed880247ce2\",\"issuer\":\"CN=frodo-dev14.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev14.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T03:09:08Z\"},{\"active\":true,\"expireTime\":\"2025-08-06T03:09:09Z\",\"id\":\"ccrt-536f4f4e-1ea0-459b-9656-a9fd57d0f9dc\",\"issuer\":\"CN=frodo-dev14b.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev14b.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T03:09:09Z\"},{\"active\":true,\"expireTime\":\"2025-08-06T03:09:09Z\",\"id\":\"ccrt-d2d59cd6-9f31-46a9-84b0-90b077aa9b59\",\"issuer\":\"CN=frodo-dev14a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"live\":true,\"subject\":\"CN=frodo-dev14a.mytestrun.com,OU=Frodo Library,O=Rockcarver,L=Georgetown,ST=Texas,C=US\",\"subjectAlternativeNames\":null,\"validFromTime\":\"2024-08-06T03:09:09Z\"}]"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ca234bfd-91c6-453e-a9e7-5765f0f41d24/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      },
      {
        "_id": "114c9c80d1eb1252262265b7dfd9d4f4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"active\":false}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/certificates/ccrt-19d21025-c2dc-446b-a1bb-2ed880247ce2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 379,
            "text": "{\"active\":false,\"expireTime\":\"2025-08-06T03:09:08Z\",\"id\":\"ccrt-19d21025-c2dc-446b-a1bb-2ed880247ce2\",\"issuer\":\"CN=frodo-dev14.[...]
