{
  "log": {
    "_recordingName": "StartupOps/getStatus()/1: Get restart status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "701e5d48c4fb8ab58936f4e55b27b465",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/startup"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 26,
            "text": "{\"restartStatus\":\"ready\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a0b31f0f-c41e-4b40-9515-c66d014a30bb"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 235,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
