{
  "log": {
    "_recordingName": "NodeApi/deleteCustomNode()/2: Delete non-existing custom node [11111111111111111111111111111111-1]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a22ce1c31cda3365994ce70dc28d29cc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21a47d0e-f8d4-4542-978c-06e67383be15"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type/11111111111111111111111111111111-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 122,
            "text": "{\"code\":404,\"reason\":\"Not Found\",\"message\":\"Node Type with resource ID 11111111111111111111111111111111-1 does not exist\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-21a47d0e-f8d4-4542-978c-06e67383be15"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 88,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
