{
  "log": {
    "_recordingName": "OAuth2ClientOps/updateOAuth2Client()/1: Update oauth2 client FrodoTestOAuth2Client3",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "37d346a5e6ca3680bca5e28de43c7bcd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9e5cffa2-e793-4503-8c48-2e41a82e8d43"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"validateScopePluginType\":\"PROVIDER\",\"tokenEncryptionEnabled\":false,\"evaluateScopePluginType\":\"PROVIDER\",\"oidcMayActScript\":\"[Empty]\",\"oidcClaimsScript\":\"[Empty]\",\"scopesPolicySet\":\"oauth2Scopes\",\"accessTokenModificationPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"oidcClaimsPluginType\":\"PROVIDER\",\"providerOverridesEnabled\":false,\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"statelessTokensEnabled\":false,\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"remoteConsentServiceId\":null,\"enableRemoteConsent\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"usePolicyEngineForScope\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\",\"overrideableOIDCClaims\":[],\"accessTokenMayActScript\":\"[Empty]\",\"evaluateScopeScript\":\"[Empty]\",\"clientsCanSkipConsent\":false,\"accessTokenModificationScript\":\"[Empty]\",\"issueRefreshTokenOnRefreshedToken\":true,\"validateScopeScript\":\"[Empty]\"},\"advancedOAuth2ClientConfig\":{\"logoUri\":{\"inherited\":false,\"value\":[]},\"subjectType\":{\"inherited\":false,\"value\":\"public\"},\"clientUri\":{\"inherited\":false,\"value\":[]},\"tokenExchangeAuthLevel\":{\"inherited\":false,\"value\":0},\"responseTypes\":{\"inherited\":false,\"value\":[\"code\",\"token\",\"id_token\"]},\"mixUpMitigation\":{\"inherited\":false,\"value\":false},\"customProperties\":{\"inherited\":false,\"value\":[]},\"javascriptOrigins\":{\"inherited\":false,\"value\":[]},\"policyUri\":{\"inherited\":false,\"value\":[]},\"softwareVersion\":{\"inherited\":false},\"tosURI\":{\"inherited\":false,\"value\":[]},\"sectorIdentifierUri\":{\"inherited\":false},\"tokenEndpointAuthMethod\":{\"inherited\":false,\"value\":\"client_secret_basic\"},\"refreshTokenGracePeriod\":{\"inherited\":false,\"value\":0},\"isConsentImplied\":{\"inherited\":false,\"value\":true},\"softwareIdentity\":{\"inherited\":false},\"grantTypes\":{\"inherited\":false,\"value\":[\"authorization_code\",\"refresh_token\"]},\"require_pushed_authorization_requests\":{\"inherited\":false,\"value\":false},\"descriptions\":{\"inherited\":false,\"value\":[]},\"requestUris\":{\"inherited\":false,\"value\":[]},\"name\":{\"inherited\":false,\"value\":[]},\"contacts\":{\"inherited\":false,\"value\":[]},\"updateAccessToken\":{\"inherited\":false}},\"signEncOAuth2ClientConfig\":{\"tokenEndpointAuthSigningAlgorithm\":{\"inherited\":false,\"value\":\"RS256\"},\"idTokenEncryptionEnabled\":{\"inherited\":false,\"value\":false},\"tokenIntrospectionEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"requestParameterSignedAlg\":{\"inherited\":false},\"authorizationResponseSigningAlgorithm\":{\"inherited\":false,\"value\":\"RS256\"},\"clientJwtPublicKey\":{\"inherited\":false},\"idTokenPublicEncryptionKey\":{\"inherited\":false},\"mTLSSubjectDN\":{\"inherited\":false},\"jwkStoreCacheMissCacheTime\":{\"inherited\":false,\"value\":60000},\"jwkSet\":{\"inherited\":false},\"idTokenEncryptionMethod\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"jwksUri\":{\"inherited\":false},\"tokenIntrospectionEncryptedResponseAlg\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"authorizationResponseEncryptionMethod\":{\"inherited\":false},\"userinfoResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"mTLSCertificateBoundAccessTokens\":{\"inherited\":false,\"value\":false},\"publicKeyLocation\":{\"inherited\":false,\"value\":\"jwks_uri\"},\"tokenIntrospectionResponseFormat\":{\"inherited\":false,\"value\":\"JSON\"},\"requestParameterEncryptedEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"},\"userinfoSignedResponseAlg\":{\"inherited\":false},\"idTokenEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"RSA-OAEP-256\"},\"requestParameterEncryptedAlg\":{\"inherited\":false},\"authorizationResponseEncryptionAlgorithm\":{\"inherited\":false},\"mTLSTrustedCert\":{\"inherited\":false},\"jwksCacheTimeout\":{\"inherited\":false,\"value\":3600000},\"userinfoEncryptedResponseAlg\":{\"inherited\":false},\"idTokenSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"tokenIntrospectionSignedResponseAlg\":{\"inherited\":false,\"value\":\"RS256\"},\"userinfoEncryptedResponseEncryptionAlgorithm\":{\"inherited\":false,\"value\":\"A128CBC-HS256\"}},\"coreOpenIDClientConfig\":{\"claims\":{\"inherited\":false,\"value\":[]},\"backchannel_logout_uri\":{\"inherited\":false},\"defaultAcrValues\":{\"inherited\":false,\"value\":[]},\"jwtTokenLifetime\":{\"inherited\":false,\"value\":3600},\"defaultMaxAgeEnabled\":{\"inherited\":false,\"value\":false},\"clientSessionUri\":{\"inherited\":false},\"defaultMaxAge\":{\"inherited\":false,\"value\":600},\"postLogoutRedirectUri\":{\"inherited\":false,\"value\":[]},\"backchannel_logout_session_required\":{\"inherited\":false,\"value\":false}},\"coreOAuth2ClientConfig\":{\"status\":{\"inherited\":false,\"value\":\"Active\"},\"clientName\":{\"inherited\":false,\"value\":[]},\"clientType\":{\"inherited\":false,\"value\":\"Public\"},\"loopbackInterfaceRedirection\":{\"inherited\":false,\"value\":false},\"defaultScopes\":{\"inherited\":false,\"value\":[]},\"refreshTokenLifetime\":{\"inherited\":false,\"value\":604800},\"scopes\":{\"inherited\":false,\"value\":[\"openid\"]},\"accessTokenLifetime\":{\"inherited\":false,\"value\":3600},\"redirectionUris\":{\"inherited\":false,\"value\":[]},\"authorizationCodeLifetime\":{\"inherited\":false,\"value\":120}},\"coreUmaClientConfig\":{\"claimsRedirectionUris\":{\"inherited\":false,\"value\":[]}}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/OAuth2Client/FrodoTestOAuth2Client3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 5385,
            "text": "{\"_id\":\"FrodoTestOAuth2Client3\",\"_rev\":\"108502536\",\"overrideOAuth2ClientConfig\":{\"issueRefreshToken\":true,\"validateScopePluginType\":\"PROVIDER\",\"tokenEncryptionEnabled\":false,\"evaluateScopePluginType\":\"PROVIDER\",\"oidcMayActScript\":\"[Empty]\",\"oidcClaimsScript\":\"[Empty]\",\"scopesPolicySet\":\"oauth2Scopes\",\"accessTokenModificationPluginType\":\"PROVIDER\",\"authorizeEndpointDataProviderClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultEndpointDataProvider\",\"useForceAuthnForMaxAge\":false,\"oidcClaimsPluginType\":\"PROVIDER\",\"providerOverridesEnabled\":false,\"authorizeEndpointDataProviderScript\":\"[Empty]\",\"statelessTokensEnabled\":false,\"authorizeEndpointDataProviderPluginType\":\"PROVIDER\",\"remoteConsentServiceId\":null,\"enableRemoteConsent\":false,\"validateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeValidator\",\"usePolicyEngineForScope\":false,\"evaluateScopeClass\":\"org.forgerock.oauth2.core.plugins.registry.DefaultScopeEvaluator\"[...]
