{
  "log": {
    "_recordingName": "SecretStoreOps/Cloud Tests/readSecretStoreSchema()/1: Read ESV secret store schema",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a9ffdbf07e54557050105c617fd142dd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "schema"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/secrets/stores/GoogleSecretManagerSecretStoreProvider?_action=schema"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3574,
            "text": "{\"type\":\"object\",\"properties\":{\"serviceAccount\":{\"title\":\"GCP Service Account ID\",\"description\":\"The ID of the GCP service account to use when connecting to Secret Manager.<br><br>GCP service accounts can be configured in the global Google Service Account service. The service account must be enabled for this realm otherwise the secret store will fail to load.\",\"propertyOrder\":200,\"required\":true,\"type\":\"string\",\"exampleValue\":\"\",\"default\":\"default\"},\"expiryDurationSeconds\":{\"title\":\"Expiry Time (seconds)\",\"description\":\"Maximum time that AM should cache secret values before refreshing them from Google SecretManager. A longer duration may be more efficient but may take longer for new secret versions to be picked up. Thistypically only affects operations that use the \\\"active\\\" (latest) version of a secret. Operations that use previousversions of a secret will always query Secret Manager to ensure timely revocation.\",\"propertyOrder\":400,\"required\":true,\"type\":\"integer\",\"exampleValue\":\"\",\"default\":600},\"secretFormat\":{\"title\":\"Secret Format\",\"description\":\"Indicates what format is used to store the secrets in the files. The available options are: <ul> <li>Plain text: the secrets are stored as UTF-8 encoded text.</li> <li>Base64 encoded: the secrets are stored as Base64 encoded binary values.</li> <li>Encrypted text: the plain text secrets are encrypted using AM's encryption key.</li> <li>Encrypted Base64 encoded: the Base64 encoded binary values are encrypted using AM's encryption key.</li>  <li>Encrypted with Google KMS: the secrets are encrypted using Google's Key Management Service.</li> <li>PEM encoded certificate or key: the secrets are certificates, keys, or passwords, in Privacy Enhanced Mail (PEM) format, such as those produced by OpenSSL and other common tools.</li> <li>Encrypted PEM: PEM-encoded objects that are encrypted with AM's server key.</li><li>Google KMS-encrypted PEM: PEM-encoded objects that are encrypted with Google KMS.</li></ul><p>The following formats are also supported but are discouraged (use the PEM variants instead): <ul><li>Encrypted HMAC key: the Base64 encoded binary representation of the HMAC key is encrypted using AM's encryption key. Use this format when working with non generic secrets.</li> <li>Base64 encoded HMAC key: the secrets are binary HMAC keys encoded with Base64.</li> <li>Google KMS-encrypted HMAC key: the secrets are binary HMAC keys that have been encrypted with Google's Key Management Service (KMS).</li> </ul>\",\"propertyOrder\":300,\"required\":true,\"enum\":[\"PLAIN\",\"BASE64\",\"ENCRYPTED_PLAIN\",\"ENCRYPTED_BASE64\",\"ENCRYPTED_HMAC_KEY\",\"BASE64_HMAC_KEY\",\"GOOGLE_KMS_ENCRYPTED\",\"GOOGLE_KMS_ENCRYPTED_HMAC_KEY\",\"PEM\",\"ENCRYPTED_PEM\",\"GOOGLE_KMS_ENCRYPTED_PEM\",\"JWK\"],\"options\":{\"enum_titles\":[\"Plain text\",\"Base64 encoded\",\"Encrypted text\",\"Encrypted Base64-encoded\",\"Encrypted HMAC key\",\"Base64-encoded HMAC key\",\"Encrypted with Google KMS\",\"Google KMS-encrypted HMAC key\",\"PEM encoded certificate, key, or password\",\"Encrypted PEM\",\"Google KMS-encrypted PEM\",\"JWK\"]},\"enumNames\":[\"Plain text\",\"Base64 encoded\",\"Encrypted text\",\"Encrypted Base64-encoded\",\"Encrypted HMAC key\",\"Base64-encoded HMAC key\",\"Encrypted with Google KMS\",\"Google KMS-encrypted HMAC key\",\"PEM encoded certificate, key, or password\",\"Encrypted PEM\",\"Google KMS-encrypted PEM\",\"JWK\"],\"type\":\"string\",\"exampleValue\":\"\",\"default\":\"PLAIN\"},\"project\":{\"title\":\"Project\",\"description\":\"The GCP project that contains the Secret Manager instance to use.\",\"propertyOrder\":100,\"required\":true,\"type\":\"string\",\"exampleValue\":\"\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3075180a-4f39-4834-a77c-f06880733811"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
