{
  "log": {
    "_recordingName": "VariablesOps/importVariable()/4: Import first variable7 (decoded)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b3372e1b666206690e37a5cf4991d2a5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"dmFsdWU3\",\"description\":\"description7\",\"expressionType\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/variables/esv-frodo-test-variable-7"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 222,
            "text": "{\"_id\":\"esv-frodo-test-variable-7\",\"description\":\"description7\",\"expressionType\":\"string\",\"lastChangeDate\":\"2024-07-05T15:22:21.316837805Z\",\"lastChangedBy\":\"Frodo-SA-1701393386423\",\"loaded\":false,\"valueBase64\":\"dmFsdWU3\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 749,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
