{
  "log": {
    "_recordingName": "IgaSodPolicyRuleOps/deletePolicyRuleByName()/2: Delete non-existing policy rule by name",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7fcba0380bf7ac7d8f67ef66d2efc462",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"unknownName\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/policy/rule?_queryFilter=name%20eq%20%22unknownName%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 66,
            "text": "{\"result\":[],\"searchAfterKey\":null,\"totalCount\":0,\"resultCount\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"42-6WyYF1p6hZFqH61y+4aiRN1wKRM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "05bdb1d9-97cf-4d0c-bb41-714730104124"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 153,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
