{
  "log": {
    "_recordingName": "EmailTemplateOps/exportEmailTemplates()/1: Export email templates",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "857c6e71808efc895fae3b4ebe9eef08",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-04afa34c-09c6-4e5d-b04f-114be6410791"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id sw 'emailTemplate'"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/config?_queryFilter=_id%20sw%20%27emailTemplate%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 20254,
            "text": "{\"result\":[{\"_id\":\"emailTemplate/baselineDemoEmailVerification\",\"defaultLocale\":\"en\",\"displayName\":\"Baseline Demo Email Verification\",\"enabled\":true,\"from\":\"security@example.com\",\"html\":{\"en\":\"<div class=\\\"content\\\"><h1 id=\\\"emailverification\\\">Email Verification</h1><p><br></p><p>Hello,</p><p>Great to have you on board.</p><p><br></p><hr><h5 id=\\\"verifyyouraccount\\\">Verify Your Account</h5><p>Finish the steps of verification for the account by clicking the button below. <br></p><p><br></p><p><row><a href=\\\"{{object.resumeURI}}\\\" title=\\\"\\\" class=\\\"button\\\">Click Here to Verify Your Account</a></row></p><p>This link will expire in 24 hours.</p><p><br></p><p>-- The ForgeRock Team</p><p><a href=\\\"https://www.forgerock.com\\\">www.forgerock.com</a></p><p>201 Mission St Suite 2900</p><p>San Francisco, CA 94105</p><p><a href=\\\"mailto:support@forgerock.com\\\">support@forgerock.com</a></p><hr><p>If you did not request for this email, please ignore and we won't email you again.</p><p>ForgeRock | <a href=\\\"https: www.forgerock.com=\\\">Privacy Policy</a></p></div>\"},\"message\":{\"en\":\"<html><head></head><body style=\\\"background-color: #f6f6f6; color: #455469; padding: 60px; text-align: center;\\\"><div class=\\\"content\\\" style=\\\"background-color: #fff; border-radius: 4px; margin: 0 auto; padding: 48px; width: 600px;\\\"><h1 id=\\\"emailverification\\\" style=\\\"font-size: 40px; text-align: center;\\\">Email Verification</h1><p><br></p><p>Hello,</p><p>Great to have you on board.</p><p><br></p><hr><h5 id=\\\"verifyyouraccount\\\" style=\\\"font-size: 24px;\\\">Verify Your Account</h5><p>Finish [...]
