{
  "log": {
    "_recordingName": "Saml2Ops/deleteSaml2Providers()/1: Delete all providers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "54c5959fa697111ab81bada4a7f8294e",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1f24867e-feea-4839-9ac2-0265ca85b97d"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1331,
            "text": "{\"result\":[{\"_id\":\"aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQQXp1cmU\",\"_rev\":\"-904573104\",\"entityId\":\"https://idc.scheuber.io/am/saml2/IDPAzure\",\"location\":\"hosted\",\"roles\":[\"identityProvider\"]},{\"_id\":\"aHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzExZmZhOWMtNTk3Mi00NzEzLWFjZTMtNjg4Yzk3MzI2MTRhLw\",\"_rev\":\"761336767\",\"entityId\":\"https://sts.windows.net/711ffa9c-5972-4713-ace3-688c9732614a/\",\"location\":\"remote\",\"roles\":[\"identityProvider\"]},{\"_id\":\"aWRw\",\"_rev\":\"-1910355342\",\"entityId\":\"idp\",\"location\":\"remote\",\"roles\":[\"identityProvider\"]},{\"_id\":\"aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQRmVkbGV0\",\"_rev\":\"-514203039\",\"entityId\":\"https://idc.scheuber.io/am/saml2/IDPFedlet\",\"location\":\"hosted\",\"roles\":[\"identityProvider\"]},{\"_id\":\"aVNQQXp1cmU\",\"_rev\":\"2065843986\",\"entityId\":\"iSPAzure\",\"location\":\"hosted\",\"roles\":[\"serviceProvider\"]},{\"_id\":\"aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQQnJvYWRjb20\",\"_rev\":\"-1255848860\",\"entityId\":\"https://idc.scheuber.io/am/saml2/IDPBroadcom\",\"location\":\"hosted\",\"roles\":[\"identityProvider\"]},{\"_id\":\"dXJuOmZlZGVyYXRpb246TWljcm9zb2Z0T25saW5l\",\"_rev\":\"-1154647349\",\"entityId\":\"urn:federation:MicrosoftOnline\",\"location\":\"remote\",\"roles\":[\"serviceProvider\"]}],\"resultCount\":7,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":7,\"remainingPagedResults\":-1}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0, resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1f24867e-feea-4839-9ac2-0265ca85b97d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 104,
      },
      {
        "_id": "0b71c524811cf8c73cff5cd42d10fef8",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1f24867e-feea-4839-9ac2-0265ca85b97d"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/saml2/hosted/aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQQXp1cmU"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 4696,
            "text": "{\"_id\":\"aHR0cHM6Ly9pZGMuc2NoZXViZXIuaW8vYW0vc2FtbDIvSURQQXp1cmU\",\"_rev\":\"1637076051\",\"entityId\":\"https://idc.scheuber.io/am/saml2/IDPAzure\",\"identityProvider\":{\"assertionContent\":{\"signingAndEncryption\":{\"requestResponseSigning\":{\"authenticationRequest\":false,\"artifactResolve\":false,\"logoutRequest\":false,\"logoutResponse\":false,\"manageNameIdRequest\":false,\"manageNameIdResponse\":false},\"encryption\":{\"nameIdEncryption\":false},\"secretIdAndAlgorithms\":{}},\"nameIdFormat\":{\"nameIdFormatList\":[\"urn:oasis:names:tc:SAML:2.0:nameid-format:persistent\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:transient\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName\",\"urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos\",\"urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName\"],\"nameIdValueMap\":[{\"key\":\"urn:oasis:names:tc:SAML:2.0:nameid-format:persistent\",\"value\":\"mail\",\"binary\":false},{\"key\":\"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress\",\"value\":\"mail\",\"binary\":false}]},\"authenticationContext\":{\"authenticationContextMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAuthnContextMapper\",\"authContextItems\":[{\"contextReference\":\"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport\",\"key\":\"service\",\"value\":\"Login\",\"level\":0}]},\"assertionTime\":{\"notBeforeTimeSkew\":600,\"effectiveTime\":600},\"basicAuthentication\":{\"enabled\":false},\"assertionCache\":{\"enabled\":false}},\"assertionProcessing\":{\"attributeMapper\":{\"attributeMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAttributeMapper\",\"attributeMap\":[{\"samlAttribute\":\"IDPEmail\",\"localAttribute\":\"mail\",\"binary\":false},{\"samlAttribute\":\"UOPClassID\",\"localAttribute\":\"UOPClassID\",\"binary\":false}]},\"accountMapper\":{\"accountMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPAccountMapper\",\"disableNameIdPersistence\":true},\"localConfiguration\":{\"authUrl\":\"\"}},\"services\":{\"metaAlias\":\"/alpha/IDPAzure\",\"serviceAttributes\":{\"artifactResolutionService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/ArtifactResolver/metaAlias/alpha/IDPAzure\"}],\"singleLogoutService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/IDPSloRedirect/metaAlias/alpha/IDPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPSloRedirect/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/IDPSloPOST/metaAlias/alpha/IDPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPSloPOST/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/IDPSloSoap/metaAlias/alpha/IDPAzure\"}],\"nameIdService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/IDPMniRedirect/metaAlias/alpha/IDPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPMniRedirect/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/IDPMniPOST/metaAlias/alpha/IDPAzure\",\"responseLocation\":\"https://idc.scheuber.io/am/IDPMniPOST/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/IDPMniSoap/metaAlias/alpha/IDPAzure\"}],\"singleSignOnService\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\",\"location\":\"https://idc.scheuber.io/am/SSORedirect/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST\",\"location\":\"https://idc.scheuber.io/am/SSOPOST/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/SSOSoap/metaAlias/alpha/IDPAzure\"}]},\"nameIdMapping\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/NIMSoap/metaAlias/alpha/IDPAzure\"}],\"assertionIdRequest\":[{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:SOAP\",\"location\":\"https://idc.scheuber.io/am/AIDReqSoap/IDPRole/metaAlias/alpha/IDPAzure\"},{\"binding\":\"urn:oasis:names:tc:SAML:2.0:bindings:URI\",\"location\":\"https://idc.scheuber.io/am/AIDReqUri/IDPRole/metaAlias/alpha/IDPAzure\"}]},\"advanced\":{\"saeConfiguration\":{\"idpUrl\":\"https://idc.scheuber.io/am/idpsaehandler/metaAlias/alpha/IDPAzure\"},\"ecpConfiguration\":{\"idpSessionMapper\":\"com.sun.identity.saml2.plugins.DefaultIDPECPSessionMapper\"},\"sessionSynchronization\":{\"enabled\":false},\"idpFinderImplementation\":{\"enableProxyIdpFinderForAllSps\":false},\"relayStateUrlList\":{},\"idpAdapter\":{\"idpAdapterScript\":\"85523e71-2d77-4577-b078-6f9674cc54e2\"}}}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1637076051\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "valu[...]
