{
  "log": {
    "_recordingName": "IdmSystemOps/createSystemObject()/1: Create system object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9ec6dfaea39adf924dde95cf42c9c6df",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"00a65804-f2c9-4643-92aa-1a6ed196249d\",\"cn\":[\"Frodo Test User 1\"],\"sn\":[\"Test\"],\"userPassword\":[\"UGFzc3dvcmQ=\"],\"description\":[\"Frodo Test User 1\"],\"__NAME__\":\"uid=frodo1,ou=People,dc=example,dc=com\",\"mail\":[\"frodo1@example.com\"],\"givenName\":[\"Frodo\"],\"uid\":[\"frodo1\"]}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 598,
            "text": "{\"_id\":\"30207a0a-041e-483f-992d-664ea270e00c\",\"postalAddress\":[],\"cn\":[\"Frodo Test User 1\"],\"street\":[],\"sn\":[\"Test\"],\"userPassword\":[\"e1NTSEE1MTJ9WXNnUGI2MkYybEQxME45VHY3WUhZWEJXU0VpYzNTRmhDUCtvbXI5Tk10ZG5vd1NQd1lVUmxXSEczSzBsOHZUUmVRb0hkcmVXRThqbno3c0dGb3ZpV0R5VnY5MDV5RDlB\"],\"l\":[],\"description\":[\"Frodo Test User 1\"],\"objectClass\":[\"top\",\"inetOrgPerson\",\"organizationalPerson\",\"person\"],\"initials\":[],\"mobile\":[],\"postalCode\":[],\"__NAME__\":\"uid=frodo1,ou=People,dc=example,dc=com\",\"homePhone\":[],\"st\":[],\"telephoneNumber\":[],\"mail\":[\"frodo1@example.com\"],\"givenName\":[\"Frodo\"],\"uid\":[\"frodo1\"]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://openam-volker-dev.forgeblocks.com/openidm/system/OUD/__ACCOUNT__/30207a0a-041e-483f-992d-664ea270e00c"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-519860ca-002d-4d5e-a736-e7ffa13f38f8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 167,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
