{
  "log": {
    "_recordingName": "NodeApi/getNodes()/1: Get all nodes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "671d56ece38c62c6c181cc74ba3add84",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/authentication/authenticationtrees/nodes?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 24498,
            "text": "{\"result\":[{\"_id\":\"b4a0e915-c15d-4b83-9c9d-18347d645976\",\"_type\":{\"_id\":\"AcceptTermsAndConditionsNode\",\"name\":\"Accept Terms and Conditions\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"lockAction\":\"LOCK\",\"_id\":\"51e8c4c1-3509-4635-90e6-d2cc31c4a6a5\",\"_type\":{\"_id\":\"AccountLockoutNode\",\"name\":\"Account Lockout\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"_id\":\"6736a00a-fc65-438e-b4ea-23f66b4a8739\",\"_type\":{\"_id\":\"AgentDataStoreDecisionNode\",\"name\":\"Agent Data Store Decision\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"true\",\"displayName\":\"True\"},{\"id\":\"false\",\"displayName\":\"False\"}]},{\"attributesToCollect\":[\"mail\"],\"identityAttribute\":\"mail\",\"validateInputs\":false,\"required\":true,\"_id\":\"9f1e8d94-4922-481b-9e14-212b66548900\",\"_type\":{\"_id\":\"AttributeCollectorNode\",\"name\":\"Attribute Collector\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"attributesToCollect\":[\"mail\"],\"identityAttribute\":\"mail\",\"validateInputs\":false,\"required\":true,\"_id\":\"276afa7c-a680-4cf4-a5f6-d6c78191f5c9\",\"_type\":{\"_id\":\"AttributeCollectorNode\",\"name\":\"Attribute Collector\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"attributesToCollect\":[\"preferences/updates\",\"preferences/marketing\"],\"identityAttribute\":\"userName\",\"validateInputs\":false,\"required\":false,\"_id\":\"0a042e10-b22e-4e02-86c4-65e26e775f7a\",\"_type\":{\"_id\":\"AttributeCollectorNode\",\"name\":\"Attribute Collector\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"attributesToCollect\":[\"givenName\",\"sn\",\"mail\",\"preferences/marketing\",\"preferences/updates\"],\"identityAttribute\":\"userName\",\"validateInputs\":true,\"required\":true,\"_id\":\"d3ce2036-1523-4ce8-b1a2-895a2a036667\",\"_type\":{\"_id\":\"AttributeCollectorNode\",\"name\":\"Attribute Collector\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"presentAttribute\":\"password\",\"identityAttribute\":\"userName\",\"_id\":\"0f0904e6-1da3-4cdb-9abf-0d2545016fab\",\"_type\":{\"_id\":\"AttributePresentDecisionNode\",\"name\":\"Attribute Present Decision\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"true\",\"displayName\":\"True\"},{\"id\":\"false\",\"displayName\":\"False\"}]},{\"identityResource\":\"managed/alpha_user\",\"_id\":\"ad5dcbb3-7335-49b7-b3e7-7d850bb88237\",\"_type\":{\"_id\":\"CreateObjectNode\",\"name\":\"Create Object\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"CREATED\",\"displayName\":\"Created\"},{\"id\":\"FAILURE\",\"displayName\":\"Failed\"}]},{\"identityResource\":\"managed/user\",\"_id\":\"23bab9d4-1663-450f-8a4b-680f44f54fd6\",\"_type\":{\"_id\":\"CreateObjectNode\",\"name\":\"Create Object\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"CREATED\",\"displayName\":\"Created\"},{\"id\":\"FAILURE\",\"displayName\":\"Failed\"}]},{\"_id\":\"7d1deabe-cd98-49c8-943f-ca12305775f3\",\"_type\":{\"_id\":\"DataStoreDecisionNode\",\"name\":\"Data Store Decision\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"true\",\"displayName\":\"True\"},{\"id\":\"false\",\"displayName\":\"False\"}]},{\"emailSuspendMessage\":{\"en\":\"An email has been sent to the address you entered. Click the link in that email to proceed.\"},\"emailTemplateName\":\"registration\",\"identityAttribute\":\"userName\",\"emailAttribute\":\"mail\",\"objectLookup\":false,\"_id\":\"466f8b54-07fb-4e31-a11d-a6842618cc37\",\"_type\":{\"_id\":\"EmailSuspendNode\",\"name\":\"Email Suspend Node\",\"collection\":true,\"version\":\"1.0\"},\"_outcomes\":[{\"id\":\"outcome\",\"displayName\":\"Outcome\"}]},{\"emailSuspendMessage\":{\"en\":\"An email has been sent to the address you entered. Click the link in that email to proceed.\"},\"emailTemplateName\":\"forgottenUsername\",\"identityAttribute\":\"mail\",\"emailAttribute\":\"mail\",\"objectLookup\":true,\"_id\":\"d[...]
