{
  "log": {
    "_recordingName": "EnvCustomDomainsApi/getCustomDomains()/1: Get custom domains - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ee4a7c17940863e64bc3fce526c87fb5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/custom-domains/alpha"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 55,
            "text": "{\"domains\":[\"frodo.mytestrun.com\",\"frodo.mytest.run\"]}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "39b09f3f-e0fe-4d9d-9db1-44a6f146c4dd/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 73,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
