{
  "log": {
    "_recordingName": "AgentOps/Cloud Tests/updateAIAgent()/1: Update AIAgent 'FrodoOpsTestAIAgent1'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "827d36aea7215aa2c1cc33cd3f36c439",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3022cf7e-474d-4c77-90e3-3f73a82dddb7"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=2.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"aiAgentIdentityAttributes\":{\"inherited\":false,\"value\":{\"_id\":\"63d324ec-78c6-4c84-a629-aaaaaaaaaaaa\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent1\",\"name\":\"Frodo Test AI Agent 1\",\"description\":\"Test AI agent 1 for Frodo unit tests.\"}},\"aiAgentIdentityUid\":{\"inherited\":false,\"value\":\"63d324ec-78c6-4c84-a629-aaaaaaaaaaaa\"},\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/AIAgent/FrodoOpsTestAIAgent1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 505,
            "text": "{\"_id\":\"FrodoOpsTestAIAgent1\",\"_rev\":\"1871663473\",\"aiAgentIdentityAttributes\":{\"inherited\":false,\"value\":{\"_id\":\"63d324ec-78c6-4c84-a629-aaaaaaaaaaaa\",\"_rev\":\"f90619f5-dd2d-48dd-9107-83847f2351e6-32948\",\"oauth2ClientId\":\"FrodoOpsTestAIAgent1\",\"name\":\"Frodo Test AI Agent 1\",\"description\":\"Test AI agent 1 for Frodo unit tests.\",\"customAttributes\":null}},\"aiAgentIdentityUid\":{\"inherited\":false,\"value\":\"63d324ec-78c6-4c84-a629-aaaaaaaaaaaa\"},\"_type\":{\"_id\":\"AIAgent\",\"name\":\"AI Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"1871663473\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3022cf7e-474d-4c77-90e3-3f73a82dddb7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 134,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
