{
  "log": {
    "_recordingName": "NodeApi/getCustomNodes()/1: Get all custom nodes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cee51132a7193d5394b226be6da617dd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-22786a2a-e37d-4295-9855-56309340a111"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type?_queryFilter=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 17840,
            "text": "{\"result\":[{\"_id\":\"a15e2efb3deb4d4ea338c74a6440b69f-1\",\"_rev\":\"-859245155\",\"serviceName\":\"a15e2efb3deb4d4ea338c74a6440b69f\",\"version\":1,\"displayName\":\"Vector ALU - TEST\",\"description\":\"Simple ALU that performs basic binary vector math operations. Outputs the result onto the shared state with key \\\"c\\\".\",\"outcomes\":[\"Success\"],\"outputs\":[\"c\"],\"inputs\":[],\"script\":\"var SCRIPT_OUTCOMES = {\\n    SUCCESS: 'Success'\\n};\\n\\nvar OPERATORS = {\\n    ADD: \\\"ADD\\\",\\n    SUBTRACT: \\\"SUBTRACT\\\",\\n    DOT: \\\"DOT\\\",\\n    CROSS: \\\"CROSS\\\"\\n}\\n\\nfunction add(a, b) {\\n    return a.map((v, i) => v + b[i]);\\n}\\n\\nfunction subtract(a, b) {\\n    return a.map((v, i) => v - b[i]);\\n}\\n\\nfunction dot(a, b) {\\n    return a.reduce((sum, v, i) => sum + v * b[i], 0);\\n}\\n\\nfunction cross(a, b) {\\n    return [\\n        a[1] * b[2] - a[2] * b[[...]
