{
  "log": {
    "_recordingName": "default",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "973a9da1c7a852d87e1e7564be03f4c7",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-371baf11-d78c-4df6-a5be-d3374908f74e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..AMkej1JJ8MrTC0kylDTftA.Jk7jMf12VplBaVvj1M-lCpNUuhLk4bTSfU[...]
