{
  "log": {
    "_recordingName": "ResourceTypeOps/exportResourceTypeByName()/1: Export existing resource type by name [FrodoTestResourceType10 - 6d5eed85-872b-48f4-be47-3151fd073961]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e66fddf5b02bd353e8079cbb4561edf3",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-2d9bca02-b6b7-428b-8f86-b94a81612f94"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..6hQckJejuCUoC7YCj2oBuA.k21aJO8aJ1kNiHiCVNxH3FUG0KzSonnJTI[...]
