{
  "log": {
    "_recordingName": "IgaEventOps/readEvent()/2: Read non-existing event",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d7d8f7153fa94999c87cc42d43596970",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/iga/governance/event/11111111-1111-1111-1111-111111111111"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find event with id: 11111111-1111-1111-1111-111111111111\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-+c41sID9PH/zY1agUz4oXSsl/vE\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "0dc3000d-8977-4acd-a20f-0c73d3aac2ad"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 142,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
