{
  "log": {
    "_recordingName": "AgentOps/readIdentityGatewayAgent()/1: Read IdentityGatewayAgent 'FrodoOpsTestGatewayAgent1'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "46a3ab1ad36fed1727dd40c6664ec648",
        "request": {
          "headers": [
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a6cda95-61ab-4c69-b61e-d299885e8f92"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/agents/IdentityGatewayAgent/FrodoOpsTestGatewayAgent1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 806,
            "text": "{\"_id\":\"FrodoOpsTestGatewayAgent1\",\"_rev\":\"1898225799\",\"igTokenIntrospection\":{\"inherited\":false,\"value\":\"Realm_Subs\"},\"igCdssoLoginUrlTemplate\":{\"inherited\":false},\"status\":{\"inherited\":false,\"value\":\"Active\"},\"igCdssoRedirectUrls\":{\"inherited\":false,\"value\":[\"https://ig.mytestrun.com/expanse/cdsso/redirect\",\"https://ig.mytestrun.com/ig/cdsso/redirect\",\"https://ig.scheuber.io/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/grafana/cdsso/redirect\",\"https://ig.mytestrun.com/ig-sample-app/cdsso/redirect\",\"https://ig.mytestrun.com/bi/cdsso/redirect\",\"https://ig.mytestrun.com/prometheus/cdsso/redirect\",\"https://ig.mytestrun.com/ig/studio/cdsso/redirect\",\"https://ig.mytestrun.com/forgerock/cdsso/redirect\"]},\"_type\":{\"_id\":\"IdentityGatewayAgent\",\"name\":\"Identity Gateway Agents\",\"collection\":true}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1898225799\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-9a6cda95-61ab-4c69-b61e-d299885e8f92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 186,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
