{
  "log": {
    "_recordingName": "NodeOps/exportCustomNode()/1: Export existing custom node by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0fd5b8444ee4325c096dbe851da4a968",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-93254ccf-7611-47d8-80be-c5cc23a2a645"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/node-designer/node-type/a605506774a848f7877b4d17a453bd39-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 538,
            "text": "{\"_id\":\"a605506774a848f7877b4d17a453bd39-1\",\"_rev\":\"1089949934\",\"serviceName\":\"a605506774a848f7877b4d17a453bd39\",\"displayName\":\"Has Session - TEST\",\"description\":\"Checks if the user has a current session.\",\"outcomes\":[\"True\",\"False\"],\"outputs\":[],\"inputs\":[],\"script\":\"var SCRIPT_OUTCOMES = {\\n    TRUE: 'True',\\n    FALSE: 'False'\\n}\\n\\nfunction main() {\\n    action.goTo(typeof existingSession === \\\"undefined\\\" ? SCRIPT_OUTCOMES.FALSE : SCRIPT_OUTCOMES.TRUE);\\n}\\n\\nmain();\\n\",\"errorOutcome\":false,\"tags\":[\"utilities\"],\"properties\":{}}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1089949934\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-93254ccf-7611-47d8-80be-c5cc23a2a645"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 63,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
