{
  "log": {
    "_recordingName": "EnvFederationEnforcementApi/setFederationEnforcement()/1: Set federation enforcement - success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f935cc0526725b2081bdf4781c0c11f5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"groups\":\"non-global\"}"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/federation/enforcement"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 24,
            "text": "{\"groups\":\"non-global\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "4d178ed0-a5b8-4a4d-b85e-9acccd7b2560/0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 139,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
